@import '~/styles/spacing.less';


.modalBody {
  height: 65vh;
  overflow: hidden;
}

.modalBodyInner {
  padding: @space-4;
}

.htmlReportWrapper {
  flex: 1;
  overflow-y: auto;
  padding: @space-4;
}

.reportOuter {
  overflow: hidden;
}
