.container {
  border: 1px solid #DBDBDB;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 16px;
  margin: 12px 0px 8px 24px;

  .id {
    font-size: 15px;
    color: #A9A9A9;
    margin-right: 12px;
    margin-left: 4px;
  }

  .title {
    color: rgba(0, 0, 0, 0.85);
    flex: 1;
    cursor: all-scroll;
  }

  .icon {
    margin-left: 12px;
    cursor: pointer;
  }

  .switch {
    font-size: 13px;
    margin-bottom: 8px;
  }
}
