= javascript_pack_tag 'vendors'
= javascript_pack_tag 'admin/miniApps'
= stylesheet_pack_tag 'admin/miniApps'

div style="background-color: white; margin: 5px 10px"
  = react_component('GameConfigBuilder',
      { assessmentId: resource.id, config: resource.game_config, translations: resource.game_translations })

javascript:
  window.reactRails.mountComponents('admin', 'GameConfigBuilder')
