= simple_form_for(resource, as: :resource, url: { action: :create }, remote: true) do |f|
  .modal-body
    = render_error_notification(resource)
    .form-inputs.clearfix
      = hidden_field_tag :admin, params[:admin]
      = f.simple_fields_for :user, f.object.user  do |u|
        = u.input :email, readonly: true
        = u.input :first_name, readonly: u.object.persisted?
        = u.input :last_name, readonly: u.object.persisted?
      = f.input :parent_id,
              collection: client.memberships.join_user,
              label_method: lambda { |u| u.decorate.display_name },
              input_html: { data: { live_search: true } }
      = f.simple_fields_for :grants do |grants|
        = render partial: 'grants', locals: { grants: grants, u: resource.user }
  .modal-footer
    .btn-group
      = f.button :submit, t('administration.create'), class: 'btn-info'
      a.btn.btn-default data-dismiss='modal' = t 'administration.close'
