- clients_view_id = dom_id(u, :clients_view)

- assessments_view_id = dom_id(u, :assessments_view)
- assessments_manage_id = dom_id(u, :assessments_manage)

- communications_view_id = dom_id(u, :communications_view)
- communications_manage_id = dom_id(u, :communications_manage)

- assessors_view_id = dom_id(u, :assessors_view)
- assessors_manage_id = dom_id(u, :assessors_manage)

- projects_view_id = dom_id(u, :projects_view)
- projects_manage_users_id = dom_id(u, :projects_manage_users)

- project_settings_design_id = dom_id(u, :project_settings_design)
- project_settings_smtp_id = dom_id(u, :project_settings_smtp)
- project_settings_saml_id = dom_id(u, :project_settings_saml_id)
- project_settings_sms_id = dom_id(u, :project_settings_sms)
- project_settings_integrations_id = dom_id(u, :project_settings_integrations_id)
- project_settings_security_id = dom_id(u, :project_settings_security_id)

- sms_invites_view_id = dom_id(u, :sms_invites_view)
- sms_invites_manage_id = dom_id(u, :sms_invites_manage)

- results_view_report_id = dom_id(u, :results_view_report)
- results_download_report_id = dom_id(u, :results_view_report)
- results_report_data_id = dom_id(u, :results_report_data)
- results_raw_responses_id = dom_id(u, :results_raw_responses)
- results_scores_id = dom_id(u, :results_scores)
- results_reset_responses_id = dom_id(u, :reset_responses)
- results_edit_report_id = dom_id(u, :edit_report)
- results_approve_report_id = dom_id(u, :approve_report)

- registration_codes_view_id = dom_id(u, :registration_codes_view)
- registration_codes_manage_id = dom_id(u, :registration_codes_manage)

- datasheet_view_id = dom_id(u, :datasheet_view)
- datasheet_manage_id = dom_id(u, :datasheet_manage)

= hidden_field_tag 'resource[grants_attributes][data]{}'
table.table.grants-table
  thead
    tr
      th Entity
      th.actions Privileges
  tbody
    - if policy(:membership).manage_grants_for_actions?('clients', ['view'], project: client)
        tr
          td Clients
          td.text-nowrap
            - if policy(:membership).manage_grants_for_action?('clients', 'view', project: client)
              label
                = check_box_tag 'resource[grants_attributes][data][clients][]',
                        'view', resource.has_grant?(:clients, :view), id: clients_view_id
                | View

    - if policy(:membership).manage_grants_for_actions?('projects', ['view', 'manage_users'], project: project)
      tr
        td Projects
        td.text-nowrap
          - if policy(:membership).manage_grants_for_action?('projects', 'view', project: project)
            label
              = check_box_tag 'resource[grants_attributes][data][projects][]',
                      'view', resource.has_grant?(:projects, :view), id: projects_view_id
              | View
          - if policy(:membership).manage_grants_for_action?('projects', 'manage_users', project: project)
            label
              = check_box_tag 'resource[grants_attributes][data][projects][]',
                      'manage_users', resource.has_grant?(:projects, :manage_users), id: projects_manage_users_id
              | Manage Users

    - if policy(:membership).manage_grants_for_actions?('project_settings', ['design', 'smtp', 'sms', 'saml', 'integrations', 'password'], client: client)
      tr
        td Project Settings
        td
          div.grants-grid
            - if policy(:membership).manage_grants_for_action?('project_settings', 'design', client: client)
              label
                = check_box_tag 'resource[grants_attributes][data][project_settings][]',
                        'design', resource.has_grant?(:project_settings, :design), id: project_settings_design_id, data: { turn_off: [project_settings_design_id] }
                | Design
            - if policy(:membership).manage_grants_for_action?('project_settings', 'smtp', client: client)
              label
                = check_box_tag 'resource[grants_attributes][data][project_settings][]',
                        'smtp', resource.has_grant?(:project_settings, :smtp), id: project_settings_smtp_id, data: { turn_on: [project_settings_smtp_id] }
                | SMTP
            - if policy(:membership).manage_grants_for_action?('project_settings', 'saml', client: client)
              label
                = check_box_tag 'resource[grants_attributes][data][project_settings][]',
                        'saml', resource.has_grant?(:project_settings, :saml), id: project_settings_saml_id, data: { turn_on: [project_settings_saml_id] }
                | SAML
            - if policy(:membership).manage_grants_for_action?('project_settings', 'integrations', client: client)
              label
                = check_box_tag 'resource[grants_attributes][data][project_settings][]',
                        'integrations', resource.has_grant?(:project_settings, :integrations), id: project_settings_integrations_id, data: { turn_on: [project_settings_integrations_id] }
                | Integrations
            - if policy(:membership).manage_grants_for_action?('project_settings', 'password', client: client)
              label
                = check_box_tag 'resource[grants_attributes][data][project_settings][]',
                        'security', resource.has_grant?(:project_settings, :security), id: project_settings_security_id, data: { turn_on: [project_settings_security_id] }
                | Security settings

    - if policy(:membership).manage_grants_for_actions?('sms_invites', ['view', 'manage'], client: client)
      tr
        td SMS Invites
        td
          div.grants-grid
            - if policy(:membership).manage_grants_for_action?('sms_invites', 'view', client: client)
              label
                = check_box_tag 'resource[grants_attributes][data][sms_invites][]',
                        'view', resource.has_grant?(:sms_invites, :view), id: sms_invites_view_id, data: { turn_off: [sms_invites_manage_id] }
                | View
            - if policy(:membership).manage_grants_for_action?('sms_invites', 'manage', client: client)
              label
                = check_box_tag 'resource[grants_attributes][data][sms_invites][]',
                        'manage', resource.has_grant?(:sms_invites, :manage), id: sms_invites_manage_id, data: { turn_on: [sms_invites_view_id] }
                | Manage

    - if policy(:membership).manage_grants_for_actions?('results', ['view_report', 'report_data', 'raw_responses', 'scores'], project: project)
      tr
        td Results
        td
          - if policy(:membership).manage_grants_for_action?('results', 'view_report', project: project)
            label.text-nowrap
              = check_box_tag 'resource[grants_attributes][data][results][]',
                      'view_report', resource.has_grant?(:results, :view_report), id: results_view_report_id
              | View Report
          - if policy(:membership).manage_grants_for_action?('results', 'download_report', project: project)
            label.text-nowrap
              = check_box_tag 'resource[grants_attributes][data][results][]',
                      'download_report', resource.has_grant?(:results, :download_report), id: results_download_report_id
              | Download Report
          - if policy(:membership).manage_grants_for_action?('results', 'report_data', project: project)
            label.text-nowrap
              = check_box_tag 'resource[grants_attributes][data][results][]',
                      'report_data', resource.has_grant?(:results, :report_data), id: results_report_data_id
              | Report Data
          - if policy(:membership).manage_grants_for_action?('results', 'raw_responses', project: project)
            label.text-nowrap
              = check_box_tag 'resource[grants_attributes][data][results][]',
                      'raw_responses', resource.has_grant?(:results, :raw_responses), id: results_raw_responses_id
              | Raw Responses
          - if policy(:membership).manage_grants_for_action?('results', 'scores', project: project)
            label.text-nowrap
              = check_box_tag 'resource[grants_attributes][data][results][]',
                      'scores', resource.has_grant?(:results, :scores), id: results_scores_id
              | Scores
          - if policy(:membership).manage_grants_for_action?('results', 'reset_responses', client: client)
            label.text-nowrap
              = check_box_tag 'resource[grants_attributes][data][results][]',
                      'reset_responses', resource.has_grant?(:results, :reset_responses), id: results_reset_responses_id
              | Reset Responses
          - if policy(:membership).manage_grants_for_action?('results', 'edit_report', client: client)
            label.text-nowrap
              = check_box_tag 'resource[grants_attributes][data][results][]',
                      'edit_report', resource.has_grant?(:results, :edit_report), id: results_edit_report_id
              | Edit Report
          - if policy(:membership).manage_grants_for_action?('results', 'approve_report', client: client)
            label.text-nowrap
              = check_box_tag 'resource[grants_attributes][data][results][]',
                      'approve_report', resource.has_grant?(:results, :approve_report), id: results_approve_report_id
              | Approve Report
    - if policy(:membership).manage_grants_for_actions?('registration_codes', ['view', 'manage'], project: project)
      tr
        td Registration Codes
        td.text-nowrap
          - if policy(:membership).manage_grants_for_action?('registration_codes', 'view', project: project)
            label
              = check_box_tag 'resource[grants_attributes][data][registration_codes][]',
                      'view', resource.has_grant?(:registration_codes, :view), id: registration_codes_view_id, data: { turn_off: [registration_codes_manage_id] }
              | View
          - if policy(:membership).manage_grants_for_action?('registration_codes', 'manage', project: project)
            label
              = check_box_tag 'resource[grants_attributes][data][registration_codes][]',
                      'manage', resource.has_grant?(:registration_codes, :manage), id: registration_codes_manage_id, data: { turn_on: [registration_codes_view_id] }
              | Manage

    - if policy(:membership).manage_grants_for_actions?('communications', ['view', 'manage'], project: project)
      tr
        td Communication Centre
        td.text-nowrap
          - if policy(:membership).manage_grants_for_action?('communications', 'view', project: project)
            label
              = check_box_tag 'resource[grants_attributes][data][communications][]',
                      'view', resource.has_grant?(:communications, :view), id: communications_view_id, data: { turn_off: [communications_manage_id] }
              | View
          - if policy(:membership).manage_grants_for_action?('communications', 'manage', project: project)
            label
              = check_box_tag 'resource[grants_attributes][data][communications][]',
                      'manage', resource.has_grant?(:communications, :manage), id: communications_manage_id, data: { turn_on: [communications_view_id] }
              | Manage

    - if policy(:membership).manage_grants_for_actions?('campaigns', ['view', 'manage', 'manage_users', 'manage_options', 'manage_messages'], project: project)
      tr
        td Campaigns
        td
          - if policy(:membership).manage_grants_for_action?('campaigns', 'view', project: project)
            label.text-nowrap
              = check_box_tag 'resource[grants_attributes][data][campaigns][]',
                      'view', resource.has_grant?(:campaigns, :view), id: dom_id(u, :campaigns_view)
              | View

          - if policy(:membership).manage_grants_for_action?('campaigns', 'manage', project: project)
            label.text-nowrap
              = check_box_tag 'resource[grants_attributes][data][campaigns][]',
                      'manage', resource.has_grant?(:campaigns, :manage), id: dom_id(u, :campaigns_manage)
              | Manage

          - if policy(:membership).manage_grants_for_action?('campaigns', 'manage_users', project: project)
            label.text-nowrap
              = check_box_tag 'resource[grants_attributes][data][campaigns][]',
                      'manage_users', resource.has_grant?(:campaigns, :manage_users), id: dom_id(u, :campaigns_manage_users)
              | Manage Users

          - if policy(:membership).manage_grants_for_action?('campaigns', 'manage_admins', project: project)
            label.text-nowrap
              = check_box_tag 'resource[grants_attributes][data][campaigns][]',
                      'manage_admins', resource.has_grant?(:campaigns, :manage_admins), id: dom_id(u, :campaigns_manage_admins)
              | Manage Admins

          - if policy(:membership).manage_grants_for_action?('campaigns', 'manage_options', project: project)
            label.text-nowrap
              = check_box_tag 'resource[grants_attributes][data][campaigns][]',
                      'manage_options', resource.has_grant?(:campaigns, :manage_options), id: dom_id(u, :campaigns_manage_options)
              | Manage Options

          - if policy(:membership).manage_grants_for_action?('campaigns', 'manage_messages', project: project)
            label.text-nowrap
              = check_box_tag 'resource[grants_attributes][data][campaigns][]',
                      'manage_messages', resource.has_grant?(:campaigns, :manage_messages), id: dom_id(u, :campaigns_manage_messages)
              | Manage Messages

    - if policy(:membership).manage_grants_for_actions?('assessors', ['view', 'manage', 'manage_users'], project: project)
      tr
        td Assessors
        td.text-nowrap
          - if policy(:membership).manage_grants_for_action?('assessors', 'view', project: project)
            label
              = check_box_tag 'resource[grants_attributes][data][assessors][]',
                      'view', resource.has_grant?(:assessors, :view), id: assessors_view_id, data: { turn_off: [assessors_manage_id] }
              | View
          - if policy(:membership).manage_grants_for_action?('assessors', 'manage', project: project)
            label
              = check_box_tag 'resource[grants_attributes][data][assessors][]',
                      'manage', resource.has_grant?(:assessors, :manage), id: assessors_manage_id,  data: { turn_on: [assessors_view_id] }
              | Manage

    - if policy(:membership).manage_grants_for_action?('reports', 'manage', project: project)
      tr
        td Reports
        td.text-nowrap
          label
            = check_box_tag 'resource[grants_attributes][data][reports][]',
                    'manage', resource.has_grant?(:reports, :manage), id: dom_id(u, :reports_manage)
            | Manage

    - if policy(:membership).manage_grants_for_actions?('datasheets', ['view', 'manage'], project: project)
      tr
        td Datasheets
        td.text-nowrap
          - if policy(:membership).manage_grants_for_action?('datasheest', 'view', project: project)
            label
              = check_box_tag 'resource[grants_attributes][data][datasheets][]',
                      'view', resource.has_grant?(:datasheets, :view), id: datasheet_view_id, data: { turn_off: [datasheet_manage_id] }
              | View
          - if policy(:membership).manage_grants_for_action?('datasheets', 'manage', project: project)
            label
              = check_box_tag 'resource[grants_attributes][data][datasheets][]',
                      'manage', resource.has_grant?(:datasheets, :manage), id: datasheet_manage_id, data: { turn_on: [datasheet_view_id] }
              | Manage
