  :global {
  @import './base.less';
  @import '~normalize.css/normalize.css';

  body, html{
    width: 100%;
  }
  input {
    padding: 0 3px;
  }
  .displayFlex {
    display: flex;
  }

  .rtl {
    .rtl-flip {
      transform: rotateY(180deg);
    }
  }
}
