@import './react-ui-tree.less';
@import './react-tour.less';
@import 'froala-editor/css/froala_style.min.css';
@import 'froala-editor/css/froala_editor.pkgd.min.css';
@import 'normalize.css/normalize.css';

body, html{
  width: 100%;
}
input {
  padding: 0 3px;
}
.displayFlex {
  display: flex;
}

.rtl {
  .rtl-flip {
    transform: rotateY(180deg);
  }
}

.medium-zoom-overlay,
.medium-zoom-image--opened {
  z-index: 999999;
}
