@main-color: #061047;
@main-dark: #01837F;
@primary-color: @main-color;
@info-color: @main-color;
@processing-color: @main-color;
@gray-color: #c8c8c8;
@dark-gray: #9B9B9B;
@normal-color: #d9d9d9;
@white: #fff;
@black: #222;
@light-black: #555;
@red: #f5222d;
@light-red: #ff4d4f;
@light-gray: #ececec;
@bg-gray: #F4F4F4;
@bg-light-gray: #FCFCFC;
@success-color: #019C37;
@warning-color: #fa8c16;
