.main {
  padding: 15px;
}

.searchInput {
  width: 220px !important;
  margin-right: 5px;
}

.filterLabel {
  font-weight: bold;
  margin-right: 2px;
}

.payload {
  :global(.CodeMirror) {
    height: auto;
  }
}
