.panel.panel-default
  .panel-heading
    .hidden-xs.col-sm-1.togglePanel.text-center
      a[data-toggle="collapse" data-parent="#accordion" href="##{dom_id(resource)}"]
        span.glyphicon.glyphicon-chevron-down
    .col-xs-12.col-sm-11.col-md-7
      .well.assessmentTitleWell
        h3.assessmentTitle
          = resource.decorate.category
      .well.assessmentDetailsWell
        h4.detailsTitle
          = "#{t('.questions', :count => resource.active_questions_count)} - 30 minutes to complete"
    .clearfix.visible-sm
    .col-sm-6.col-md-2.tabletPadding
      = link_to resource.assigns.first.decorate.status, [:pass, resource], class: "btn btn-courseProgress #{resource.assigns.first.completed? ? 'disabled' : ''}"
      .well.assignedDateWell
        p
          = t('.assigned', :date => resource.assigns.first.decorate.created_at)
    .col-sm-6.col-md-2.tabletPadding
      = link_to t('.results'), preview_administration_report_path(Report.last), class: "btn btn-courseGrade #{!resource.assigns.first.completed? ? 'disabled' : ''}"
      .well.completedDateWell
        p
          = resource.assigns.first.decorate.completed_at
    .clearfix
  div.panel-collapse.collapse id=dom_id(resource)
    .panel-body
      .well.expandedDetailsWell
        p.expandedCopy
          = resource.decorate.description