.panel.panel-default
  .panel-heading
    table.table.table-responsive.table-borderless
      thead
        tr
          th
            | Assessment
          th
            | Duration
          th
            | Deadline
          th
            | Progress
          th.text-center
            | Download
      tbody
        tr
          td.col-md-3
            a.collapsed> data-parent="#assessments-#{resource.category}" data-toggle="collapse" href="##{dom_id(resource)}"
              span.toggle-icon.glyphicon.glyphicon-chevron-right
              span.toggle-icon.glyphicon.glyphicon-chevron-down
            /todo, remove Paul Monkey patch
            - if resource.id == 48
              = link_to resource.name, 'http://www.mindmill.co.uk/MyMindMill/SSO/?id=08SgxojOF7O9iTj8qzzAAw', target: :blank
            - else
              = link_to resource.name, [:pass, resource]
          td.col-md-2 = resource.decorate.timing
          td.col-md-2
            | Dec. 30, 2016
          td.col-md-3
            .progress
              .progress-bar.progress-bar-warning aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" role="progressbar" style="width:70%"
                | 70% Complete
          td.text-center.col-md-3
            a.downloadLink href="#"
              i.fa.fa-arrow-circle-o-down.downloadIcon aria-hidden="true"
  .panel-collapse.collapse id=dom_id(resource)
    hr.divider
    .panel-body
      .well = resource.decorate.description
