.panel.panel-default
  .panel-heading
    table.table.table-responsive.table-borderless
      thead
        tr
          th
            | Assessment
          th
            | Duration
          th
            | Deadline
          th
            | Progress
          th.text-center
            | Download
      tbody
        tr
          td.col-md-3
            a.collapsed> data-parent="#assessments-#{resource.category}" data-toggle="collapse" href="##{dom_id(resource)}"
              span.toggle-icon.glyphicon.glyphicon-chevron-right
              span.toggle-icon.glyphicon.glyphicon-chevron-down
            /todo, remove Paul Monkey patch
            - first_assign = resource.assigns.first
            - if resource.id == 48
              = link_to resource.name, 'http://www.mindmill.co.uk/MyMindMill/SSO/?id=08SgxojOF7O9iTj8qzzAAw', target: :blank
            - else
              - if first_assign.completed?
                span = resource.name
              - else
                = link_to resource.name, [:pass, resource]
          td.col-md-2 = resource.decorate.timing
          td.col-md-2
            | June. 30, 2017
          td.col-md-3
            .progress
              .progress-bar.progress-bar-warning aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" role="progressbar" style="width:70%"
                | 70% Complete
          td.text-center.col-md-3
            - reports = filter_reports_by_type(@reports.try(:[], resource.id) || [], first_assign.norm_type)
            - if reports.any?
              - if reports.size > 1
                .dropdown
                  button data-toggle="dropdown" type="button" class=" btn dropdown-toggle btn-info #{!first_assign.completed? ? 'disabled' : ''}"
                    = t('.results')
                    span.caret
                  ul.dropdown-menu
                    - reports.each do |report|
                      li
                        = link_to report.name, report_path(report)
              - else
                = link_to t('.results'), report_path(reports.first), class: "btn btn-info #{!first_assign.completed? ? 'disabled' : ''}"
            - else
              = link_to t('.results'), '#', class: 'btn btn-info disabled'
  .panel-collapse.collapse id=dom_id(resource)
    hr.divider
    .panel-body
      .well = resource.decorate.description
