.row
  .col-xs-12
    .contentBox
      .contentTitleHeader
        i.glyphicon.glyphicon-question-sign.titleIcon.pull-left
        p.contentTitle Questions
      .questionContent
        #psychometrics_preview data-result="#{AssignSerializer.new(@assign).to_json}" data-type="pass_assessment" data-data="#{AssessmentSerializer.new(@resource).to_json(include: '**')}"
        = javascript_include_tag :psychometrics_vendor
        = javascript_include_tag :psychometrics_preview
