doctype html
html.body-full-height lang="#{I18n.locale}"
  head
    = render 'layouts/osano_script'
    meta http-equiv='X-UA-Compatible' content='IE=edge'
    meta name='viewport' content='width=device-width, initial-scale=1'
    meta content='text/html; charset=UTF-8' http-equiv='Content-Type'
    title = @current_project&.name || t('devise.administrators.meta_title')
    = csrf_meta_tags
    = render 'layouts/pys_global_state'
    javascript [nonce=content_security_policy_nonce]:
      window.I18n = {
        locale: '#{I18n.locale}'
      }
    = javascript_include_tag 'threesixty'
    = javascript_include_tag "administration/i18n/#{load_translation_file}.js"
    = vite_client_tag
    = vite_react_refresh_tag
    = render 'layouts/favicons'

  body class=(rtl? ? 'rtl' : 'ltr' ) data-locale="#{I18n.locale}"
    = render 'shared/maintenance_alert_banner'
    = render 'devise/shared/locales'
    - resource.email = session.delete(:user_email) if session[:user_email].present?

    javascript [nonce=content_security_policy_nonce]:
      __INITIAL_STATE__ = {
        csrfToken: '#{form_authenticity_token}',
        user: #{::Auth::CurrentUserSerializer.new.serialize((current_user || resource || User.new)).to_json.html_safe},
        projectConfig: #{login_page_project_config.to_json.html_safe},
        flash: #{flash_json_messages.to_json.html_safe}
      }
      #{("__INITIAL_STATE__['clientContext'] = " + @client_context.as_json(only: [:id, :name, :subdomain]).to_json).html_safe if @client_context.present?}

    - if resource && resource.errors.present?
        javascript [nonce=content_security_policy_nonce]:
          #{("__INITIAL_STATE__['errors'] = " + resource.errors.messages.to_json).html_safe}
    .main#devise
    = vite_javascript_tag 'entrypoints/user/login.jsx'
    = render partial: 'layouts/consent_banner' unless Settings.osano_enabled
