= simple_form_for(@resource.decorate, as: :resource, url: { action: @resource.new_record? ? :create : :update }, remote: true) do |f|
  .modal-body
    = f.error_notification

    .form-inputs.clearfix
      = f.input :name
      = f.input :subdomain, wrapper: :vertical_input_group
        = f.input_field :subdomain, class: "form-control"
        span.input-group-addon
          | .
          - if @resource.subtenancy?
            =  @resource.parent.subdomain
            | .
          = Settings.domain
  .modal-footer
    .btn-group
      = f.button :submit, @resource.new_record? ? t('administration.create') : t('administration.update'), class: 'btn-info'
      a.btn.btn-default data-dismiss='modal' = t 'administration.close'
