= simple_form_for(@resource.decorate, as: :resource, url: { action: @resource.new_record? ? :create : :update }, remote: true) do |f|
  .modal-body
    = f.error_notification

    .form-inputs.clearfix
      = f.input :name
      - if @resource.tenancy?
        = render partial: 'tenancy_form', locals: { f: f }
      - if @resource.project?
        = render partial: 'project_form', locals: { f: f }
  .modal-footer
    .btn-group
      = f.button :submit, @resource.new_record? ? t('administration.create') : t('administration.update'), class: 'btn-info'
      a.btn.btn-default data-dismiss='modal' = t 'administration.close'
