- rowspan = resource.licenses.size + 1
tbody data-sidebar=url_for([:sidebar, :administration, resource]) id=dom_id(resource)
  tr.core class=('full' if rowspan > 1)
    td.nowrap rowspan=rowspan = resource.id
    td.nowrap rowspan=rowspan
      - if resource.retail?
        = link_to resource.name, administration_client_users_path(resource)
      - else
        = link_to resource.name, administration_client_projects_path(resource)
    - if policy(:client).view_additional_fields?
      td rowspan=rowspan = resource.decorate.type
      td rowspan=rowspan = resource.number
      td.nowrap rowspan=rowspan = resource.country
    td rowspan=rowspan = resource.year
    - (current_user.is?(:superadmin) ? 6 : 0).times do
      td.fake
    td rowspan=rowspan
      = resource.decorate.client_admins(current_user)
      - if policy(:membership).create_client_admin?
        .add-icon-box
          = link_to new_step_1_administration_client_client_admins_path(resource), remote: true, data: { toggle: 'tooltip', title: t('.tooltips.create_admin') }
            span.fa.fa-plus
    td rowspan=rowspan = resource.account_manager&.decorate&.display_name
    td rowspan=rowspan = resource.project_manager&.decorate&.display_name
    - if policy(:client).edit_tte?
      td.actions-cell rowspan=rowspan
        = link_to [:edit, :administration, resource], remote: true, class: 'btn btn-default btn-rounded btn-sm', data: { toggle: 'tooltip', title: t('.tooltips.edit') }
          span.fa.fa-pencil
        - if policy(resource).manage_first_level?
          = link_to [:copy, :administration, resource], remote: true, class: 'btn btn-default btn-rounded btn-sm', data: { toggle: 'tooltip', title: t('.tooltips.copy') }
            span.fa.fa-copy
        = link_to [:administration, resource], remote: true, class: 'btn btn-default btn-rounded btn-sm', method: 'delete', data: { confirm: resource.decorate.delete_confirmation, toggle: 'tooltip', title: t('.tooltips.delete') }
          span.fa.fa-times
  - if current_user.is?(:superadmin)
    - resource.licenses.each do |license|
      tr
        td.nowrap = license.decorate.display_name
        td = license.decorate.used_number(resource)
        td = license.decorate.used_overuse_number
        td = license.decorate.usage_percent
        td = license.decorate.start_date
        td = license.decorate.end_date
