.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        h3.panel-title = t '.title'
        ul.panel-controls
          - if policy(:client).new?
            li
              = link_to [:new, :administration, @resource_class.model_name.singular], remote: true, data: { toggle: 'tooltip', title: t('.tooltips.create') }
                span.fa.fa-plus
        = search_form_for(@filter_form,
                          url: { action: :index },
                          html: { id: 'filter', class: 'list-filter' },
                          builder: SimpleForm::FormBuilder) do |f|
          = f.input :name_cont,
                    as: :string,
                    required: false,
                    placeholder: t('administration.search'),
                    label: false,
                    input_html: { class: 'has_clear periodically-observed' }
          .form-group.form-group-long
            .btn-group data-toggle="buttons"
              - [['Active', false], ['Archived', true]].each do |item|
                label class="btn btn-default #{'active' if f.object.archived_true == item.last}"
                  = f.input_field :archived_true, type: :radio, checked: f.object.archived_true == item.last, value: item.last
                  = item.first
      .panel-body
        #filterrific_results
          = render partial: 'list'
