div#three-sixty-container

javascript:
  window.__INITIAL_STATE__ = {
    threeSixtyCampaign: {
      temp: {
        currentUser: JSON.parse('#{{json_escape(::Threesixty::CurrentUserSerializer.new(current_user).to_json)}}')
      }
    }
  }

= javascript_pack_tag 'user/threeSixtyCampaign'
= stylesheet_pack_tag 'user/threeSixtyCampaign'
