div#three-sixty-container

javascript:
  window.__INITIAL_STATE__ = JSON.parse('#{{json_escape(@init_state.to_json)}}')

= javascript_pack_tag 'user/threeSixtyCampaign'
= stylesheet_pack_tag 'user/threeSixtyCampaign'
