tr id=dom_id(resource)
  td = resource.id
  td = resource.campaign ? link_to(resource.extras['campaign_name'], administration_client_project_threesixty_campaign_path(client, resource.campaign.project, resource.campaign.threesixty_campaign)) : resource.extras['campaign_name']
  td = resource.extras['subject_name']
  td = resource.extras['subject_email']
  td = resource.decorate.formatted_date_time(:created_at)
  td = resource.decorate.formatted_date_time(:status_updated_at)
  td = resource.decorate.status_updated_by_email
  td.actions-cell
    = link_to action_label, toggle_activation_status_administration_client_license_license_usage_path(id: resource.id),
        remote: true, class: 'btn btn-default btn-rounded btn-sm', method: 'patch'