= simple_form_for(@resource, as: :resource, url: { action: :create }, remote: true) do |f|
  .modal-body
    = t('.emails_hint')
    = f.error_notification
    br
    .form-inputs
      = f.input :emails, as: :text, input_html: { rows: 10 }

  .modal-footer
    .btn-group
      = f.button :submit, t('.send_invites'), class: 'btn-info'
      a.btn.btn-default data-dismiss='modal' = t 'administration.close'
