@import "../colors.less";

.content {
  flex: 1;
}
.content {
  flex: 1;
  background-size: contain;
  position: relative;
  padding: 45px;
  color: @primary-black;
}


.header {
  .title {
    margin: 0;
    line-height: 1.1;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    color: @teal-dark;
  }
  .subtitle {
    color: @teal-dark;
    font-size: 14px;
  }
  .statusLabel {
    color: @primary-gray;
    font-size: 0.9em;
  }
  .icon {
    max-width: 44px;
  }

  .statusBox {
    padding: 12px;
    background: @light-pink;
    color: @primary-black;
    border-radius: 6px;
    font-size: 11px;
    min-width: 115px;
    text-align: center;
    font-weight: bold;
    &.active {
      background: @primary-gray;
      color: @white;
    }
    position: relative;

    &:not(:last-child) {
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        inset-inline-end: -16px; /* Adjust based on spacing between boxes - RTL friendly */
        width: 18px; /* Width of the line */
        height: 2px; /* Thickness of the line */
        background-color: @light-pink; /* Same color as borders */
        transform: translateY(-50%);
        z-index: -1;
      }
    }
  }
}

.skill {
  padding: 12px;

  width: 100%;

  .header {
    .title {
      margin: 0;
      padding: 0;
      line-height: 1.1;
      font-size: 1.25rem;
      font-weight: bold;
      margin-bottom: 6px;
      color: @teal-dark;
    }
    padding-bottom: 8px;
    border-bottom: 2px solid @primary-black;
  }

  .developAction {
    padding: 12px 0;
    border-bottom: 1px solid @light-gray;

    .description {
      flex: 3;
      font-size: 14px;
      line-height: 1.5;
      font-weight: 200;
      color: @primary-black;
      padding: 6px 12px;
      max-width: 70%;
      margin-inline-end: 40px;
      border-inline-start: 4px solid @primary-gray;
      .name {
        font-weight: bold;
        margin-bottom: 6px;
        font-size: 16px;
        color: @charcoal;
      }
    }

    .date {
      color: @primary-gray;
      strong {
        color: @primary-black;
        font-weight: bold;
      }
    }
  }

  .type {
    font-size: 11px;
    font-weight: 200;
    line-height: 1.3;
    color: @primary-gray;
  }

  .label {
    font-weight: bold;
  }

  .icon {
    max-height: 24px;

    &.small {
      max-height: 20px;
    }
  }
}

.progress {
  margin: 0;
  .progressInfo {
    font-weight: bold;
    font-size: 0.9em;
  }
}
