div.alert.alert-warning role="alert"
  h4.alert-heading
    i.mrm.fa.fa-warning
    = I18n.t('devise.two_factor_authentication.max_login_attempts_reached')
  hr
  p.mb-0 = I18n.t('devise.two_factor_authentication.contact_administrator')
