div class=([@current_project&.login_box_position || 'right', 'box', 'devise', namespace_name].compact.join(' '))
  .panel.panel-default.session
    .panel-heading
      = render partial: 'devise/shared/header', locals: { banner: 'devise/otp.svg', banner_class: 'otp' }

    .panel-body
      .message.pbl
        h1.mvm
          bdi = t('devise.two_factor_authentication.title')
        .instruction
          bdi = t('devise.two_factor_authentication.attempt')
      = form_tag [resource_name, :two_factor_authentication], method: :put
        div.clearfix
          == flash_messages(false)
        .otp.input-group.mbm
          span#otp.input-group-addon
            i.icon-otp
          = text_field_tag :code, nil, placeholder: 'One Time Password', class: 'form-control input-lg'

        .actions.justified.mvm
          div
            button.btn.btn-primary.text-uppercase type="submit" value="Verify"
              = t('devise.two_factor_authentication.submit')
              span class="fa fa-chevron-right mlm"
            = link_to resend_code_user_two_factor_authentication_path, class: 'mlm' do
              i.mrs.fa.fa-redo
              | Resend OTP
            end
          - if current_user
            div
              = link_to 'Sign Out',
                @current_project.nil? ? destroy_administration_session_path : destroy_user_session_path,
                method: :delete

    .panel-footer
      = render partial: 'devise/shared/footer'
= render partial: 'devise/shared/locales'
