@import "styles/ant.variable.less";
@import "styles/spacing.less";

.assessmentLabel {
  align-self: center;
  padding-inline-start: @space-2;
}
.titleAvatar {
  background-color: var(--ant-primary-color);
  cursor: default;
}
