.graph {
  height: 100%;
  width: 100%;
  :global {
    .highcharts-xaxis-labels {
      text {
        cursor: pointer !important;
      }
    }
  }
}

.rounded {
  :global {
    .highcharts-bar-series {
      &.highcharts-tracker {
        clip-path: none;
      }
    }
  }
}
