= simple_form_for(@form, url: { action: :new_step_2 }, remote: true) do |f|
  .modal-body
    = render_error_notification(@form)
    .form-inputs.clearfix
      = f.input :email
  .modal-footer
    .btn-group
      = f.button :submit, t('next'), class: 'btn-info'
      a.btn.btn-default data-dismiss='modal' = t 'administration.close'
