- clients_view_id = dom_id(u, :clients_view)
- clients_view_licenses_id = dom_id(u, :clients_manage)

- projects_view_id = dom_id(u, :projects_view)
- projects_manage_id = dom_id(u, :projects_manage)
- projects_manage_admin_id = dom_id(u, :projects_manage_admin)
- projects_manage_users_id = dom_id(u, :projects_manage_users)
- projects_design_id = dom_id(u, :projects_design)

- project_settings_design_id = dom_id(u, :project_settings_design)
- project_settings_smtp_id = dom_id(u, :project_settings_smtp)
- project_settings_saml_id = dom_id(u, :project_settings_saml)
- project_settings_integrations_id = dom_id(u, :project_settings_integrations_id)
- project_settings_webhooks_id = dom_id(u, :project_settings_webhooks_id)

- sms_invites_view_id = dom_id(u, :sms_invites_view)
- sms_invites_manage_id = dom_id(u, :sms_invites_manage)

- norms_view_id = dom_id(u, :norms_view)
- norms_manage_id = dom_id(u, :norms_manage)

- dimensions_view_id = dom_id(u, :dimensions_view)
- dimensions_manage_id = dom_id(u, :dimensions_manage)

- assessments_view_id = dom_id(u, :assessments_view)
- assessments_manage_id = dom_id(u, :assessments_manage)

- questions_view_id = dom_id(u, :questions_view)
- questions_manage_id = dom_id(u, :questions_manage)

- libraries_view_id = dom_id(u, :libraries_view)
- libraries_manage_id = dom_id(u, :libraries_manage)

- communications_view_id = dom_id(u, :communications_view)
- communications_manage_id = dom_id(u, :communications_manage)

- reports_view_id = dom_id(u, :reports_view)
- reports_manage_id = dom_id(u, :reports_manage)

- results_view_report_id = dom_id(u, :results_view_report)
- results_download_report_id = dom_id(u, :results_view_report)
- results_report_data_id = dom_id(u, :results_report_data)
- results_raw_responses_id = dom_id(u, :results_raw_responses)
- results_scores_id = dom_id(u, :results_scores)
- results_reset_responses_id = dom_id(u, :reset_responses)
- results_rescore_responses_id = dom_id(u, :rescore_responses)
- results_approve_report_id = dom_id(u, :approve_report)
- results_reset_progress_id = dom_id(u, :reset_progress)
- results_regenerate_report_id = dom_id(u, :results_regenerate_report)
- results_bulk_regenerate_reports_id = dom_id(u, :results_bulk_regenerate_reports)

- campaigns_view_id = dom_id(u, :campaigns_view)
- campaigns_manage_id = dom_id(u, :campaigns_manage)
- campaigns_manage_users_id = dom_id(u, :campaigns_manage_users)
- campaigns_manage_admins_id = dom_id(u, :campaigns_admins)
- campaigns_manage_options_id = dom_id(u, :campaigns_manage_options)
- campaigns_manage_messages_id = dom_id(u, :campaigns_manage_messages)
- campaigns_participant_options_id = dom_id(u, :campaigns_participant_options)
- campaigns_reset_nominations_id = dom_id(u, :campaigns_reset_nominations)
- campaigns_report_options_id = dom_id(u, :campaigns_report_options)

- messages_email_id = dom_id(u, :messages_email)
- messages_instructions_id = dom_id(u, :messages_instructions)
- messages_options_id = dom_id(u, :messages_options)

- assessors_view_id = dom_id(u, :assessors_view)
- assessors_manage_id = dom_id(u, :assessors_manage)

- registration_codes_view_id = dom_id(u, :registration_codes_view)
- registration_codes_manage_id = dom_id(u, :registration_codes_manage)

- datasheet_view_id = dom_id(u, :datasheet_view)
- datasheet_manage_id = dom_id(u, :datasheet_manage)

- audit_log_view_id = dom_id(u, :audit_log_view)

= hidden_field_tag 'resource[grants_attributes][data]{}'
table.table.grants-table
  thead
    tr
      th Entity
      th.actions Privileges
  tbody
    - if policy(:membership).manage_grants_for_actions?('clients', ['view', 'view_licenses'], client: client)
      tr
        td Clients
        td
          div.grants-grid
            - if policy(:membership).manage_grants_for_action?('clients', 'view', client: client)
              label
                = check_box_tag 'resource[grants_attributes][data][clients][]',
                        'view', resource.has_grant?(:clients, :view), id: clients_view_id
                | View
            - if policy(:membership).manage_grants_for_action?('clients', 'view_licenses', client: client)
              label
                = check_box_tag 'resource[grants_attributes][data][clients][]',
                        'view_licenses', resource.has_grant?(:clients, :view_licenses), id: clients_view_licenses_id
                | View Licenses


    - if policy(:membership).manage_grants_for_actions?('projects', ['view', 'manage', 'manage_admins', 'manage_users', 'design'], client: client)
      tr
        td Projects
        td
          div.grants-grid
            - if policy(:membership).manage_grants_for_action?('projects', 'view', client: client)
              label
                = check_box_tag 'resource[grants_attributes][data][projects][]',
                        'view', resource.has_grant?(:projects, :view), id: projects_view_id, data: { turn_off: [projects_manage_id] }
                | View
            - if policy(:membership).manage_grants_for_action?('projects', 'manage', client: client)
              label
                = check_box_tag 'resource[grants_attributes][data][projects][]',
                        'manage', resource.has_grant?(:projects, :manage), id: projects_manage_id, data: { turn_on: [projects_view_id] }
                | Manage
            - if policy(:membership).manage_grants_for_action?('projects', 'manage_admins', client: client)
              label
                = check_box_tag 'resource[grants_attributes][data][projects][]',
                        'manage_admins', resource.has_grant?(:projects, :manage_admins), id: projects_manage_admin_id
                | Manage Admins
            - if policy(:membership).manage_grants_for_action?('projects', 'manage_users', client: client)
              label
                = check_box_tag 'resource[grants_attributes][data][projects][]',
                        'manage_users', resource.has_grant?(:projects, :manage_users), id: projects_manage_users_id
                | Manage Users
    
    - if policy(:membership).manage_grants_for_actions?('users', ['reset_password'], client: client)
      tr
        td Users
        td
          div.grants-grid
            - if policy(:membership).manage_grants_for_action?('users', 'reset_password', client: client)
              label
                = check_box_tag 'resource[grants_attributes][data][users][]',
                        'reset_password', resource.has_grant?(:users, :reset_password)
                | Reset Password

    - if policy(:membership).manage_grants_for_actions?('users', ['reset_password'], client: client)
      tr
        td Users
        td
          div.grants-grid
            - if policy(:membership).manage_grants_for_action?('users', 'reset_password', client: client)
              label
                = check_box_tag 'resource[grants_attributes][data][users][]',
                        'reset_password', resource.has_grant?(:users, :reset_password)
                | Reset Password


    - if policy(:membership).manage_grants_for_actions?('project_settings', ['design', 'smtp', 'sms', 'saml', 'integrations'], client: client)
      tr
        td Project Settings
        td
          div.grants-grid
            - if policy(:membership).manage_grants_for_action?('project_settings', 'design', client: client)
              label
                = check_box_tag 'resource[grants_attributes][data][project_settings][]',
                        'design', resource.has_grant?(:project_settings, :design), id: project_settings_design_id, data: { turn_off: [project_settings_design_id] }
                | Design
            - if policy(:membership).manage_grants_for_action?('project_settings', 'smtp', client: client)
              label
                = check_box_tag 'resource[grants_attributes][data][project_settings][]',
                        'smtp', resource.has_grant?(:project_settings, :smtp), id: project_settings_smtp_id, data: { turn_on: [project_settings_smtp_id] }
                | SMTP
            - if policy(:membership).manage_grants_for_action?('project_settings', 'saml', client: client)
              label
                = check_box_tag 'resource[grants_attributes][data][project_settings][]',
                        'saml', resource.has_grant?(:project_settings, :saml), id: project_settings_saml_id, data: { turn_on: [project_settings_saml_id] }
                | SAML
            - if policy(:membership).manage_grants_for_action?('project_settings', 'integrations', client: client)
              label
                = check_box_tag 'resource[grants_attributes][data][project_settings][]',
                        'integrations', resource.has_grant?(:project_settings, :integrations), id: project_settings_integrations_id, data: { turn_on: [project_settings_integrations_id] }
                | Integrations
            - if policy(:membership).manage_grants_for_action?('project_settings', 'webhooks', client: client)
              label
                = check_box_tag 'resource[grants_attributes][data][project_settings][]',
                        'webhooks', resource.has_grant?(:project_settings, :webhooks), id: project_settings_webhooks_id, data: { turn_on: [project_settings_webhooks_id] }
                | Webhooks

    = render 'shared/administration/grants/dashboards'

    - if policy(:membership).manage_grants_for_actions?('sms_invites', ['view', 'manage'], client: client)
      tr
        td SMS Invites
        td
          div.grants-grid
            - if policy(:membership).manage_grants_for_action?('sms_invites', 'view', client: client)
              label
                = check_box_tag 'resource[grants_attributes][data][sms_invites][]',
                        'view', resource.has_grant?(:sms_invites, :view), id: sms_invites_view_id, data: { turn_off: [sms_invites_manage_id] }
                | View
            - if policy(:membership).manage_grants_for_action?('sms_invites', 'manage', client: client)
              label
                = check_box_tag 'resource[grants_attributes][data][sms_invites][]',
                        'manage', resource.has_grant?(:sms_invites, :manage), id: sms_invites_manage_id, data: { turn_on: [sms_invites_view_id] }
                | Manage

    - if policy(:membership).manage_grants_for_actions?('campaigns', ['view', 'manage', 'manage_users', 'manage_options', 'manage_messages', 'manage_report_approvals', 'stats'], client: client)
      tr
        td Campaigns
        td
          div.grants-grid
            - if policy(:membership).manage_grants_for_action?('campaigns', 'view', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][campaigns][]',
                        'view', resource.has_grant?(:campaigns, :view), id: campaigns_view_id, data: { turn_off: [campaigns_manage_id] }
                | View
            - if policy(:membership).manage_grants_for_action?('campaigns', 'manage', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][campaigns][]',
                        'manage', resource.has_grant?(:campaigns, :manage), id: campaigns_manage_id, data: { turn_on: [campaigns_view_id] }
                | Manage
            - if policy(:membership).manage_grants_for_action?('campaigns', 'manage_users', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][campaigns][]',
                        'manage_users', resource.has_grant?(:campaigns, :manage_users), id: campaigns_manage_users_id
                | Manage Users
            - if policy(:membership).manage_grants_for_action?('campaigns', 'manage_admins', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][campaigns][]',
                        'manage_admins', resource.has_grant?(:campaigns, :manage_admins), id: campaigns_manage_admins_id
                | Manage Admins
            - if policy(:membership).manage_grants_for_action?('campaigns', 'manage_options', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][campaigns][]',
                        'manage_options', resource.has_grant?(:campaigns, :manage_options), id: campaigns_manage_options_id
                | Manage Options
            - if policy(:membership).manage_grants_for_action?('campaigns', 'manage_messages', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][campaigns][]',
                        'manage_messages', resource.has_grant?(:campaigns, :manage_messages), id: campaigns_manage_messages_id
                | Manage Messages
            - if policy(:membership).manage_grants_for_action?('campaigns', 'participant_options', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][campaigns][]',
                        'participant_options', resource.has_grant?(:campaigns, :participant_options), id: campaigns_participant_options_id
                | Participant Options
                sup
                  a href='#sup-note-1' 1
            - if policy(:membership).manage_grants_for_action?('campaigns', 'reset_nominations', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][campaigns][]',
                        'reset_nominations', resource.has_grant?(:campaigns, :reset_nominations), id: campaigns_reset_nominations_id
                | Reset Nominations
                sup
                  a href='#sup-note-1' 1
            - if policy(:membership).manage_grants_for_action?('campaigns', 'report_options', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][campaigns][]',
                        'report_options', resource.has_grant?(:campaigns, :report_options), id: campaigns_report_options_id
                | Report Options
                sup
                  a href='#sup-note-1' 1
            - if policy(:membership).manage_grants_for_action?('campaigns', 'manage_report_approvals', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][campaigns][]',
                        'manage_report_approvals', resource.has_grant?(:campaigns, :manage_report_approvals)
                | Manage Report Approvals
            - if policy(:membership).manage_grants_for_action?('campaigns', 'stats', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][campaigns][]',
                        'stats', resource.has_grant?(:campaigns, :stats)
                | View Stats
                campaigns_regenerate_report_id

    - if policy(:membership).manage_grants_for_actions?('messages', ['email', 'instructions', 'options'], client: client)
      tr
        td Messages
        td
          div.grants-grid
            - if policy(:membership).manage_grants_for_action?('messages', 'email', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][messages][]',
                        'email', resource.has_grant?(:messages, :email), id: messages_email_id
                | Email
                sup
                  a href='#sup-note-1' 1
            - if policy(:membership).manage_grants_for_action?('messages', 'instructions', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][messages][]',
                        'instructions', resource.has_grant?(:messages, :instructions), id: messages_instructions_id
                | Instructions
                sup
                  a href='#sup-note-1' 1
            - if policy(:membership).manage_grants_for_action?('messages', 'options', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][messages][]',
                        'options', resource.has_grant?(:messages, :options), id: messages_options_id
                | Options
                sup
                  a href='#sup-note-1' 1

    - if policy(:membership).manage_grants_for_actions?('norms', ['view', 'manage'], client: client)
      tr
        td Norms
        td
          div.grants-grid
            - if policy(:membership).manage_grants_for_action?('norms', 'view', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][norms][]',
                        'view', resource.has_grant?(:norms, :view), id: norms_view_id, data: { turn_off: [norms_manage_id] }
                | View
            - if policy(:membership).manage_grants_for_action?('norms', 'manage', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][norms][]',
                        'manage', resource.has_grant?(:norms, :manage), id: norms_manage_id, data: { turn_on: [norms_view_id] }
                | Manage

    - if policy(:membership).manage_grants_for_actions?('dimensions', ['view', 'manage'], client: client)
      tr
        td Dimensions
        td
          div.grants-grid
            - if policy(:membership).manage_grants_for_action?('dimensions', 'view', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][dimensions][]',
                        'view', resource.has_grant?(:dimensions, :view), id: dimensions_view_id, data: { turn_off: [dimensions_manage_id] }
                | View
            - if policy(:membership).manage_grants_for_action?('dimensions', 'manage', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][dimensions][]',
                        'manage', resource.has_grant?(:dimensions, :manage), id: dimensions_manage_id, data: { turn_on: [dimensions_view_id] }
                | Manage

    - if policy(:membership).manage_grants_for_actions?('assessments', ['view', 'manage'], client: client)
      tr
        td Assessments
        td
          div.grants-grid
            - if policy(:membership).manage_grants_for_action?('assessments', 'view', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][assessments][]',
                        'view', resource.has_grant?(:assessments, :view), id: assessments_view_id, data: { turn_off: [assessments_manage_id] }
                | View
            - if policy(:membership).manage_grants_for_action?('assessments', 'manage', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][assessments][]',
                        'manage', resource.has_grant?(:assessments, :manage), id: assessments_manage_id, data: { turn_on: [assessments_view_id] }
                | Manage

    - if policy(:membership).manage_grants_for_actions?('questions', ['view', 'manage'], client: client)
      tr
        td Questions
        td
          div.grants-grid
            - if policy(:membership).manage_grants_for_action?('questions', 'view', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][questions][]',
                        'view', resource.has_grant?(:questions, :view), id: questions_view_id, data: { turn_off: [questions_manage_id] }
                | View
            - if policy(:membership).manage_grants_for_action?('questions', 'manage', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][questions][]',
                        'manage', resource.has_grant?(:questions, :manage), id: questions_manage_id, data: { turn_on: [questions_view_id] }
                | Manage

    - if policy(:membership).manage_grants_for_actions?('libraries', ['view', 'manage'], client: client)
      tr
        td Media Libraries
        td
          div.grants-grid
            - if policy(:membership).manage_grants_for_action?('libraries', 'view', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][libraries][]',
                        'view', resource.has_grant?(:libraries, :view), id: libraries_view_id, data: { turn_off: [libraries_manage_id] }
                | View
            - if policy(:membership).manage_grants_for_action?('libraries', 'manage', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][libraries][]',
                        'manage', resource.has_grant?(:libraries, :manage), id: libraries_manage_id, data: { turn_on: [libraries_view_id] }
                | Manage

    - if policy(:membership).manage_grants_for_actions?('communications', ['view', 'manage'], client: client)
      tr
        td Communication Centre
        td
          div.grants-grid
            - if policy(:membership).manage_grants_for_action?('communications', 'view', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][communications][]',
                        'view', resource.has_grant?(:communications, :view), id: communications_view_id, data: { turn_off: [communications_manage_id] }
                | View
            - if policy(:membership).manage_grants_for_action?('communications', 'manage', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][communications][]',
                        'manage', resource.has_grant?(:communications, :manage), id: communications_manage_id, data: { turn_on: [communications_view_id] }
                | Manage

    - if policy(:membership).manage_grants_for_actions?('reports', ['view', 'manage'], client: client)
      tr
        td Reports
        td
          div.grants-grid
            - if policy(:membership).manage_grants_for_action?('reports', 'view', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][reports][]',
                        'view', resource.has_grant?(:reports, :view), id: reports_view_id, data: { turn_off: [reports_manage_id] }
                | View
            - if policy(:membership).manage_grants_for_action?('reports', 'manage', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][reports][]',
                        'manage', resource.has_grant?(:reports, :manage), id: reports_manage_id, data: { turn_on: [reports_view_id] }
                | Manage

    - if policy(:membership).manage_grants_for_actions?('results', ['view_report', 'report_data', 'raw_responses', 'scores'], client: client)
      tr
        td Results
        td
          div.grants-grid
            - if policy(:membership).manage_grants_for_action?('results', 'view_report', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][results][]',
                        'view_report', resource.has_grant?(:results, :view_report), id: results_view_report_id
                | View Report
            - if policy(:membership).manage_grants_for_action?('results', 'download_report', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][results][]',
                        'download_report', resource.has_grant?(:results, :download_report), id: results_download_report_id
                | Download Report
            - if policy(:membership).manage_grants_for_action?('results', 'report_data', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][results][]',
                        'report_data', resource.has_grant?(:results, :report_data), id: results_report_data_id
                | Report Data
            - if policy(:membership).manage_grants_for_action?('results', 'raw_responses', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][results][]',
                        'raw_responses', resource.has_grant?(:results, :raw_responses), id: results_raw_responses_id
                | Raw Responses
            - if policy(:membership).manage_grants_for_action?('results', 'scores', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][results][]',
                        'scores', resource.has_grant?(:results, :scores), id: results_scores_id
                | Scores
            - if policy(:membership).manage_grants_for_action?('results', 'reset_responses', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][results][]',
                        'reset_responses', resource.has_grant?(:results, :reset_responses), id: results_reset_responses_id
                | Reset Responses
            - if policy(:membership).manage_grants_for_action?('results', 'rescore_responses', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][results][]',
                        'rescore_responses', resource.has_grant?(:results, :rescore_responses), id: results_rescore_responses_id
                | Rescore Responses
            - if policy(:membership).manage_grants_for_action?('results', 'approve_report', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][results][]',
                        'approve_report', resource.has_grant?(:results, :approve_report), id: results_approve_report_id
                | Approve Report
            - if policy(:membership).manage_grants_for_action?('results', 'reset_progress', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][results][]',
                        'reset_progress', resource.has_grant?(:results, :reset_progress), id: results_reset_progress_id
                | Reset Prgoress
                        - if policy(:membership).manage_grants_for_action?('results', 'regenerate_report', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][results][]',
                        'regenerate_report', resource.has_grant?(:results, :regenerate_report), id: results_regenerate_report_id
                | Regenerate Reports
                sup
                  a href='#sup-note-1' 1
            - if policy(:membership).manage_grants_for_action?('results', 'bulk_regenerate_reports', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][results][]',
                        'bulk_regenerate_reports', resource.has_grant?(:results, :bulk_regenerate_reports), id: results_bulk_regenerate_reports_id
                | Bulk Regenerate Reports
                sup
                  a href='#sup-note-1' 1

    - if policy(:membership).manage_grants_for_actions?('assessors', ['view', 'manage', 'manage_users'], client: client)
      tr
        td Assessors
        td
          div.grants-grid
            - if policy(:membership).manage_grants_for_action?('assessors', 'view', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][assessors][]',
                        'view', resource.has_grant?(:assessors, :view), id: assessors_view_id, data: { turn_off: [assessors_manage_id] }
                | View
            - if policy(:membership).manage_grants_for_action?('assessors', 'manage', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][assessors][]',
                        'manage', resource.has_grant?(:assessors, :manage), id: assessors_manage_id,  data: { turn_on: [assessors_view_id] }
                | Manage

    - if policy(:membership).manage_grants_for_actions?('registration_codes', ['view', 'manage'], client: client)
      tr
        td Registration Codes
        td
          div.grants-grid
            - if policy(:membership).manage_grants_for_action?('registration_codes', 'view', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][registration_codes][]',
                        'view', resource.has_grant?(:registration_codes, :view), id: registration_codes_view_id, data: { turn_off: [registration_codes_manage_id] }
                | View
            - if policy(:membership).manage_grants_for_action?('registration_codes', 'manage', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][registration_codes][]',
                        'manage', resource.has_grant?(:registration_codes, :manage), id: registration_codes_manage_id, data: { turn_on: [registration_codes_view_id] }
                | Manage

    - if policy(:membership).manage_grants_for_actions?('datasheets', ['view', 'manage'], client: client)
      tr
        td Datasheets
        td
          div.grants-grid
            - if policy(:membership).manage_grants_for_action?('datasheets', 'view', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][datasheets][]',
                        'view', resource.has_grant?(:datasheets, :view), id: datasheet_view_id, data: { turn_off: [datasheet_manage_id] }
                | View
            - if policy(:membership).manage_grants_for_action?('datasheets', 'manage', client: client)
              label.text-nowrap
                = check_box_tag 'resource[grants_attributes][data][datasheets][]',
                        'manage', resource.has_grant?(:datasheets, :manage), id: datasheet_manage_id, data: { turn_on: [datasheet_view_id] }
                | Manage

      - if policy(:membership).manage_grants_for_actions?('audit_logs', ['view'], client: client)
        tr
          td Audit Logs
          td
            div.grants-grid
              - if policy(:membership).manage_grants_for_action?('audit_logs', 'view', client: client)
                label.text-nowrap
                  = check_box_tag 'resource[grants_attributes][data][audit_logs][]',
                          'view', resource.has_grant?(:audit_logs, :view), id: audit_log_view_id
                  | View

hr
|Notes
br
div.notes
  ol
    li#sup-note-1
      | Permissions specific to 360 campaigns.
