- norms_view_id = dom_id(u.object, :norms_view)
- norms_manage_id = dom_id(u.object, :norms_manage)
- dimensions_view_id = dom_id(u.object, :dimensions_view)
- dimensions_manage_id = dom_id(u.object, :dimensions_manage)
- assessments_view_id = dom_id(u.object, :assessments_view)
- assessments_manage_id = dom_id(u.object, :assessments_manage)
- assessments_assign_id = dom_id(u.object, :assessments_assign)
- translations_export_id = dom_id(u.object, :translations_export)
- translations_import_id = dom_id(u.object, :translations_import)
- questions_view_id = dom_id(u.object, :questions_view)
- questions_manage_id = dom_id(u.object, :questions_manage)
- libraries_view_id = dom_id(u.object, :libraries_view)
- libraries_manage_id = dom_id(u.object, :libraries_manage)
- communications_view_id = dom_id(u.object, :communications_view)
- communications_manage_id = dom_id(u.object, :communications_manage)
- reports_view_id = dom_id(u.object, :reports_view)
- reports_manage_id = dom_id(u.object, :reports_manage)

= hidden_field_tag 'resource[user_attributes][grants]{}'
table.table.grants-table
  thead
    tr
      th Entity
      th.actions Privileges
  tbody
    - if policy(:user).manage_grants_for_actions?('norms', ['view', 'assign'])
      tr
        td Norms
        td.text-nowrap
          - if policy(:user).manage_grants_for_action?('norms', 'view')
            label
              = check_box_tag 'resource[user_attributes][grants][norms][]',
                      'view', u.object.has_grant?(:norms, :view), id: norms_view_id, data: { turn_off: [norms_manage_id] }
              i.fa.fa-eye title='View'
          - if policy(:user).manage_grants_for_action?('norms', 'manage')
            label
              = check_box_tag 'resource[user_attributes][grants][norms][]',
                      'manage', u.object.has_grant?(:norms, :manage), id: norms_manage_id, data: { turn_on: [norms_view_id] }
              i.fa.fa-pencil title='Manage'
    - if policy(:user).manage_grants_for_actions?('dimensions', ['view', 'assign'])
      tr
        td Dimensions
        td.text-nowrap
          - if policy(:user).manage_grants_for_action?('dimensions', 'view')
            label
              = check_box_tag 'resource[user_attributes][grants][dimensions][]',
                      'view', u.object.has_grant?(:dimensions, :view), id: dimensions_view_id, data: { turn_off: [dimensions_manage_id] }
              i.fa.fa-eye title='View'
          - if policy(:user).manage_grants_for_action?('dimensions', 'manage')
            label
              = check_box_tag 'resource[user_attributes][grants][dimensions][]',
                      'manage', u.object.has_grant?(:dimensions, :manage), id: dimensions_manage_id, data: { turn_on: [dimensions_view_id] }
              i.fa.fa-pencil title='Manage'
    - if policy(:user).manage_grants_for_actions?('assessments', ['view', 'assign', 'assign'])
      tr
        td Assessments
        td.text-nowrap
          - if policy(:user).manage_grants_for_action?('assessments', 'view')
            label
              = check_box_tag 'resource[user_attributes][grants][assessments][]',
                      'view', u.object.has_grant?(:assessments, :view), id: assessments_view_id,
                      data: { turn_off: [assessments_manage_id, assessments_assign_id],
                              turn_off_if: [{ ids: [translations_export_id, translations_import_id], disabled: [reports_view_id] }] }
              i.fa.fa-eye title='View'
          - if policy(:user).manage_grants_for_action?('assessments', 'manage')
            label
              = check_box_tag 'resource[user_attributes][grants][assessments][]',
                      'manage', u.object.has_grant?(:assessments, :manage), id: assessments_manage_id, data: { turn_on: [assessments_view_id] }
              i.fa.fa-pencil title='Manage'
          - if policy(:user).manage_grants_for_action?('assessments', 'assign')
            label
              = check_box_tag 'resource[user_attributes][grants][assessments][]',
                      'assign', u.object.has_grant?(:assessments, :assign), id: assessments_assign_id, data: { turn_on: [assessments_view_id] }
              i.fa.fa-user-plus title='Assign'
    - if policy(:user).manage_grants_for_actions?('assessments', ['export', 'import'])
      tr
        td Data Centre (Exporting Assessment / Report data sets)
        td.text-nowrap
          - if policy(:user).manage_grants_for_action?('assessments', 'export')
            label
              = check_box_tag 'resource[user_attributes][grants][assessments][]',
                      'export', u.object.has_grant?(:assessments, :export), id: dom_id(u.object, :assessments_export)
              i.fa.fa-upload
          - if policy(:user).manage_grants_for_action?('assessments', 'import')
            label
              = check_box_tag 'resource[user_attributes][grants][assessments][]',
                      'import', u.object.has_grant?(:assessments, :import), id: dom_id(u.object, :assessments_import)
              i.fa.fa-download
    - if policy(:user).manage_grants_for_actions?('translations', ['export', 'import'])
      tr
        td Translations
        td.text-nowrap
          - if policy(:user).manage_grants_for_action?('translations', 'export')
            label
              = check_box_tag 'resource[user_attributes][grants][translations][]',
                      'export', u.object.has_grant?(:translations, :export), id: translations_export_id, data: { turn_on: [assessments_view_id, reports_view_id] }
              i.fa.fa-upload
          - if policy(:user).manage_grants_for_action?('translations', 'import')
            label
              = check_box_tag 'resource[user_attributes][grants][translations][]',
                      'import', u.object.has_grant?(:translations, :import), id: translations_import_id, data: { turn_on: [assessments_view_id, reports_view_id] }
              i.fa.fa-download
    - if policy(:user).manage_grants_for_actions?('clients', ['manage', 'design'])
      tr
        td Client Tenancies
        td.text-nowrap
          - if policy(:user).manage_grants_for_action?('clients', 'manage')
            label
              = check_box_tag 'resource[user_attributes][grants][clients][]',
                      'manage', u.object.has_grant?(:clients, :manage), id: dom_id(u.object, :clients_manage)
              i.fa.fa-pencil title='Manage'
          - if policy(:user).manage_grants_for_action?('clients', 'design')
            label
              = check_box_tag 'resource[user_attributes][grants][clients][]',
                      'design', u.object.has_grant?(:clients, :design), id: dom_id(u.object, :clients_design)
              i.fa.fa-paint-brush title='Design'
    - if policy(:user).manage_grants_for_actions?('questions', ['view', 'manage'])
      tr
        td Question Centre
        td.text-nowrap
          - if policy(:user).manage_grants_for_action?('questions', 'view')
            label
              = check_box_tag 'resource[user_attributes][grants][questions][]',
                      'view', u.object.has_grant?(:questions, :view), id: questions_view_id, data: { turn_off: [questions_manage_id] }
              i.fa.fa-eye title='View'
          - if policy(:user).manage_grants_for_action?('questions', 'manage')
            label
              = check_box_tag 'resource[user_attributes][grants][questions][]',
                      'manage', u.object.has_grant?(:questions, :manage), id: questions_manage_id, data: { turn_on: [questions_view_id] }
              i.fa.fa-pencil title='Manage'
    - if policy(:user).manage_grants_for_actions?('libraries', ['view', 'manage'])
      tr
        td Media Libraries
        td.text-nowrap
          - if policy(:user).manage_grants_for_action?('libraries', 'view')
            label
              = check_box_tag 'resource[user_attributes][grants][libraries][]',
                      'view', u.object.has_grant?(:libraries, :view), id: libraries_view_id, data: { turn_off: [libraries_manage_id] }
              i.fa.fa-eye title='View'
          - if policy(:user).manage_grants_for_action?('libraries', 'manage')
            label
              = check_box_tag 'resource[user_attributes][grants][libraries][]',
                      'manage', u.object.has_grant?(:libraries, :manage), id: libraries_manage_id, data: { turn_on: [libraries_view_id] }
              i.fa.fa-pencil title='Manage'
    - if policy(:user).manage_grants_for_actions?('communications', ['view', 'manage'])
      tr
        td Communication Centre
        td.text-nowrap
          - if policy(:user).manage_grants_for_action?('communications', 'view')
            label
              = check_box_tag 'resource[user_attributes][grants][communications][]',
                      'view', u.object.has_grant?(:communications, :view), id: communications_view_id, data: { turn_off: [communications_manage_id] }
              i.fa.fa-eye title='View'
          - if policy(:user).manage_grants_for_action?('communications', 'manage')
            label
              = check_box_tag 'resource[user_attributes][grants][communications][]',
                      'manage', u.object.has_grant?(:communications, :manage), id: communications_manage_id, data: { turn_on: [communications_view_id] }
              i.fa.fa-pencil title='Manage'
    - if policy(:user).manage_grants_for_actions?('reports', ['view', 'manage'])
      tr
        td Reports
        td.text-nowrap
          - if policy(:user).manage_grants_for_action?('reports', 'view')
            label
              = check_box_tag 'resource[user_attributes][grants][reports][]',
                      'view', u.object.has_grant?(:reports, :view), id: reports_view_id, data: { turn_off: [reports_manage_id] }
              i.fa.fa-eye title='View'
          - if policy(:user).manage_grants_for_action?('reports', 'manage')
            label
              = check_box_tag 'resource[user_attributes][grants][reports][]',
                      'manage', u.object.has_grant?(:reports, :manage), id: reports_manage_id,
                      data: { turn_on: [reports_view_id],
                              turn_off_if: [{ ids: [translations_export_id, translations_import_id], disabled: [assessments_view_id] }] }
              i.fa.fa-pencil title='Manage'
    - if policy(:user).manage_grants_for_action?('assigns', 'view')
      tr
        td Overview Reports
        td.text-nowrap
          label
            = check_box_tag 'resource[user_attributes][grants][assigns][]',
                    'view', u.object.has_grant?(:assigns, :view), id: dom_id(u.object, :assigns_view)
            i.fa.fa-eye title='View'
