@import '~/styles/antv4.variable.less';

:global(.ant-btn).profile-logout {
  border: none;
  padding: 0px;
  height: auto;
  & span:hover {
    text-decoration: underline;
  }
}
.profile-name {
  margin: 0px;
  display: block;
  text-overflow: ellipsis;
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: @screen-md) {
  .profile-name{
    width: auto;
    white-space: normal;
  }
}
