div#individual-dashboard-container

= javascript_pack_tag 'vendors2'
= stylesheet_pack_tag 'vendors2'
= javascript_pack_tag 'vendors'
= stylesheet_pack_tag 'vendors'
= stylesheet_packs_with_chunks_tag 'admin/individualDashboard'
= javascript_packs_with_chunks_tag 'admin/individualDashboard'
