@import 'glint/styles/mixins.less';
@import 'styles/ant.variable.less';
@import 'styles/variables.less';
@import 'styles/spacing.less';

.container-campaign {
  max-width: 900px;
  margin-inline: auto;
  margin-block: @space-12;
}
.campaign-title {
  position: relative;
  .highlighter();
}
.campaign-instruction, .campaign-title {
  padding-inline-start: @card-padding-base;
  display: block;
}
.pageContent {
  background-color: @white;
  border-inline-start: 1px solid @border-color-base;
  overflow-x: hidden;
}

@media screen and (max-width: @screen-sm) {
  .container-campaign {
    padding-inline: @space-8;
  }
}
@media (max-width: @screen-lg) {
  .pageContent {
    border-inline-start: none;
  }
}

:global(.rtl) {
  & .campaign-title:before {
    left:unset;
    right: 0px;
  }
}
