.table {
  position: relative;
  box-shadow: 0px 1px 6px #00000019;
  border: 1px solid #DEDEDE;
  border-radius: 7px;
  overflow: hidden;
  border-collapse: unset;
  font-size: .875em;

  width: 100%;
  tbody {
    td {
      border-bottom: 1px solid #e8e8e8;
    }
  }

  th {
    font-weight: 600;
  }

  td, th {
    padding: 12px;
  }

  tfoot {
    tr {
      background-color: #F7F7F7;
      td {
        font-weight: 600;
      }
    }
  }
}

.footNote {
  color: #7C7C7C;
  margin-top: 8px;
  text-align: center;
  font-size: .75em;
}

.label {
  text-align: center;
  font-weight: normal;
}

.tdLabel {
  text-align: start;
}

.tdLeft {
  text-align: start;
}

.tdRight {
  text-align: end;
}

.tdValue {
  text-align: end;
  span {
    font-weight: 600;
    position: relative;
    .star {
      position: absolute;
      right: -6px;
      font-size: .75em;
    }
  }

}
