= simple_form_for(@resource, as: :resource, url: { action: :update }, remote: true) do |f|
  .modal-body
    = f.error_notification
    br
    .form-inputs.clearfix
      = f.input :email
      = f.input :password
      = f.input :first_name
      = f.input :last_name

  .modal-footer
    .btn-group
      = f.button :submit, t('administration.update'), class: 'btn-info'
      a.btn.btn-default data-dismiss='modal' = t 'administration.close'
