@import '~/styles/spacing.less';
@import '~/styles/antv4.variable.less';

.container {
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);

  p {
    margin: 0;
  }

  .warning svg {
    height: 50px;
    width: 50px;
    color: red !important
  }

  .card {
    margin-top: @space-4;
  }

  .title {
    font-size: 20px;
  }

  .button {
    margin: @space-8 auto;
    text-transform: uppercase;
  }

  .mainIcon {
    color: @disabled-color;
    font-size: 45px;
    margin-bottom: @space-4;
  }
}