@import '~/styles/spacing.less';
@import '~/styles/antv4.variable.less';

.container {
  text-align: center;
  .card {
    margin-top: @space-12;
  }
  .title {
    font-size: 20px;
  }

  .button {
    margin-top: @space-8;
    text-transform: uppercase;
  }
  .mainIcon {
    color: @disabled-color;
    font-size: 45px;
    margin-bottom: @space-4;
  }
}
