@import "~/styles/antv4.variable.less";
@import "~/styles/spacing.less";

.steps {
  background-color: @white;
  padding: 24px;

  :global {
    .ant-steps-item-tail {
      width: 102%;

      &::after {
        height: 4px;
        margin-top: @space-1;
      }
    }

    .ant-steps-item-icon {
      width: fit-content;
    }
  }
}

.pageLayout {
  background: @white;
}

.finish {
  margin: @space-14 0;
}

.rounded {
  border: 1px solid;
  padding: 8px;
  border-radius: 50%;
  width: 50px;
}

.system svg {
  color: white !important;
}

.video svg {
  color: white !important;
}

.audio svg {
  color: white !important;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
  margin-right: 5px;
}

.rec {
  color: white;
}

.timerContainer {
  text-align: center;
  width: 100%;
  padding-top: @space-4;
  padding-bottom: @space-2;
  background-color: var(--ant-primary-light-bg);
}

.countdownTimer {
  & :global(.ant-statistic-content-value){
    font-size: 1.5rem;
  }
}
