tr id=dom_id(resource)
  td = resource.name
  td = link_to resource.assessment.name, administration_assessment_path(resource.assessment)
  td = link_to resource.report.name, administration_report_path(resource.report)
  td.text-center = resource.created_at
  td.text-center = resource.updated_at
  td.actions-cell
    - if policy(resource).edit?
      = link_to({ action: :edit, id: resource },
                remote: true,
                class: 'btn btn-default btn-rounded btn-sm',
                data: { toggle: 'tooltip', title: t('.tooltips.edit') })
        span.fa.fa-pencil
    - if policy(resource).destroy?
      = link_to({ action: :destroy, id: resource },
                remote: true,
                class: 'btn btn-default btn-rounded btn-sm',
                method: :delete,
                data: { confirm: 'Are you sure?', toggle: 'tooltip', title: t('.tooltips.delete') })
        span.fa.fa-times
