tr id=dom_id(resource)
  td = resource.name
  td = resource.assessment ? link_to(resource.assessment.name, administration_assessment_path(resource.assessment)) : ""
  td = resource.report ? link_to(resource.report.name, administration_report_path(resource.report)) : ""
  td = resource.owner ? resource.owner.name : t('admin.platform_owner')
  td.text-center = resource.decorate.formatted_date_time(:created_at)
  td.text-center = resource.decorate.formatted_date_time(:updated_at)
  td.actions-cell
    - if policy(resource).edit?
      = link_to({ action: :edit, id: resource },
                remote: true,
                class: 'btn btn-default btn-rounded btn-sm',
                data: { toggle: 'tooltip', title: t('.tooltips.edit') })
        span.fa.fa-pencil
    - if policy(resource).destroy?
      = link_to({ action: :destroy, id: resource },
                remote: true,
                class: 'btn btn-default btn-rounded btn-sm',
                method: :delete,
                data: { confirm: resource.decorate.delete_confirmation, toggle: 'tooltip',
                  title: t('.tooltips.delete'), disable_with: t('.in_progress.deleting') })
        span.fa.fa-times
