div#assessor-app-container

= javascript_pack_tag 'survey'
= stylesheet_pack_tag 'survey'
= javascript_pack_tag 'interactiveAssessments'
= stylesheet_pack_tag 'reports'
= javascript_pack_tag 'reports'
= javascript_pack_tag 'admin/assessorApp'
= stylesheet_pack_tag 'admin/assessorApp'
