= simple_form_for(resource, as: :resource, url: { action: resource.new_record? ? :create : :update }, remote: true) do |f|
  .modal-body
    = render_error_notification(resource)
    .form-inputs.clearfix
      = f.input :name
      = f.association :owner, collection: policy_scope(Client).roots.order(:name),
                              include_blank: (t('admin.platform_owner') if current_user.is?(:superadmin)),
                              input_html: { data: { live_search: true } }

  .modal-footer
    .btn-group
      = f.button :submit, resource.new_record? ? t('administration.create') : t('administration.update'), class: 'btn-info'
      a.btn.btn-default data-dismiss='modal' = t 'administration.close'
