= stylesheet_pack_tag 'vendors'
= stylesheet_pack_tag 'vendors2'

#psychometrics_question_center
script src="https://svc.webspellchecker.net/spellcheck31/wscbundle/wscbundle.js"

= javascript_pack_tag 'vendors2'
= javascript_pack_tag 'vendors'
= stylesheet_pack_tag 'survey'
= javascript_pack_tag 'survey'
= javascript_pack_tag 'assessment/questionCenter'

javascript:
  x_navigation_minimize('close');
  window.WEBSPELLCHECKER_CONFIG = {
      autoSearch: true,
      autoDestroy: true,
      serviceId: '7VTqCWMdsxJbLgr',
    }
