.table {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 88%;

  table {
    width: 100%;
    td, th {
      border: 1px solid #c9c9c9;
      text-align: center;
      padding: 2px;
    }
  }
}

.label {
  min-width: 50px;
  text-align: center;
  font-weight: bold;
  background: #ebebeb;
}

.positive {
  font-weight: bold;
}

.negative {
  font-weight: bold;
}
