@import 'user/styles/variables';

$colors: #246479 #9DD8D7 #00B1A8;
$text-colors: #FFFFFF #246479 #FFFFFF;

:global {
  .cards .card {
    margin-bottom: 12px;
    min-width: 230px;
    >a {
      text-decoration: none;
    }
    .ant-card {
      border-radius: 6px;
      overflow: hidden;
      border-color: rgba(34, 34, 34, 0.09);
      box-shadow: 0 0px 2px rgba(0, 0, 0, 0.09);
    }
    .ant-card-hoverable:hover {
      border-color: rgba(34, 34, 34, 0.09);
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
    }    
    .cover {
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 72px;
      background: $normal-color;


      .caption {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 12px;

        .title {
          margin-left: 5px;
          font-weight: bold;
          color: #646464;
        }

        .icon {
          background: #646464;
          width: 36px;
          height: 36px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          fill: #fff;
          font-size: 1.8rem;
          svg {
            margin-left: -2px;
          }
          .icon-360 {
            font-size: 2.6rem;
          }
        }

      }

      img {
        max-height: 100%;
      }

      .card-progress {
        position: absolute;
        bottom: -20px;
        width: 100%;
        margin: 0 auto;
        padding: 6px 8px;
        background: #fff;
        border-radius: 6px;
        color: $gray-color;
      }
    }

    @for $i from 1 through 3 {
      &:nth-child(3n + #{$i}) {
        .cover {
          background: nth($colors, $i);

          .caption .title {
            color: nth($text-colors, $i);
          }
          :global(.ant-progress-bg) {
            background: nth($colors, $i);
          }
          .icon {
            background: nth($text-colors, $i);
            color: nth($colors, $i);
            svg {
              fill: nth($colors, $i);
            }
          }
        }
      }
    }

    .service {
      position: absolute;
      top: 16px;
      right: 16px;
    }

    .card-body {
      padding: 12px;
      margin-top: 16px;
    }

    .card-content {
      display: flex;
      flex-direction: column;

      .card-detail-txt {
        color: #246479;
      }

      .card-title {
        font-weight: bold;
        height: 60px;
      }

      .info-line {
        font-size: 12px;
        padding: 16px 0;
        color: $gray-color;
        font-weight: bold;
        display: flex;

        .info-block {
          margin-right: 12px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          flex: 1;

          i {
            font-size: 13px;
            margin-right: 5px;
          }
        }
      }

      .divider {
        align-self: center;
        width: 100%;
        height: 1px;
        background: $light-gray;
      }

      .button {
        padding-top: 8px;

        .icon {
          font-size: 20px;
        }

        a[disabled] {
          color: #646464;
        }

        a {
          color: $main-dark;
          display: flex;
          align-items: center;

          svg {
            margin-right: 8px;
          }
        }
      }
    }
  }

  .rtl {
    .cards .card {
      margin-left: 0;
      margin-right: 16px;
      max-width: 20%;
      flex: 1;

      &:nth-child(1) {
        margin-right: 0;
      }
    }

    .button {
      svg {
        margin-left: 8px;
        margin-right: 0;
      }
    }
  }

  .ant-dropdown {
    a[disabled] {
      background-color: $normal-color;
    }
  }

  .dropdown {
    color: $main-dark;
  }
}
