tr
  td = resource.name
  td = resource.decorate.created_at
  td = resource.decorate.updated_at
  - if policy(resource_class).actions?
    td.actions-cell
      = link_to({ action: :destroy, id: resource },
                remote: true,
                class: 'btn btn-default btn-rounded btn-sm delete',
                  method: :delete,
                  data: { confirm: resource.decorate.remove_from_bundle_confirmation,
                          toggle: 'tooltip',
                          title: t('.tooltips.delete')})
        span.fa.fa-times
