.container {
  text-align: center;

  .card {
    box-shadow: 0px 0px 6px #00000024;
    border-radius: 9px;
    text-align: center;
    margin-bottom: 10px;

    .audio {
      border-radius: 6px;
      padding: 80px 0;

      .allowTitle {
        margin-bottom: 30px;
      }

      .icon {
        display: inline-block;
        width: 60px;
        height: 60px;
        background: transparent url("./icon.svg");
        background-size: contain;
      }

      .quote {
        text-align: center;
        font-family: 'Neue';
        font-size: 89px;
        color: #D8D8D8;
        height: 55px;
      }

      .testMessage {
        font-size: 40px;
        font-family: Medium Helvetica Neue;
      }
    }
  }

  .title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .continueButton {
    margin-top: 72px;
    text-transform: uppercase;
  }

  .mainIcon {
    font-size: 45px;
    margin-bottom: 16px;
  }
}
