@import "~/styles/antv4.variable.less";
@import "~/styles/spacing.less";
@import '~/glint/styles/mixins.less';

.in_progress {
  color: var(--ant-warning-color);
}
.completed {
  color: var(--ant-success-color);
}
.not_started {
  color: @text-color-secondary;
}
.assessmentLabel {
  align-self: center;
  padding-inline-start: @space-2;
}
.titleAvatar {
  background-color: var(--ant-primary-color);
  cursor: default;
}
