.groupRow {
  td {
    background-color: var(--ant-primary-light-bg) !important;
  }
}

.finalHeader {
  background-color: var(--ant-color-primary) !important;
  color: var(--white-bg) !important;
}

.scoreRangeColumn,
.scoreRangeHeader {
  border-left: 2px solid var(--ant-color-primary) !important;
}

.finalHeader,
.finalColumn {
  border-left: 2px solid var(--ant-color-primary) !important;
}
