.row
  .col-xs-12
    #assessmentDashboard
      .contentTitleHeader
        i.glyphicon.glyphicon-dashboard.titleIcon.pull-left
        p.contentTitle
          = t('.title')
      .col-xs-12.col-sm-6.col-md-3
        .reportOne
          h4.text-center
            | Completion Report
          = image_tag 'pieChartGraphic', class: 'center-block img-responsive'
      .col-xs-12.col-sm-6.col-md-3
        .reportTwo
          h4.text-center
            | 360 Survey Report
          = image_tag 'barChartGraphic', class: 'center-block img-responsive'
      .clearfix.visible-sm  
      .col-xs-12.col-sm-6.col-md-3
        .reportThree
          h4.text-center
            | Organisational Surveys
          = image_tag 'pieChartGraphic', class: 'center-block img-responsive'
      .col-xs-12.col-sm-6.col-md-3
        .reportFour
          h4.text-center
            | Psychometric Report
          = image_tag 'barChartGraphic', class: 'center-block img-responsive'
      .col-xs-12.completionReport
        h3.text-center
          | Completion Report
        .completionReportTable style=("overflow-x:auto !important;")
          table.table.table-striped
            thead
              tr
                th
                  | Name
                th
                  | Assessment Type
                th
                  | Completion Status
                th.text-center
                  | Action
            tbody
              tr
                td
                  | John Doe
                td
                  | Psychometric
                td
                  | Complete
                td.text-center
                  .btn-group.reportTable aria-label="..." role="group"
                    button.btn.btn-default type="button"  View
                    button.btn.btn-default type="button"  Email
                    button.btn.btn-default type="button"  Save
                    button.btn.btn-default type="button"  Share
              tr
                td
                  | Bob Rodgers
                td
                  | 360
                td
                  | In Progress
                td.text-center
                  .btn-group.reportTable aria-label="..." role="group"
                    button.btn.btn-default type="button"  View
                    button.btn.btn-default.disabled type="button"  Email
                    button.btn.btn-default.disabled type="button"  Save
                    button.btn.btn-default.disabled type="button"  Share
              tr
                td
                  | Michael Rabbit
                td
                  | Organisational
                td
                  | Complete
                td.text-center
                  .btn-group.reportTable aria-label="..." role="group"
                    button.btn.btn-default type="button"  View
                    button.btn.btn-default type="button"  Email
                    button.btn.btn-default type="button"  Save
                    button.btn.btn-default type="button"  Share
              tr
                td
                  | Robert Brown
                td
                  | 360
                td
                  | Not Started
                td.text-center
                  .btn-group.reportTable aria-label="..." role="group"
                    button.btn.btn-default.disabled type="button"  View
                    button.btn.btn-default.disabled type="button"  Email
                    button.btn.btn-default.disabled type="button"  Save
                    button.btn.btn-default.disabled type="button"  Share
              tr
                td
                  | Jane Doe
                td
                  | Organisational
                td
                  | In Progress
                td.text-center
                  .btn-group.reportTable aria-label="..." role="group"
                    button.btn.btn-default type="button"  View
                    button.btn.btn-default.disabled type="button"  Email
                    button.btn.btn-default.disabled type="button"  Save
                    button.btn.btn-default.disabled type="button"  Share
              tr
                td
                  |  
                td
                  |  
                td
                  |  
                td
                  |  
              tr
                td
                  |  
                td
                  |  
                td
                  |  
                td
                  |  
              tr
                td
                  |  
                td
                  |  
                td
                  |  
                td
                  |  
              tr
                td
                  |  
                td
                  |  
                td
                  |  
                td
                  |  
      .col-xs-12.surveyReport
        h3.text-center
          | 360 Survey Report
        .surveyReportTable style=("overflow-x:auto !important;")
          table.table.table-striped
            thead
              tr
                th
                  | Name
                th
                  | Assessment Type
                th
                  | Completion Status
                th.text-center
                  | Action
            tbody
              tr
                td
                  | John Doe
                td
                  | Psychometric
                td
                  | Complete
                td.text-center
                  .btn-group.reportTable aria-label="..." role="group"
                    button.btn.btn-default type="button"  View
                    button.btn.btn-default type="button"  Email
                    button.btn.btn-default type="button"  Save
                    button.btn.btn-default type="button"  Share
              tr
                td
                  | Bob Rodgers
                td
                  | 360
                td
                  | In Progress
                td.text-center
                  .btn-group.reportTable aria-label="..." role="group"
                    button.btn.btn-default type="button"  View
                    button.btn.btn-default.disabled type="button"  Email
                    button.btn.btn-default.disabled type="button"  Save
                    button.btn.btn-default.disabled type="button"  Share
              tr
                td
                  | Michael Rabbit
                td
                  | Organisational
                td
                  | Complete
                td.text-center
                  .btn-group.reportTable aria-label="..." role="group"
                    button.btn.btn-default type="button"  View
                    button.btn.btn-default type="button"  Email
                    button.btn.btn-default type="button"  Save
                    button.btn.btn-default type="button"  Share
              tr
                td
                  | Robert Brown
                td
                  | 360
                td
                  | Not Started
                td.text-center
                  .btn-group.reportTable aria-label="..." role="group"
                    button.btn.btn-default.disabled type="button"  View
                    button.btn.btn-default.disabled type="button"  Email
                    button.btn.btn-default.disabled type="button"  Save
                    button.btn.btn-default.disabled type="button"  Share
              tr
                td
                  | Jane Doe
                td
                  | Organisational
                td
                  | In Progress
                td.text-center
                  .btn-group.reportTable aria-label="..." role="group"
                    button.btn.btn-default type="button"  View
                    button.btn.btn-default.disabled type="button"  Email
                    button.btn.btn-default.disabled type="button"  Save
                    button.btn.btn-default.disabled type="button"  Share
              tr
                td
                  |  
                td
                  |  
                td
                  |  
                td
                  |  
              tr
                td
                  |  
                td
                  |  
                td
                  |  
                td
                  |  
              tr
                td
                  |  
                td
                  |  
                td
                  |  
                td
                  |  
              tr
                td
                  |  
                td
                  |  
                td
                  |  
                td
                  |  
      .col-xs-12.organisationalSurvey
        h3.text-center
          | Organisational Surveys
        .organisationalSurveyTable style=("overflow-x:auto !important;")
          table.table.table-striped
            thead
              tr
                th
                  | Name
                th
                  | Assessment Type
                th
                  | Completion Status
                th.text-center
                  | Action
            tbody
              tr
                td
                  | John Doe
                td
                  | Psychometric
                td
                  | Complete
                td.text-center
                  .btn-group.reportTable aria-label="..." role="group"
                    button.btn.btn-default type="button"  View
                    button.btn.btn-default type="button"  Email
                    button.btn.btn-default type="button"  Save
                    button.btn.btn-default type="button"  Share
              tr
                td
                  | Bob Rodgers
                td
                  | 360
                td
                  | In Progress
                td.text-center
                  .btn-group.reportTable aria-label="..." role="group"
                    button.btn.btn-default type="button"  View
                    button.btn.btn-default.disabled type="button"  Email
                    button.btn.btn-default.disabled type="button"  Save
                    button.btn.btn-default.disabled type="button"  Share
              tr
                td
                  | Michael Rabbit
                td
                  | Organisational
                td
                  | Complete
                td.text-center
                  .btn-group.reportTable aria-label="..." role="group"
                    button.btn.btn-default type="button"  View
                    button.btn.btn-default type="button"  Email
                    button.btn.btn-default type="button"  Save
                    button.btn.btn-default type="button"  Share
              tr
                td
                  | Robert Brown
                td
                  | 360
                td
                  | Not Started
                td.text-center
                  .btn-group.reportTable aria-label="..." role="group"
                    button.btn.btn-default.disabled type="button"  View
                    button.btn.btn-default.disabled type="button"  Email
                    button.btn.btn-default.disabled type="button"  Save
                    button.btn.btn-default.disabled type="button"  Share
              tr
                td
                  | Jane Doe
                td
                  | Organisational
                td
                  | In Progress
                td.text-center
                  .btn-group.reportTable aria-label="..." role="group"
                    button.btn.btn-default type="button"  View
                    button.btn.btn-default.disabled type="button"  Email
                    button.btn.btn-default.disabled type="button"  Save
                    button.btn.btn-default.disabled type="button"  Share
              tr
                td
                  |  
                td
                  |  
                td
                  |  
                td
                  |  
              tr
                td
                  |  
                td
                  |  
                td
                  |  
                td
                  |  
              tr
                td
                  |  
                td
                  |  
                td
                  |  
                td
                  |  
              tr
                td
                  |  
                td
                  |  
                td
                  |  
                td
                  |  
      .col-xs-12.psychometricReport
        h3.text-center
          | Psychometric Report
        .psychometricReportTable style=("overflow-x:auto !important;")
          table.table.table-striped
            thead
              tr
                th
                  | Name
                th
                  | Assessment Type
                th
                  | Completion Status
                th.text-center
                  | Action
            tbody
              tr
                td
                  | John Doe
                td
                  | Psychometric
                td
                  | Complete
                td.text-center
                  .btn-group.reportTable aria-label="..." role="group"
                    button.btn.btn-default type="button"  View
                    button.btn.btn-default type="button"  Email
                    button.btn.btn-default type="button"  Save
                    button.btn.btn-default type="button"  Share
              tr
                td
                  | Bob Rodgers
                td
                  | 360
                td
                  | In Progress
                td.text-center
                  .btn-group.reportTable aria-label="..." role="group"
                    button.btn.btn-default type="button"  View
                    button.btn.btn-default.disabled type="button"  Email
                    button.btn.btn-default.disabled type="button"  Save
                    button.btn.btn-default.disabled type="button"  Share
              tr
                td
                  | Michael Rabbit
                td
                  | Organisational
                td
                  | Complete
                td.text-center
                  .btn-group.reportTable aria-label="..." role="group"
                    button.btn.btn-default type="button"  View
                    button.btn.btn-default type="button"  Email
                    button.btn.btn-default type="button"  Save
                    button.btn.btn-default type="button"  Share
              tr
                td
                  | Robert Brown
                td
                  | 360
                td
                  | Not Started
                td.text-center
                  .btn-group.reportTable aria-label="..." role="group"
                    button.btn.btn-default.disabled type="button"  View
                    button.btn.btn-default.disabled type="button"  Email
                    button.btn.btn-default.disabled type="button"  Save
                    button.btn.btn-default.disabled type="button"  Share
              tr
                td
                  | Jane Doe
                td
                  | Organisational
                td
                  | In Progress
                td.text-center
                  .btn-group.reportTable aria-label="..." role="group"
                    button.btn.btn-default type="button"  View
                    button.btn.btn-default.disabled type="button"  Email
                    button.btn.btn-default.disabled type="button"  Save
                    button.btn.btn-default.disabled type="button"  Share
              tr
                td
                  |  
                td
                  |  
                td
                  |  
                td
                  |  
              tr
                td
                  |  
                td
                  |  
                td
                  |  
                td
                  |  
              tr
                td
                  |  
                td
                  |  
                td
                  |  
                td
                  |  
              tr
                td
                  |  
                td
                  |  
                td
                  |  
                td
                  |  
      .clearfix  