.listBox {
  .btnText {
    color: var(--grey-text);
  }
}

.overlay {
  width: 'auto' !important;
  z-index: 11111 !important;

  :global(.ant-popover-inner-content) {
    padding: 0;
  }
}

.list {
  background: white;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  width: 500px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}
