.container {
  :global(.ant-badge-multiple-words) {
    padding: 0 5px;
  }
  :global(.ant-badge-count) {
    font-size: 9px;
    height: 16px;
    line-height: 16px;
    min-width: 16px;
  }

  .bellIcon {
    padding: 15px 10px;
    text-align: center;
    line-height: 22px;
    cursor: pointer;

    &:hover {
      color: #1caf9a;
    }
  }

  .list {
    background: white;
    position: absolute !important;
    max-height: calc(100vh - 55px);
    overflow-y: auto;
    right: 10px;
    width: 500px;
  }
}
