@import '~/glint/styles/mixins.less';
@bg-color: var(--ant-primary-color-outline);

.title:global(.ant-typography) {
  position: relative;
  padding-inline-start: 14px;
  font-size: 1.5rem;
  .highlighter();
}

.viewControls {
  text-align: end;
  margin-block: auto;
}

.activeButton,
.inActiveButton {
  border-color: transparent;
  box-shadow: none;
}

.activeButton,
.activeButton:active,
.inActiveButton:active,
.activeButton:focus {
  &:global(.ant-btn) {
    background: @bg-color;
  }
}

:global(.rtl) {
  .title:before {
    right: 0px;
  }
}
