{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": ["airbnb"],
  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": ["babel", "react", "import"],
  "rules": {
    "semi": [2, "never"],
    "max-len": [2, 120, 2],
    "no-debugger": "off",
    "react/no-array-index-key": 0,
    "no-shadow": 0,
    "react/prop-types": 0,
    "space-before-function-paren": ["error", "always"],
    "no-restricted-globals": 0,
    "class-methods-use-this": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-extraneous-dependencies": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "import/no-cycle": 0,
    //require refactoring/updates  inside libs
    "import/no-unresolved": 0,
    "import/no-named-as-default": 0,
    "react/require-default-props": 0,
    "jsx-a11y/anchor-has-content": 0,
    "react/button-has-type": 0,
    "consistent-return": 0,
    "array-callback-return": 0,
    "no-param-reassign": 0,
    "no-unused-expressions": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/alt-text": 0,
    "react/forbid-prop-types": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "react/no-multi-comp": 0
  },
  "globals": {
    "__DEV__": true,
    "__PROD__": true,
    "location": true,
    "I18n": true,
    "moment": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["app/frontend"]
      },
      "babel-module": {}
    }
  }
}
