DISABLE_SPRING=true
SECRET_KEY_BASE='ask-for-key-base'
SECRET_TOKEN_FOR_GENERATE='ask-for-token'
DEVISE_SECRET_KEY='ask-for-token'
ENCRYPTED_KEY='ask-for-key'
ENCRYPTED_IV='ask-for-iv'
HASHIDS_SALT='ask-for-salt'
SHORT_URL_HOST='https://abc.com'
SENTRY_CLIENT_DNS='ask-for-dns'
URL_TO_PDF_FAAS_ENABLED='false'
REACT_PROJECT_LIST='false'

PROCTORING_ENABLED='true'
AWS_ACCESS_KEY_ID='ask-for-key-id'
AWS_SECRET_ACCESS_KEY='ask-for-key'
AWS_REGION='ask-for-region'
AWS_S3_BUCKET='ask-for-bucket-name'
# AWS_S3_BUCKET='any_bucket'
AWS_PRIVATE_BUCKET=''
PK_ID_START='10000000'
THREAD_LOADER_WORKERS=2
ec='true'
CHROMIUM_PATH='/opt/homebrew/bin/chromium'
TWO_FACTOR_AUTHENTICATION_ENABLED='false'
PRIVACY_POLICY_VERSION='2'
VITE_RUBY_HTTPS='true'
# VITE_RUBY_HTTPS='false'
MOCK_SERVER_API_PORT=3037
CSP_REPORT_ONLY='false'
SSL="true"

# These should be your local paths
SSL_CERT="support/dev-ssl/lvh.me.key"
SSL_KEY="support/dev-ssl/lvh.me.key"
# SSL_CERT=""
# SSL_KEY=""

# VITE_RUBY_HTTPS='true'
MOCK_SERVER_API_PORT=3037
CSP_REPORT_ONLY='true'
SPEED_OF_ME_API_TOKEN='ask-for-token'

# These should be set based on env you are running here its based on production on local
RAILS_SERVE_STATIC_FILES=true
REAL_ENV='production'
APP_DOMAIN='ttedev.me'
APP_PROTOCOL='https'
PORT='3030'
APP_SUB_DOMAIN='www'
SKIP_SESSION_LIMITABLE=true

# There are more env for third party integration which we should ask for from the team

# S3 Compatible Storage Configuration
S3_COMPATIBLE_STORAGE_ENDPOINT='http://localhost:9000'
S3_COMPATIBLE_STORAGE_ACCESS_KEY_ID='update-this-key-from-minio-console'
S3_COMPATIBLE_STORAGE_SECRET_ACCESS_KEY='update-this-key-from-minio-console'
S3_COMPATIBLE_STORAGE_REGION='us-east-1'
S3_COMPATIBLE_STORAGE_PUBLIC_BUCKET='s3_public_bucket'
S3_COMPATIBLE_STORAGE_PRIVATE_BUCKET='s3_private_bucket'
S3_COMPATIBLE_STORAGE_PROVIDER='minio'  # Will be overridden based on environment
