.mainrow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .questionText {
    display: flex;
    align-items: center;
    > div {
      margin: auto 0;
      min-width: 500px;
    }
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    &.horizontal {
      flex-direction: column;
    }
  }

  &.below {
    flex-direction: column-reverse;
  }

  &.left {
    flex-direction: row;
  }

  &.right {
    flex-direction: row-reverse;
    justify-content: flex-end;
    .questionText {
      min-width: 500px;
    }
  }
}

.graphic_slider {
  display: inline-block;
  background-repeat: no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
  width: 260px;
  height: 250px;
}

each(range(0,13), {
  .scale0-@{value} {
    background-position: (-5px + (@value * -260px)) -5px;
  }
})

each(range(1,13), {
  .scale1-@{value} {
    background-position: (-5px + ((@value - 1) * -260px)) -5px;
  }
})

.vertical-slider-container {
  display: flex;
  flex-direction: column;

  .lowLabel,.highLabel {
    text-align: center;
  }
  .lowLabel{
    margin-bottom: 4px;
  }
  .highLabel{
    margin-top: 4px;
  }

}
.horizontal-slider-container {
  width: 260px;
  display: flex;
  flex-direction: column;

  .lowLabel {
    text-align: left;
  }
  .highLabel {
    text-align: right;
  }
}

.slider {
  .bar {
    margin: 3px 0px;
    background: #666;
    border: 1px solid #666;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
  }
  .handler {
    line-height: 48px;
    font-size: 0.9em;
    text-align: center;
    color: white;
    background: #fff;
    border: 2px solid #1b1e24;
    -moz-border-radius: 20%;
    -webkit-border-radius: 20%;
    border-radius: 20%;
  }

  &.vertical-slider {
    width: 40px;
    flex: 1;

    .bar {
      width: 16px;
    }
    .handler {
      cursor: row-resize;
      left: -7px;
      width: 30px;
      height: 15px;
    }
  }

  &.horizontal-slider {
    height: 40px;
    flex: 1;

    .bar {
      height: 16px;
    }
    .handler {
      cursor: col-resize;
      top: -4px;
      width: 15px;
      height: 30px;
    }
  }
}
.label {
  text-align: center;
}

:global(.rtl) {
  .horizontal-slider-container .lowLabel {
    text-align: right;
  }
  .horizontal-slider-container .highLabel {
    text-align: left;
  }
}
