.contentBox
  .contentTitleHeader
    i.glyphicon.glyphicon-eye-open.titleIcon.pull-left
    p.contentTitle.pull-left = t('.header')
    = render partial: 'lang', locals: { locales: @available_translations }
    = link_to({ action: :show, format: :pdf, lang: lang_param, export: true },
      class: 'mrl pull-right', data: { behavior: 'export-pdf' })
      button class="btn btn-default ladda-button" type="button" data-style="zoom-out" data-spinner-color="#000000"
        = t('.export_pdf')
    .clearfix
  = render partial: 'show'
