.ceil {
  padding: 4px 3px;
  border-radius: 3px;
  width: 70px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  margin-right: 10px;
}
.ceilFill {
  color: var(--ant-success-color);
  border: 1px solid var(--ant-success-color);
}

.ceilEmpty {
  color: #DDD;
  border: 1px solid #DDD;
}
