div class=([@current_project&.login_box_position || 'right', 'box', 'devise', namespace_name].compact.join(' '))
  .panel.panel-default
    .panel-heading
      = render partial: 'devise/shared/header', locals: { banner: @current_project&.logo&.url }

    .panel-body
      /! Nav tabs
      ul.nav.nav-tabs
        li
          = link_to t('.tabs.sign_in'), new_user_session_path
        li.active
          = link_to t('.tabs.register'), new_user_registration_path
      /! Tab panes
      .tab-content
        .tab-pane.fade.in.active role="tabpanel"
          .message.pvl
            h1.mvm
              dbi = t('.title')
            .instruction
              bdi = t('.instruction')
          = simple_form_for(@form, as: resource_name, url: user_registration_path, wrapper: :registration_form) do |f|
            = f.error_notification message: f.object.errors[:base].to_sentence
            .col-xs-6.phn.prs.mbm
              = form_group_for f, :first_name do
                .firstname.input-group
                  span#firstname.input-group-addon
                    i.icon-user
                  = f.input_field :first_name, placeholder: 'First Name', class: 'form-control input-lg'

            .col-xs-6.phn.pls.mbm
              = form_group_for f, :last_name do
                .lastname.input-group
                  span#lastname.input-group-addon
                    i.icon-user
                  = f.input_field :last_name, placeholder: 'Last Name', class: 'form-control input-lg'

            = form_group_for f, :email do
              .username.input-group
                span#username.input-group-addon
                  i.icon-email
                = f.input_field :email, placeholder: 'Email Address', class: 'form-control input-lg'
            span.help-block.small.mbm = t('.privacy_notice')

            = form_group_for f, :registration_code do
              .registrationCode.input-group
                span#registrationCode.input-group-addon
                  i.icon-otp
                = f.input_field :registration_code, as: :string, placeholder: t('.code'), maxlength: 32, value: @form.context.code,
                  class: 'form-control input-lg'
            span.help-block = raw t('.terms_notice', terms_url: 'https://thetalententerprise.com/privacy-statement/')

            .actions.mvm
              button.btn.btn-primary.text-uppercase type="submit" value="Submit"
                = t('.submit')
                span class="fa fa-chevron-right mlm"

    .panel-footer
      = render partial: 'devise/shared/footer'

= render partial: 'devise/shared/locales'
