@import "~/styles/antv4.variable.less";
@import "~/styles/spacing.less";

.campaignHeader:global(.ant-page-header) {
  background-color: var(--ant-primary-color);
  padding-block: @space-2;
  position: relative;
  z-index: 1;

  & :global(.ant-btn):focus-visible {
    outline: 4px solid var(--ant-primary-1);
  }
}
.backIcon {
  color: @white;
}
.campaignDropdown {
  display: inline-block;
  color: @white;
  white-space: break-spaces;
  min-width: 320px;
  font-size: 1.25rem;
  &:hover {
    color: @white;
  }
}
.campaignsCount {
  font-size: @font-size-base;
  font-weight: 400;
}
.progressStatus {
  &:global(.ant-progress .ant-progress-indicator) {
    color: @white;
  }
  & :global(.ant-progress-rail) {
    background-color: var(--ant-primary-7);
  }
}
.pageContent {
  background-color: @white;
  overflow-x: hidden;
}
.assessmentContainer {
  max-width: 1200px;
  margin: auto;
  padding-inline: @space-2;
  &:global(.fr-fullscreen-wrapper), &:global(.fr-fullscreen-wrapper) :global(.ant-tabs-nav) {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  &:has(:global(.has-side-static-content)) {
    max-width: 100%;
  }
}

@media screen and (max-width: @screen-sm) {
  .campaignDropdown {
    max-width: 320px;
    min-width: unset;
    word-break: break-word;
  }
}
