tr data-sidebar=url_for(sidebar_administration_client_threesixty_campaign_path(client, resource)) id=dom_id(resource)
  td = link_to resource.name, administration_client_threesixty_campaign_path(client, resource)
  td
    = link_to resource.threesixty_campaign.assessment.decorate.name, administration_assessment_path(resource.threesixty_campaign.assessment_id)
  td
    = link_to resource.threesixty_campaign.report.decorate.name, administration_report_path(resource.threesixty_campaign.report_id)
  td.text-center = resource.created_at
  td.actions-cell
    = link_to administration_client_threesixty_campaign_path(client, resource), remote: true, class: 'btn btn-default btn-rounded btn-sm', method: 'delete', data: { confirm: 'Are you sure?', toggle: 'tooltip', title: t('.tooltips.delete')}
      span.fa.fa-times
