@import "~/styles/ant.variable.less";
@import "~/styles/spacing.less";

:global(.ant-layout-content) {
  background-color: @white;
}

:global(.ant-statistic-content) {
  color: @text-color-secondary;
}

.activitiesContent {
  margin: @space-4 auto;
  padding-inline: @space-2;
  max-width: 1200px;
}

.group {
  margin-top: @space-6;
}
