.modal-dialog.modal-lg
  .modal-content
    .modal-header
      button.close aria-hidden='true' data-dismiss='modal' type='button'  &times;
      h4.modal-title = t('administration.imports.users.existing_users_whose_password_not_changed_modal_dialog.header')
    .modal-body style="height: 400px; overflow-y: auto;"
      table.table.table-responsive
        thead
          tr
            th
              = User.human_attribute_name('first_name')
            th
              = User.human_attribute_name('last_name')
            th
              = User.human_attribute_name('email')
        tbody
          - existing_users_whose_password_not_changed.each do |user|
            tr
              td = user.first_name
              td = user.last_name
              td = user.email

    .modal-footer
      .btn-group
        a.btn.btn-default data-dismiss='modal' = t 'administration.close'