.main{
  background: #f5f5f5;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.leftMain {
  display: flex;
}

.modules {
  position: fixed;
  top: 40px;
  left: 200px;
  width: 300px;
  bottom: 0;
  border: none;
  box-shadow: none;
  z-index: 1500;
  background: #f8f8f8;
  overflow: scroll;

  .caption {
    padding: 12px 8px;
    font-weight: bold;
  }
}

.cover {
  position: fixed;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: #000000aa;

}

.leftSide {
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  top: 40px;
  bottom: 45px;
  left: 0px;
  width: 200px;
  bottom: 0;
  background: #dfdfdf;
  border: none;
  box-shadow: none;
  z-index: 999;
  background: #F2F2F2;
  border-right: 1px solid #BFBFBF;

  .page {
    display: flex;
    padding: 10px 7px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d3d3d3;
    border-top: 0;
    cursor: pointer;


    .showModules {
      padding: 0 5px;
      transition: 0.4s;
      border-radius: 2px;
      visibility: hidden;
      &:hover {
        background: #ccc;
      }
    }

    &:hover {
      background: #eee;
      i {
        color: #555;
      }
      .showModules {
        visibility: visible;
      }
    }

    &.active {
      background: #007ac0;
      color: #fff;
    }

    .visibility{
      width: 14px;
    }
    .pageName{
      word-break: break-all;
      flex: 1;
      padding: 0 10px;
    }
    .pageNumber{
      width: 10px;
    }

    i {
      transition: 0.4s;
      margin-right: 10px;
      color: #aaa;

    }
  }
}

.rightSide{
  margin-right: 200px;
  left: 200px;
  top: 40px;
  padding-bottom: 45px;
  z-index: 900;
  background-color: #f7f7f7;
  min-height: 400px;
  position: relative;
}

.reportContainer {
  z-index: 2;
  overflow-y: hidden;
  overflow-x: auto;
}
