.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.page {
  margin: 20px 0;
  border: 1px solid #ccc;
}

.scaleChanger {
  width: 160px;
}

.document {
  display: flex;
  flex-direction: column;
  align-items: center;
}

