@import '~/styles/colors.less';
@import '~/styles/spacing.less';

.userBubble {
  background-color: var(--ant-primary-1);
  border-radius: @space-4;
}

.audioBubble {
  width: 70%;
}

.completedBubble {
  padding: @space-4;
}

.completionBubble {
  padding: @space-4;
}

.card {
  width: 100%;
  background: var(--ant-primary-1);
  border-radius: 4px;
  border-color: @light-gray-border;
}


.retakeSteps {
  padding: @space-8;
  width: 100%;
  .iconContainer {
    background: var(--ant-primary-1);
    padding: 10px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
  }
  .icon {
    font-size: 25px;
    color: @light-gray-bg;
  }
}
