.sidebar {
  width: 220px;
  position: fixed;
  height: 100%;
  z-index: 3;

  &.right {
    top: 50px;
    right: 0;
    bottom: 0;
    background: #fff;
  }

  .close {
    position: absolute;
    z-index: 11;
    top: 0;
    left: -54px;
    color: #fff;
    background: #ccc;
    padding: 13px 20px;
    font-size: 2em;
    display: none;
    opacity: 1;
  }

  &.opened {
    .close {
      display: inherit;
    }
  }

  .title {
    font-size: 1.4em;
    text-transform: uppercase;
    text-align: center;
  }

  .content {
    height: 100%;
    border-top: 0;
    overflow-y: auto;
  }
}
