tr data-sidebar=url_for([:sidebar, :administration, resource]) id=dom_id(resource)
  td.text-center = resource.id
  td.text-center
    = link_to [:toggle_status, :administration, resource], method: :patch, remote: true do
      = resource.decorate.status
  td = resource.name
  td
    = link_to [:edit, :administration, resource], remote: true, class: 'btn btn-default btn-rounded btn-sm mrm'  do
      span.fa.fa-pencil
    = link_to [:copy, :administration, resource], remote: true, class: 'btn btn-default btn-rounded btn-sm mrm'  do
      span.fa.fa-copy
    = confirmation_link [:administration, resource], class: 'btn btn-default btn-rounded btn-sm mrm', method: 'delete', data: {confirm: ''} do
      span.fa.fa-times
  td = resource.decorate.created_at
  td = resource.decorate.updated_at
