Hello,

p
  |
    strong: = @code is your One-Time Password. It is valid for 10 minutes for logging on to your The Talent Enterprise account.
 
p 
  |
    If you did not attempt the login that triggered this One Time Password please contact your administrator immediately.

p 
  |
    Your The Talent Enterprise account with the added protection of 2FA provides an additional layer of security to you.

Yours Sincerely,
The Talent Enterprise
