p Dear #{@user.decorate.display_name},

p
  | Please enter the below mentioned One time password (OTP) to log in to your Lighthouse account with The Talent Enterprise:
div
  span style="font-weight: bold;" = @code
  br
  This OTP is valid for 20 minutes.

p You are receiving this email because you tried to log in to your Lighthouse account with The Talent Enterprise. Please do not disclose the above OTP to anyone.

p If you did not try to login, please login and update your password.
