p Dear #{@user.decorate.display_name},

br

div
  span style="font-weight: bold;" = @code
  |
    &nbsp; is your One-Time Password.
    It is valid for 20 minutes for logging on to your The Talent Enterprise account.
 
p If you did not attempt the login that triggered this One Time Password please contact your administrator immediately.

p Your The Talent Enterprise account with the added protection of 2FA provides an additional layer of security to you.

br

div Yours Sincerely,
div The Talent Enterprise
