@import 'styles/ant.variable.less';
@import 'styles/spacing.less';

.disable {
  pointer-events: none;
  color: @text-color-secondary;
}
.avatar {
  margin-inline-end: @space-2;
}
.sendIcon {
  font-size: 20px;
}
