
@import '~/styles/ant.variable.less';
@import '~/styles/spacing.less';
@import '../../mixins.less';

.container {
  .responsiveContainer(400px, 280px, 300px);
}

.description {
  color: @text-color-secondary;
}

.resendBtn {
  text-align: start;
  padding-inline-start: 0px;
}

.submit {
  margin-top: @space-9;
}

.logoutBtn {
  margin-top: @space-2;
}
