.sidebar {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 500;
  border-inline-end: 1px solid var(--ant-primary-color-outline);
  background-color: white;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #eaeaea transparent;
  scrollbar-gutter: stable;

  & :global(.ant-menu-item-selected) {
    color: var(--ant-primary-7);
  }
}

.hide {
  animation: 0.5s hide;
  z-index: 100;
  transform: translateX(0);
}

.menu:global(.ant-menu-inline-collapsed) {
  width: auto;
  & :global(.ant-menu-item){
    margin-block: 0;
  }
}

.show {
  animation: 0.5s show;
  z-index: 500;
}

@keyframes hide {
  0% {
    transform: translateX(0%);
    z-index: 500;
  }
  100% {
    transform: translateX(-100%);
    z-index: 300;
  }
}


@keyframes show {
  0% {
    transform: translateX(-100%);
    z-index: 300;
  }
  100% {
    transform: translateX(0);
    z-index: 500;
  }
}
