@import '~/modules/survey/styles/variables.less';

.container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 24px 0;
  border: 1px solid @light-gray;
}
.header {
  margin: 0 24px 24px 24px;
}
.emailForm {
  margin: 0 24px;
  & label {
    font-weight: normal;
  }
}
.selectLabel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.copy {
  margin-left: 16px;
  cursor: pointer;
}
.contactSelect {
  margin-bottom: 16px;
}
.subject {
  margin-bottom: 16px;
}
.message {
  resize: none;
}
.select {
  input {
    padding: 0;
  }
  width: 100%;
  & :global(.ant-select-arrow) {
    color: #757575;
  }
}
