.menu {
  width: 100%;
  border-bottom: 1px solid #444;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 1ch;
  align-items: start;
}

.linkExport {
  color: #000 !important;
  &:hover {
    color: #000;
    text-decoration: none;
  }
}

.title {
  margin: 0;
}
.spaceLeft {
  margin-left: 10px;
}

