th.evenGroup {
  background-color: #dbe7e7 !important;
}

th.oddGroup {
  background-color: #e9f7f6 !important;
}

.columnBorderEnd{
  border-inline-end: 1px solid #d9d9d9 !important;
}

.columnBorderStart{
  border-inline-start: 1px solid #d9d9d9 !important;

}

.icon{
  color: var(--success-color);;
}
