.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        h3.panel-title = t '.title', name: @assessment.decorate.display_name
      .panel-body
        .alert.alert-success 
          strong Well done! 
          |  You successfully assign
          =< @assessment.decorate.display_name
