.table{
  width: 100%;
  height: 100%;
  font-size: 16px;
  padding: 8px;
}

.divider {
  clear: both;
  width: 100%;
  border-top-color: #CCC;
  border-bottom: 1px solid #ffffff;
  border-left: none;
  border-right: none;
  margin: 6px 0;
}

.columnOptions {
  cursor: pointer;
  pointer-events: auto;
  position: absolute;
  top: -26px;
  right: 0px;
}

.inputLabel {
  display: block !important;
  font-weight: normal;
  color: #000;
  font-size: 12px;
}

.label {
  margin: 0;
  font-size: 11px;
  color: #737373;
}
