@import 'styles/ant.variable.less';
@import 'styles/spacing.less';

.insightsHeader:global(.ant-page-header) {
  background-color: var(--ant-primary-color);
  padding-block: @space-4;
}
.backIcon {
  color: @white;
}
.headerTitle:global(.ant-typography) {
  margin-bottom: 0px;
  display: inline-block;
  color: @white;
  &:hover{
    color: @white;
  }
}
