#report_preview.html_preview

javascript [nonce=content_security_policy_nonce]:
  window.__INITIAL_STATE__ = {
    idp: {
      template: JSON.parse('#{escape_javascript((@data[:template] || {}).to_json).html_safe}'),
      userIdp:  JSON.parse('#{escape_javascript((@data[:user_idp] || {}).to_json).html_safe}'),
    }
  }

= vite_javascript_tag 'entrypoints/idp_pdf_report.jsx'
= stylesheet_link_tag 'icomoon'
