@headerHeight: 48px;
@footerHeight: 48px;
@pageHeaderHeight: 56px;
@previewContainerMinHeight: calc((var(--vh, 1vh) * 100) - @headerHeight - @footerHeight - @pageHeaderHeight);
.previewContainer {
  display: flex;
  flex-flow: row-wrap;
  min-height: @previewContainerMinHeight;
  position: relative;
}

.loading {
  width: 100%;
}
