@headerHeight: 52px;
@footerHeight: 68px;
@pageHeaderHeight: 56px;
@navTabHeight: 46px;
@previewContainerMinHeight: calc(100vh - @headerHeight - @footerHeight - @pageHeaderHeight - @navTabHeight);
.previewConainer {
  display: flex;
  flex-flow: row-wrap;
  min-height: @previewContainerMinHeight;
}
