.select {
  width: 200px;
}

.sidebar {
  min-width: 300px;
  width: 50%;
  overflow-y: scroll;
  z-index: 1;
  box-shadow: -3px 0px 5px #bbbbbb87;
}

.card {
  background-color: #eeeaf3;
  margin: 0 12px;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
}

.count {
  padding: 10px 12px;
}

.cardContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;


  .img {
    border-radius: 6px;
  }
}

.mainReport {
  padding: 12px;
  height: 76vh;
}


.reportOuter {
  transform-box: view-box;
  text-align: start;
  margin-top: 12px;
}

.reportInner {
  display: inline-block;
  transform-origin: left top;
}
