@import '~/styles/antv4.variable.less';
@import '~/styles/spacing.less';

.box {
  width: 800px;

  margin: @space-8;
  border-radius: @space-8;
  padding: @space-8;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.button {
  margin-top: @space-2;
  margin-bottom: @space-4;
}

.contentContainer {
  max-width: 60rem;
}
