.card {
  position: relative;
  padding: 1rem;
  padding-bottom: 0;
  cursor: pointer;

  &:last-child {
    border-bottom: none;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -16px;
    right: -16px;
    bottom: 0;
    background-color: transparent;
    transition: background-color 0.3s ease;
    z-index: 0;
    pointer-events: none;
  }

  &.highlight:before {
    background-color: #fffbcc;
  }

  > * {
    position: relative;
    z-index: 1;
  }
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -16px;
    right: -16px;
    bottom: 0;
    background-color: #dbdbdb8b;
    z-index: 0;
    cursor: not-allowed;
  }
}

.card_content {
  border: 1px solid #DBDBDB;
  max-height: 60vh;
  overflow-y: auto;
  position: relative;

  & :global(.ant-checkbox-label) {
    width: 100%;
  }

  & :global(.ant-checkbox) {
    align-self: baseline;
  }
}
.card_selected {
  background-color: var(--ant-primary-1);
}
/* RTL styles */
[dir="rtl"] .card {
  padding: 12px 0 12px 12px;
}

.m_none{
  margin: 0;
}

.p_none{
  padding: 0;
}

.image{
  border-radius: 4px;
  max-width: 10rem;
  min-height: 5rem;
  align-self: flex-end;
  block-size: auto;
  aspect-ratio: 2/1;
  object-fit: cover;
  height: 100%;
}
