= simple_form_for(resource, as: :resource, url: { action: resource.new_record? ? :create : :update }, html: { multipart: true }) do |f|
  = f.input :type, as: :hidden
  = f.input :parent_id, as: :hidden
  .modal-body
    = render_error_notification(resource)
    .form-inputs.clearfix
      = f.input :name
      - root_clients = policy_scope(Client).roots
      - if current_user.is?(:superadmin)
        = f.association :owner,
                        collection: root_clients.order(:name),
                        include_blank: t('admin.platform_owner'),
                        input_html: { data: { live_search: true } }
      - elsif current_user.is?(:client_admin) && root_clients.count > 1
        = f.association :owner,
                        collection: root_clients.order(:name),
                        input_html: { data: { live_search: true } }
      = f.input :description
      - unless f.object.folder?
        = f.input :files, as: :file, input_html: { multiple: true }

  .modal-footer
    .btn-group
      = f.button :submit, resource.new_record? ? t('administration.create') : t('administration.update'), class: 'submit btn-info'
      a.btn.btn-default data-dismiss='modal' = t 'administration.close'

javascript [nonce=content_security_policy_nonce]:
  $(function(){
    $('#new_resource, #edit_resource').on('submit', function(event) {
      var $submit = $(this).find('.submit')
      $submit.parent().prepend('<i class="fa fa-refresh fa-spin loading" style="padding: 8px;"></i>')
      $submit.attr('disabled', 'disabled')
      event.stopPropagation(); // Stop stuff happening
      event.preventDefault(); // Totally stop stuff happening

      var form = $(this);
      var formdata = false;
      if (window.FormData){
          formdata = new FormData(form[0]);
      }

      var formAction = form.attr('action');
      $.ajax({
        url         : formAction,
        data        : formdata ? formdata : form.serialize(),
        dataType    : 'script',
        cache       : false,
        contentType : false,
        processData : false,
        type        : 'POST',
        success     : function(data, textStatus, jqXHR){
        },
        error: function(data, textStatus, jqXHR){
          $submit.parent().find('.loading').remove()
          $submit.removeAttr('disabled')
        },
      });
    });
  });
