.table-responsive
  .row
    .col-md-8
      ui.breadcrumb.library
        li You here:
        li = link_to t('.root'), { action: :index, filterrific: @filterrific.to_hash.merge({ 'with_parent' => 0 })}, remote: true
        - if @parent
          - @parent.self_and_ancestors.each do |library|
            - if @parent.id == library.id
              li = library.decorate.display_name
            - else
              li = link_to library.decorate.display_name, { action: :index, filterrific: @filterrific.to_hash.merge({ 'with_parent' => library.id }) }, remote: true
    .col-md-4
      .pull-right
        .btn-group
          - if policy(@resource_class).create?
            = link_to({ action: :new, type: :folder, parent_id: @parent.try(:id) }, remote: true, class: 'btn btn-default')
              span.fa.fa-folder-o
              = t('.new_folder')
            = link_to({ action: :new, type: :other, parent_id: @parent.try(:id) }, remote: true, class: 'btn btn-default')
              span.fa.fa-upload
              = t('.upload')
  table.table.table-bordered.table-actions.table-hover.selectable.list id="#{@resource_class.model_name.plural}_list"
    thead
      tr
        th.text-center width="100" = sorting @resource_class, :type, @filterrific
        th = sorting @resource_class, :name, @filterrific
        th = @resource_class.human_attribute_name(:description)
        th = sorting @resource_class, :created_at, @filterrific
        th = t('administration.libraries.index.owner')
        th width='300' = t('administration.actions')
    tbody
      - if @resources.present?
        = render partial: 'resource', collection: @resources
      - else
        tr.no_records
          td align='center' colspan='9' = t('administration.no_data_found')
  = paginate @resources, theme: 'twitter-bootstrap-3'
