tr id=dom_id(resource)
  td.text-center
    - if resource.image?
      = image_tag resource.file.thumb.url, alt: resource.name
    - else
      i class="icon #{resource.decorate.icon}" style="font-size: 30px;"
  td
    - if resource.folder?
      = link_to resource.name, { action: :index, folder_id: resource.id }, method: :get
    - else
      = resource.name
  td = resource.description
  td = resource.decorate.created_at
  td.actions-cell
    - if policy(resource).edit?
      = link_to({ action: :edit, id: resource }, remote: true, class: 'btn btn-default btn-rounded btn-sm mrm', data: { toggle: 'tooltip', title: t('.tooltips.edit') })
        i.fa.fa-pencil
    - if policy(resource).destroy?
      = link_to({ action: :destroy, id: resource }, remote: true, class: 'btn btn-default btn-rounded btn-sm mrm', method: :delete, data: { confirm: resource.decorate.delete_confirmation, toggle: 'tooltip', title: t('.tooltips.delete') })
        span.fa.fa-times
