.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        h3.panel-title = t('.title')
        .pull-left
          ui.breadcrumb.library
            li = link_to t('.root'), { action: :index, filterrific: @filterrific.to_hash.merge({ 'with_parent' => 0 })}, remote: true
            - if @parent
              - @parent.self_and_ancestors.each do |library|
                - if @parent.id == library.id
                  li = library.decorate.display_name
                - else
                  li = link_to library.decorate.display_name, { action: :index, filterrific: @filterrific.to_hash.merge({ 'with_parent' => library.id }) }, remote: true
        .pull-right
          .btn-group
            - if policy(@resource_class).create?
              = link_to({ action: :new, type: :folder, parent_id: @parent.try(:id) }, remote: true, class: 'btn btn-default')
                span.fa.fa-folder-o
                = t('.new_folder')
              = link_to({ action: :new, type: :other, parent_id: @parent.try(:id) }, remote: true, class: 'btn btn-default')
                span.fa.fa-upload
                = t('.upload')
        = form_for_filterrific @filterrific, as: :filterrific, html: { class: 'list-filter', id: 'filter' } do |f|
          = f.hidden_field :sorted_by
          = f.hidden_field :with_parent
          .form-group.has-feedback.has-clear.pull-right
            .input-group
              = f.text_field(:search_query, placeholder: t('administration.search'), class: 'periodically-observed form-control')
            span.glyphicon.glyphicon-remove-sign.form-control-feedback.form-control-clear
      .panel-body
        #filterrific_results
          = render partial: 'list'
