tr data-sidebar=url_for(sidebar_administration_client_campaign_path(client, resource)) id=dom_id(resource)
  td
    - if resource.parent.campaign_level?
      = link_to resource.name, administration_client_users_path(resource)
    - else
      = link_to resource.name, administration_client_project_campaign_sub_campaigns_path(client, resource.parent_id, resource)
  td
    = resource.decorate.reports
    - if policy(:clients_report).create?
      .add-icon-box
        = link_to new_administration_client_reports_regenerate_path(client_id: resource.id), remote: true, data: { toggle: 'tooltip', title: t('.tooltips.create_report') }
          span.fa.fa-plus
  td = resource.assigned_memberships.size
  td = resource.completed_memberships.size
  td.text-center = resource.decorate.created_at
  td = resource.decorate.creator_name
  td.text-center = resource.decorate.updated_at
  td = resource.decorate.modifier_name
  td.actions-cell
    - if policy(resource).actions? && policy(:client).manage_campaign?
      = link_to edit_administration_client_campaign_path(client, resource), remote: true, class: 'btn btn-default btn-rounded btn-sm', data: { toggle: 'tooltip', title: t('.tooltips.edit') }
        span.fa.fa-pencil
      = link_to copy_administration_client_campaign_path(client, resource), remote: true, class: 'btn btn-default btn-rounded btn-sm', data: { toggle: 'tooltip', title: t('.tooltips.copy') }
        span.fa.fa-copy
      = link_to administration_client_campaign_path(client, resource), remote: true, class: 'btn btn-default btn-rounded btn-sm', method: 'delete', data: { confirm: resource.decorate.delete_confirmation, toggle: 'tooltip', title: t('.tooltips.delete')}
        span.fa.fa-times
