table.table.table-striped
  thead
    tr
      th
        = t('.name')
      th
        = t('.assessment_name')
      th
        = t('.assessment_type')
      th
        = t('.status')
      th
        = t('.completion_date')
      th.text-center
        = t('.action')
  tbody
    - if @resources.present?
      = render partial: 'resource', collection: @resources
    - else
      tr.no_records
        td align='center' colspan='7' = t('administration.no_data_found')