tr
  td
    = resource.user.decorate.display_name
  td
    = resource.assessment.decorate.category
  td
    = resource.decorate.status
  td
    = resource.decorate.completed_at
  td.text-center
    .btn-group.reportTable aria-label="..." role="group"
      button.btn.btn-default type="button"
        = t('.view')
      = mail_to(resource.user.email, t('.email'), class: 'btn btn-default')
      button.btn.btn-default.disabled type="button"
        = t('.save')