.row
  .col-xs-12
    #assessmentDashboard.assign-container
      .contentTitleHeader
        i.glyphicon.glyphicon-dashboard.titleIcon.pull-left
        p.contentTitle
          = t('.title')
      = search_form_for @filter_form,
              builder: SimpleForm::FormBuilder,
              url: {action: :index},
              remote: true,
              id: 'search_assigns' do |f|
        = f.input :assessment_category_eq, as: :hidden
      .col-xs-12.col-sm-6.col-md-3
        .reportOne
          h4.text-center
            = t('.all_reports')
          = image_tag 'pieChartGraphic', class: 'center-block img-responsive'
      .col-xs-12.col-sm-6.col-md-3
        .reportTwo
          h4.text-center
            = t('.360_survey_reports')
          = image_tag 'barChartGraphic', class: 'center-block img-responsive'
      .clearfix.visible-sm  
      .col-xs-12.col-sm-6.col-md-3
        .reportThree
          h4.text-center
            = t('.organisational_surveys')
          = image_tag 'pieChartGraphic', class: 'center-block img-responsive'
      .col-xs-12.col-sm-6.col-md-3
        .reportFour
          h4.text-center
            = t('.psychometric_reports')
          = image_tag 'barChartGraphic', class: 'center-block img-responsive'
      .col-xs-12.completionReport
        h3.text-center#report_title
          = t('.all_reports')
        #filter_results
          = render partial: 'list'
      .clearfix

javascript:
  $(function() {
    function changeReportTitle(title) {
      $('#report_title').text(title)
    }

    $('.reportOne').click(function() {
      $('#q_assessment_category_eq').val('')
      changeReportTitle($(this).find('h4').text())
      $('#search_assigns').submit()
    })

    $('.reportTwo').click(function() {
      $('#q_assessment_category_eq').val("#{Assessment.categories['360']}")
      changeReportTitle($(this).find('h4').text())
      $('#search_assigns').submit()
    })

    $('.reportThree').click(function() {
      $('#q_assessment_category_eq').val("#{Assessment.categories['organisational']}")
      changeReportTitle($(this).find('h4').text())
      $('#search_assigns').submit()
    })

    $('.reportFour').click(function() {
      $('#q_assessment_category_eq').val("#{Assessment.categories['psychometric']}")
      changeReportTitle($(this).find('h4').text())
      $('#search_assigns').submit()
    })
  })