@import 'modules/user/styles/variables';

:global {
  .rtl {
    direction: rtl;

    input[type='radio'] {
      direction: ltr;
    }
  }
  .ant-modal-mask,
  .ant-modal-wrap,
  .ant-select-dropdown {
    z-index: 2147483647;
  }

  // Min height
  .min-h {
    &-full {
      min-height: 100%;
    }
    &-screen {
      min-height: 100vh;
    }
  }

  // Text align
  .ta-xs-c,
  .ta-c {
    text-align: center;
  }

  .ta-xs-s,
  .ta-s {
    text-align: start;
  }

  .ta-xs-e,
  .ta-e {
    text-align: end;
  }

  @each $size, $min in $breakpoints {
    @media (min-width: $min) {
      .ta-#{$size}-c {
        text-align: center;
      }
      .ta-#{$size}-s {
        text-align: start;
      }
      .ta-#{$size}-e {
        text-align: end;
      }
    }
  }

  @each $scale, $value in $spacing-scale {
    // Margin start
    .ms#{$scale} {
      margin-inline-start: $value;
    }

    // Margin end
    .me#{$scale} {
      margin-inline-end: $value;
    }

    // Margin top
    .mt#{$scale} {
      margin-block-start: $value;
    }

    // Margin bottom
    .mb#{$scale} {
      margin-block-end: $value;
    }

    // Padding start
    .ps#{$scale} {
      padding-inline-start: $value;
    }

    // Padding end
    .pe#{$scale} {
      padding-inline-end: $value;
    }

    // Padding top
    .pt#{$scale} {
      padding-block-start: $value;
    }

    // Padding bottom
    .pb#{$scale} {
      padding-block-end: $value;
    }
  }
}
