@import 'modules/user/styles/variables';

:global {
  .rtl {
    direction: rtl;

    input[type=radio] {
      direction: ltr;
    }
  }
  .ant-modal-mask, .ant-modal-wrap, .ant-select-dropdown {
    z-index: 2147483647;
  }

  .ta-xs-c {
    text-align: center;
  }
  .ta-xs-s {
    text-align: start;
  }
  .ta-xs-e {
    text-align: end;
  }

  $breakpoints: ("sm": $screen-sm, "md": $screen-md, "lg": $screen-lg, "xl": $screen-xl, "xxl": $screen-xxl);
  @each $size, $min in $breakpoints {
    @media(min-width: $min) {
      .ta-#{$size}-c {
        text-align: center;
      }
      .ta-#{$size}-s {
        text-align: start;
      }
      .ta-#{$size}-e {
        text-align: end;
      }
    }
  }
}
