.name {
  width: 162px;
  text-overflow: ellipsis;
  display: inline-block;
  overflow-x: hidden;
  text-align: left
}

.menu {
  width: 18px;
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
}

.tabs {
  height: 100%;
}
