@import 'styles/spacing.less';
@import 'styles/ant.variable.less';
.topRow {
  padding-block: @space-4;
}
.textRow {
  padding-top: @space-2;
  font-size: 16px;
}
.timestamp {
  font-size: 12px;
}
.actionMenu {
  display: flex;
  align-items: center;
}
.triggerIcon {
  font-size: 18px;
  color: @text-color;
}
.btnContainer {
  display: inline-flex;
  padding-top: @space-1;
}
