@import '~/modules/survey/styles/theme.less';

.grid {
  display: grid;
  grid-gap: 1em;
  --image-size: 22rem;
  &.xxsmallSize {
    --image-size: 12rem;
  }
  &.xsmallSize {
    --image-size: 16rem;
  }
  &.mediumSize {
    --image-size: 28rem;
  }
  &.largeSize {
    --image-size: 32rem;
  }
  grid-template-columns: repeat(
    auto-fit,
    minmax(calc(var(--image-size) - 2rem), 1fr)
  );
  .card {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: @normal-color;
    cursor: pointer;
    &.checked {
      border-color: var(--ant-primary-color);
    }
    & > img {
      width: 100%;
      object-fit: contain;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      height: var(--image-size);
    }
    & > .notApplicable {
      width: 100%;
      height: var(--image-size);
      font-size: 5em;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .checkmarkButton {
      position: absolute;
      inset-block-start: 0;
      inset-inline-start: 0;
      margin: 1rem;
    }
  }
}

.previewButton {
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
  margin: 1rem;
  background-color: var(--ant-primary-1);
}

.checkmarkButton :global(.anticon) {
  display: inline-block;
}

.modalWrap {
  background-color: rgba(0, 0, 0, 0.2);
  :global {
    .ant-modal-body {
      padding: 0;
    }
  }
}

.imageInputContainer {
  position: relative;
}

.imageInputContainer .input[type='radio'],
.imageInputContainer .input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  &:after, &:checked:after {
    background-color: transparent;
  }
}

.input:focus-visible,
.input[type="checkbox"]:focus,
.input[type="radio"]:focus {
  outline: none;
  border: none;
}

.input:focus-visible + .card {
  outline: 4px solid var(--ant-primary-3);
}
