.well.mtx
  h3 = t('.design')
  // File input
  .row.mhn
    .col-sm-5.pln
      = f.input :icon
      - if f.object.icon.attached?
        = image_tag(f.object.icon_url(:icon))
        br
        = f.input :purge_icon, as: :boolean
      = f.input :poster
      - if f.object.poster.attached?
        = image_tag(f.object.poster_url(:icon))
        br
        = f.input :purge_poster, as: :boolean
    .col-sm-2 = t('.or')
    .col-sm-5.prn
      .form-group
        = f.label :icon_color, class: 'control-label'
        .input-group.colorfield
          = f.input_field :icon_color, class: 'form-control'
          span.input-group-addon
            i
