.fe-page-container {
  margin: auto;
}
.fe-module-container {
  border: none;
}
.fe-module-frame-container {
  border: none;
}
.fe-ass-page-container-pass_assessment {
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  background: none !important;
  padding: 0 !important;
  width: 81% !important;
}