.btn-courseGrade, .btn-courseProgress {
  color: #fff;
  text-decoration: none;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

label {
  text-transform: inherit;
  width: 100%;
}

label > input {
  display: inline-block;
}

.alert {
  margin: 0;
}

.assign-container {
  .btn-view {
    padding: 6px 17px;
  }
}

.btn-next-lg {
  width: 40%;
}

.removeProduct {
  font-size: 43px
}
