.btn-courseGrade, .btn-courseProgress {
  color: #fff;
  text-decoration: none;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}
label {
  text-transform: inherit;
}
label > input {
  display: inherit;
}
