.table {
  display: flex;
  flex-direction: column;
}


.firstColumn {
  min-width: 25%;
  max-width: 25%;
  flex: 1;
}

.labelItem, .scalePointItem{
  flex: 1;
}

.item {
  padding: 4px;
}

.row{
  display: flex;
  justify-content: space-between;
  align-items: center;

  .item{
    padding: 6px 0;
  }

  span{
    text-align: center;
  }
}

.dropdown{
  padding: 5px 0;

  .firstColumn{
    border-color: transparent;
  }
}

.inputs {
  flex: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.inputGroup {
  flex: 1;
  text-align: center;
  font-weight: normal;
  min-width: 18px;
  padding: 4px;
}

.input {
}

.controls{
  display: flex;
  flex: 1;
  justify-content: flex-end;
  .select{
    width: 50%;
  }
}
