.highlighter(@height: 100%, @positionLeft: 0px) {
  &:before {
    content: '';
    position: absolute;
    background-color: var(--ant-primary-color);
    width: 3px;
    height: @height;
    left: @positionLeft;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
