.highlighter(@height: 100%, @positionLeft: 0px, @positionTop: 50%) {
  &:before {
    content: '';
    position: absolute;
    background-color: var(--ant-primary-color);
    width: 3px;
    height: @height;
    left: @positionLeft;
    top: @positionTop;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(if(@height=100%, -50%, -@height));
  }
}
