@import '~/styles/antv4.variable.less';

.footer {
  display: flex;
  justify-content: end;
  margin-top: 24px
}

.title {
  margin-top: 24px;
  margin-bottom: 24px !important;
}

.fieldContainer {
  border-inline-start: 1px solid @border-color-split;
  padding-inline: 16px;
}

.skillGapBox {
  padding: 24px;
  margin-top: 16px;
}
