.modified {
    color: goldenrod;
}

.parent {
    display:flex;
    width:100%;

}

.tree {
    flex: 1;
    margin-right: 24px;
    padding-right: 24px;
    border-right: 1px solid rgba(5, 5, 5, 0.06);
}

.factorNode {
    max-width: 100%;

    span {
        max-width: 100%;
        overflow-wrap: anywhere;
    }
}

.form {
    flex: 2;
}

.titleContainer {
    display: flex;

    &>button {
        margin-left: auto;
    }
}
