.container {
  margin: 0 24px 24px 24px;

  .body {
    white-space: break-spaces;
    word-break: break-word;
  }

  table.contacts {
    td {
      border: none;
      vertical-align: middle;
      word-break: break-word;
      &.contactLabel {
        padding-inline-end: 12px;
        color: var(--grey-text);
        font-size: 12px;
        word-break: keep-all;
      }
    }
  }
}
