#resource_list.table-responsive
  table.table.table-bordered.table-actions.table-hover.mbn
    thead
      tr
        th.text-center width="50" = sorting @resource_class, :id, @filterrific
        th.text-center width="100" = sorting @resource_class, :active, @filterrific
        th = sorting @resource_class, :first_name, @filterrific
        th = sorting @resource_class, :last_name, @filterrific
        th = sorting @resource_class, :email, @filterrific
        th = sorting @resource_class, :client_name, @filterrific
        th = sorting @resource_class, :role, @filterrific
        th width='300' = t('administration.actions')
    tbody
      = render partial: 'resource', collection: @resources
  = paginate @resources, theme: 'twitter-bootstrap-3'
