.table-responsive
  table.table.table-bordered.table-actions.table-hover.selectable.list id="#{@resource_class.model_name.plural}_list"
    thead
      tr
        th.text-center width="50" = sorting @resource_class, :id, @filter
        th.text-center width="100" = sorting @resource_class, :active, @filter
        th = sorting @resource_class, :first_name, @filter
        th = sorting @resource_class, :last_name, @filter
        th = sorting @resource_class, :email, @filter
        th = sorting @resource_class, :client_name, @filter
        th = sorting @resource_class, :role, @filter
        th = sorting @resource_class, :created_at, @filter
        th width='300' = t('administration.actions')
    tbody
      - if @resources.present?
        = render partial: 'resource', collection: @resources
      - else
        tr.no_records
          td align='center' colspan='9' = t('administration.no_data_found')
  = paginate @resources, theme: 'twitter-bootstrap-3'
