ul.x-navigation.x-navigation-panel id="sidebar_#{dom_id(@resource)}"
  li.xn-title.title = t('.title', id: @resource.id)
  - if policy(@resource).edit?
    li = link_to @resource.decorate.toggle_status_text, [:toggle_status, :administration, @resource], remote: true, method: :patch
  - if policy(@resource).edit?
    li = link_to t('.edit_user'), [:edit, :administration, @resource]
  - if policy(@resource_class).new?
    li = link_to t('.new_user'), [:new, :administration, @resource_class.model_name.singular], remote: true
  - if policy(@resource_class).new?
    li = link_to t('.import_users'), [:new, :administration, :import, { resource: @resource_class.model_name.singular, type: :csv }], remote: true
  - if policy(@resource_class).export?
    li = link_to t('.export_users'), [:export, :administration, @resource_class.model_name.plural, { format: :csv }], target: :_blank
  li.xn-title = t('.email')
  li.xn-title = t('.view_report')
  - if policy(@resource).spoof?
    li = link_to t('.login_as_user'), [:spoof, :administration, @resource], target: :_blank
  - if policy(@resource).reset_password?
    li = link_to t('.reset_password'), [:reset_password, :administration, @resource]
