tr id=dom_id(user)
  td.text-center = user.id
  td.text-center = user_status user.active?
  td = user.first_name
  td = user.last_name
  td = user.email
  td Not implemented
  td = User.human_enum_name(:role, user.role)
  td
    button.btn.btn-default.btn-rounded.btn-sm
      span.fa.fa-pencil
    button.btn.btn-danger.btn-rounded.btn-sm onclick="delete_row('trow_1');"
      span.fa.fa-times
