.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        h3.panel-title = t('.title')

      = simple_form_for(@resource, as: :resource, url: { action: @resource.new_record? ? :create : :update }) do |f|
        .panel-body
          = f.error_notification
          = f.input :email
          = f.input :first_name
          = f.input :last_name
          = f.input :role, as: :select, collection: @current_administrator.decorate.can_manage_options, class: 'form-control', include_blank: false

        .panel-footer
          .btn-group.pull-left
            = link_to t('administration.back'), :back, class: 'btn btn-info'
          .btn-group.pull-right
            = f.button :submit, t('administration.update'), class: 'btn-info'
            = link_to t('administration.clear'), url_for, class: 'btn btn-default'
