.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        h3.panel-title = t('.title')
      .panel-body
        .row
          .col-sm-10
            #filter_results
              = render partial: 'list'
          .col-sm-2
            h3 
              i.fa.fa-filter
              | Filter
            = search_form_for(@filter_form, 
                              url: { action: :index }, 
                              html: { id: 'filter' },
                              builder: SimpleForm::FormBuilder) do |f|

              = f.input :role_in, 
                        collection: ::User::USER_ROLES.map { |role, value| [t("activerecord.attributes.user.roles.#{role}"), value] }, 
                        input_html: { multiple: true },
                        required: false,
                        label: 'Roles'
              = f.input :memberships_client_id_in, 
                        collection: policy_scope(Client).all,
                        input_html: { data: { live_search: true }, multiple: true },
                        required: false,
                        label: 'Clients'
              = f.input :first_name_or_last_name_or_email_cont, 
                        label: 'Search', 
                        as: :string, 
                        required: false, 
                        placeholder: t('administration.search'), 
                        input_html: { class: 'has_clear periodically-observed' }
              = link_to "Clear Filter", request.path, class: "btn btn-default"
