.container {
  text-align: center;

  .icon {
    background-image: url("./no_assessments.png");
    height: 51px;
    width: 51px;
    display: inline-block;
  }

  .desc {
    display: inline-block;
    color: #9A9A9A;
    font-size: 14px;
    margin-top: 12px;
  }
}
