= simple_form_for(@resource, as: :resource, url: { action: @resource.new_record? ? :create : :update }, remote: true) do |f|
  .modal-body
    = f.error_notification

    .form-inputs.clearfix
      = f.input :name
      /= f.input :dimension_id, as: :select, collection: Dimension.order(id: :asc).all.collect {|p| [ p.name, p.id ] }, class: 'form-control select mll', include_blank: t('administration.choose')
      /= f.input :parent_id, as: :select, collection: Factor.roots.order(id: :asc).all.collect {|p| [ p.name, p.id ] }, class: 'form-control select mll', include_blank: t('administration.choose')

  .modal-footer
    .btn-group
      = f.button :submit, @resource.new_record? ? t('administration.create') : t('administration.update'), class: 'btn-info'
      a.btn.btn-default data-dismiss='modal' = t 'administration.close'
