= simple_form_for(resource, as: :resource, html: {multipart: true}, url: { action: resource.new_record? ? :create : :update }, remote: true) do |f|
  .modal-body
    = f.error_notification

    = react_component("FactorFormApp",
            { scoring_strategies: Factor.scoring_strategies.map { |key, value| { key: key, value: t(".scoring_strategies.#{key}") } }, factor: FactorSerializer.new(resource), errors: resource.errors.messages, factors: resource.dimension&.factors.map { |factor| { key: factor.id, value: factor.name } } },
            camelize_props: true)

  .modal-footer
    .btn-group
      = f.button :submit, resource.new_record? ? t('administration.create') : t('administration.update'), class: 'btn-info'
      a.btn.btn-default data-dismiss='modal' = t 'administration.close'
