tr data-sidebar=url_for([:sidebar, :administration, @dimension, resource]) id=dom_id(resource)
  td.text-center = resource.id
  td.text-center
    = link_to [:toggle_status, :administration, @dimension, resource], method: :patch, remote: true do
      = resource.decorate.status
  td = link_to resource.name, [:administration, @dimension, resource, :sub_factors]
  td.text-center = resource.subfactors_count
  td
    = link_to [:edit, :administration, @dimension, resource], remote: true, class: 'btn btn-default btn-rounded btn-sm mrm', data: { toggle: 'tooltip', title: t('.tooltips.edit') }
      span.fa.fa-pencil
    = link_to [:copy, :administration, @dimension, resource], remote: true, class: 'btn btn-default btn-rounded btn-sm mrm', data: { toggle: 'tooltip', title: t('.tooltips.copy') }
      span.fa.fa-copy
    = link_to [:administration, @dimension, resource], class: 'btn btn-default btn-rounded btn-sm mrm', method: 'delete', data: { confirm: resource.decorate.delete_confirmation, toggle: 'tooltip', title: t('.tooltips.delete')}
      span.fa.fa-times
  td.text-center = resource.decorate.created_at
  td.text-center = resource.decorate.updated_at
