.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        h3.panel-title = t '.title'
        ul.panel-controls
          li
            = link_to [:new, :administration, :dimension, @resource_class.model_name.singular], remote: true do
              span.fa.fa-plus
      .panel-body
        = form_for_filterrific @filterrific, html: { class: 'form-inline', id: 'filter' } do |f|
          .row.mbm
            .col-sm-6.phn

            .col-md-3.col-md-offset-3.col-sm-4.col-sm-offset-2.phn
              .input-group.pull-right
                = f.text_field(:search_query, placeholder: t('administration.search'), class: 'periodically-observed form-control')
                span.input-group-addon
                  .fa.fa-search
            .clearfix
        #filterrific_results
          = render partial: 'list'