.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        h3.panel-title = "#{@dimension.name}: #{t('.title')}"
        .pull-right
          - if policy(resource_class).create?
            = link_to [:new, :administration, :dimension, resource_class.model_name.singular], remote: true, class: 'btn btn-default'
              span.fa.fa-plus
              = t('.new')
        = search_form_for(@filter_form,
                url: {action: :index},
                html: {id: 'filter', class: 'list-filter'},
                builder: SimpleForm::FormBuilder) do |f|
          = f.input :name_cont,
                  label: false,
                  as: :string,
                  required: false,
                  placeholder: t('administration.search'),
                  input_html: {class: 'has_clear periodically-observed'}
      .panel-body
        #filter_results
          = render partial: 'list'
