.recorderContainer {
  width: 320px;
  border: 1px solid #EAE5E5;
  border-radius: 6px;
  text-align: center;
}

.recorderContainer {
  padding: 16px 14px 22px;

  .saveBtn, .deleteBtn {
    vertical-align: middle;
  }

  .saveBtn {
    margin-left: 12px;
  }

  .deleteBtn {
    margin-right: 12px;
  }

  .savedTextContainer {
    color: #009C37;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
  }

  .savedText {
    margin-left: 3px;
  }

  .recordingTime {
    margin-bottom: 10px;
    font-weight: bold;
  }

}

.recorderContainer.RECORDED {
  width: 500px;

  .controls {
    margin-top: 30px;
  }

  padding-left: 30px;
  padding-right: 30px;
}

