
.footer {
  margin-top: 20px;
  width: 100%;
  text-align: right;
}

.steps {
  padding: 24px 0;
}

.dateTags {
  margin-top:12px;
}

.mainForm {
  padding: 20px;
  max-width: 1300px;
}

.form :global(.ant-form-item) label {
  font-weight: normal;
}

.success {
  text-align: center;
  padding: 80px;
  .icon {
    font-size: 60px;
    color: #53c31b;
  }
  .message {
    font-size: 1.5em;
    font-weight: bold;
    padding: 24px 0;
  }
}
