@import '~/modules/survey/styles/variables.less';
@import '~/styles/variables.less';

.container {
  width: 100%;
  min-height: 50vh;
  padding: 10px;
  margin: 12px 0;
  margin-left: 12px;
  position: relative;
}

:global {
  .rtl {
    :local(.container) {
      margin-left: 0;
      margin-right: 12px;
    }
  }
}
