.main {
  min-height: 350px;
  padding: 15px;
  overflow: hidden;
}


.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .name {
    max-width: 120px;
    font-size: 0.9em;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .icons {
    opacity: 0;
    transition: 0.3s;
  }

  &:hover {
    .icons {
      opacity: 1;
    }
  }
}

.divider {
  margin: 8px -15px;
  border-color: #ccc;
}
