.editor {
  width: 100%;
}

.id {
  font-size: 0.7em;
}

.nameField {
  display: flex;
  flex-direction: column;

  .name {
    display: inline-block;
    max-width: 100%;
    font-size: 0.9em;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.divider {
  margin: 5px -15px;
  border-color: #ccc;
}

.label {
  font-weight: 600;
}

.fontSize {
  display: flex;

  .input {
    flex: 1;
  }

  .select {
    width: 55px;
  }
}

.colorRow {
  display: flex;
  align-items: center;
  span {
    margin-left: 5px
  }
}

.alignedBlock {
   width: 23px;
   height: 22px;
   background-image: url('~/modules/reports/static/widgets_icons.png');
   background-repeat: no-repeat;
   background-position-y: -264px;
   margin-right: 2px;
   cursor: pointer;
}

.alignedBlock.active {
  background-position-y: -286px;
  cursor: default;
}

.containersBox { display: flex; justify-content: space-between; }
.horizontalContainer {
  display: flex;
  .left { background-position-x: 0; }
  .center { background-position-x: -23px; }
  .right { background-position-x: -46px; }
  .justify { background-position-x: -138px; }
}
.verticalContainer {
  display: flex;
  .flex-start { background-position-x: -69px; }
  .center { background-position-x: -92px; }
  .flex-end { background-position-x: -115px; }
}
