javascript:
  #{("__INITIAL_STATE__['errors'] = " + resource.errors.messages.to_json).html_safe}

div class=([@current_project&.login_box_position || 'right', 'box', 'devise', namespace_name].compact.join(' '))
  .panel.panel-default
    .panel-heading
      = render partial: 'devise/shared/header', locals: { banner: @current_project&.logo&.url }

    .panel-body
      /! Tab panes
      .tab-content
        .tab-pane.fade.in.active role="tabpanel"
          .message.pvl
            h1.mvm
              dbi = t('.renew_your_password')
          .clearfix
            == flash_messages

          = simple_form_for(resource, as: resource_name, url: [resource_name, :password_expired], html: { method: :put }) do |f|
            = f.error_notification
            = form_group_for f, :current_password do
              .password.input-group.mbm
                span#password.input-group-addon
                  i.icon-lock
                = f.input_field :current_password, placeholder: t('.current_password'), class: 'form-control input-lg'
            = form_group_for f, :password do
              .password.input-group.mbm
                span#password.input-group-addon
                  i.icon-lock
                = f.input_field :password, placeholder: t('.new_password'), class: 'form-control input-lg'
            = form_group_for f, :password_confirmation do
              .password.input-group.mbm
                span#password.input-group-addon
                  i.icon-lock
                = f.input_field :password_confirmation, placeholder: t('.new_password_confirmation'), class: 'form-control input-lg'
            .actions.pvm
              button.btn.btn-primary type="submit"
                = t('.change_my_password')
                span class="fa fa-chevron-right mlm"
        .clearfix  
