.container {
  padding: 4px 10px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  margin-right: 8px;
}
.fill {
  background-color: var(--ant-success-color);
  border: 1px solid var(--ant-success-color);
  color: #fff;
}

.empty {
  background-color: #777;
  color: #fff;
  border: 1px solid #777;
}
