tr id=dom_id(resource)
  td = resource.encode_id
  td = @membership.decorate.display_name
  td = resource.assessment.try(:name)
  td = resource.assessment.try(:decorate).try(:category)
  td = resource.decorate.status
  td = resource.decorate.completed_at
  td.text-center
    - reports = filter_reports_by_type(@reports.try(:[], resource.assessment_id) || [], resource.norm_type)
    - if policy(resource.assessment).view_report?
      - if resource.completed?
        - if reports.any?
          - reports.each do |report|
            = link_to [:preview, :administration, @client, :user, :report, user_id: @membership.user_id, id: report.id], class: 'btn btn-default btn-rounded btn-sm', data: {toggle: 'tooltip', title: report.name}
              span.fa.fa-pie-chart
        - else
          = t('.no_reports')
      - else
        = t('.no_completed')
    - else
      = t('.no_access_to_reports')
  td.actions-cell
    - if policy(resource).destroy?
      = link_to({ action: :destroy, id: resource }, remote: true, class: 'btn btn-default btn-rounded btn-sm', method: :delete, data: { confirm: resource.decorate.delete_confirmation, toggle: 'tooltip', title: t('.tooltips.delete') })
        span.fa.fa-times    
