.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        h3.panel-title = "#{@membership.decorate.display_name}: #{t('.title')}"
        .pull-right
          .btn-group
            - if policy(:assign).create?
              = link_to({ action: :new }, remote: true, class: 'btn btn-default')
                span.fa.fa-plus
                = t('.add')        
      .panel-body
        .row
          .col-sm-10
            #filter_results
              = render partial: 'list'
          .col-sm-2
            h3
              i.fa.fa-filter
              | Filter
            = search_form_for(@filter_form,
                    url: { action: :index },
                    html: { id: 'filter' },
                    builder: SimpleForm::FormBuilder) do |f|
              = f.input :assessment_category_in,
                      collection: ::Assessment::CATEGORIES.map { |role, value| [t("activerecord.attributes.user.roles.#{role}"), value] },
                      input_html: { multiple: true },
                      required: false,
                      label: t('activerecord.attributes.assessment.category')
              = link_to t('clear_filter'), request.path, class: 'btn btn-default'
