.rate-skills-table {
    & th {
        background-color: transparent !important;
        border-bottom-color: var(--light-grey-border) !important;
        border-right: none;
    }
    & td {
        border-bottom-color: var(--light-grey-border) !important;
    }
}

.rate-skills-icon {
    border-radius: 50%;
    background-color: var(--ant-primary-1);
    margin-right: 0.5rem;
}
