@import '~/styles/antv4.variable.less';
@import '~/styles/spacing.less';
@import '../../mixins.less';

.container {
  .responsiveContainer(400px, 280px, 300px);
}

.description {
  color: @text-color-secondary;
}
.submit {
  margin: @space-9 0;
}

.hint {
  color: @text-color-secondary;
  font-size: 12px;
  margin-top: 1rem
}

.alerts {
  margin: @space-4 0;
}

.resendBtn {
  text-align: start;
  padding-inline-start: 0px;
}

.otpVerificationContainer {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.otpForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.mobileNumberSection {
  display: flex;
  align-items: center;
}
