@import 'styles/ant.variable.less';
@import 'styles/spacing.less';

.container {
  flex: 1;
}

.description {
  color: @text-color-secondary;
}
.submit {
  margin: @space-9 0;
}

.hint {
  color: @text-color-secondary;
  font-size: 12px;
}

.alerts {
  margin: @space-4 0;
}
