# environment variables for docker container
RAILS_LOG_TO_STDOUT=true
GITHUB_TOKEN=
DATABASE_URL=postgresql://postgres@host.docker.internal:5432/psychometrics_development
SECRET_KEY_BASE=
ASSET_HOST=
NODE_OPTIONS=--max_old_space_size=8192
AWS_ACCESS_KEY_ID=dummy_key
AWS_SECRET_ACCESS_KEY=dummy_secret
AWS_REGION=eu-west-1
AWS_S3_BUCKET=dummy_bucket
S3_COMPATIBLE_STORAGE_ACCESS_KEY_ID=minioadmin
S3_COMPATIBLE_STORAGE_SECRET_ACCESS_KEY=minioadmin
S3_COMPATIBLE_STORAGE_REGION=dummy
S3_COMPATIBLE_STORAGE_PUBLIC_BUCKET=dummy
S3_COMPATIBLE_STORAGE_PRIVATE_BUCKET=dummy
S3_COMPATIBLE_STORAGE_PROVIDER=minio
S3_COMPATIBLE_STORAGE_ENDPOINT=http://minio:9000
ENCRYPTED_KEY=
HOGAN_ENCRYPTED_KEY=
VITE_RUBY_HOST=host.docker.internal
VITE_RUBY_PORT=3036
RAILS_SERVE_STATIC_FILES=true
TWO_FACTOR_AUTHENTICATION_ENABLED=false
DISABLE_SAML_FOR_ADMINS=true
APP_DOMAIN=ttedev.me
RECAPTCHA_SITE_KEY=localhost
RECAPTCHA_SECRET_KEY=dummykey
DISABLE_RECAPTCHA=true
HASHIDS_SALT=abcd1234
REDIS_URL=redis://host.docker.internal:6379/1
REAL_ENV=production
PORT=3000

