:root {
  --success-color: #52c41a;
  --grey-color: #e8e8e8;
}

a {
  color: var(--ant-primary-color);
}

.text-success {
  color: var(--success-color) !important;
}

.align-middle {
  display: flex;
  align-items: center;
}

.ant-form-item-label {
  line-height: 25px;
}

.horizontalLabels {
  .ant-form-item {
    flex-direction: row-reverse !important;
    align-items: flex-end;
    margin-bottom: 0px;
  }
}

#consent-banner {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2147483647;
}
