/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
html {
  --ant-primary-color: #00B4AA;
  --ant-primary-color-hover: #1fc2b4;
  --ant-primary-color-active: #008f8c;
  --ant-primary-color-outline: rgba(0, 180, 170, 0.2);
  --ant-primary-1: #dcf5ef;
  --ant-primary-2: #95e8d9;
  --ant-primary-3: #69dbca;
  --ant-primary-4: #42cfbe;
  --ant-primary-5: #1fc2b4;
  --ant-primary-6: #00B4AA;
  --ant-primary-7: #008f8c;
  --ant-primary-color-deprecated-pure: ;
  --ant-primary-color-deprecated-l-35: #67fff7;
  --ant-primary-color-deprecated-l-20: #1bfff2;
  --ant-primary-color-deprecated-t-20: #33c3bb;
  --ant-primary-color-deprecated-t-50: #80dad5;
  --ant-primary-color-deprecated-f-12: rgba(0, 180, 170, 0.12);
  --ant-primary-color-active-deprecated-f-30: rgba(220, 245, 239, 0.3);
  --ant-primary-color-active-deprecated-d-02: #d4f3eb;
  --ant-success-color: #52c41a;
  --ant-success-color-hover: #73d13d;
  --ant-success-color-active: #389e0d;
  --ant-success-color-outline: rgba(82, 196, 26, 0.2);
  --ant-success-color-deprecated-bg: #f6ffed;
  --ant-success-color-deprecated-border: #b7eb8f;
  --ant-error-color: #ff4d4f;
  --ant-error-color-hover: #ff7875;
  --ant-error-color-active: #d9363e;
  --ant-error-color-outline: rgba(255, 77, 79, 0.2);
  --ant-error-color-deprecated-bg: #fff2f0;
  --ant-error-color-deprecated-border: #ffccc7;
  --ant-warning-color: #faad14;
  --ant-warning-color-hover: #ffc53d;
  --ant-warning-color-active: #d48806;
  --ant-warning-color-outline: rgba(250, 173, 20, 0.2);
  --ant-warning-color-deprecated-bg: #fffbe6;
  --ant-warning-color-deprecated-border: #ffe58f;
  --ant-info-color: #00B4AA;
  --ant-info-color-deprecated-bg: #dcf5ef;
  --ant-info-color-deprecated-border: #69dbca;
}
