@import './variables.less';

// Heights
.h {
  &-100 {
    height: 100%;
  }
  &-auto {
    height: auto;
  }
}

// Min heights
.min-h {
  &-full {
    min-height: 100%;
  }
  &-screen {
    min-height: 100vh;
  }
}

// Widths
.w {
  &-100 {
    width: 100%;
  }
  &-40 {
    width: 40%;
  }
  &-30 {
    width: 30%;
  }
  &-auto {
    width: auto;
  }
}

.fs {
  &-12 {
    font-size: 0.75rem;
  }
  &-14 {
    font-size: 0.875rem;
  }

  &-14emp {
    font-size: 0.875em;
  }

  &-16 {
    font-size: 1rem !important;
  }
  &-20 {
    font-size: 1.25rem !important;
  }
  &-24 {
    font-size: 1.5rem;
  }
  &-32 {
    font-size: 2rem !important;
  }
}

// Text align
.ta-xs-c,
.ta-c {
  text-align: center;
}

.ta-xs-s,
.ta-s {
  text-align: start;
}

.ta-xs-e,
.ta-e {
  text-align: end;
}

// Vertical align for inline or table cells
.va {
  &-t {
    vertical-align: top;
  }
  &-m {
    vertical-align: middle;
  }
  &-b {
    vertical-align: bottom;
  }
}

each(@breakpoints, {
  @media (min-width: @value) {
    .ta-@{key}-c {
      text-align: center;
    }
    .ta-@{key}-s {
      text-align: start;
    }
    .ta-@{key}-e {
      text-align: end;
    }
  }
})

each(@spacing-scale, {
  // Margin start
  .ms@{key} {
    margin-inline-start: @value;
  }

  // Margin end
  .me@{key} {
    margin-inline-end: @value !important;
  }

  // Margin top
  .mt@{key} {
    margin-block-start: @value !important;
  }

  // Margin bottom
  .mb@{key} {
    margin-bottom: @value !important;
  }

  // Padding start
  .ps@{key} {
    padding-inline-start: @value;
  }

  // Padding end
  .pe@{key} {
    padding-inline-end: @value !important;
  }

  // Padding top
  .pt@{key} {
    padding-block-start: @value !important;
  }

  // Padding bottom
  .pb@{key} {
    padding-block-end: @value !important;
  }

  .p@{key} {
    padding: @value;
  }

  .m@{key} {
    margin: @value;
  }
})

.block {
  display: block;
}
.flex {
  display: flex;
}

// Flex Justify Content
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}
.justify-self-end {
  justify-self: end;
}

.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.items-baseline {
  align-items: baseline;
}
.items-stretch {
  align-items: stretch;
}

.self-start {
  align-self: flex-start;
}
.self-end {
  align-self: flex-end;
}
.self-center {
  align-self: center;
}
.self-baseline {
  align-self: baseline;
}
.self-stretch {
  align-self: stretch;
}

.flex-column {
  flex-direction: column;
}

// Cursor
.cursor-default {
  cursor: default;
}
.cursor-not-allowed {
  cursor: not-allowed;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-grab {
  cursor: grab;
}

// Direction
.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr;
}
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}
.hidden {
  display: none;
}

.font-normal {
  font-weight: normal;
}

.font-bold {
  font-weight: bold;
}

.font-semi-bold {
  font-weight: 600;
}

.clear-float {
  clear: both;
}

// positions
.pos {
  &-rel {
    position: relative;
  }
  &-abs {
    position: absolute;
  }
  &-uns {
    position: unset;
  }
}

.text-nowrap {
  white-space: nowrap;
}

.color-primary {
  color: var(--ant-primary-color) !important;
}

.grey-text {
  color: var(--grey-text);
}

.grey-border {
  color: var(--grey-border);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.border-none {
  border: none;
}


.border-b-1{
  border-bottom: 1px solid var(--light-grey-border);
}

.border-r-1 {
  border-right: 1px solid var(--light-grey-border);
}

.transform-capitalize {
  text-transform: capitalize;
}

.vertical-align-bottom {
  vertical-align: bottom;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.white-space-normal {
  white-space: normal;
}

.top-unset {
  top: unset;
}

