@import './variables.scss';

:global {
  // Heights
  .h {
    &-100 {
      height: 100%;
    }
    &-auto {
      height: auto;
    }
  }

  // Min heights
  .min-h {
    &-full {
      min-height: 100%;
    }
    &-screen {
      min-height: 100vh;
    }
  }

  // Widths
  .w {
    &-100 {
      width: 100%;
    }
    &-auto {
      width: auto;
    }
  }

  // Text align
  .ta-xs-c,
  .ta-c {
    text-align: center;
  }

  .ta-xs-s,
  .ta-s {
    text-align: start;
  }

  .ta-xs-e,
  .ta-e {
    text-align: end;
  }

  // Vertical align for inline or table cells
  .va {
    &-t {
      vertical-align: top;
    }
    &-m {
      vertical-align: middle;
    }
    &-b {
      vertical-align: bottom;
    }
  }

  @each $size, $min in $breakpoints {
    @media (min-width: $min) {
      .ta-#{$size}-c {
        text-align: center;
      }
      .ta-#{$size}-s {
        text-align: start;
      }
      .ta-#{$size}-e {
        text-align: end;
      }
    }
  }

  @each $scale, $value in $spacing-scale {
    // Margin start
    .ms#{$scale} {
      margin-inline-start: $value;
    }

    // Margin end
    .me#{$scale} {
      margin-inline-end: $value;
    }

    // Margin top
    .mt#{$scale} {
      margin-block-start: $value;
    }

    // Margin bottom
    .mb#{$scale} {
      margin-block-end: $value;
    }

    // Padding start
    .ps#{$scale} {
      padding-inline-start: $value;
    }

    // Padding end
    .pe#{$scale} {
      padding-inline-end: $value;
    }

    // Padding top
    .pt#{$scale} {
      padding-block-start: $value;
    }

    // Padding bottom
    .pb#{$scale} {
      padding-block-end: $value;
    }
  }

  // Display as Flexbox
  .flex {
    display: flex;
  }

  // Flex Justify Content
  .justify-start {
    justify-content: flex-start;
  }
  .justify-end {
    justify-content: flex-end;
  }
  .justify-center {
    justify-content: center;
  }
  .justify-between {
    justify-content: space-between;
  }
  .justify-around {
    justify-content: space-around;
  }
  .justify-evenly {
    justify-content: space-evenly;
  }

  // Cursor
  .cursor-default {
    cursor: default;
  }
  .cursor-not-allowed {
    cursor: not-allowed;
  }
  .cursor-pointer {
    cursor: pointer;
  }

  // Direction
  .rtl {
    direction: rtl;
  }
  .ltr {
    direction: ltr;
  }
}
