.container {
  border: 1px solid #bfbfbf;
  padding: 3px;
  margin: 3px 0;
  .nameContainer {
    display: flex;

    .name {
      flex: 1;
    }
  }
  .limitContainer {
    display: flex;
    margin: 5px 0;
    input {
      width: 50%;
    }
  }
  .icons {
    display: flex;
    justify-content: space-between;
    .remove {
      margin-left: 10px;
      cursor: pointer;
      display: flex;
      align-items: center;
    }
  }
}
