@import "~/styles/antv4.variable.less";
@import "~/styles/spacing.less";

.campaignHeader {
  &:global(.ant-page-header) {
    background-color: var(--ant-primary-color);
    padding-block: @space-2;
  }
  & :global(.ant-page-header-heading-left), & :global(.ant-page-header-heading-title) {
    overflow: visible;
  }
  & :global(.ant-btn):focus-visible {
    outline: 4px solid var(--ant-primary-1);
    outline-offset: 1px;
  }
}
.backIcon {
  color: @white;
}
.campaignDropdown {
  display: inline-block;
  color: @white;
  &:hover {
    color: @white !important;
  }
}
.campaignsCount {
  font-size: @font-size-base;
  font-weight: 400;
}
.campaignItem {
  padding-block: 10px;
}
.dropdownMenu {
  padding: 0px;
}
.dropdownIcon {
  margin-inline-start: @space-2;
  font-size: 1rem;
}

@media screen and (max-width: @screen-sm) {
  .campaignHeader {
    & :global(.ant-page-header-heading-title) {
      white-space: initial;
    }
  }
}
