@import "~/styles/spacing.less";
@import "~/glint/styles/mixins.less";

.titleRow {
  margin-top: @space-8;
  padding-inline-start: @space-6;
  position: relative;
  .highlighter(60%, @positionTop: 1rem);
}
.addBtn {
  margin-bottom: @space-4;
  margin-inline-start: @space-6;
}
.titleText {
  font-weight: 400 !important;
}
.btnRow {
  margin-bottom: @space-2;
}

:global(.rtl) {
  .titleRow:before {
    left: initial;
    right: 0;
  }
}
