.row
  .col-xs-12.col-sm-6.col-sm-offset-3.col-md-6.col-md-offset-3.col-lg-6.col-lg-offset-3
    .formTabs
      h1 = t('.title')
    .content
      p.instructionalText = t('.description')
      = simple_form_for(resource, as: resource_name, url: user_password_path, html: { method: :put }) do |f|
        .loginFormContent
          == flash_messages
          = f.error_notification
          = f.input :reset_password_token, as: :hidden
          = f.full_error :reset_password_token
          .passwordFormGroup
            = f.label :password
            .input-group
              = f.input_field :password, autofocus: true, class: 'form-control input-lg', hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
            = f.error :password
          .passwordFormGroup
            = f.label :password_confirmation
            .input-group
              = f.input_field :password_confirmation, class: 'form-control input-lg'
            = f.error :password_confirmation
          span.clear &nbsp;
          .resetPasswordButton
            .input-group.pull-left
              button.btn.btn-primary.signIn type="submit" = t('.submit')
          .clearfix
