.qrcode {
  display: flex;
  justify-content: center;
  min-height: 240px;
}

.btns {
  display: flex;
  width: 30%;
  justify-content: space-between;
  margin: 0 auto;
}

.input {
  width: 70%;
  margin: 30px auto;
}
.checkbox {
  margin: 16px 0;
}
