.admin-email-logo {
  margin-bottom: 20px;
}

.email-content {
  p, li {
   color: $dark-gray;
  }
  a {
    color: $link-color;
  }
}

.email-content.otp p{
  font-weight: bold;
  color: unset;
}

.email-copyright img {
  width: 15px;
  vertical-align: text-top;
  display: inline-block;
}

.email-copyright th {
  font-size: 12px;
  color: #A9A9A9;
  font-weight: normal;
  text-align: start;

  &[dir="rtl"] {
    direction: rtl;
  }
}

.footer-instruction p{
  color: #A9A9A9;
  font-size: 12px;
}

.footer th{
  border-top: 1px solid #E0E0E0;
  padding-top: 10px;
}

.row-padding {
  padding: 10px 10px 0 10px;
}

.powered-by-tte p{
  font-size: 12px;
  color: #898989;

  &[dir="rtl"] {
    direction: rtl;
  }
}

[dir="rtl"] {
  direction: rtl !important;
  text-align: start !important;

  p, div, span, h1, h2, h3, h4, h5, h6 {
    direction: rtl !important;
    text-align: start !important;
  }

  ul, ol {
    direction: rtl !important;
    text-align: start !important;
    padding-inline-start: 1em;
    padding-inline-end: 0;
  }

  table {
    direction: rtl;

    th, td {
      text-align: start;
    }
  }

  a {
    direction: rtl !important;
    text-align: start !important;
  }
}
