@import 'styles/ant.variable.less';

html, body {
  font-size: 16px;
}
.spinLoader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: @disabled-bg;
}
