@import 'styles/ant.variable.less';

.spinLoader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: @disabled-bg;
}
.toggleLink {
  position: fixed;
  z-index: 2;
  top: 14px;
  right: 200px;
}
