@import '~/styles/spacing.less';

.btn {
  height: auto;
  font-size: 16px;
  position: relative;
  display: flex;
  justify-content: center;
  padding-right: @space-6;
  &.submit {
    margin: @space-9 0;
  }

  &:active > span + :global(.anticon) {
    position: absolute;
  }
  &:focus > span + :global(.anticon) {
    position: absolute;
  }

  .icon {
    position: absolute !important;
    align-self: center;
    font-size: 12px;
    right: 8px;
    &:active, &:focus {
      position: absolute;
    }
  }
}

a.btn {
  padding: @space-1 !important;
}
