{
  "swagger": "2.0",
  "info": {
    "title": "Psychometric API",
    "description": "It used for external systems",
    "termsOfService": "http://xxx.psy.io/terms/",
    "version": "1.0.0"
  },
  "host": "lvh.me:3030",
  "schemes": [
    "http",
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/v1/projects/{project_id}/users/{user_id}/assessments": {
      "get": {
        "tags": [
          "Assessments"
        ],
        "summary": "Get the list of assessments",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "...",
            "schema": {
              "type": "object",
              "properties": {
              }
            },
            "headers": {
            },
            "examples": {
              "application/json": [
                {
                  "id": 1,
                  "name": "assessment 1",
                  "status": "in_progress"
                }
              ]
            }
          }
        },
        "deprecated": false,
        "security": [

        ]
      }
    },
    "/api/v1/projects/{project_id}/users": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Adds a new user to the project",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "user": {
                  "type": "object",
                  "properties": {
                    "first_name": {
                      "type": "string",
                      "example": "Max",
                      "description": "First Name of new user"
                    },
                    "last_name": {
                      "type": "string",
                      "example": "Holloway",
                      "description": "Last Name of new user"
                    },
                    "email": {
                      "type": "string",
                      "example": "max@example.com",
                      "description": "Email of new user"
                    },
                    "password": {
                      "type": "string",
                      "example": "password",
                      "description": "Password for new user"
                    },
                    "accepted_terms": {
                      "type": "boolean",
                      "example": true,
                      "description": "Accepted terms"
                    },
                    "campaign_ids": {
                      "type": "array",
                      "example": [
                        1,
                        2
                      ],
                      "description": "Array of campaign ids",
                      "items": {
                        "type": "integer"
                      }
                    }
                  },
                  "required": [
                    "email"
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Getting a list of orders",
            "schema": {
              "type": "object",
              "properties": {
              }
            },
            "headers": {
            },
            "examples": {
              "application/json": {
                "id": null,
                "first_name": "Max",
                "last_name": "Holloway",
                "email": "max@example.com",
                "created_at": null,
                "updated_at": null,
                "campaign_ids": [
                  2,
                  3
                ]
              }
            }
          }
        },
        "deprecated": false,
        "security": [

        ]
      }
    },
    "/api/v1/projects/{project_id}/users/{user_id}": {
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Updates user details",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "user": {
                  "type": "object",
                  "properties": {
                    "first_name": {
                      "type": "string",
                      "example": "Brian",
                      "description": "First Name"
                    },
                    "last_name": {
                      "type": "string",
                      "example": "Ortega",
                      "description": "Last Name"
                    },
                    "email": {
                      "type": "string",
                      "example": "ortega@example.com",
                      "description": "Email"
                    },
                    "password": {
                      "type": "string",
                      "example": "password",
                      "description": "Password"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Update the user",
            "schema": {
              "type": "object",
              "properties": {
              }
            },
            "headers": {
            },
            "examples": {
              "application/json": {
                "id": null,
                "first_name": "Brian",
                "last_name": "Ortega",
                "email": "ortega@example.com",
                "created_at": null,
                "updated_at": null,
                "campaign_ids": [
                  2,
                  3
                ]
              }
            }
          }
        },
        "deprecated": false,
        "security": [

        ]
      }
    },
    "/api/v1/projects/{project_id}/users/{user_id}/sso": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Creates a new authenticated login URL",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "...",
            "schema": {
              "type": "object",
              "properties": {
              }
            },
            "headers": {
            },
            "examples": {
              "application/json": {
                "expires_at": "2019-01-05T01:32:55.607+03:00",
                "url": "my.url.com"
              }
            }
          }
        },
        "deprecated": false,
        "security": [

        ]
      }
    }
  },
  "tags": [
    {
      "name": "Assessments",
      "description": "Assessments within particular user and project"
    },
    {
      "name": "Users",
      "description": "Users within particular project"
    }
  ]
}