@import "~/styles/spacing.less";

.main {
  padding: 80px;
}

.chart {
  height: 200px ;
  flex: 1;
  background: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  margin-left: 32px;

  &:first-child {
    margin-left: 0;
  }
}
.pageContent {
  overflow-x: hidden;
  max-width: 1200px;
  margin: auto;
  padding: @space-4;
}
