@import "~/styles/spacing.less";

.main {
  padding: 80px;
}

.pageContent {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: @space-4;
  flex: 1 1 auto;
  margin-bottom: 2rem;
  overflow-y: hidden;
  height: 100%;

   & :global(.ant-tabs-content){
    height: 100%;

    & :global(.ant-tabs-tabpane){
      height: 100%;
    }
  }
}
