@import "~/styles/spacing.less";

.main {
  padding: 80px;
}

.pageContent {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: @space-4;
  flex: 1 1 auto;
  overflow-y: hidden;
  height: 100%;

   & :global(.ant-tabs-body){
    height: 100%;

    & :global(.ant-tabs-content){
      height: 100%;
    }
  }

  & > :global(.ant-spin-nested-loading){
    height: 100%;
    overflow-y: hidden;
  }

  @media (max-width:768px) {
    & :global(.ant-tabs-nav-operations) {
        display: none !important;
    }

    & > :global(.ant-spin-nested-loading){
      height: 100%;
      overflow-y: auto;

      & > :global(.ant-spin-container) {
        overflow-x: hidden;
        padding-inline-start: 0.5rem;
        padding-inline-end: 0.5rem;
      }
    }
  }
}

