#reports_form
  = simple_form_for(resource, as: :resource, url: { action: resource.new_record? ? :create : :update }, remote: true) do |f|
    .modal-body
      = f.error_notification
      .form-inputs.clearfix
        = f.input :name
        - if current_user.is?(:superadmin)
          = f.association :owner, collection: policy_scope(Client).enabled.roots, include_blank: t('administration.tte'), input_html: { data: { live_search: true } }
        = f.input :type, include_blank: false
        = f.association :assessments,
                        collection: assessments_options_for_select(policy_scope(Assessment), resource),
                        include_hidden: false,
                        input_html: { multiple: true,
                                      data: { live_search: true,
                                              max_options: Report::MAX_ASSESSMENT_COUNT,
                                              max_options_text: I18n.t('activerecord.errors.models.report.max_assessment_count', max: Report::MAX_ASSESSMENT_COUNT),
                                              dynamic_selectable_url: url_for(action: :hogan_reports, assessment_ids: '__id__'),
                                              dynamic_selectable_target: '#resource_hogan_report_setting_attributes_hogan_report_id' } }
        - if (resource.assigns_reports.any? || resource.clients_reports.any?) && resource.errors[:assessments].blank?
          span.help-block.text-danger.margin-top-minus-10
            = I18n.t('activerecord.errors.models.report.has_already_assigned')
        = f.simple_fields_for :hogan_report_setting do |hogan|
          = hogan.input :hogan_report_id,
                        as: :select,
                        collection: [],
                        input_html: { multiple: false },
                        wrapper_html: { class: 'resource_hogan hidden' },
                        disabled: true
        = f.input :default_language,
                  collection: I18n.available_locales.map { |locale| [t("languages.#{locale}"), locale] },
                  include_blank: false
        = render partial: 'administration/administrator/shared/simple_design', locals: { f: f }
    .modal-footer
      .btn-group
        = f.button :submit, resource.new_record? ? t('administration.create') : t('administration.update'), class: 'btn-info'
        a.btn.btn-default data-dismiss='modal' = t 'administration.close'
