#reports_form
  = simple_form_for(resource, as: :resource, url: { action: resource.new_record? ? :create : :update }, remote: true) do |f|
    .modal-body
      = f.error_notification
      .form-inputs.clearfix
        = f.input :name
        = f.association :report_families, collection: policy_scope(ReportFamily).all, include_blank: false, input_html: { title: t('.select_family'), data: { live_search: true } }
        - if current_user.is?(:superadmin)
          = f.association :owner, collection: policy_scope(Client).enabled.roots, include_blank: t('administration.tte'), input_html: { data: { live_search: true } }
        = f.input :type, include_blank: false
        = f.association :assessment, collection: policy_scope(Assessment).options_for_select, input_html: { data: { live_search: true } }
        = f.input :mindmill, wrapper_html: { class: 'hidden' }, disabled: true
    .modal-footer
      .btn-group
        = f.button :submit, resource.new_record? ? t('administration.create') : t('administration.update'), class: 'btn-info'
        a.btn.btn-default data-dismiss='modal' = t 'administration.close'
