#report_preview[class="#{params[:export] ? '' : 'html_preview' }" data-data="#{ReportSerializer.new(resource, piped_text_context: {}).to_json(include: '**')}"
  data-user-report-data='{}']

= vite_javascript_tag 'entrypoints/report/preview.jsx'
