tr data-sidebar=url_for({ action: :sidebar, id: resource }) id=dom_id(resource)
  td.text-center
    = link_to({ action: :toggle_status, id: resource }, remote: true, method: :patch, data: { confirm: resource.decorate.toggle_status_confirmation })
      = resource.decorate.status
  td = link_to resource.name, administration_report_path(resource)
  td = resource.assessment.decorate.display_name
  td = resource.decorate.created_at
  td
    - if policy(resource).edit?
      = link_to({ action: :edit, id: resource }, remote: true, class: 'btn btn-default btn-rounded btn-sm mrm', data: { toggle: 'tooltip', title: t('.tooltips.edit') })
        i.fa.fa-pencil
    = link_to({ action: :copy, id: resource }, remote: true, class: 'btn btn-default btn-rounded btn-sm mrm', data: { toggle: 'tooltip', title: t('.tooltips.copy') })
      span.fa.fa-copy
    - if policy(resource).destroy?
      = link_to({ action: :destroy, id: resource }, remote: true, class: 'btn btn-default btn-rounded btn-sm mrm', method: :delete, data: { confirm: resource.decorate.delete_confirmation, toggle: 'tooltip', title: t('.tooltips.delete') })
        span.fa.fa-times
