= stylesheet_link_tag :psychometrics_reports_vendor
= stylesheet_link_tag :psychometrics_reports_preview

#report_preview data-data="#{ReportSerializer.new(@resource).to_json(include: '**')}"

= javascript_include_tag 'http://192.168.1.45:3000/psychometrics_reports_vendor.js'
= javascript_include_tag 'http://192.168.1.45:3000/psychometrics_reports_preview.js'
