#psychometrics_report_root[data-assessment-ids="#{resource.assessment_ids.to_json}"]
= javascript_include_tag Ckeditor.cdn_url

= javascript_pack_tag 'vendors'
= stylesheet_pack_tag 'vendors'
= javascript_pack_tag 'report/builder'
= stylesheet_pack_tag 'report/builder'
