= stylesheet_link_tag :psychometrics_reports_app

#psychometrics_report_root
= javascript_include_tag 'https://code.highcharts.com/highcharts.js'
= javascript_include_tag 'https://code.highcharts.com/highcharts-3d.js'
= javascript_include_tag 'https://code.highcharts.com/highcharts-more.js'
= javascript_include_tag Ckeditor.cdn_url
= javascript_include_tag :psychometrics_reports_vendor
= javascript_include_tag :psychometrics_reports_app
