/! START PAGE SIDEBAR
.page-sidebar
  /! START X-NAVIGATION
  ul.x-navigation
    li.xn-logo
      a href="index.html" Psychometrics
      a.x-navigation-control href="#"
    li.xn-profile
      = link_to administration_root_path, class: 'profile-mini'
        span.mb-title-icon.fa.fa-user
      .profile
        .profile-data
          = link_to current_administrator.full_name, edit_administration_profiles_path, class: 'profile-data-name'
          .profile-data-title = current_administrator.role
    li.xn-title Navigation
    li
      = link_to administration_root_path
        span.xn-text Dashboard
    li.xn-openable
      a href="#"
        span.xn-text Surveys
      ul
        li
          a href="#" Psychometric
        li
          a href="#" 360
        li
          a href="#" Organisational
    li.xn-openable
      a href="#"
        span.xn-text Create
      ul
        li.xn-openable
          a href="#" Assessment
          ul
            li
              a href="#" Psychometric
        li.xn-openable
          a href="#" Survey
          ul
            li
              a href="#" 360
            li
              a href="#" Organisational
        li.xn-openable
          a href="#" User(s)
          ul
            li
              a href="#" Add New
            li
              a href="#" Import
        li
          a href="#" Client Tenancy
        li.xn-openable
          a href="#" Report
          ul
            li
              a href="#" Psychometric
            li
              a href="#" 360
            li
              a href="#" Organisational
        li
          a href="#" Norm
        li
          = active_link_to 'Dimension', administration_dimensions_path, active: :exclusive, wrap_tag: :li
        li.xn-openable
          a href="#" Benchmarks
          ul
            li
              a href="#" Historical
            li
              a href="#" External
        li
          a href="#" Email Template
        li
          a href="#" Theme
        li
          a href="#" Org Structure
        li
          a href="#" Library
        li
          a href="#" Action Plan
    li
      a href='#'
        span.xn-text Client Tenancies
    li
      a href='#'
        span.xn-text Libraries
    li
      a href='#'
        span.xn-text Retail
    li.xn-openable
      a href='#'
        span.xn-text Reporting
      ul
        li
          a href="#" Psychometric
        li
          a href="#" 360
        li
          a href="#" Organisational

    li
      a href='#'
        span.xn-text Administrators
    li
      a href='#'
        span.xn-text Scoring
    li
      a href='#'
        span.xn-text API Integrations
    li
      a href='#'
        span.xn-text Help

  /! END X-NAVIGATION
/! END PAGE SIDEBAR
