.modal.fade role='dialog' tabindex='-1' data-backdrop='static'
  .modal-dialog class=local_assigns[:dialog_class_name]
    .modal-content
      .modal-header
        button.close aria-hidden='true' data-dismiss='modal' type='button'  &times;
        h4.modal-title = header
      = render (local_assigns[:form] || 'form'), local_assigns
