.modal.fade role='dialog' tabindex='-1'
  .modal-dialog
    .modal-content
      .modal-header
        button.close aria-hidden='true' data-dismiss='modal' type='button'  &times;
        h4.modal-title = header
      = render partial: 'form'