/! START X-NAVIGATION VERTICAL
header
  ul.x-navigation.x-navigation-horizontal.x-navigation-panel.flex.justify-end
    /! TOGGLE NAVIGATION
    /! END TOGGLE NAVIGATION
    li.xn-icon-button.z-index-2#admin-job-wrapper
    /! SIGN OUT
    li.xn-icon-button
      = link_to destroy_administration_session_path, method: :get, data: { confirm: { body: t('.sign_out_message.body'), title: t('.sign_out_message.title') } } do
        span.fa.fa-sign-out
    /! END SIGN OUT
  /! END X-NAVIGATION VERTICAL
  /! START BREADCRUMB
  - if breadcrumbs.present?
    ul.breadcrumb
      - if content_for? :breadcrumbs
        = yield :breadcrumbs
      - else
        = render_breadcrumbs tag: :li, separator: ''
/! END BREADCRUMB
= vite_javascript_tag 'entrypoints/admin/admin_jobs.jsx'
