/! START X-NAVIGATION VERTICAL
header style="z-index: 5001;"
  .top-navigation-wrapper
    #admin-job-wrapper
    #client-switcher-portal
  /! END X-NAVIGATION VERTICAL
  /! START BREADCRUMB
  - if breadcrumbs.present?
    ul.breadcrumb
      - if content_for? :breadcrumbs
        = yield :breadcrumbs
      - else
        = render_breadcrumbs tag: :li, separator: ''
/! END BREADCRUMB
= vite_javascript_tag 'entrypoints/admin/admin_jobs.jsx'
= vite_javascript_tag 'entrypoints/admin/client_switcher.tsx'
