/! START X-NAVIGATION VERTICAL
ul.x-navigation.x-navigation-horizontal.x-navigation-panel
  /! TOGGLE NAVIGATION
  li.xn-icon-button
    a.x-navigation-minimize href="#"
      span.fa.fa-dedent
  /! END TOGGLE NAVIGATION
  /! SEARCH
  li.xn-search
    = form_tag('#search', method: :get)
      = search_field_tag :query, '', placeholder: t('.search')
  /! END SEARCH
  /! SIGN OUT
  li.xn-icon-button.pull-right
    a.mb-control data-box="#mb-signout" href="#"
      span.fa.fa-sign-out
  /! END SIGN OUT
/! END X-NAVIGATION VERTICAL
/! START BREADCRUMB
ul.breadcrumb
  = render_breadcrumbs tag: :li, separator: ''
/! END BREADCRUMB

/! MESSAGE BOX
#mb-signout.message-box.animated.fadeIn data-sound="alert"
  .mb-container
    .mb-middle
      .mb-title
        span.fa.fa-sign-out
        == t('.sign_out_message.title')
      .mb-content
        == t('.sign_out_message.body')
      .mb-footer
        .pull-right
          = link_to t('yes'), destroy_administrator_session_path, method: :delete, class: 'btn btn-success btn-lg'
          button.btn.btn-default.btn-lg.mb-control-close = t('no')
/! END MESSAGE BOX
