.container {
  text-align: center;
  .card {
    padding: 24px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 6px #00000024;
    border-radius: 9px;
  }
  .title {
    font-size: 20px;
  }

  .button {
    margin-top: 32px;
    text-transform: uppercase;
  }
  .mainIcon {
    color: #cac9c9;
    font-size: 45px;
    margin-bottom: 16px;
  }
}
