@import "~/styles/antv4.variable.less";

.agileContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100 - 194px);
  background-color: @white;
  overflow-x: hidden;
  @media (max-width: @screen-lg) {
    height: calc(var(--vh, 1vh) * 100 - 120px);
  }
}
.agileContainer {
  overflow: visible !important;
  display: flex;
  justify-content: center;
  align-items: center;
  & > canvas {
    margin: 0px auto !important;
    overflow: hidden;
  }
}


@media (max-height: 600px) {
  .agileContainer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}