.popconfirm {
  width: 200px;
}

.overlay {
  background: rgba(255, 255, 255, 0.7);
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: 24px 32px;
  .next {
    margin-left: 5px;
  }
}

:global {
  .rtl {
    :local {
      .footer {
        .next {
          margin-right: 5px;
          margin-left: 0;
        }
      }
    }
  }
}
