{
  "openapi": "3.0.1",
  "info": {
    "title": "TTE Lighthouse API 2.0",
    "version": "2.0.0",
    "x-logo": {
      "url": "https://static.tte-lighthouse.com/brand/lighthouse/TTE_Lighthouse_Logo.svg",
      "backgroundColor": "#FFFFFF",
      "altText": "Lighthouse"
    },
    "contact": {
      "name": "TTE Support",
      "email": "support@thetalententerprise.com",
      "url": "https://thetalententerprise.com"
    },
    "termsOfService": "https://thetalententerprise.com/privacy-statement/",
    "description": "## Introduction\nLighthouse REST API enables developers to integrate Lighthouse with other services such as Applicant Tracking Systems, ERP, Performance Management Systems etc. Which means you control the entire hiring or development process within your own/third-party system, with candidate results available to your system as soon as the candidate completes the assessment.\n\nTo access the Lighthouse REST API, you will need to obtain the API Key and Token. Contact The Talent Enterprise for more information about getting started.\n\n## Base URL\nAll URLs referenced in this documentation have the following base component.\n\n`https://%<host>s%<basePath>s`\n\nTo ensure data privacy and security, all requests should be made over `https`. `http` is not supported.\n\n## Authentication\nBasic Auth is used to make API calls. Use the **API Key** as the Username and **Token** as the password.\n\n## Workflow\nThere is no particular workflow you need to follow. A typical workflow is shown below.\n\n<img src=\"https://static.tte-lighthouse.com/lighthouse/Lighthouse-Typical-Integration.svg\" style=\"width: 100%%;\"/>\n\n## Terminology\n\n### Assessments\nAssessments are pre-configured for a campaign. Any user added to the campaign gets assigned the configured assessments.\n\n### Campaigns\nCampaigns can be pre-configured with default assessments and reports. This is a way to group users by specific use case. For recruitment, a Campaign could mean a position.\n\n### Results\nAfter the user sits the required assessments, a third-party system can periodically poll the results endpoint for competency scores and a PDF Report.\n\n### Data Schema\nWhile designing the parsers for the API responses and webhook results, the possibility of new properties being introduced to objects at any level should be considered with the ongoing updates of the Lighthouse APIs.\n\nNew attributes could also be added to the request schema but would be optional.\n"
  },
  "securityDefinitions": {
    "basic": {
      "type": "basic"
    }
  },
  "paths": {
    "/clients/": {
      "get": {
        "summary": "Clients List",
        "operationId": "ClientsList",
        "description": "Fetch Clients list",
        "tags": [
          "Clients"
        ],
        "security": [
          {
            "basic": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Client list",
            "content": {
              "application/json": {
                "example": [
                  {
                    "type": "clients",
                    "data": {
                      "id": "770",
                      "attributes": {
                        "name": "Client Name",
                        "type": "Partner",
                        "year": 2021,
                        "location": "UAE",
                        "account_manager": {
                          "id": "1",
                          "name": "John Doe"
                        },
                        "project_manager": {
                          "id": "1",
                          "name": "John Doe"
                        }
                      }
                    }
                  }
                ],
                "schema": {
                  "$ref": "#/components/schemas/ClientsListResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": {
  },
  "basePath": "/api/v2/administration",
  "servers": [
    {
      "url": "https://ttedev.me:3030"
    }
  ],
  "schemes": [
    "http",
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "components": {
    "schemas": {
      "ApiError": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "more_info": {
            "type": "string",
            "x-nullable": true
          }
        }
      },
      "ClientsListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "nullable": false
                },
                "type": {
                  "type": "string",
                  "description": "Must be equal to clients",
                  "nullable": false
                },
                "relationships": {
                  "type": "object",
                  "properties": {
                    "account_manager": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "nullable": false
                            },
                            "type": {
                              "type": "string",
                              "description": "Must be equal to users",
                              "nullable": false
                            }
                          },
                          "required": [
                            "id",
                            "type"
                          ],
                          "nullable": false
                        },
                        "links": {
                          "type": "object",
                          "properties": {
                          },
                          "required": [

                          ],
                          "nullable": false
                        },
                        "self": {
                          "type": "string",
                          "nullable": false
                        },
                        "related": {
                          "type": "string",
                          "nullable": false
                        }
                      },
                      "required": [
                        "data"
                      ],
                      "nullable": false
                    },
                    "project_manager": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "nullable": false
                            },
                            "type": {
                              "type": "string",
                              "description": "Must be equal to users",
                              "nullable": false
                            }
                          },
                          "required": [
                            "id",
                            "type"
                          ],
                          "nullable": false
                        },
                        "links": {
                          "type": "object",
                          "properties": {
                          },
                          "required": [

                          ],
                          "nullable": false
                        },
                        "self": {
                          "type": "string",
                          "nullable": false
                        },
                        "related": {
                          "type": "string",
                          "nullable": false
                        }
                      },
                      "required": [
                        "data"
                      ],
                      "nullable": false
                    }
                  },
                  "required": [

                  ],
                  "nullable": false
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "string",
                      "nullable": false
                    }
                  },
                  "required": [
                    "self"
                  ],
                  "nullable": false
                },
                "attributes": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "nullable": false
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "partner",
                        "corporate",
                        "distributer",
                        "associate",
                        "tte",
                        "retail",
                        "other"
                      ],
                      "nullable": false
                    },
                    "number": {
                      "type": "string",
                      "nullable": false
                    },
                    "country": {
                      "type": "string",
                      "nullable": false
                    },
                    "year": {
                      "type": "integer",
                      "description": "Lower than or equal to 2022",
                      "nullable": false
                    }
                  },
                  "required": [
                    "name",
                    "type",
                    "number",
                    "country",
                    "year"
                  ],
                  "nullable": false
                }
              },
              "required": [
                "id",
                "type",
                "links",
                "attributes"
              ],
              "nullable": false
            },
            "nullable": false
          }
        },
        "required": [
          "data"
        ]
      }
    }
  }
}