{
  "openapi": "3.0.1",
  "info": {
    "title": "TTE Lighthouse API 2.0",
    "version": "2.0.0",
    "x-logo": {
      "url": "https://static.tte-lighthouse.com/brand/lighthouse/TTE_Lighthouse_Logo.svg",
      "backgroundColor": "#FFFFFF",
      "altText": "Lighthouse"
    },
    "contact": {
      "name": "TTE Support",
      "email": "support@thetalententerprise.com",
      "url": "https://thetalententerprise.com"
    },
    "termsOfService": "https://thetalententerprise.com/privacy-statement/",
    "description": "## Introduction\nLighthouse REST API enables developers to integrate Lighthouse with other services such as Applicant Tracking Systems, ERP, Performance Management Systems etc. Which means you control the entire hiring or development process within your own/third-party system, with candidate results available to your system as soon as the candidate completes the assessment.\n\nTo access the Lighthouse REST API, you will need to obtain the API Key and Token. Contact The Talent Enterprise for more information about getting started.\n\n## Base URL\nAll URLs referenced in this documentation have the following base component.\n\n`https://%<host>s%<basePath>s`\n\nTo ensure data privacy and security, all requests should be made over `https`. `http` is not supported.\n\n## Authentication\nBasic Auth is used to make API calls. Use the **API Key** as the Username and **Token** as the password.\n\n## Workflow\nThere is no particular workflow you need to follow. A typical workflow is shown below.\n\n<img src=\"https://static.tte-lighthouse.com/lighthouse/Lighthouse-Typical-Integration.svg\" style=\"width: 100%%;\"/>\n\n## Terminology\n\n### Assessments\nAssessments are pre-configured for a campaign. Any user added to the campaign gets assigned the configured assessments.\n\n### Campaigns\nCampaigns can be pre-configured with default assessments and reports. This is a way to group users by specific use case. For recruitment, a Campaign could mean a position.\n\n### Results\nAfter the user sits the required assessments, a third-party system can periodically poll the results endpoint for competency scores and a PDF Report.\n\n### Data Schema\nWhile designing the parsers for the API responses and webhook results, the possibility of new properties being introduced to objects at any level should be considered with the ongoing updates of the Lighthouse APIs.\n\nNew attributes could also be added to the request schema but would be optional.\n"
  },
  "securityDefinitions": {
    "basic": {
      "type": "basic"
    }
  },
  "paths": {
    "/clients/": {
      "get": {
        "summary": "Clients List",
        "operationId": "ClientsList",
        "description": "Fetch Clients list",
        "tags": [
          "Clients"
        ],
        "security": [
          {
            "basic": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Client list",
            "content": {
              "application/json": {
                "example": [
                  {
                    "type": "clients",
                    "data": {
                      "id": "770",
                      "attributes": {
                        "name": "Client Name",
                        "type": "Partner",
                        "year": 2021,
                        "location": "UAE",
                        "project_manager": {
                          "id": "1",
                          "name": "John Doe"
                        }
                      }
                    }
                  }
                ],
                "schema": {
                  "$ref": "#/components/schemas/ClientsListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a client",
        "operationId": "CreateClient",
        "description": "Create new Client",
        "tags": [
          "Clients"
        ],
        "security": [
          {
            "basic": [

            ]
          }
        ],
        "parameters": [

        ],
        "responses": {
          "201": {
            "description": "Client Created",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "type": "clients",
                    "attributes": {
                      "name": "Client Name",
                      "year": "2020",
                      "type": "partner",
                      "country": "India",
                      "number": "123"
                    },
                    "relationships": {
                      "project_manager": {
                        "data": {
                          "type": "users",
                          "id": "100"
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ClientResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/ClientCreateRequest"
              }
            }
          },
          "required": true
        }
      }
    },
    "/clients/{client_id}": {
      "patch": {
        "summary": "Update a client",
        "operationId": "UpdateClient",
        "description": "Update a Client",
        "tags": [
          "Clients"
        ],
        "security": [
          {
            "basic": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Client Updated",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "type": "clients",
                    "id": "20",
                    "attributes": {
                      "name": "Client Name",
                      "year": "2020",
                      "type": "partner",
                      "country": "India",
                      "number": "123"
                    },
                    "relationships": {
                      "project_manager": {
                        "data": {
                          "type": "users",
                          "id": "100"
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ClientResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/ClientUpdateRequest"
              }
            }
          },
          "required": true
        }
      },
      "delete": {
        "summary": "Delete a client",
        "operationId": "DeleteClient",
        "description": "Delete a Client",
        "tags": [
          "Clients"
        ],
        "security": [
          {
            "basic": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Client Deleted"
          }
        }
      }
    }
  },
  "security": {
  },
  "basePath": "/api/v2/administration",
  "servers": [
    {
      "url": "https://ttedev.me:3030"
    }
  ],
  "schemes": [
    "http",
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "components": {
    "schemas": {
      "ApiError": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "more_info": {
            "type": "string",
            "x-nullable": true
          }
        }
      },
      "ClientsListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "nullable": false
                },
                "type": {
                  "type": "string",
                  "description": "Must be equal to clients",
                  "nullable": false
                },
                "relationships": {
                  "type": "object",
                  "properties": {
                    "project_manager": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "description": "Must be equal to users",
                              "nullable": false
                            },
                            "id": {
                              "type": "string",
                              "nullable": false
                            }
                          },
                          "required": [
                            "type",
                            "id"
                          ],
                          "nullable": false
                        },
                        "links": {
                          "type": "object",
                          "properties": {
                          },
                          "required": [

                          ],
                          "nullable": false
                        },
                        "self": {
                          "type": "string",
                          "nullable": false
                        },
                        "related": {
                          "type": "string",
                          "nullable": false
                        }
                      },
                      "required": [
                        "data"
                      ],
                      "nullable": false
                    }
                  },
                  "required": [

                  ],
                  "nullable": false
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "string",
                      "nullable": false
                    }
                  },
                  "required": [
                    "self"
                  ],
                  "nullable": false
                },
                "attributes": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "nullable": false
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "partner",
                        "corporate",
                        "distributer",
                        "associate",
                        "tte",
                        "retail",
                        "other"
                      ],
                      "nullable": false
                    },
                    "number": {
                      "type": "string",
                      "nullable": false
                    },
                    "country": {
                      "type": "string",
                      "nullable": false
                    },
                    "year": {
                      "type": "integer",
                      "description": "Greater than or equal to 2020, Lower than or equal to 2032",
                      "nullable": false
                    }
                  },
                  "required": [
                    "name",
                    "type",
                    "number",
                    "country",
                    "year"
                  ],
                  "nullable": false
                }
              },
              "required": [
                "id",
                "type",
                "links",
                "attributes"
              ],
              "nullable": false
            },
            "nullable": false
          },
          "meta": {
            "type": "object",
            "properties": {
              "record_count": {
                "type": "integer",
                "nullable": false
              },
              "page_count": {
                "type": "integer",
                "nullable": false
              },
              "countries": {
                "type": "array",
                "items": {
                  "type": "string",
                  "nullable": false
                },
                "nullable": false
              },
              "types": {
                "type": "array",
                "items": {
                  "type": "string",
                  "nullable": false
                },
                "nullable": false
              }
            },
            "required": [
              "record_count",
              "page_count",
              "countries",
              "types"
            ],
            "nullable": false
          }
        },
        "required": [
          "data",
          "meta"
        ]
      },
      "ClientResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "nullable": false
              },
              "type": {
                "type": "string",
                "description": "Must be equal to clients",
                "nullable": false
              },
              "relationships": {
                "type": "object",
                "properties": {
                  "project_manager": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Must be equal to users",
                            "nullable": false
                          },
                          "id": {
                            "type": "string",
                            "nullable": false
                          }
                        },
                        "required": [
                          "type",
                          "id"
                        ],
                        "nullable": false
                      },
                      "links": {
                        "type": "object",
                        "properties": {
                        },
                        "required": [

                        ],
                        "nullable": false
                      },
                      "self": {
                        "type": "string",
                        "nullable": false
                      },
                      "related": {
                        "type": "string",
                        "nullable": false
                      }
                    },
                    "required": [
                      "data"
                    ],
                    "nullable": false
                  }
                },
                "required": [

                ],
                "nullable": false
              },
              "links": {
                "type": "object",
                "properties": {
                  "self": {
                    "type": "string",
                    "nullable": false
                  }
                },
                "required": [
                  "self"
                ],
                "nullable": false
              },
              "attributes": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "nullable": false
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "partner",
                      "corporate",
                      "distributer",
                      "associate",
                      "tte",
                      "retail",
                      "other"
                    ],
                    "nullable": false
                  },
                  "number": {
                    "type": "string",
                    "nullable": false
                  },
                  "country": {
                    "type": "string",
                    "nullable": false
                  },
                  "year": {
                    "type": "integer",
                    "description": "Greater than or equal to 2020, Lower than or equal to 2032",
                    "nullable": false
                  }
                },
                "required": [
                  "name",
                  "type",
                  "number",
                  "country",
                  "year"
                ],
                "nullable": false
              }
            },
            "required": [
              "id",
              "type",
              "links",
              "attributes"
            ],
            "nullable": false
          }
        },
        "required": [
          "data"
        ]
      },
      "ClientCreateRequest": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "description": "Must be equal to clients",
                "nullable": false
              },
              "attributes": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "nullable": false
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "partner",
                      "corporate",
                      "distributer",
                      "associate",
                      "tte",
                      "retail",
                      "other"
                    ],
                    "nullable": false
                  },
                  "number": {
                    "type": "string",
                    "nullable": false
                  },
                  "country": {
                    "type": "string",
                    "nullable": false
                  },
                  "year": {
                    "type": "integer",
                    "description": "Greater than or equal to 2020, Lower than or equal to 2032",
                    "nullable": false
                  }
                },
                "required": [
                  "name",
                  "type",
                  "number",
                  "country",
                  "year"
                ],
                "nullable": false
              },
              "relationships": {
                "type": "object",
                "properties": {
                  "project_manager": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Must be equal to users",
                            "nullable": false
                          },
                          "id": {
                            "type": "string",
                            "nullable": false
                          }
                        },
                        "required": [
                          "type",
                          "id"
                        ],
                        "nullable": false
                      }
                    },
                    "required": [
                      "data"
                    ],
                    "nullable": false
                  }
                },
                "required": [
                  "project_manager"
                ],
                "nullable": false
              }
            },
            "required": [
              "type",
              "attributes",
              "relationships"
            ],
            "nullable": false
          }
        },
        "required": [
          "data"
        ]
      },
      "ClientUpdateRequest": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "nullable": false
              },
              "type": {
                "type": "string",
                "description": "Must be equal to clients",
                "nullable": false
              },
              "attributes": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "nullable": false
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "partner",
                      "corporate",
                      "distributer",
                      "associate",
                      "tte",
                      "retail",
                      "other"
                    ],
                    "nullable": false
                  },
                  "number": {
                    "type": "string",
                    "nullable": false
                  },
                  "country": {
                    "type": "string",
                    "nullable": false
                  },
                  "year": {
                    "type": "integer",
                    "description": "Greater than or equal to 2020, Lower than or equal to 2032",
                    "nullable": false
                  }
                },
                "required": [

                ],
                "nullable": false
              },
              "relationships": {
                "type": "object",
                "properties": {
                  "project_manager": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Must be equal to users",
                            "nullable": false
                          },
                          "id": {
                            "type": "string",
                            "nullable": false
                          }
                        },
                        "required": [
                          "type",
                          "id"
                        ],
                        "nullable": false
                      }
                    },
                    "required": [
                      "data"
                    ],
                    "nullable": false
                  }
                },
                "required": [

                ],
                "nullable": false
              }
            },
            "required": [
              "id",
              "type",
              "attributes"
            ],
            "nullable": false
          }
        },
        "required": [
          "data"
        ]
      }
    }
  }
}