.header {
  background: #FCFCFC;
  &.header50 {
    :global {
      .ant-page-header-heading-left {
        width: 50%;
      }
      .ant-page-header-heading-title {
        width: 100%;
      }
    }
  }
  &.header66 {
    :global {

      .ant-page-header-heading-left {
        width: 66%;
      }
      .ant-page-header-heading-title {
        width: 100%;
      }
    }
  }
  &.header100 {
    :global {
      .ant-page-header-heading-title, .ant-page-header-heading-left {
        width: 100%;
      }
    }
  }
}

.finish {
  margin: 60px 0;
}
