head
  = vite_client_tag
  css:
    .green-audio-player {
      box-shadow: none;
      border: 1px solid #ececec;
      box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.1)
    }
    .green-audio-player .volume .volume__controls.middle {
      height: 70px;
      bottom: -22px;
    }
body style="margin: 0; padding: 10px;"
  div.gap-example style="background-color: transparent"
    audio
      source src="#{params[:url]}"

  = vite_javascript_tag "entrypoints/medial_players/audio"

  javascript [nonce=content_security_policy_nonce]:
    document.addEventListener('DOMContentLoaded', function () {
      new GreenAudioPlayer('.gap-example');
    })
