head
  = vite_client_tag
  css:
    .video-js .vjs-control-bar {
      display: flex;
    }

body style="margin: 0"
  div
    video id="my_video" class="video-js vjs-default-skin" controls=true preload="none"
      source src="#{params[:url]}"

  = vite_javascript_tag "entrypoints/medial_players/video"

  javascript [nonce=content_security_policy_nonce]:
    var options = {
      sources: [{
        src: "#{params[:url]}",
      }],
      preload: false,
      controls: true,
      fill: true
    }
    document.addEventListener('DOMContentLoaded', function () {
      window.videojs('my_video', options)
    })
