#report_preview.html_preview[data-user="#{@data[:user]}"
  data-results="#{@data[:results]}"
  data-data="#{@data[:data]}"
  data-locales=@data[:locales]
  data-campaign="#{@data[:campaign]}"]

= javascript_pack_tag 'vendors'
= stylesheet_pack_tag 'vendors'
= stylesheet_pack_tag 'report/preview'
= javascript_pack_tag 'report/preview'
