#report_preview.html_preview[data-user="#{@data[:user]}"
  data-results="#{@data[:results]}"
  data-data="#{@data[:data]}"
  data-locales=@data[:locales]
  data-pdf-export="#{@pdf_export}"
  data-skip-logic=params[:skip_logic]
  data-campaign="#{@data[:campaign] || {}}"
  data-user-report-data="#{@data[:user_report_data] || []}"
  data-campaign-factor-results="#{@data[:campaign_factor_results] || []}"]

= vite_javascript_tag 'entrypoints/report/preview.jsx'
= stylesheet_link_tag 'icomoon'
