javascript [nonce=content_security_policy_nonce]:
  #{@form ? ("__INITIAL_STATE__['attributes'] = " + @form.attributes.to_json).html_safe : ''}
  #{@form ? ("__INITIAL_STATE__['errors'] = " + @form.errors.messages.to_json).html_safe : ''}
