- password_reset_path = @current_project ? user_password_path : administration_password_path
div class=([@current_project&.login_box_position || 'right', 'box', 'devise', namespace_name].compact.join(' '))
  .panel.panel-default.session
    .panel-heading
      = render partial: 'devise/shared/header', locals: { banner: 'devise/forgot_password.svg', banner_class: 'forgot-password' }

    .panel-body
      .message.pvl
        h1.mvm
          bdi = t('.title')
        .instruction
          bdi = t('.instruction')
      = simple_form_for(@form, as: resource_name, url: password_reset_path, wrapper: :vertical_form) do |f|
        div.clearfix
          == flash_messages
        = form_group_for f, :email, class: 'mbl' do
          .username.input-group
            span#username.input-group-addon
              i.icon-email
            = f.input_field :email, placeholder: 'Email Address', class: 'form-control input-lg'

        .actions.mvm
          button.btn.btn-primary.text-uppercase type="submit" value="Submit"
            = t('.submit')
            span class="fa fa-chevron-right mlm"

    .panel-footer
      = render partial: 'devise/shared/footer'
