= stylesheet_link_tag :administration
.row
  .col-xs-12
    .contentBox
      .contentTitleHeader
        i.glyphicon.glyphicon-question-sign.titleIcon.pull-left
        p.contentTitle.pull-left = @resource.decorate.name
        = render partial: 'application/lang', locals: { with_confirm: true, locales: @available_translations }
        .clearfix
      .questionContent
        #psychometrics_preview[
          data-is-anonymous-assessment="true"
          data-result="#{AssignSerializer.new(@assign).to_json}"
          data-type="pass_assessment"
          data-data="#{AssessmentSerializer.new(@resource).to_json(include: '**')}"
          data-locales="#{@translations.to_json}"]
        - if Settings.react_dev.assessments
          /for debug
          = javascript_include_tag 'http://localhost:3000/psychometrics_vendor.js'
          = javascript_include_tag 'http://localhost:3000/psychometrics_preview.js'
        - else
          = javascript_include_tag :psychometrics_vendor
          = javascript_include_tag :psychometrics_preview
