.modal-body
  .radio-switch.clearfix
    span.radio
      label[for="existing-user"]
        input#existing-user.radio_buttons.optional[type="radio" value="false" checked=!is_new name="new_admin" data-target="#existing-inputs"]
        span Choose User
    span.radio
      label[for="new-user"]
        input#new-user.radio_buttons.optional[type="radio" value="true" checked=is_new name="new_admin" data-target="#new-user-inputs"]
        span Create User
.radio-tabs
  #existing-inputs.tab class=('active' if !is_new)
    = form_tag(assign_multiple_administration_client_users_path, remote: true) do |f|
      .modal-body
        = select_tag :admin_ids,
                options_for_select(client.root.projects_admins.distinct.map{ |u| [u.decorate.display_name, u.id] }, selected: client.admin_ids),
                class: 'form-control select',
                multiple: true,
                include_blank: false
      .modal-footer
        .btn-group
          = button_tag t('administration.save'), type: 'submit', class: 'btn btn-default btn-info'
          a.btn.btn-default data-dismiss='modal' = t 'administration.close'
  #new-user-inputs.tab class=('active' if is_new)
    = simple_form_for(resource, as: :resource, url: { action: :create }, remote: true) do |f|
      .modal-body
        = render_error_notification(resource)
        .form-inputs.clearfix
          = hidden_field_tag :admin, params[:admin]
          = f.simple_fields_for :user, f.object.user || User.new  do |u|
            = u.input :email
            = u.input :first_name
            = u.input :last_name
          = f.input :parent_id,
                  collection: client.memberships.join_user,
                  label_method: lambda { |u| u.decorate.display_name },
                  input_html: { data: { live_search: true } }
          - if current_user.is?(:superadmin)
            = f.simple_fields_for :user, User.new({ grants: User::DEFAULT_ADMIN_GRANTS }) do |u|
              = render partial: 'grants', locals: { u: u }
      .modal-footer
        .btn-group
          = f.button :submit, t('administration.create'), class: 'btn-info'
          a.btn.btn-default data-dismiss='modal' = t 'administration.close'
