tr data-sidebar=url_for({ action: :sidebar, id: resource }) id=dom_id(resource)
  td.text-center
    = link_to({ action: :toggle_status, id: resource }, remote: true, method: :patch, data: { confirm: resource.decorate.toggle_status_confirmation })
      = resource.decorate.status
  td = resource.first_name
  td = resource.last_name
  td = resource.email
  td = resource.decorate.role_name
  - if client.tenancy?
    td = resource.decorate.clients_names
  td.text-center = resource.decorate.created_at
  td.text-center = resource.decorate.updated_at
  td.actions-cell
    - if policy(resource).change_password?
      = link_to({ action: :reset_password, id: resource }, method: :get, class: 'btn btn-default btn-rounded btn-sm', data: { confirm: resource.decorate.change_password_confirmation, toggle: 'tooltip', title: t('.tooltips.change_password') })
        i.fa.fa-key
    - if policy(resource).spoof?
      = link_to({ action: :spoof, id: resource }, class: 'btn btn-default btn-rounded btn-sm', data: { toggle: 'tooltip', title: t('.tooltips.sign_in') })
        i.fa.fa-sign-in
    - if policy(resource).overview_assigns?
      = link_to [:administration, client, :user, :assigns, user_id: resource.id], class: 'btn btn-default btn-rounded btn-sm', data: { toggle: 'tooltip', title: t('.tooltips.chart') }
        i.fa.fa-pie-chart
    - if policy(resource).send_mail?
      = mail_to(resource.email, class: 'btn btn-default btn-rounded btn-sm', data: { toggle: 'tooltip', title: t('.tooltips.mail') })
        i.fa.fa-envelope-o
    - if policy(resource).edit?
      = link_to({ action: :edit, id: resource }, class: 'btn btn-default btn-rounded btn-sm', data: { toggle: 'tooltip', title: t('.tooltips.edit') })
        i.fa.fa-pencil
    - if policy(resource).destroy?
      = link_to({ action: :destroy, id: resource }, remote: true, class: 'btn btn-default btn-rounded btn-sm', method: :delete, data: { confirm: resource.decorate(context: { client_name: client.decorate.display_name }).delete_confirmation, toggle: 'tooltip', title: t('.tooltips.delete') })
        span.fa.fa-times
