.row
  .col-md-12
    = simple_form_for(resource, as: :resource, url: { action: resource.new_record? ? :create : :update }, wrapper: :administration_form, html: { class: 'form-horizontal' }) do |f|
      = f.error_notification
      .panel.panel-default.tabs
        ul.nav.nav-tabs role="tablist"
          li.active
            a data-toggle="tab" href="#tab-first" role="tab" = t('.personal_data')
          li
            a data-toggle="tab" href="#tab-second" role="tab" = t('.hris_data')
        .panel-body.tab-content
          #tab-first.tab-pane.active
            = f.simple_fields_for :user do |u|
              = u.input :email
              = u.input :first_name
              = u.input :last_name
            - if f.object.scope == :user
              = f.input :role, as: :select, label: t('simple_form.labels.membership.role'),
                collection: [Membership::MANAGER_ROLE, Membership::MEMBER_ROLE],
                class: 'form-control select mll',
                include_blank: false
            = f.input :parent_id,
                      collection: f.object.decorate.managers_for_select,
                      label_method: lambda { |u| u.user.decorate.display_name },
                      input_html: {  data: { live_search: true } }
          #tab-second.tab-pane
            = render partial: 'edit_hris_data', locals: { f: f }
        .panel-footer
          .btn-group.pull-left
            - back_path = admins_administration_client_users_path(client) if f.object.scope == :administration
            - back_path ||= administration_client_users_path(client)
            = link_to(t('administration.back'), back_path, class: 'btn btn-info')
          .btn-group.pull-right
            = f.button :submit, t('administration.update'), class: 'btn-info'
            = link_to t('administration.clear'), url_for, class: 'btn btn-default'
