.row
  .col-md-12
    = simple_form_for(@resource, as: :resource, url: { action: @resource.new_record? ? :create : :update }, wrapper: :administration_form, html: { class: 'form-horizontal' }) do |f|
      = f.error_notification
      .panel.panel-default.tabs
        ul.nav.nav-tabs role="tablist"
          li.active
            a data-toggle="tab" href="#tab-first" role="tab" = t('.personal_data')
          li
            a data-toggle="tab" href="#tab-second" role="tab" = t('.hris_data')

        .panel-body.tab-content
          #tab-first.tab-pane.active
            = f.input :email
            = f.input :first_name
            = f.input :last_name
            = f.input :role, as: :select, collection: @current_user.decorate.can_manage_roles, class: 'form-control', include_blank: false
            = f.simple_fields_for :memberships do |p|
              - if @client.id == p.object.client_id
                = p.input :parent_id, 
                          collection: @client.memberships.includes(:user).where.not(id: p.object.id), 
                          label_method: lambda { |u| u.user.decorate.display_name }, 
                          input_html: {  data: { live_search: true } }
          #tab-second.tab-pane
            = render partial: 'edit_hris_data', locals: { f: f }
        .panel-footer
          .btn-group.pull-left
            = link_to(t('administration.back'), { action: :index }, class: 'btn btn-info')
          .btn-group.pull-right
            = f.button :submit, t('administration.update'), class: 'btn-info'
            = link_to t('administration.clear'), url_for, class: 'btn btn-default'
