@import '~/styles/antv4.variable.less';
@import '~/styles/spacing.less';
@import '../../mixins.less';

.form {
  margin: 0;
  padding: 0;
  color: #000000d9;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum","tnum";
}
.container {
  .responsiveContainer(400px, 280px, 300px);
}

.description {
  color: @text-color-secondary;
}

.submit {
  margin: @space-9 0;
}

.divider {
  position: relative;
  margin: @space-7 0;
  color: #ccc;
  hr {
    border-top: 1px dashed @text-color-secondary;
    border-style: none none dashed;
  }

  .label {
    position: absolute;
    top: -10px;
    width: 100%;
    text-align: center;
    span {
      padding: 0 @space-3;
      color: #777;
      background-color: @white;
    }
  }
}
