tr id=dom_id(resource)
  td.text-center
    = link_to({ action: :toggle_status, id: resource }, remote: true,
            method: :patch, data: { confirm: resource.decorate.toggle_status_confirmation })
      = resource.decorate.status
  td = resource.name
  td = resource.code
  td = resource.decorate.formatted_date_time(:start_date)
  td = resource.decorate.formatted_date_time(:end_date)
  td = resource.decorate.get_usage_stats
  td.actions-cell
    = link_to edit_administration_client_registration_code_path(client_id: client.id, id: resource.id), remote: true,
        class: 'btn btn-default btn-rounded btn-sm edit', data: {toggle: 'tooltip', title: t('.tooltips.edit')} do
      span.fa.fa-pencil
    = link_to({ action: :destroy, id: resource.id }, remote: true,
        class: 'btn btn-default btn-rounded btn-sm', method: :delete,
        data: { confirm: resource.decorate(context: { resource_name: resource.decorate.display_name }).delete_confirmation,
        toggle: 'tooltip', title: t('.tooltips.delete') })
      span.fa.fa-times
