.label {
  width: fit-content;
  margin-block: 20px;
  display: flex;
  align-items: center;
  gap: 14px;
}

.actionsWrapper {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: .4em;
}
