@import '~/styles/spacing.less';
@import '~/styles/antv4.variable.less';

.container {
  background-color: var(--ant-primary-light-bg);
  position: relative;
  padding-top: @space-7;
  width: 100%;
  overflow: hidden;
  &.animate {
    transition: height .7s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}
.instructionsContent {
  max-width: 1200px;
  margin: auto;
}
.container-button {
  display: flex;
  height: 3rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.container--collapsed {
  padding-bottom: @space-4;
  & .container-button {
    position: absolute;
    background: linear-gradient(0deg, var(--ant-primary-1) 0%, transparent 100%);
    opacity: 0.95;
    bottom: 0px;
    left: 0px;
  }
}

@media screen and (max-width: @screen-xs) {
  .container {
    padding-inline: @space-3;
  }
}

@media screen and (max-width: @screen-xxl) {
  .instructionsContent {
    padding-inline: @space-3;
  }
}
