= form_tag(administration_client_reports_path, remote: true) do |f|
  .modal-body
    .form-inputs.clearfix
      = select_tag :report_ids,
              options_from_collection_for_select(client.client.available_reports.distinct, :id, :name, client.report_ids),
              multiple: true,
              include_blank: false,
              class: 'form-control select'
  .modal-footer
    .btn-group
      = button_tag t('administration.save'), type: 'submit', class: 'btn btn-default btn-info'
      a.btn.btn-default data-dismiss='modal' = t 'administration.close'
