.table-responsive
  table.table.table-bordered.table-actions.table-hover.selectable.list id="#{@resource_class.model_name.plural}_list"
    thead
      tr
        th = sorting @resource_class, :name, @filterrific
        th = @resource_class.human_attribute_name(:assessment)
        th = sorting @resource_class, :created_at, @filterrific
        th
    tbody
      - if @resources.present?
        = render partial: 'resource', collection: @resources
      - else
        tr.no_records
          td align='center' colspan='9' = t('administration.no_data_found')
  = paginate @resources, theme: 'twitter-bootstrap-3'
