tr id=dom_id(resource)
  td = resource.report.id
  td = resource.report.name
  td = resource.report.decorate.assessments_names
  - if client.tenancy?
    td = resource.report.decorate.clients_names
  td = resource.report.decorate.created_at
  td.actions-cell
    - if policy(:client_report).edit?
      = link_to edit_administration_client_assign_reports_path(client, report_family_id: resource.report_family_id),
                remote: true,
                class: 'btn btn-default btn-rounded btn-sm'
        span.fa.fa-pencil
