.row
  .col-md-12
    .page-title
      h2.mrl = client.decorate.display_name
      = render partial: 'administration/clients/client_top_nav'
    .panel.panel-default
      .panel-heading
        h3.panel-title = t('.title')
      .panel-body
        .row
          .col-sm-10
            #filter_results
              = render partial: 'list'
          .col-sm-2
            h3
              i.fa.fa-filter
              | Filter
            = search_form_for(@filter_form,
                              url: { action: :index },
                              html: { id: 'filter' },
                              builder: SimpleForm::FormBuilder) do |f|

              = f.input :name_cont,
                        as: :string,
                        required: false,
                        label: 'Name'
              = link_to "Clear Filter", request.path, class: "btn btn-default"
