.row
  .col-xs-12.col-md-8.col-md-offset-2
    h1.welcomeText Help
    .helpContent.text-center
      p
        ' For any issues or questions, please reach out to us at
        a href="mailto:#{Branding.support_email}" = Branding.support_email
