.mainContent
  .upgrade-message
    | Your browser is freakin' old, please, for fucks' sake, upgrade it or use the latest chrome or firefox!

  ul
    li = link_to 'Link To Download Chrome', 'javascript:void'
    li = link_to 'Link To Download Firefox', 'javascript:void'
