@import "~/styles/antv4.variable.less";
@import "~/styles/spacing.less";

.subHeader:global(.ant-page-header) {
  background-color: var(--ant-primary-color);
  padding-block: @space-2;
}
.subHeaderTitle {
  display: inline-block;
  white-space: break-spaces;
  color: @white;
  &:hover {
    color: @white;
  }
}
.backIcon {
  color:  @white;
}
