= simple_form_for(resource, as: :resource, url: { action: :update }, method: :put, remote: true) do |f|
  .modal-body
    = render_error_notification(f.object)
    .form-inputs.clearfix
      .form-group
        = f.label :report_family_id
        = f.input :report_family_id, as: :hidden
        div = @report_family.name
      table.table#reports
        thead
          tr
            th colspan=3 = t('.added_reports')
        - @reports_assigned.each_with_index do |report, i|
          tr
            td
              .form-group
                span.checkbox
                  = report.decorate.display_name
            td
              .form-group
                span.checkbox
                  label
                    - if resource.user_access_report_ids.include?(report.id)
                      = hidden_field_tag "resource[removing_user_access_report_ids][#{report.id}]", report.id
                      = check_box_tag "resource[removing_user_access_report_ids][#{report.id}]",
                                      '',
                                      true
                    - else
                      = check_box_tag "resource[adding_user_access_report_ids][#{report.id}]",
                                      report.id,
                                      false
                    = t('.user_access')
            td
              .form-group
                span.checkbox
                  label
                    = check_box_tag "resource[removing_report_ids][#{report.id}]",
                                    report.id,
                                    false
                    = t('.remove')
        thead
          tr
            th colspan=3 = t('.new_reports')
        - @reports.each do |report|
          tr
            td
              .form-group
                span.checkbox
                  label
                    = check_box_tag "resource[adding_report_ids][#{report.id}]",
                                    report.id,
                                    resource.report_ids.include?(report.id)
                    = report.decorate.display_name
            td
              .form-group
                span.checkbox
                  label
                    = check_box_tag "resource[adding_user_access_report_ids][#{report.id}]",
                                    report.id,
                                    resource.user_access_report_ids.include?(report.id)
                    = t('.user_access')
            td
      br
      = f.input :is_applying_to_existing_users, as: :boolean, hint: t('.apply_to_existing_users_hint')
  .modal-footer
    .btn-group
      = button_tag t('administration.save'),
                   type: 'submit',
                   class: 'btn btn-default btn-info',
                   data: { loading_text: t('loading') }
      a.btn.btn-default data-dismiss='modal' = t 'administration.close'
