@import 'user/styles/variables';

:global {
  .layout.ant-layout {
    background: $white;
  }

  .fluid-container {
    max-width: $screen-xl;
    width: 100%;
    margin: 0 auto;
  }

  .nominations-container {
    .content.padding {
      padding-left: 32px;

      @media(max-width: $screen-lg) {
        padding-left: 0;
      }
    }
  }
}
