@import 'modules/user/styles/variables.less';

:global {
  .ant-list-bordered.nominations-list {
    background-color: @white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    border-radius: 9px;
    overflow: hidden;

    .panel-header {
      font-weight: 500;
    }


  }
}
