.col-xs-12
  .table.table-responsive.table-striped.table-bordered
    table.table
      thead
        tr
          th = t('.assignee')
          th.text-center = t('.not_started')
          th.text-center = t('.in_progress')
          th.text-center = t('.completed')
          th.text-center = t('.overdue')
      tbody
        - if @managers.present?
          = render partial: 'summary_manager', collection: @managers