- download_url = download_administration_threesixty_campaign_subject_reports_path(@users_report.threesixty_campaign, @users_report.threesixty_subject, format: :pdf, lang: lang_param, export: true)
.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        h3.panel-title = t('.title')
        = render partial: 'application/lang', locals: { with_confirm: false, locales: @available_translations }
        = link_to(download_url, class: 'mrl pull-right', data: { behavior: 'export-pdf' })
          button class="btn btn-default ladda-button" type="button" data-style="zoom-out" data-spinner-color="#000000"
            span.fa.fa-file-pdf-o
            = t('threesixty.export_pdf')

      .panel-body
        = render partial: 'shared/preview_report'
