= simple_form_for(@resource, as: :resource, url: { action: @resource.new_record? ? :create : :update }, remote: true) do |f|
  .modal-body
    = f.error_notification

    .form-inputs.clearfix
      = f.input :name
      = f.input :description, as: :text
      = f.input :full_description, as: :text
      = f.input :potential_areas_of_study, as: :text
      = f.input :key_career_tracks, as: :text, hint: t('.hint.key_career_tracks')
      = f.input :high_school_entry_roles, as: :text
      = f.input :diploma_qualification, as: :text
      = f.input :bachelors_or_masters_qualification, as: :text

  .modal-footer
    .btn-group
      = f.button :submit, @resource.new_record? ? t('administration.create') : t('administration.update'), class: 'btn-info'
      a.btn.btn-default data-dismiss='modal' = t 'administration.close'
