:global {
  .resource-content {
    background: #fff;
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 6px;
    border: 1px solid #d9d9d9;
    margin: 12px;
    padding: 26px;
  }
}
