@import 'styles/ant.variable.less';

.page-content {
  background-color: @white;
  border-inline-start: 1px solid @border-color-base;
}

@media (max-width: @screen-lg) {
  .page-content {
    border-inline-start: none;
  }
}
