@import 'styles/ant.variable.less';

.page-content {
  background-color: @white;
  border-inline-start: 1px solid @border-color-base;
  overflow-x: hidden;
}
.page-layout:global(.ant-layout) {
  min-height: 100vh;
}
@media (max-width: @screen-lg) {
  .page-content {
    border-inline-start: none;
  }
}
