= simple_form_for(@communication_facade.form,
  as: :resource, url: { action: @communication_facade.communication.new_record? ? :create : :update },
  remote: true,
  data: { behavior: 'communications-form', form_url: @communication_facade.communication.decorate.form_url }) do |f|
  = f.hidden_field :copying_communication, value: @copying_communication
  .modal-body
    = render_error_notification(resource, full_messages: false)
    .form-inputs.clearfix
      h3
        = t('administration.communication_settings')
      = f.hidden_field :client_id if @copying_communication
      = f.association :client,
        collection: @communication_facade.owners,
        input_html: { data: { live_search: true, behavior: @communication_facade.client_behavior }, disabled: @copying_communication }, label: t('.client')

      - if @communication_facade.show_projects?
        = f.hidden_field :project_id if @copying_communication
        = f.association :project,
          collection: @communication_facade.projects,
          input_html: { data: { live_search: true,
            behavior: @communication_facade.project_behavior }, disabled: @copying_communication }, label: t('.project')
      - if @communication_facade.show_campaigns?
        = f.hidden_field :campaign_id if @copying_communication
        = f.association :campaign,
          collection: @communication_facade.campaigns,
          input_html: { data: { live_search: true,
            behavior: @communication_facade.campaign_behavior }, disabled: @copying_communication}, label: t('.campaign')
      - if @communication_facade.show_kind?
        = f.hidden_field :kind, value: @communication_facade.form.kind if @copying_communication
        = f.input :kind,
          as: :select,
          collection: Communication.kinds,
          value_method: :first,
          label_method: proc { |rec| t(".#{rec.first}") },
          input_html: { data: { live_search: true,
            behavior: 'communication-changeable' }, disabled: @copying_communication },
          label: t('.kind')
      - if @communication_facade.show_assessment_center_groups?
          = f.hidden_field :campaign_assessment_group_id if @copying_communication
          = f.association :campaign_assessment_group,
            collection: @communication_facade.assessment_center_groups,
            input_html: { data: { live_search: true,
              behavior: @communication_facade.assessment_center_group_behavior }, disabled: @copying_communication}, label: t('.campaign_assessment_group')
      - if @communication_facade.show_assessments?
        = f.association :assessment,
            collection: @communication_facade.assessments,
            input_html: { data: { live_search: true } }
        = f.input :delivery_delay_hours, label: t('.delivery_delay_hours')
        = f.input :assessment_completion_status_code, label: t('.assessment_completion_status_code'), hint: t('.assessment_completion_status_code_hint')
      - if @communication_facade.show_delivery_schedule_config?
        .row.mbl
          .col-md-6.pln
            = f.input :delivery_start_date, as: :date, label: t('administration.communications.form.delivery_start_date')
          .col-md-6
            = f.input :delivery_end_date, as: :date, label: t('administration.communications.form.delivery_end_date')
        .row.mbl
          .col-md-6.pln
            = f.input :delivery_time_of_day, as: :time, label: t('administration.communications.form.delivery_time_of_day')
          .col-md-6
            = f.input :delivery_timezone, as: :time_zone, label: t('administration.communications.form.delivery_timezone')
        .row.mbl
          .col-md-6.pln
            = f.input :delivery_frequency, as: :select, collection: [['Daily', 'daily'], ['Weekly', 'weekly'], ['Specific Weekdays', 'specific_weekdays']], label: t('administration.communications.form.delivery_frequency'), input_html: { data: { behavior: 'communication-changeable' } }
        - if f.object.delivery_frequency == 'specific_weekdays'
          .row.mbl
            .col-md-12.pln
              = f.input :delivery_weekdays, as: :check_boxes, collection: Date::ABBR_DAYNAMES, label: t('administration.communications.form.delivery_weekdays')
      - if @communication_facade.show_recipients?
        = f.input :recipients,
          as: :select,
          collection: Communication.recipients,
          value_method: :first,
          label_method: proc { |rec| t(".#{rec.first}") },
          include_blank: false,
          input_html: { data: { live_search: true, behavior: 'communication-changeable' } },
          label: t('.recipients')
      - if @communication_facade.show_delivery_schedule_config?
        = f.association :users,
          collection: @communication_facade.admin_recipients,
          label_method: proc { |u| "#{u.decorate.display_name} (#{u.email})" },
          value_method: proc { |u| u.id },
          include_blank: false,
          input_html: { data: { live_search: true, behavior: @communication_facade.admin_recipients_behavior },
          multiple: true }, label: t('.recipients')
      - if @communication_facade.show_memberships?
        = f.association :users,
          collection: @communication_facade.memberships,
          label_method: proc { |u| u.decorate.display_name },
          value_method: proc { |u| u.id },
          include_blank: false,
          input_html: { data: { live_search: true,
            behavior: @communication_facade.memberships_behavior },
            multiple: true }, label: t('.selected_recipients')
      - if @communication_facade.show_cc_users?
        = f.association :cc_users,
          collection: @communication_facade.cc_users,
          label_method: proc { |u| "#{u.decorate.display_name} (#{u.email})" },
          value_method: proc { |u| u.id },
          include_blank: false,
          input_html: { data: { live_search: true,
            behavior: @communication_facade.cc_behavior },
            multiple: true }, label: t('.cc_recipients')
      - if @communication_facade.show_delivery_rules?
        .row.mbl
          .col-md-4.pln
            = f.input :delivery_rule,
              as: :select,
              collection: @communication_facade.delivery_rules,
              label_method: proc { |rec| t("administration.communications.form.delivery_rules.#{rec}") },
              input_html: { data: { live_search: true, behavior: 'communication-changeable' } }, label: t('.delivery_rule')
          - if @communication_facade.show_inputs_for_date_and_time?
            .col-md-8.prn
              = f.input :delivery_at, as: :datetimepicker, initialize_time_now: true,
                label: t('.delivery_at'),
                min_date: date_without_seconds_and_timezone
      - if @communication_facade.show_assessment_selection?
        .form-group
          = f.collection_radio_buttons :assessment_selection,
                                      [['all', t('.all')], ['selected', t('.custom')]],
                                      :first, :last, {},
                                      data: { behavior: 'communication-changeable' } do |b|
            = b.label(class: 'radio-inline mrl') { b.radio_button(class: 'mrs') + b.text }
      - if @communication_facade.show_assessment_multiselect?
        = f.association :selected_assessments,
          collection: @communication_facade.assessments,
          label_method: :name,
          value_method: :id,
          include_blank: false,
          input_html: {multiple: true, data: { live_search: true }},
          label: t('.select_assessments')
      - if @communication_facade.show_delivery_intervals?
        .form-group
          = f.collection_radio_buttons :reminder_type, @communication_facade.reminder_types, :last, :first, {},
            data: { behavior: 'communication-changeable' } do |b|
            = b.label(class: 'radio-inline mrl') { b.radio_button(class: 'mrs') + b.text }

        - if @communication_facade.show_timeframes_reminder?
          = f.input :delivery_interval, collection: ::Helpers::Communications.reminder_timeframes, label: t('.delivery_interval')
        - if @communication_facade.show_custom_reminder?
          .row.mbl
            .col-md-4.pln
              = f.input :delivery_interval_period,
                as: :select,
                collection: @communication_facade.delivery_interval_periods,
                label: t('.delivery_interval_period')
            .col-md-4.pln
              = f.input :delivery_interval_number, as: :integer, label: t('.delivery_interval_number')
        - if @communication_facade.show_stop_reminder?
          .row.mbl
            .col-md-4.pln
              = f.input :stop_reminder, as: :boolean, checked_value: true, unchecked_value: false,
                label: t('.stop_reminder'),
                input_html: { data: { behavior: 'communication-changeable' } }
            .col-md-8
              - if @communication_facade.show_stop_reminder_datetime?
                = f.input :stop_reminder_datetime, as: :datetimepicker, initialize_time_now: true,
                  label: t('.stop_reminder_datetime'),
                  min_date: date_without_seconds_and_timezone
      h3
        = t('administration.message')
      .form-group.clearfix
        = f.label :subject, style: 'float: left; margin-right: 10px;', label: t('.subject')
        #subject_piped_text_button style='float: left; margin-top: -3px;'
        .clearfix
        .input-control
          = f.input :subject, label: false
          .input-group-append
      = f.input :body, as: :hidden, input_html: { id: 'body_value' }
      #froala_editor
      - if f.object.errors[:body].any?
        .text-danger
          = simple_format(f.object.errors[:body].join(', '))
      = simple_format(t('.body_mustache'))

  .modal-footer
    .btn-group
      = f.button :submit, @communication_facade.communication.new_record? ? t('administration.create') : t('administration.update'), class: 'btn-info'
      a.btn.btn-default data-dismiss='modal' = t 'administration.close'
