ul.x-navigation.x-navigation-panel id="sidebar_#{dom_id(resource)}"
  li.xn-title.title = t('.title')
  - if policy(resource).show?
    li = link_to t('.view'), administration_communication_path(resource)
  - if policy(resource).download?
    li = link_to t('.download'), [:download_history, :administration, resource]
  - if policy(resource).copy?
    li = link_to t('.copy'), [:copy, :administration, resource], remote: true
  - if policy(resource).destroy?
    li = link_to(t('.destroy'), { action: :destroy, id: resource }, remote: true, method: :delete, data: { confirm: resource.decorate.delete_confirmation })
