.col-md-8.col-md-offset-2
  - if @available_locales.length > 1
    .row.mbm
      .col-md-12.text-right
        .form-group.form-inline
          = label_tag :locale, 'Language:', class: 'control-label mrs'
          = select_tag :locale,
              options_for_select(@available_locales.map { |locale| [I18n.t("languages.#{locale}"), locale] }, @selected_locale),
              { class: 'form-control', id: 'show_page_locale' }

  ul.list-group
    - if current_user.is?(:superadmin) && @communication.owner
      li.list-group-item
        strong.mrs = t('.owner')
        = @communication.owner.name

    li.list-group-item
      strong.mrs = t('.client')
      = @communication.client.name
    - if @communication.project
      li.list-group-item
        strong.mrs = t('.project')
        = @communication.project.name
    - if @communication.campaign
      li.list-group-item
        strong.mrs = t('.campaign')
        = @communication.campaign.name
    - if @communication.sub_campaign
      li.list-group-item
        strong.mrs = t('.sub_campaign')
        = @communication.sub_campaign.name
    li.list-group-item
      strong.mrs = t('.communication_type')
      = @communication.kind_i18n
    - if @communication.campaign_assessment_group
      li.list-group-item
        strong.mrs = t('.assessment_center_group')
        = @communication.campaign_assessment_group.name
    - if @communication.assessment
      li.list-group-item
        strong.mrs = t('.assessment')
        = @communication.assessment.name

    li.list-group-item
      strong.mrs = t('.recipients')
      = render_selected_recipient_users(@communication) || @communication.recipients_i18n
    - if @communication.selected_recipients?
      li.list-group-item
        strong.mrs = t('.users')
        = select_tag :recipients,
          options_from_collection_for_select(@communication.users.decorate, :display_name, :display_name),
          class: 'form-control'
    - if @communication.cc_users.any?
      li.list-group-item
        strong.mrs = t('.cc_recipients')
        = select_tag :cc_recipients,
          options_from_collection_for_select(@communication.cc_users.decorate, :id, ->(user) { "#{user.display_name} (#{user.object.email})" }),
          class: 'form-control'
    - if @communication.delivery_rule
      li.list-group-item
        strong.mrs = t('.delivery_rule')
        = @communication.delivery_rule_i18n
    - if @communication.specific_datetime?
      li.list-group-item
        strong.mrs = t('.specific_datetime')
        = "#{I18n.l(@communication.delivery_at, format: :short)} (GST)"
    - if @communication.reminder?
      li.list-group-item
        strong.mrs = t('.delivery_rule')
        = t('.every_interval', interval: @communication.delivery_interval)
      - if @communication.stop_reminder?
        li.list-group-item
          strong.mrs = t('.stop_reminder_datetime')
          = "#{I18n.l(@communication.stop_reminder_datetime, format: :short)} (GST)"
    - if @communication.delivery_start_date
      li.list-group-item
        strong.mrs = t('.start_date')
        = @communication.delivery_start_date
    - if @communication.delivery_end_date
      li.list-group-item
        strong.mrs = t('.end_date')
        = @communication.delivery_end_date
    - if @communication.delivery_time_of_day
      li.list-group-item
        strong.mrs = t('.time_of_day')
        = @communication.delivery_time_of_day
    - if @communication.delivery_timezone
      li.list-group-item
        strong.mrs = t('.timezone')
        = @communication.delivery_timezone
    - if @communication.delivery_frequency
      li.list-group-item
        strong.mrs = t('.frequency')
        = @communication.delivery_frequency
    - if @communication.delivery_weekdays && @communication.delivery_weekdays.any?
      li.list-group-item
        strong.mrs = t('.weekdays')
        = @communication.delivery_weekdays.join(', ')
    li.list-group-item
      strong.mrs = t('.subject')
      - if @available_locales.length > 1
        span.label.label-info.mrs#subject-locale-badge = @selected_locale.upcase
      span#translated-subject dir=(Settings.rtl_languages.include?(@selected_locale) ? 'rtl' : 'ltr') style="text-align: start" = @translated_subject.presence
    li.list-group-item
      strong.mrs = t('.body')
      - if @available_locales.length > 1
        span.label.label-info.mls#body-locale-badge = @selected_locale.upcase
      div#translated-body dir=(Settings.rtl_languages.include?(@selected_locale) ? 'rtl' : 'ltr') style="text-align: start"
        = @translated_body.present? ? raw(Utility::SanitizeHtml.process(@translated_body)) : ""

.col-md-1
  = link_to t('.back'), administration_communications_path(q: @back_query_params), class: 'btn btn-default'

javascript [nonce=content_security_policy_nonce]:
  $(document).ready(function() {
    var initialLocale = '#{@selected_locale}';
    $('body').attr('data-locale', initialLocale);

    $('#show_page_locale').on('change', function() {
      var selectedLocale = $(this).val();

      $('body').attr('data-locale', selectedLocale);
      var isRtl = #{Settings.rtl_languages.to_json}.includes(selectedLocale);
      var $subject = $('#translated-subject');
      var $body = $('#translated-body');

      if (isRtl) {
        $subject.attr('dir', 'rtl').addClass('rtl').css({
          'direction': 'rtl',
          'text-align': 'start',
          'unicode-bidi': 'embed',
          'display': 'block'
        });
        $body.attr('dir', 'rtl').addClass('rtl').css({
          'direction': 'rtl',
          'text-align': 'start',
          'unicode-bidi': 'embed'
        });
      } else {
        $subject.attr('dir', 'ltr').removeClass('rtl').css({
          'direction': 'ltr',
          'text-align': 'start',
          'unicode-bidi': 'normal',
          'display': 'inline'
        });
        $body.attr('dir', 'ltr').removeClass('rtl').css({
          'direction': 'ltr',
          'text-align': 'start',
          'unicode-bidi': 'normal'
        });
      }

      $.ajax({
        url: '#{administration_communication_path(@communication)}',
        method: 'GET',
        data: { lang: selectedLocale },
        dataType: 'json',
        headers: {
          'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
        },
        success: function(response) {
          $('#subject-locale-badge').text(selectedLocale.toUpperCase());
          $('#body-locale-badge').text(selectedLocale.toUpperCase());

          $('#translated-subject').text(response.translated_subject || '');
          $('#translated-body').html(response.translated_body_html || '');
        },
        error: function(xhr, status, error) {
          noty({ text: 'Error loading translation data', type: 'error' });
        }
      });
    });
  });
