.wifi-icon-parent {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid var(--ant-primary-color);
    opacity: 0;
}

.wifi-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: white;
    background-color: var(--ant-primary-color);
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


