.container
  img src="https://tte-static.s3.amazonaws.com/brand/lighthouse/TTE_Lighthouse_Logo.svg" width="150" height="77"
  h1 Lighthouse is down for scheduled maintenance.

  p= t('maintenance_message', **maintenance_time_frame)

  p= t('maintenance_submessage')
