.form-group.select
  = label_tag 'resource[threesixty_campaign][assessment_id]', 'Assessments', class: 'control-label select required'
  = select_tag 'resource[threesixty_campaign][assessment_id]', options_from_collection_for_select(assessments, 'id', 'name'), class: 'form-control select', include_blank: true
