.form-group.select
  = label_tag 'campaign_template_id', 'Campaign Template', class: 'control-label select required'
  = select_tag 'campaign_template_id', options_from_collection_for_select(campaign_templates, 'id', 'name'), class: 'form-control select', include_blank: true
