script id="mb-campaign-confirm-template" type="x-tmpl-mustache"
  #mb-confirm.message-box.animated.fadeIn data-sound="alert"
    .mb-container
      .mb-middle
        .mb-title
          span.mb-title-icon.fa.fa-warning
          span.mb-title-text
            | {{{ title }}}
        .mb-content
          | {{{ body }}}
          .form-inputs.clearfix
            = text_field_tag :name, nil, { class: 'form-control mtl', id:'campaign-name', oninput: 'verify(this)' }
        .mb-footer
          .pull-right
            button.btn.btn-success.btn-lg.mb-control-close.mb-confirm-yes disabled='disabled' id='confirm' data-dismiss="modal" = t('yes')
            button.btn.btn-default.btn-lg.mb-control-close id='cancel' data-dismiss="modal" = t('no')

javascript:
  function verify (target) {
    var pattern = $('#confirm-container').data('validation-pattern')
    if (pattern === $(target).val()) {
      $('button#confirm').removeAttr('disabled')
    } else {
      $('button#confirm').attr('disabled', 'disabled')
    }
  }
