= simple_form_for(@form, as: :resource, url: { action: :create }, remote: true, html: { id: 'threesixty_campaign' }) do |f|
  .modal-body
    = f.error_notification
    .form-inputs.clearfix
      = f.input :name
      = f.input :type, as: :select, collection: ::Threesixty::Campaign::TYPES.map{|k,v| [v, k]}, include_blank: false
      #campaign_template_fields.form-group
         = f.input :campaign_template_id, as: :select, collection: @campaign_templates.map { |a| [a.name, a.id] }
      #assessment_field.form-group
        = f.input :assessment_id, as: :select, collection: @assessments.map { |a| [a.decorate.name, a.id] }
      #factors_field.form-group
        = f.input :factors, as: :select, collection: [], input_html: { multiple: true }

  .modal-footer
    .btn-group
      = f.button :submit, resource.new_record? ? t('administration.create') : t('administration.update'), class: 'btn-info'
      a.btn.btn-default data-dismiss='modal' = t 'administration.close'

javascript:
  $(function () {
    var campaignTemplateAndAssessmentIds = #{@campaign_template_and_assessment_ids.to_json.html_safe}

    function changeType(){
      var type = $(this).find('option:selected').attr('value')
      $('#assessment_field, #campaign_template_fields').css('display', 'none')

      if  (type == 'previous_360') {
        $('#assessment_field, #factors_field').css('display', 'block')
      } else if (type == 'standard_360') {
        $('#campaign_template_fields, #factors_field').css('display', 'block')
      } else {
        $('#factors_field').css('display', 'none')
      }
    }

    $('#threesixty_campaign #resource_type').change(changeType)
    changeType.call($('#threesixty_campaign #resource_type'))

    $('#threesixty_campaign #resource_campaign_template_id').change(function() {
      var campaignTemplateId = $(this).find('option:selected').attr('value')
      var assessmentId = campaignTemplateAndAssessmentIds[campaignTemplateId]

      fetchFactors(assessmentId)
    })

    $('#threesixty_campaign #resource_assessment_id').change(function(){
      var assessment = $(this).find('option:selected').attr('value')
      fetchFactors(assessment)
    })

    function fetchFactors (assessment) {
      var url = $('#threesixty_campaign').attr('action') + '/factors?assessment_id=' + assessment
      $.getScript(url, function() { $('#factors_field').css('display', 'block') })
    }
  })
