tr id=dom_id(resource)
  td = link_to resource.name, administration_client_project_threesixty_campaign_path(client, project, resource.threesixty_campaign)
  td
    = link_to resource.threesixty_campaign.assessment.decorate.name, administration_assessment_path(resource.threesixty_campaign.assessment_id)
  td
    = link_to resource.threesixty_campaign.report.decorate.name, administration_report_path(resource.threesixty_campaign.report_id)
  td.text-center = resource.created_at
  td.actions-cell
    = link_to administration_client_project_threesixty_campaign_path(client, project, resource), remote: true, class: 'btn btn-default btn-rounded btn-sm', method: 'delete', data: { confirm: resource.threesixty_campaign.decorate.delete_confirmation, toggle: 'tooltip', title: t('.tooltips.campaigns.delete') }
      span.fa.fa-times
