tr id=dom_id(resource)
  td = resource.id
  td = link_to resource.name, administration_client_project_threesixty_campaign_path(client, project, resource.threesixty_campaign)
  td
    = link_to resource.threesixty_campaign.assessment.decorate.name, administration_assessment_path(resource.threesixty_campaign.assessment_id)
  td
    = link_to resource.threesixty_campaign.report.decorate.name, administration_report_path(resource.threesixty_campaign.report_id)
  td.text-center = resource.decorate.status
  td.text-center = resource.decorate.formatted_date_time(:created_at)
  td.actions-cell
    .btn-group
      button.btn.btn-default.btn-rounded.dropdown-toggle.btn-sm.mrm data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type='button'
        i.fa.fa-download
        =<> t('.export_results')
        span.caret
      ul.dropdown-menu
        li
          = link_to t('.raw_results'), export_results_administration_client_project_threesixty_campaign_path(client, project, resource.threesixty_campaign, format: 'xlsx')
    - if policy(resource).edit?
      = link_to({ action: :edit, id: resource.threesixty_campaign }, class: 'btn btn-default btn-rounded btn-sm', data: { toggle: 'tooltip', title: t('.tooltips.edit') }, remote: true)
        i.fa.fa-pencil
    = link_to administration_client_project_threesixty_campaign_path(client, project, resource), remote: true, class: 'btn btn-default btn-rounded btn-sm', method: 'delete', data: { confirm: resource.threesixty_campaign.decorate.delete_confirmation, toggle: 'tooltip', title: t('.tooltips.campaigns.delete') }
      span.fa.fa-times
