div#three-sixty-container

javascript:
  window.__INITIAL_STATE__ = #{@init_state.to_json.html_safe}

= javascript_pack_tag 'vendors'
= stylesheet_pack_tag 'vendors'
= javascript_pack_tag 'admin/threeSixtyCampaign'
= stylesheet_pack_tag 'admin/threeSixtyCampaign'
