@import '~/styles/antv4.variable.less';
@import '~/styles/spacing';

@background: #589DA5;

.bordered {
  border: 1px dashed #ccc;
}

.editable {
  position: absolute;
  z-index: 7000;
  cursor: pointer;

  &.selected {
    z-index: 9999;
    box-shadow: 0 0 10px 0px var(--ant-primary-color);
    .buttons {
      opacity: 1;
    }
  }

  & :global(.fr-element.fr-view) {
    height: 100%;
  }
}

.buttons {
  position: absolute;
  top: -28px;
  right: 0;
  display: flex;
  background-color: @background;
  opacity: 0;
  transition: 0.4s;
  &:has(span) {
    padding: @space-1/2 @space-1;
  }

  label {
    color: #fff;
  }

  .edit, .approve {
    background-color: @background;
  }

  .approve, .approved, .discard {
    margin-left: @space-1 / 4;
  }
}

.checkbox {
  padding-top: @space-2;
}

.editor {
  background-color: #fff;
  &.diff {
    height: 100%;
    ins {
      text-decoration: none;
      background-color: #d4fcbc;
    }

    del {
      text-decoration: line-through;
      background-color: #fbb6c2;
      color: #555;
    }
  }
}
