.user-idp-plan{
    flex: 1;
    :global(.ant-tabs-nav-wrap) {
      padding-left: 0.5rem;
    }
}

.cancel-btn {
  width: fit-content;
}

.tab-container {
  padding: 16px 24px 0 24px;
  overflow-y: auto;
}
