:global {
  .agile-container {
    overflow: visible !important;
    canvas {
      margin: 6px !important;
      border-radius: 6px;
      overflow: hidden;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px;
    }
  }
}