@import "~/styles/antv4.variable.less";
@import "~/styles/spacing.less";

.campaignHeader:global(.ant-page-header) {
  background-color: var(--ant-primary-color);
  padding-block: @space-2;
}
.backIcon {
  color: @white;
}

.campaignsCount {
  font-size: @font-size-base;
  font-weight: 400;
}
.progressStatus {
  &:global(.ant-progress .ant-progress-indicator) {
    color: @white;
  }
  & :global(.ant-progress-rail) {
    background-color: var(--ant-primary-7);
  }
}

.container {
  background-color: @white;
}

.privacyPageContent{
  overflow-x: hidden;
  max-width: 960px;
  margin: auto;
  padding: @space-6;
}

.pageContent {
  overflow-x: hidden;
  max-width: 1200px;
  margin: auto;
  padding: @space-4;
}

.external {
  text-align: center;
  .icon {
    padding: 20px 0;
  }
}

.policyContent {
  max-height: calc(100vh - 250px);
  overflow-y: scroll;
}

.acceptBtn {
  text-align: center;
  margin-top: @space-4
}

.redirectFooter {
  text-align: center;
  margin-top: @space-4;
  padding: @space-4 0;
}

.privacyPageFooterButtons{
    .buttonContainer{
    margin-top: @space-4;
  }
  .checkboxText {
    font-weight: 600;
    width: 900px;
  }
}

.footerButtons {
  margin-top: @space-4;
  padding: @space-4 0;
}

.tac {
  text-align: center;
}

.header {
  background-color: @white;
  border: 1px solid @border-color-base;
  border-inline: none;
  height: auto;
}

.instructionHeader:global(.ant-page-header) {
  background-color: var(--ant-primary-color);
  padding-block: @space-2;
  position: relative;
  z-index: 1;

  & :global(.ant-btn):focus-visible {
    outline: 4px solid var(--ant-primary-1);
  }
}
.backIcon {
  color: @white;
}
.campaignDropdown {
  display: inline-block;
  color: @white;
  white-space: break-spaces;
  min-width: 320px;
  font-size: 1.25rem;
  &:hover {
    color: @white;
  }
}

.instructionsContainer {
  max-width: 1200px;
  margin: auto;
  padding-inline: @space-2;
  &:global(.fr-fullscreen-wrapper), &:global(.fr-fullscreen-wrapper) :global(.ant-tabs-nav) {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media screen and (max-width: @screen-sm) {
  .campaignDropdown {
    max-width: 320px;
    min-width: unset;
    word-break: break-word;
  }
}

@media screen and (max-width: @screen-sm) {
  .policyContent {
    max-height: 100vh;
    overflow-y: scroll;
  }
  .consentTitle:global(.ant-typography) {
    font-size: 1.5rem;
  }
}
