.assesment {
  margin-left: 10px;
  max-width: 200px;
  flex: 1;
}

.question {
  display: flex;
  flex: 5;
}

.container {
  flex: 4;
  display: flex;
  flex-direction: column;
}

.questionBlock {
  display: flex;
}

.keyword {
  display: inline-block;
  text-align: center;
  width: 15px;
  margin: 0 15px;
}
