.card {
  border: 1px solid #e8e8e8;
  border-left: none;
  :global {
    .ant-card-extra {
      padding: 0;
    }
  }
  :global(.ant-card-head) {
    margin-bottom: 0px;
    padding: 0 12px;
  }
}

.table {
  td img {
    max-width: 100%;
  }
}

.breadcrumbs {
  padding: 5px !important;
}

.container {
  max-width: calc(100vw - 60px);
}

.nameContainer {
  padding: 12px;
}

.assessorTabs :global(.ant-tabs-nav) {
  margin-bottom: 0px;
  padding-inline-start: 12px;
}
