.card {
  border: 1px solid #e8e8e8;
  border-left: none;
  :global {
    .ant-card-extra {
      padding: 0;
    }
  }
}

.table {
  td img {
    max-width: 100%;
  }
}

.breadcrumbs {
  padding: 5px !important;
}

.container {
  max-width: calc(100vw - 60px);
}