.header {
  z-index: 1;
  box-shadow: 0 0px 4px 1px rgba(0, 0, 0, 0.1);
  line-height: 78px !important;
  :global {
    .ant-menu-horizontal {
      border-bottom: none;
    }
  }
}

.logo {
  max-height: 70px;
  max-width: 100%;
}

// As icons inside of menu have margin difficult to override
.overideMargin {
  margin: 0 auto !important;
}

.profileMenu {
  :global {
    .ant-menu-submenu-title {
      padding: 0 5px;
    }
  }
}

.menuItemIcons {
  :global {
    span[role='img'].anticon {
      font-size: 3rem;
    }

    .anticon.anticon-question-circle {
      top: 7px;
      position: relative;
    }
  }
}
