@import 'styles/variables.less';

.header {
  z-index: 1;
  box-shadow: 0 0px 4px 1px rgba(0, 0, 0, 0.1);
  line-height: 78px !important;
  height: 100%;
  background: #fff;
  :global {
    .ant-menu-horizontal {
      border-bottom: none;
    }
    .ta-e.ant-menu-rtl {
      text-align: end;
    }
  }
}

// As icons inside of menu have margin difficult to override
.overideMargin {
  margin: 0 auto !important;
}

.profileMenu {
  :global {
    .ant-menu-submenu-title {
      padding: 0 5px;
    }
  }
}

.menuItemIcons {
  :global {
    span[role='img'].anticon {
      font-size: 3rem;
    }

    .anticon.anticon-question-circle {
      top: 7px;
      position: relative;
    }
  }
}

@media(max-width: @screen-lg) {
  :global(.ant-layout-header) {
    &.header {
      padding: 0 20px;
    }
  }
}
