@import 'styles/ant.variable.less';
@import 'styles/spacing.less';
@import '../../mixins.less';

.container {
  .responsiveContainer(400px, 280px, 300px);
}

.description {
  color: @text-color-secondary;
}

.submit {
  margin-top: @space-9;
}

.resend {
  text-align: center;
  margin-top: @space-5;
  margin-bottom: @space-5;
}
