.input {
  margin: 8px 0;

  & :global(.ant-form-item-label) {
    padding: 0 0 4px !important;
  }

  label {
    font-weight: 600;
  }
}

.field {
  flex: 1;
  width: 100%;
}

.tel {
  [type="tel"] {
    direction: ltr !important;
  }
  direction: ltr !important;
}
