.header {
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom, #f2f2f2, #ececec);
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
  padding: 5px;

  .expander {
    display: flex;
    align-items: center;
  }
  .icon {
    margin: 0 10px;
    color: #666;
    font-size: large;
  }
}
.editorContainer {
  display: flex;
}
.layoutPanel {
  margin: 10px;
  width: 20%;
}
.editor {
  flex: 1;
}
.label {
  margin: 0;
  font-size: 11px;
  color: #737373;
}
.inputLabel {
  display: block !important;
  font-weight: normal;
  color: #000;
  font-size: 12px;
  input {
    margin-inline-end: 5px;
  }
}
.divider {
  clear: both;
  width: 100%;
  border-top-color: #CCC;
  border-bottom: 1px solid #ffffff;
  border-left: none;
  border-right: none;
  margin: 6px 0;
}
.colorPicker {
  display: flex
}
.menuicon{
  margin-left: 10px;
  display: inline-block;
  width: 14px;
  margin-right: 5px;
  cursor: pointer;
}
