.formItem {
  flex: 1;
  margin-bottom: unset;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
}

.selectOptions {
  z-index: 10000 !important;
}

.table {
  border-radius: 12px;
}

.formItem {
  margin-bottom: 0;
}

.fileInput {
  padding: 12px;
}

.row {
  margin-bottom: 16px;
  justify-content: flex-end;
  gap: 12px;
}
