
# APP_DOMAIN: localhost
# APP_PROTOCOL: http
# APP_SUB_DOMAIN: www
# HTTP_AUTH_CREDENTIALS:

HASHIDS_SALT: 'fake_salt'
# ENCRYPTED_KEY:
# SECRET_TOKEN_FOR_GENERATE:
# SECRET_KEY_BASE: 'dummy_key'
DEVISE_SECRET_KEY: 'dummy_key'

MAIL_USERNAME: 'fake_username'
MAIL_PASSWORD: 'fake_password'
MAIL_DOMAIN: 'fake.domain.com'
MAIL_ADDRESS: provider.address.com
# MAIL_PORT: 587

# AWS_ACCESS_KEY_ID:
# AWS_REGION:
# AWS_S3_BUCKET:
# AWS_SECRET_ACCESS_KEY:

# HOGAN_CLIENT_ID:
# HOGAN_CLIENT_USER_ID:
# HOGAN_CLIENT_PASSWORD:
# HOGAN_LOGIN_URL:
# HOGAN_WSDL_URL:
# HOGAN_ENCRYPTED_KEY:

# REDIS_URL:
# REDIS_PROVIDER: REDIS_URL

# PIPELINE_STAGE:
# RACK_ENV:
# RAILS_ENV:
# RAILS_LOG_TO_STDOUT:
# RAILS_SERVE_STATIC_FILES:

# BUNDLE_DISABLE_EXEC_LOAD: true
# BUNDLE_GITHUB__HTTPS: true
# BUNDLE_GITLAB__COM:

# SENTRY_URL:

PRIVATE_BUCKET_STORAGE_SERVICE_KEY: s3_private_bucket
PUBLIC_BUCKET_STORAGE_SERVICE_KEY: s3_public_bucket

REAL_ENV: development
# AWS_ACCESS_KEY_ID: dummy_key
# AWS_SECRET_ACCESS_KEY: dummy_secret
# AWS_REGION: eu-west-1
# AWS_S3_BUCKET: dummy_bucket

S3_COMPATIBLE_STORAGE_ACCESS_KEY_ID: aws_access_key #replace with actual key from minio
S3_COMPATIBLE_STORAGE_SECRET_ACCESS_KEY: aws_secret_key #replace with actual secret from minio
S3_COMPATIBLE_STORAGE_PUBLIC_BUCKET: s3-public-bucket
S3_COMPATIBLE_STORAGE_PRIVATE_BUCKET: s3-private-bucket
S3_COMPATIBLE_STORAGE_REGION: eu-west-1
S3_COMPATIBLE_STORAGE_PROVIDER: minio # for local minio setup

CLOUDFRONT_DOMAIN: dummy_domain
CLOUDFRONT_KEY_PAIR_ID: dummy_key
CLOUDFRONT_PRIVATE_KEY: |
  -----BEGIN RSA PRIVATE KEY-----
  <paste-key-here>
  -----END RSA PRIVATE KEY-----
CLOUDFRONT_SIGNED_URL_EXPIRES_IN: 600

MAINTENANCE_START_DATETIME: "2021-10-27 17:04:21 +0400"
MAINTENANCE_DURATION: '300' # minutes
UAE_DATA_MIGRATION_REDIRECT_ENABLED: 'true'
UAE_DATA_MIGRATION_SUBDOMAINS: ccd,adsg,adeo,xzy

PK_ID_START: '1'

DISABLE_SAML_FOR_ADMINS: 'true'
SAML_IDP_ENTITY_ID:
SAML_IDP_SSO_SERVICE_URL:
SAML_IDP_CERT:

IMPORT_EXPORT_SECRET: 'fake_secret'
POWER_BI_TENANT_ID:
POWER_BI_CLIENT_ID:
POWER_BI_CLIENT_SECRET:
POWER_BI_USERNAME:
POWER_BI_GROUP_ID:

# OCI SDK Authentication
# OCI_USER_ID: ''
# OCI_TENANCY: ''
# OCI_PRIVATE_KEY: ''
# OCI_FINGERPRINT: ''
# OCI_COMPARTMENT_ID: ''
# OCI_REGION: 'me-riyadh-1'
# GENAI_OCI_REGION: 'me-riyadh-1'
