default: &default
  adapter: postgresql
  pool: 5
  timeout: 5000

development:
  <<: *default
  database: psychometrics_development

test:
  <<: *default
  host: localhost
  username: postgres
  password: postgres
  database: ci_test<%= ENV['TEST_ENV_NUMBER'] %>

production:
  <<: *default
  url: <%= ENV['DATABASE_CONNECTION_POOL_URL'] || ENV['DATABASE_URL'] %>
  pool: <%= ENV["DB_POOL"] || ENV['RAILS_MAX_THREADS'] || 5 %>
  prepared_statements: false
  advisory_locks: false
