default: &default
  adapter: postgresql
  pool: 5
  timeout: 5000

common: &test_defaults
  <<: *default
  host: localhost
  username: postgres
  password: postgres

development:
  primary:
    <<: *default
    database: psychometrics_development

  primary_replica:
    <<: *default
    database: psychometrics_development
    replica: true

test:
  primary:
    <<: *test_defaults
    database: ci_test<%= ENV['TEST_ENV_NUMBER'] %>

  primary_replica:
    <<: *test_defaults
    database: ci_test<%= ENV['TEST_ENV_NUMBER'] %>
    replica: true

production:
  primary:
    <<: *default
    url: <%= ENV['DATABASE_CONNECTION_POOL_URL'] || ENV['DATABASE_URL'] %>
    pool: <%= ENV["DB_POOL"] || ENV['RAILS_DB_POOL'] || 5 %>
    prepared_statements: false
    advisory_locks: false

  primary_replica:
    <<: *default
    url: <%= ENV['ENV_REPLICA_DATABASE_URL'] ? ENV[ENV['ENV_REPLICA_DATABASE_URL']] : (ENV['DATABASE_CONNECTION_POOL_URL'] || ENV['DATABASE_URL']) %>
    pool: <%= ENV["DB_POOL"] || ENV['RAILS_DB_POOL'] || 5 %>
    prepared_statements: false
    advisory_locks: false
    replica: true
