@import '~/styles/spacing.less';
@import '~/styles/antv4.variable.less';

.dateFormItem {
  &:global(.ant-form-item) {
    margin-bottom: @space-3;
  }
}
.timezone {
  max-width: 445px;
}
.daysContainer {
  flex-basis: 100%;
}


.tte-text-checkbox {
  :global {

    .ant-checkbox-inner{
      padding: 10px;
      border-radius: 50%;
      width: 28px;
      height: 28px;
    }
    .ant-checkbox-checked {
      &::after{
        border-radius: 12px;
      }
      .ant-checkbox-inner {
        &::after {
          display: none;
        }
      }
    }
    .ant-checkbox + span {
      width: 28px;
      height: 33px;
      padding: 0;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .ant-checkbox-wrapper-checked{
      .ant-checkbox + span {
        color: @white;
      }
    }
  }
}

:global {
  .ant-collapse-header:focus-visible {
    outline: 1px solid var(--ant-primary-4);
  }
}
