tr data-sidebar=url_for([:sidebar, :administration, resource]) id=dom_id(resource)
  td.text-center
    = link_to([:toggle_status, :administration, resource], remote: true, method: :patch, data: { confirm: resource.decorate.toggle_status_confirmation })
      = resource.decorate.status
  td = link_to resource.name, administration_client_path(resource)
  td = resource.decorate.created_at
  td
    - if policy(resource).actions?
      = link_to [:edit, :administration, :client, :sub_client, id: resource], remote: true, class: 'btn btn-default btn-rounded btn-sm mrm', data: { toggle: 'tooltip', title: t('.tooltips.edit') }
        span.fa.fa-pencil
      = link_to [:copy, :administration, resource], remote: true, class: 'btn btn-default btn-rounded btn-sm mrm', data: { toggle: 'tooltip', title: t('.tooltips.copy') }
        span.fa.fa-copy
      = link_to [:administration, resource], remote: true, class: 'btn btn-default btn-rounded btn-sm mrm', method: 'delete', data: { confirm: resource.decorate.delete_confirmation, toggle: 'tooltip', title: t('.tooltips.delete')}
        span.fa.fa-times
