@import "styles/ant.variable.less";

.in_progress {
  color: var(--ant-warning-color);
}
.completed {
  color: var(--ant-success-color);
}
.not_started {
  color: @text-color-secondary;
}
.assessmentLabel {
  align-self: center;
}
.titleAvatar {
  background-color: var(--ant-primary-color);
  cursor: default;
}
