@import "~/styles/spacing.less";
@import "~/glint/styles/mixins.less";

.card {
  & :global(.ant-card-body) {
    padding: @space-4;
    padding-block-start: 0px;
  }
  & :global(.ant-card-head) {
    position: relative;
    border-bottom: none;
    padding-inline: @space-4;
  }
  & :global(.ant-card-head-title) {
    padding-block: 0px;
    .highlighter(20px, @positionTop: 2rem );
  }
  & :global(.ant-card-extra) {
    padding-block-end: @space-2;
  }
}

:global(.rtl) {
  & .card {
    & :global(.ant-card-head-title):before {
      right: 0;
    }
  }
}
