.modal-body
  .row style='margin-top: 10px;border: 1px solid #ccc; padding: 10px;'
    label = t('.title')
    = form_for(:dimension, url: import_factors_administration_dimension_path(params[:id]), remote: true) do |f|
      - if @error_msgs.present?
        .alert.alert-danger
          = @error_msgs.join('<br/>').html_safe
      div style="width: 300px; display: flex;"
        = f.file_field :file, class: 'form-control'
        = f.submit t('.import'), class: 'btn btn-default'

.modal-footer
  .btn-group
    a.btn.btn-default data-dismiss='modal' = t 'administration.close'
