#resource_list.table-responsive
  table.table.table-bordered.table-actions.table-hover
    thead
      tr
        th.text-center width="50" = Dimension.human_attribute_name(:id)
        th.text-center width="100" = Dimension.human_attribute_name(:favourite)
        th.text-center width="100" = Dimension.human_attribute_name(:active)
        th = Dimension.human_attribute_name(:name)
        th width='150' = t 'administration.actions'
        th width='150' = t Dimension.human_attribute_name(:created_at)
        th width='150' = t Dimension.human_attribute_name(:updated_at)
    tbody
      = render partial: 'resource', collection: @dimensions