tr data-sidebar=url_for([:sidebar, :administration, resource]) id=dom_id(resource)
  td.text-center
    = link_to([:toggle_status, :administration, resource], method: :patch, remote: true, class: 'toggle-status', data: { confirm: resource.decorate.toggle_status_confirmation })
      = resource.decorate.status
  /! td == "#{resource.name} (#{link_to('factors', [:administration, resource, :factors])} / #{link_to('occupations', [:administration, resource, :occupations])})"
  td == "#{link_to(resource.name, [:administration, resource, :factors])} (#{link_to('occupations', [:administration, resource, :occupations])} / #{link_to('innovation styles', [:administration, resource, :innovation_styles])})"
  td.text-center = resource.factors_count
  td = resource.decorate.client_name
  td.text-center = resource.decorate.created_at
  td.text-center = resource.decorate.updated_at
  td.actions-cell
    - if policy(resource_class).actions?
      = link_to [:edit, :administration, resource], remote: true, class: 'btn btn-default btn-rounded btn-sm edit', data: { toggle: 'tooltip', title: t('.tooltips.edit') }
        span.fa.fa-pencil
      = link_to [:copy, :administration, resource], remote: true, class: 'btn btn-default btn-rounded btn-sm copy', data: { toggle: 'tooltip', title: t('.tooltips.copy') }
        span.fa.fa-copy
      = link_to [:administration, resource], remote: true, class: 'btn btn-default btn-rounded btn-sm delete', method: 'delete', data: { confirm: resource.decorate.delete_confirmation, toggle: 'tooltip', title: t('.tooltips.delete')}
        span.fa.fa-times
