tr id=dom_id(resource)
  td.text-center = resource.id
  td.text-center = resource.decorate.favourite
  td.text-center = resource.decorate.status
  td = resource.name
  td
    = link_to [:edit, :administration, resource], remote: true, class: 'btn btn-success btn-rounded btn-sm'  do
      span.fa.fa-pencil
    = confirmation_link [:administration, resource], class: 'btn btn-success btn-rounded btn-sm', method: 'delete', data: {confirm: ''} do
      span.fa.fa-times
  td = resource.decorate.created_at
  td = resource.decorate.updated_at