ul.x-navigation.x-navigation-panel id="sidebar_#{dom_id(@resource)}"
  li.xn-title = t('.title')
  - if policy(@resource).edit?
    li = link_to @resource.decorate.toggle_status_text, [:toggle_status, :administration, @resource], remote: true, method: :patch
  - if policy(@resource).edit?
    li = link_to t('.edit'), [:edit, :administration, @resource], remote: true
  - if policy(@resource).copy?
    li = link_to t('.copy'), [:copy, :administration, @resource], remote: true
  li.xn-title = t('.assign')