@import '~/styles/antv4.variable.less';
@import '~/styles/spacing.less';

.icon {
  display: block;
}
.containerWithBg{
  padding: @space-1 @space-2;
  background: @white;
}
.link:focus-visible {
  & .container {
    outline-offset: -2px;
    outline: 4px solid var(--ant-primary-3);
  }
}
