.column{
  min-width: 200px;
  border-left: 1px solid #f0f0f0;
}

.header {
  border-bottom: 1px solid #f0f0f0;
}

.group{
  text-align: center;
  align-items: center;
  justify-content: center;
}

.controlsRow {
  height: 40px;
  border-bottom: 1px solid #f0f0f0;
  border-top: 1px solid #f0f0f0;
}

.answersRow{
  background: #fafafa;
  border-bottom: 1px solid #f0f0f0;
}

.mainRow {
  &:first-child{
    border-top: 1px solid #f0f0f0;
  }
  td {
    padding: 4px 8px;
  }
  &:hover {
    background-color: #fafafa;
  }
}

.header{
  border-top: 0;
  visibility: hidden;
}

.answers {
  display: flex;
  min-height: 20px;
  justify-content: space-around;
  gap: 4px;
  align-items: center;
  background: #fafafa;
  .answer {
    padding: 4px;
    text-align: center;
    font-weight: normal;
  }
}

.menuicon {
  display: inline-block;
  width: 14px;
  margin-right: 5px;
}

.inputs {
  display: flex;
  min-height: 20px;
  justify-content: space-around;
  align-items: center;
  gap: 4px;

  &.dropdowns {
    flex-direction: column;
  }

  .select{
    width: 90%;
  }

  .input {
    padding: 4px;
    text-align: center;
  }

  input[type="text"] {
    &.Short {
      width: 80px;
    }

    &.Medium {
      width: 120px;
    }

    &.Long {
      width: 200px;
    }
  }
  textarea {
    resize: none;
    width: 350px;
    height: 50px;
  }
}

.firstColumn{
  border-left: 0;
  max-width: 200px;
}

.controls{
  display: flex;
  justify-content: center;
  align-items: center;

  .btn {
    width: 80%;
  }
}

.listItem {
  padding: 4px 0;
  font-weight: normal;
  display: flex;
  align-items: flex-start;
}

.questionText {
  margin-top: 10px;
}

.questionTextPreview {
  margin-bottom: 10px;
}

.preview{
  td{
    padding: 8px;
  }

  .answersRow {
    background: #fff;
    border-bottom: 0;
  }
  .header{
    border-bottom: 0;
  }

  .answers{
    background: #fff;
  }
  .answer {
    font-weight: normal;
  }
}
.scoringRow {
  display: flex;
  margin: 5px 0;
}
.scoringLeftBorder {
  border-left: 1px solid #f0f0f0;
}
.scoringBottomBorder {
  border-bottom: 1px solid #f0f0f0;
}
.scoringFirstCeil {
  max-width: 400px;
  padding: 5px;
}
.scoringScaleRow {
  border-bottom: 1px solid #f0f0f0;
}
.scoringTable {
  td {
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    input {
      margin: 0;
    }
  }
}

.scoringCell {
  padding: 10px;
}

:global(.rtl) {
  .column{
    border-left: 0;
    border-right: 1px solid #f0f0f0;
  }
  .firstColumn{
    border-right: 0;
  }
}
