= simple_form_for(@form, as: :user, url: administration_profiles_url) do |f|
  = f.input :email
  = f.input :password
  = f.input :password_confirmation
  = f.input :first_name
  = f.input :last_name
  = f.input :weekly_license_stats, as: :boolean, checked_value: true, unchecked_value: false
  = f.button :submit, t('administration.update'), class: 'btn-info'
