/! START PAGE CONTAINER
.page-container
  = render partial: 'left_sidebar'
  /! PAGE CONTENT
  .page-content
    = render partial: 'top_sidebar'
    /! PAGE CONTENT WRAPPER
    .page-content-wrap

      == render 'form'