.container
  .row
    .col-xs-12.col-sm-6.col-sm-offset-3.col-md-6.col-md-offset-3.col-lg-6.col-lg-offset-3
      /! Nav tabs
      .formTabs
        h1 = t('.title')
      /! Tab panes
      .content
        p.instructionalText = t('.description')
        = simple_form_for(resource, as: resource_name, url: administration_password_path, html: {method: :put, class: 'form-horizontal'}) do |f|
          div.clearfix
            == flash_messages
          .loginFormContent
            .passwordFormGroup
              label for="password2" = t('.password_label')
              .input-group
                = f.input_field :password, placeholder: t('.password_label'), class: 'form-control'
            .passwordFormGroup
              label for="passwordConfirm" = t('.confirm_password_label')
              .input-group
                = f.input_field :password_confirmation, placeholder: t('.confirm_password_label'), class: 'form-control'
            span.clear &nbsp;
            .resetPasswordButton
              .input-group.pull-left
                button.btn.btn-primary.signIn type="submit" value="Submit" = t('.submit')
            .clearfix
    .clearfix