@import '~/styles/antv4.variable.less';
@import '~/styles/spacing.less';

.pageContent {
  background-color: @white;
  padding: @space-12;
}

.buttonSpaceContainer {
  margin-top: @space-6;
  float: right;
}

.infoIcon {
  font-size: 1.2rem;
  font-weight: bold;
  margin-inline-end: @space-2;
}
