.container {
  background: #F4F4F4;
  border-radius: 6px;
  border: 1px solid #E8E4E4;

  .percent {
    color: #009C37;
  }

  .item {
    .successIcon {
      color: #009C37;
    }

    .failedIcon {
      color: #E2013D;
    }
  }
}