div class=([@current_project&.login_box_position || 'right', 'box', 'devise', namespace_name].compact.join(' '))
  - if @browser_detections && !@browser_detections.preferred_browser?
    = render 'browser_detections'

  .panel.panel-default.session
    .panel-body
      .message.pvl
        h1.mvm = t('.title')
        .instruction = t('.instruction')

      = simple_form_for(resource, as: resource_name, url: administration_invitation_path, html: { method: :put }) do |f|
        div.clearfix
          == flash_messages
          = devise_error_messages!
          = f.hidden_field :invitation_token
          = f.full_error :invitation_token

        = form_group_for f, :password, class: 'mbm' do
          .password.input-group
            span#password.input-group-addon
              i.icon-lock
            = f.input_field :password, placeholder: t('.password_label'), autofocus: true, class: 'form-control input-lg'

        = form_group_for f, :password_confirmation, class: 'mbm' do
          .password.input-group
            span#password.input-group-addon
              i.icon-lock
            = f.input_field :password_confirmation, placeholder: t('.confirm_password_label'), autofocus: true, class: 'form-control input-lg'

        .actions.pvm
          button.btn.btn-primary type="submit"
            = t('.submit')
            span class="fa fa-chevron-right mlm"

    .panel-footer
      = render partial: 'devise/shared/footer'
