.container
  .row
    .col-xs-12
      #assessmentDashboard
        .contentTitleHeader
          i.glyphicon.glyphicon-ok.titleIcon.pull-left
          p.contentTitle = t('.title')
        .col-xs-12
          .succesfulMessage.text-center
            span.glyphicon.glyphicon-ok-circle.paymentSuccesfulIcon
            == t('.body')
            = link_to t('.back_to_basket'), ecommerce_carts_path, class: 'btn btn-next btn-next-lg'
            = link_to t('.go_to_dashboard'), root_url(subdomain: @current_membership.client&.subdomain), class: 'btn btn-next btn-next-lg'
            
        .clearfix 
