= simple_form_for(resource, as: :resource, url: { action: resource.new_record? ? :create : :update }, remote: true, multipart: true, html: { id: 'project_form' }) do |f|
  .modal-body
    = f.error_notification
    .form-inputs.clearfix
      = f.input :name
      = f.input :subdomain, wrapper: :vertical_input_group
        = f.input_field :subdomain, class: 'form-control'
        span.input-group-addon
          | .
          = Settings.domain
      = f.input :number
      = f.input :applicable_level,
                as: :select,
                collection: Client.applicable_levels.map { |name, value| [t("activerecord.attributes.client.applicable_levels.#{name}"), name] },
                include_blank: false,
                disabled: !f.object.new_record?
      - if f.object.project?
        = f.association :reports, collection: Report.with_report_families(client.report_family_ids).distinct
      .clearfix
      -if policy(:client).design?
        .well
          h3 Design
          // File input
          = f.input :logo, hint: (f.input(:remove_logo, as: :boolean) + image_tag(f.object.logo.url(:thumb)) if f.object.logo.present?)
          .row.mhn
            .col-sm-5.pln
              = f.input :background, hint: (f.input(:remove_background, as: :boolean) + image_tag(f.object.background.url(:thumb)) if f.object.background.present?)
            .col-sm-2 OR
            .col-sm-5.prn
              .form-group
                = f.label :background_color, class: 'control-label'
                .input-group.colorfield
                  = f.input_field :background_color, class: 'form-control'
                  span.input-group-addon
                    i
  .modal-footer
    .btn-group
      = f.button :submit, resource.new_record? ? t('administration.create') : t('administration.update'), class: 'btn-info'
      a.btn.btn-default data-dismiss='modal' = t 'administration.close'
