= simple_form_for(resource, as: :resource, url: { action: resource.new_record? ? :create : :update }, remote: true, multipart: true, html: { id: 'project_form' }) do |f|
  .modal-body
    = f.error_notification
    .form-inputs.clearfix
      = f.input :name
      = f.input :subdomain, wrapper: :vertical_input_group
        = f.input_field :subdomain, class: 'form-control'
        span.input-group-addon
          | .
          = Settings.domain
      = f.input :number, label: t('.project_number')
      = f.input :applicable_level,
                as: :select,
                collection: Client.applicable_levels.map { |name, value| [t("activerecord.attributes.client.applicable_levels.#{name}"), name] },
                selected: :campaign,
                include_blank: false,
                disabled: true

      - if f.object.project?
        label = t('.other_settings')
        = f.input :locales,
          as: :select,
          collection: Utility::Locale.end_user_locales.stringify_keys.to_a,
          value_method: :first,
          label_method: :second,
          include_blank: false,
          include_hidden: false,
          input_html: { multiple: true }
        = f.input :enable_live_chat, label: t('.enable_live_chat')
        #live_chat_token.mbm.pl class="#{resource.enable_live_chat ? '' : 'hidden'}"
          = f.input :live_chat_token, label: t('.live_chat_token'), placeholder: t('.optional')
        = f.input :webhook, label: t('.webhook'), as: 'url'
        = f.input :webhook_auth_enabled, label: t('.webhook_auth_enabled')
        #webhook_credentials.mbm.pl class="#{resource.webhook_auth_enabled ? '' : 'hidden'}"
          = f.input :webhook_username, label: t('.webhook_username'), input_html: { autocomplete: 'off' }
          = f.input :webhook_password, label: t('.webhook_password'), placeholder: (resource.webhook_subscription&.password.blank? ? '' : '*****'), input_html: { autocomplete: 'new-password' }
      .clearfix

  .modal-footer
    .btn-group
      = f.button :submit, resource.new_record? ? t('administration.create') : t('administration.update'), class: 'btn-info'
      a.btn.btn-default data-dismiss='modal' = t 'administration.close'
