ul.x-navigation.x-navigation-panel id="sidebar_#{dom_id(@resource)}"
  li.xn-title.title = t('.title')
  - if policy(@resource).edit?
    li = link_to(@resource.decorate.toggle_status_text, { action: :toggle_status, id: @resource }, remote: true, method: :patch, data: { confirm: @resource.decorate.status_confirmation })
  - if policy(@resource).edit?
    li = link_to(t('.edit'), { action: :edit, id: @resource }, remote: true)
  - if policy(@resource).copy?
    li = link_to(t('.copy'), { action: :copy, id: @resource }, remote: true)
  - if policy(@resource).destroy?
    li = link_to(t('.destroy'), { action: :destroy, id: @resource }, remote: true, method: :delete, data: { confirm: @resource.decorate.delete_confirmation })
  /- if policy(@resource).archive?
    li = link_to(t('.archive'), { action: :archive, id: @resource }, method: :patch, data: { confirm: @resource.decorate.archive_confirmation, toggle: 'tooltip' })
  li = link_to t('.view_licenses'), administration_client_licenses_path(@resource), remote: true
