.card {
  border-bottom: 1px solid #DBDBDB;
  padding: 12px 0;
  cursor: pointer;
}

.card:last-child {
  border-bottom: none;
}

.card_content{
  padding: 0 16px;
  border: 1px solid #DBDBDB;
}
/* RTL styles */
[dir="rtl"] .card {
  padding: 12px 0 12px 12px;
}

.m_none{
  margin: 0;
}

.p_none{
  padding: 0;
}

.image{
  border-radius: 4px;
  max-width: 10rem;
  min-height: 5rem;
  align-self: flex-end;
  block-size: auto;
  aspect-ratio: 2/1;
  object-fit: cover;
  height: 100%;
}