.card {
  border-bottom: 1px solid #DBDBDB;
  padding: 12px 0;
}

.card:last-child {
  border-bottom: none;
}

.card_content{
  padding: 8px 16px;
  border: 1px solid #DBDBDB;
}
/* RTL styles */
[dir="rtl"] .card {
  padding: 12px 0 12px 12px;
}

.m_none{
  margin: 0;
}

.p_none{
  padding: 0;
}