.imageOutlined {
  background-size: cover;
  cursor: pointer;
  width: 60px;
  height: 60px;
}

.logoImageStyles {
  background-size: 'cover';
  cursor: 'pointer';
}

.spaceStyles {
  line-height: 'initial';
  vertical-align: 'middle';
}

.campaignLink {
  padding-left: '20px';
  font-size: '16px';
  font-weight: 'bold';
}

.campaignLinkText {
  padding-left: '20px';
}