:global {
  footer.threesixty-footer {
    background: transparent;
    border-top: 1px solid #e8e8e8;
    padding: 0;

    .footer-wrapper {
      padding: 16px 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      img {
        max-height: 50px;
      }
    }
  }
}
