@import '~/styles/antv4.variable.less';
@import '~/styles/spacing.less';

.fullScreenIcon {
  position: absolute;
  height: 30px;
  width: 30px;
  bottom: 0px;
  right: 4px;
  background: var(--ant-primary-color);
  color: white;
  border-radius: 15px;
  padding: 5px 8px;
  cursor: pointer;
  z-index: 1000;
}

.embedContainer {
  height: calc(100vh - 197px);

  iframe {
    border: 0;
  }
}

.normalMode {
  position: relative;
}

.fullScreenMode {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  z-index: 1000;

  .pageHeader {
    border: 1px solid #ddd;
    padding: @space-2 @space-6;
  }

  .embedContainer {
    height: calc(100vh - 54px);
  }
}

.skeletonContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
}
