
@import '~/styles/spacing.less';
@import '~/styles/antv4.variable.less';

:global {
  .reportContainer {
    .fe-page-container {
      margin: 25px auto;
      border: 1px solid #CCC;
      background-color: #fff;
    }
  }
}

.tabs {
  height: 100%;
  display: flex;
  flex-direction: column;
  :global {
    .ant-tabs-tab {
      min-width: 33.3%;
      justify-content: center;
    }

    .ant-tabs-nav {
      margin-bottom: 0 !important;
      flex-shrink: 0;
      background-color: #fff;
    }

    .ant-tabs-nav-list {
      padding: 0 @space-3;
    }
    .ant-tabs-body-holder {
      overflow-y: auto;
      flex: 1;
      min-height: 0;
    }
    .ant-tabs-body {
      height: 100%;
    }
  }
}
.events {
  width: 100%;
  gap: 0;
  .event {
    padding: 12px;
  }

  .clickable {
    cursor: pointer;
  }
}

.filters {
  padding: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.comments {

  .thread {
    border-left: 3px solid transparent;
    padding: @space-4;
    &.highlighted {
      border-left: 3px solid var(--ant-primary-color);
      background-color:#E9F7F6;
    }
  }

  .module {
    padding-bottom: @space-4;
    cursor: pointer;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    color: @disabled-color;
    text-overflow: ellipsis;
    .title {
      color: @text-color;
      font-weight: bold;
      margin-right: @space-2;
    }
  }
}

.affix {
  :global {
    .ant-affix {
      z-index: 9999;
    }
  }
}

.compose {
  padding: @space-4;

  .hint {
    padding-bottom: @space-4;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
  }

  .send {
    font-size: 18px;
    cursor: pointer;
    color: #ccc;
  }
}
.reply {
  margin-top: @space-4;
}

.toolbar {
  background-color: #fff;
}

.container {
  background-color: white;
  overflow: visible !important;

  .reportPreviewBody {
    position: relative;
    border: 1px solid #ccc;
    flex-wrap: nowrap;
    overflow: visible;
  }

  :global {
    .ant-page-header-content {
      overflow: visible;
    }
  }
}

.sidebarWrapper {
  align-self: flex-start;
  position: sticky;
  top: 55px;
}

.sidebar {
  width: 300px;
  height: calc(100vh - 55px);
  border-left: 1px solid #ccc;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .header {
    padding: 20px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      color: #00B4AA;
    }
  }

  .override {
    padding: 8px 0;
    display: flex;
    border-left: 3px solid transparent;
    cursor: pointer;

    .number {
      min-width: 40px;
      max-width: 40px;
      text-align: center;
    }

    .tag {
      color: #aaa;
      font-size: 0.9em;
    }

    .content {
      flex: 1;
      overflow: hidden;
    }

    .text {
      margin-top: 5px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;


    }

    &.selected, &:hover {
      border-left: 3px solid #477c82;
      background-color: #ecf7f6;
    }
  }

  .pageTitle {
    padding: 16px 20px;
    font-weight: bold;
  }
}

.divider {
  margin: 3px auto;
  width: 80%;
}

.lang {
  width: 130px;
}

.translate {
  display: flex;
  justify-content: flex-end;
  z-index: 9999;
}

.aiTranslationPopover {
  width: 100%;
  min-width: 200px;
}

.aiBadge {
  width: 100%;
  z-index: 9999;
  .aiBadgeContent {
    padding: 8px 12px;
    background: #000000CC;
    color: #fff;
  }
}


.translationHeader {
  font-size: 16px;
  padding-inline-end: 160px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
}
.translationInfo, .translationControls {
  font-weight: normal;

}

.errorContainer {
  font-weight: normal;
  color: red;
}
