tr data-sidebar=url_for(sidebar_administration_client_project_campaign_sub_campaign_path(client, project, campaign, resource)) id=dom_id(resource)
  td = link_to resource.decorate.display_name, administration_client_users_path(resource)
  td
    - if resource.project_level?
      strong = t('.assessments')
      div
        - resource.assessments.each do |assessment|
          span.mrm data-toggle='tooltip' data-title=assessment.name
            = assessment.decorate.icon
      - if policy(:clients_report).create?
        .add-icon-box.nowrap
          = link_to new_administration_client_assign_assessments_path(client_id: resource.id), remote: true
            span.fa.fa-plus
            =< t('.add_assessment')
  td
    - if resource.project_level?
      - resource.clients_reports.includes(:report_family, :report).group_by(&:report_family).each do |report_family, reports|
        div
          - if report_family
            strong.nowrap
              = report_family.name
              = link_to edit_administration_client_assign_reports_path(resource.id, report_family_id: report_family.id), class: 'mlm', remote: true
                span.fa.fa-pencil
            .clearfix
          - reports.each do |report|
            span.mrm data-toggle='tooltip' data-title=report&.report&.name
              = report&.report&.decorate&.icon
      .add-icon-box.nowrap
        = link_to new_administration_client_assign_reports_path(resource.id), remote: true
          span.fa.fa-plus
          =< t('.add_report')
  td
    = link_to resource.end_memberships.size, administration_client_users_path(resource)
    - if policy(User).create?
      br
      = link_to new_administration_client_user_path(client_id: resource.id), remote: true, data: { toggle: 'tooltip', title: t('.tooltips.create_user') }
        span.fa.fa-plus
  - if current_user.is?(:superadmin)
    td = resource.decorate.actual_usage
  td.actions-cell
    - if policy(resource).actions? && policy(:client).manage_campaign?
      = link_to edit_administration_client_project_campaign_sub_campaign_path(client, project, campaign, resource), remote: true, class: 'btn btn-default btn-rounded btn-sm', data: { toggle: 'tooltip', title: t('.tooltips.edit') }
        span.fa.fa-pencil
      = link_to copy_administration_client_project_campaign_sub_campaign_path(client, project, campaign, resource), remote: true, class: 'btn btn-default btn-rounded btn-sm', data: { toggle: 'tooltip', title: t('.tooltips.copy') }
        span.fa.fa-copy
      = link_to administration_client_project_campaign_sub_campaign_path(client, project, campaign, resource), remote: true, class: 'btn btn-default btn-rounded btn-sm', method: 'delete', data: { confirm: resource.decorate.delete_confirmation, toggle: 'tooltip', title: t('.tooltips.delete')}
        span.fa.fa-times
