tr data-sidebar=url_for(sidebar_administration_client_project_campaign_sub_campaign_path(client, project, campaign, resource)) id=dom_id(resource)
  td = link_to resource.decorate.display_name, administration_client_users_path(resource)
  td 
    = resource.decorate.reports
    - if policy(:clients_report).create?
      .add-icon-box
        = link_to new_administration_client_report_path(client_id: resource.id), remote: true, data: { toggle: 'tooltip', title: t('.tooltips.create_report') }
          span.fa.fa-plus
  td
    = link_to resource.end_memberships.size, administration_client_users_path(resource)
    - if policy(User).create?
      br
      = link_to new_administration_client_user_path(client_id: resource.id), remote: true, data: { toggle: 'tooltip', title: t('.tooltips.create_user') }
        span.fa.fa-plus
  td = resource.decorate.actual_usage
  td.actions-cell
    - if policy(resource).actions?
      = link_to edit_administration_client_project_campaign_sub_campaign_path(client, project, campaign, resource), remote: true, class: 'btn btn-default btn-rounded btn-sm', data: { toggle: 'tooltip', title: t('.tooltips.edit') }
        span.fa.fa-pencil
      = link_to copy_administration_client_project_campaign_sub_campaign_path(client, project, campaign, resource), remote: true, class: 'btn btn-default btn-rounded btn-sm', data: { toggle: 'tooltip', title: t('.tooltips.copy') }
        span.fa.fa-copy
      = link_to administration_client_project_campaign_sub_campaign_path(client, project, campaign, resource), remote: true, class: 'btn btn-default btn-rounded btn-sm', method: 'delete', data: { confirm: resource.decorate.delete_confirmation, toggle: 'tooltip', title: t('.tooltips.delete')}
        span.fa.fa-times
