@import "~/styles/spacing.less";

.count {
  min-width: 50px;
  text-align: end;
}
.subjectLabel {
  color: var(--ant-primary-color);
  font-weight: normal; /* Can be removed after removing bootstrap styles */
}
.progressBar :global(.ant-progress-track) {
  background-color: var(--ant-primary-color);
}
.completed {
  color: var(--success-color);
}
