@import "~/styles/antv4.variable.less";
@import "~/styles/spacing.less";

.progressStatus {
  &:global(.ant-progress .ant-progress-indicator) {
    color: @white;
  }
  & :global(.ant-progress-rail) {
    background-color: var(--ant-primary-7);
  }
}
.listContainer {
  margin-block: @space-8;
}
