.sider {
  position: relative;
  top: 0;
  left: 0;
  z-index: 400;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border-inline-end: 1px solid var(--ant-primary-color-outline);
  background-color: white;
  scrollbar-width: thin;
  scrollbar-color: #eaeaea transparent;
  scrollbar-gutter: stable;

  & :global(.ant-menu-item-selected) {
    color: var(--ant-primary-7);
  }
}

.menu:global(.ant-menu-inline-collapsed) {
  width: auto;

  & :global(.ant-menu-item) {
    margin-block: 0;
  }
}

.trigger {
  position: absolute;
  right: -38px;
  top: 9px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  font-size: 1.2em;
  z-index: 5002;
  border: none;

  &.mobile {
    right: initial;
    left: 8px;
    background-color: initial;
  }
}

:global(.rtl) {
  .trigger {
    right: initial;
    left: -38px;
    border-radius: 4px 0 0 4px;

    &.mobile {
      left: initial;
      right: 8px;
    }
  }
}
