.sider {
  position: relative;
  top: 0;
  left: 0;
  z-index: 400;
  height: 100%;
  border-inline-end: 1px solid var(--ant-primary-color-outline);
  background-color: white;

  & :global(.ant-menu-item-selected) {
    color: var(--ant-primary-7);
  }
}

.menu:global(.ant-menu-inline-collapsed) {
  width: auto;
  & :global(.ant-menu-item){
    margin-block: 0;
  }
}

.trigger {
  position: absolute;
  right: -38px;
  top: 6px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  font-size: 1.2em;
  z-index: 1000;
  border: none;
  &.mobile {
    right: initial;
    left: 8px;
    background-color: initial;
  }
}
