div class=([@current_project&.login_box_position || 'right', 'box', 'devise', namespace_name].compact.join(' '))
  - if @browser_detections && !@browser_detections.preferred_browser?
    = render 'browser_detections'

  .panel.panel-default.session
    .panel-heading
      = render partial: 'devise/shared/header', locals: { banner: @current_project&.logo&.url }

    .panel-body
      .message.pvl
        h1.mvm = t('.title')
        .instruction = t('.instruction')

      = simple_form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put }) do |f|
        div.clearfix
          == flash_messages
          = devise_error_messages!
          = f.input :invitation_token, as: :hidden
          = f.full_error :invitation_token

        = form_group_for f, :password, class: 'mbm' do
          .password.input-group
            span#password.input-group-addon
              i.icon-lock
            = f.input_field :password, placeholder: t('.password_label'), autofocus: true, class: 'form-control input-lg'

        = form_group_for f, :password_confirmation, class: 'mbm' do
          .password.input-group
            span#password.input-group-addon
              i.icon-lock
            = f.input_field :password_confirmation, placeholder: t('.confirm_password_label'), autofocus: true, class: 'form-control input-lg'

        .actions.pvm
          button.btn.btn-primary type="submit"
            = t('.submit')
            span class="fa fa-chevron-right mlm"

        div.clearfix
          - if @current_project.saml_login_allowed?
            .actions.mtl
              = link_to new_saml_user_session_path, class: "btn btn-default" do
                i class="fa fa-sign-in mrm"
                = t('devise.sessions.new.login_with_sso')

    .panel-footer
      = render partial: 'devise/shared/footer'
