@import "styles/ant.variable.less";
@import "styles/spacing.less";

.collapse {
  background-color: @white;
  & > :global(.ant-collapse-item > .ant-collapse-header) {
    padding-inline: 0px;
  }
  & > :global(.ant-collapse-item > .ant-collapse-header .ant-collapse-arrow) {
    color: var(--ant-primary-color);
    margin-inline-end: @space-2;
  }
}
