@import "~/styles/antv4.variable.less";
@import "~/styles/spacing.less";

.collapse {
  & :global(.ant-collapse-content .ant-collapse-content-box) {
    padding-inline-start: 24px;
    padding-block-start: 0px !important;
  }
  & > :global(.ant-collapse-item > .ant-collapse-header .ant-collapse-arrow) {
    color: var(--ant-primary-color);
  }
}

:global(.rtl) {
  .collapse {
    & > :global(.ant-collapse-item > .ant-collapse-header .ant-collapse-arrow) {
      position: initial;
      transform: none;
    }
  }
}
