@import '~/styles/spacing.less';

.footer {
  margin-top: 20px;
  width: 100%;
  text-align: right;
}

.controls {
  margin-bottom: 24px;
}

.steps {
  padding: 24px 0;
}

.success {
  text-align: center;
  padding: 80px;
  .icon {
    font-size: 60px;
    color: #53c31b;
  }
  .message {
    font-size: 1.5em;
    font-weight: bold;
    padding: 24px 0;
  }
}

.errors {
  margin: 16px 0;
}

.hint {
  font-size: 0.8em;
  color: #777;
  padding: @space-2 0;
}
