table.table.table-bordered.table-actions.table-hover.selectable.mbn.table-condensed
  thead
    tr
      th.text-center = t 'administration.norms.editor.factors'
      - FactorsNorm::LEVELS.each do |level|
        th.text-center colspan="2" width="150" = level
  tbody
    - @dimension.factors.roots.each do |factor|
      tr
        - factor.decorate.factor_score_row(@filter_data.norm_type).each do |data|
          td.text-center
            div class="#{'editable' if data[:id]}" data-pk="#{data[:id]}"  data-name=data[:name] data-url="#{url_for(administration_factors_norm_path(data[:id])) if data[:id]}"
              = data[:value] if data[:value]