= simple_form_for(resource, as: :resource, url: { action: resource.new_record? ? :create : :update }, remote: true) do |f|
  .modal-body
    = render_error_notification(resource)

    .form-inputs.clearfix
      = f.input :name
      - root_clients = policy_scope(Client).tenancies.not_archived
      - if current_user.is?(:superadmin)
        = f.association :owner,
                        collection: root_clients.order(:name),
                        include_blank: t('admin.platform_owner'),
                        input_html: { data: { live_search: true } }
      - elsif current_user.is?(:client_admin) && root_clients.count > 1
        = f.association :owner,
                        collection: root_clients.order(:name),
                        input_html: { data: { live_search: true } }
      = f.association :dimension,
                      collection: policy_scope(Dimension).all.order(name: :asc),
                      include_blank: true,
                      disabled: resource.persisted?,
                      input_html: { data: { live_search: true } }
      = f.input :norm_type, disabled: resource.persisted?

  .modal-footer
    .btn-group
      = f.button :submit, resource.new_record? ? t('administration.create') : t('administration.update'), class: 'btn-info'
      a.btn.btn-default data-dismiss='modal' = t 'administration.close'
