.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        h3.panel-title = t '.title'
        .pull-right
          - if policy(@resource_class).import?
            = link_to [:new, :administration, :import, { resource: @resource_class.model_name.singular, type: :xls }], remote: true, class: 'btn btn-default'
              span.fa.fa-upload
              = t('.import')
          - if policy(@resource_class).create?
            = link_to [:new, :administration, @resource_class.model_name.singular], remote: true, class: 'btn btn-default'
              span.fa.fa-plus
              = t('.new')
        = search_form_for(@filter_form,
                          url: { action: :index },
                          html: { id: 'filter', class: 'list-filter' },
                          builder: SimpleForm::FormBuilder) do |f|
          = f.input :name_cont,
                    as: :string,
                    required: false,
                    placeholder: t('administration.search'),
                    label: false,
                    input_html: { class: 'has_clear periodically-observed' }
      .panel-body
        #filterrific_results
          = render partial: 'list'
