.panel.panel-default.assign
  .panel-heading
    table.table.table-responsive.table-borderless
      thead
        tr
          th
            | Assessment
          th.hidden-xs
            | Duration
          th
            | Progress
          th.text-center
            | Download
      tbody
        tr
          td.col-md-4
            a.collapsed> data-parent="#assessments-#{assign.assessment.decorate.dashboard_category}" data-toggle="collapse" href="##{dom_id(assign)}"
              span.toggle-icon.glyphicon.glyphicon-chevron-right
              span.toggle-icon.glyphicon.glyphicon-chevron-down
            - if assign.completed?
              span = assign.assessment.name
            - else
              - privacy_consent_data = { need_confirm: @current_project.privacy_consent && !@current_membership.accepted_privacy?, href: url_for([:pass, assign]) }
              - if assign.assessment.mindmill?
                - mindmill_data = { href: url_for([:pass, :mindmill, assign]) }
                = link_to assign.assessment.name,
                          '#',
                          data: { mindmill: mindmill_data, privacy_consent: privacy_consent_data },
                          class: 'mindmill_link'
              - elsif assign.assessment.hogan?
                = link_to assign.assessment.name, pass_hogan_assign_path(assign.id), remote: true, method: :put, data: { loading: true }
                div id=dom_id(assign)
              - else
                = link_to assign.assessment.name, '#', data: { privacy_consent: privacy_consent_data }
          td.col-md-3.word-break-all.hidden-xs = assign.assessment.decorate.timing
          td.col-md-3
            .progress
              - percent = assign.assessment.decorate.completion_percent
              .progress-bar class=(percent == 100 ? 'progress-bar-success' : 'progress-bar-warning') aria-valuemax="100" aria-valuemin="0" aria-valuenow="#{percent}" role="progressbar" style="width:#{percent}%"
                = "#{percent}%"
          td.text-center.col-md-3
            // Show links to report if it's Common Assessment or it's Completed Assessment
            - if assign.assessment.common? || assign.completed?
              = render partial: 'reports', locals: { assign: assign }
            // Show Load Results link if it's not completed Mindmill Assessment
            - if assign.assessment.mindmill? && !assign.completed?
              = link_to assign.in_progress? ? 'Load Results' : 'Not Available', results_mindmill_assign_path(assign), class: "btn btn-info #{'disabled' unless assign.in_progress?}"
            - if assign.assessment.hogan? && !assign.completed?
              /= link_to assign.in_progress? ? 'Load Results' : 'Not Available', results_hogan_assign_path(assign), class: "btn btn-info #{'disabled' unless assign.in_progress?}"
  .panel-collapse.collapse id=dom_id(assign)
    hr.divider
    .panel-body
      .well = assign.assessment.decorate.description
