- reports = only_assigned_reports(assign, @reports)
- if reports.size == 1
  - report = reports.first
  //// MINDMILL OR COMMON REPORT
  //
  - if report.mindmill?
    = link_to t('.results'), assign.mindmill_report.url,
                             target: 'windowMindmill',
                             class: "btn btn-info #{'disabled' if !assign.completed? || !policy(report).show?}",
                             onclick: "window.open(this.href, this.target, 'width=980,height=700');return false;"
  - else
    = link_to t('.results'), report_path(report), 
                             class: "btn btn-info #{'disabled' if !assign.completed? || !policy(report).show?}"
  //
  //// END MINDMILL OR COMMON REPORT                             
- elsif reports.size > 1
  = dropdown t('.results'), context: :info, button: { class: "#{'disabled' unless assign.completed?}" }
    - reports.each do |report|
      = content_tag :li
        // Don't use link_to helper
        // Because bh gem overwrites this helper for dropdown
        - if policy(report).show?
          //// MINDMILL OR COMMON REPORT
          //
          - if report.mindmill?
            = content_tag :a, report.name, href: assign.mindmill_report.url,
                                           target: 'windowMindmill',
                                           onclick: "window.open(this.href, this.target, 'width=980,height=700');return false;"
          - else
            = content_tag :a, report.name, href: report_path(report)
          //
          //// END MINDMILL OR COMMON REPORT 
        - else
          = content_tag :a, report.name, href: '#'
- else
  = link_to t('.results'), '#', class: 'btn btn-info disabled'
