- reports = only_assigned_reports(assign.original_or_self, @reports_ids)
- if reports.size == 1
  - report = reports.first
  - assigns_report = assign.original_or_self.assigns_reports.find_by(report: report)
  //// MINDMILL OR COMMON REPORT
  //

  - if report.mindmill?
    = link_to t('.results'), assign.mindmill_report.url,
                             target: 'windowMindmill',
                             class: "btn btn-info #{'disabled' if !assign.completed?}",
                             onclick: "window.open(this.href, this.target, 'width=980,height=700');return false;"
  - elsif report.assessment.hogan?
    - if report.hogan_report_setting&.load_report?
      - if assign.completed?
        - if assigns_report&.external_report.present?
          = link_to t('.results'), assigns_report.external_report.url,
            target: 'windowMindmill',
            class: "btn btn-info #{'disabled' if !assign.completed?}",
            onclick: "window.open(this.href, this.target, 'width=980,height=700');return false;"
        - else
          = link_to 'Load Results', results_hogan_assign_path(assign, report_id: report.id), class: 'btn btn-info'
  - else
    - if assigns_report.generating?
      a.btn.btn-warning.disabled = t('.processing')
    - else
      = link_to t('.results'), assigns_report.pdf.url,
                               class: "btn btn-info #{'disabled' if !assign.completed?}",
                               target: :_blank
  //
  //// END MINDMILL OR COMMON REPORT
- elsif reports.size > 1
  = dropdown t('.results'), context: :info, button: { class: "#{'disabled' unless assign.completed?}" }
    - reports.each do |report|
      - assigns_report = assign.original_or_self.assigns_reports.find_by(report: report)
      = content_tag :li, class: "#{'processing disabled' if assigns_report.generating?}"
        // Don't use link_to helper
        // Because bh gem overwrites this helper for dropdown
        //// MINDMILL OR COMMON REPORT
        //
        - if report.mindmill?
          = content_tag :a, report.name, href: assign.mindmill_report.url,
                                         target: 'windowMindmill',
                                         onclick: "window.open(this.href, this.target, 'width=980,height=700');return false;"
        - elsif report.assessment.hogan?
          - if assign.completed? && report.hogan_report_setting&.load_report?
            - if assigns_report&.external_report.present?
              = content_tag :a, report.name, href: assigns_report.external_report.url,
                target: 'windowMindmill',
                onclick: "window.open(this.href, this.target, 'width=980,height=700');return false;"
            - else
              = content_tag :a, t('.load_results', report: report.name), href: results_hogan_assign_path(assign, report_id: report.id)
        - else
          - if assigns_report.generating?
            a
              = report.name
              span.mlm = t('.processing')
          - else
            = content_tag :a, report.name, href:  assigns_report.pdf.url, target: :_blank

        //
        //// END MINDMILL OR COMMON REPORT
- else
  = link_to t('.results'), '#', class: 'btn btn-info disabled'
