#assigns_index
  .row.dashboard-holder
    .col-xs-12.col-md-8.col-md-offset-2
      h1.welcomeText Welcome to your dashboard, #{current_user.decorate.first_name}!
      - if @assigns.blank?
        p = t('administration.no_data_found')
      - else
        .panel-group.assessments-holder id="assessments-1" role="tablist" aria-multiselectable="true"
          - @assigns.each do |assign|
            = render partial: 'assign', locals: { assign: assign }
= render partial: '//assigns/modals/accept_privacy'
