#assigns_index
  .row.dashboard-holder
    .col-xs-12.col-md-8.col-md-offset-2
      h1.welcomeText Welcome to your dashboard, #{current_user.decorate.first_name}!
      - if @assigns.present?
        - @assigns.group_by { |assign| assign.assessment.decorate.dashboard_category }.each do |dashboard_category, assigns|
          h3.assessmentTitles = t("activerecord.attributes.assessment.categories.#{dashboard_category}")
          .panel-group.assessments-holder id="assessments-#{dashboard_category}" role="tablist" aria-multiselectable="true"
            - assigns.each do |assign|
              = render partial: 'assign',
                       locals: { assign: assign, in_progress_assign: assign.assessment.category == 'mindmill' && assigns.detect(&:in_progress?) }
      - else
        p = t('administration.no_data_found')
