.assessment-holder
  .panel.panel-default
    .panel-heading
      .title
        i.fa.fa-question-circle-o
        span.contentTitle Questions
      = render partial: 'lang', locals: { with_confirm: true, locales: @available_translations }
      .clearfix
    .panel-body
      .assessment-box
        #psychometrics_preview[data-result="#{AssignSerializer.new(@assign).to_json}"
                               data-type="pass_assessment"
                               data-subject="#{@threesixty_subject ? Threesixty::SubjectSerializer.new(@threesixty_subject).to_json : nil}"
                               data-data="#{AssessmentSerializer.new(@assign.assessment).to_json(include: '**')}"
                               data-locales=@translations.to_json
                               data-dashboard-url=assessment_completed_path]
      - if Settings.react_dev.assessments
        /for debug
        = javascript_include_tag 'http://localhost:3000/psychometrics_vendor.js'
        = javascript_include_tag 'http://localhost:3000/psychometrics_preview.js'
      - else
        = javascript_include_tag :psychometrics_vendor
        = javascript_include_tag :psychometrics_preview
