.assessment-holder
  .panel.panel-default
    .panel-heading
      .title
        i.fa.fa-question-circle-o
        span.contentTitle Questions
      = render partial: 'lang', locals: { with_confirm: true, locales: @available_translations }
      .clearfix
    .panel-body
      .assessment-box
        #psychometrics_preview[data-result="#{AssignSerializer.new(context:{}).serialize(@assign)}"
                               data-type="pass_assessment"
                               data-data="#{AssessmentSerializer.new(context:{
                                include: '**'}).serialize(@assign.assessment)}"
                               data-locales=@translations.to_json
                               data-dashboard-url=assessment_completed_path]

        = javascript_pack_tag 'vendors2'
        = stylesheet_pack_tag 'vendors2'
        = javascript_pack_tag 'vendors'
        = stylesheet_pack_tag 'vendors'
        = stylesheet_pack_tag 'survey'
        = javascript_pack_tag 'survey'
        = javascript_pack_tag 'assessment/preview'
