@import "~/styles/antv4.variable.less";

.container {
  width: 500px;
  overflow: hidden;
}

.videoContainer {
  width: 500px;
  height: 281px;
  background-color: black;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 18px;
}

.recordingIndicator {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  background-color: rgba(20, 20, 20, 0.6);
  border-radius: 4px;
  padding: 5px;
  color: white;
  font-size: 14px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
  margin-right: 5px;
}

.rec {
  color: white;
}

.audioIndicator {
  display: flex;
  place-content: center;
  margin: 12px;
}

.progressCtr {
  width: 100%;
}

.progress {
  margin: 0;
}

.countdown :global(.ant-statistic-content) {
  font-size: 14px;
}

.countdownIndicator :global(.ant-statistic-content) {
  margin-left: 6px;
  color: @white;
  border-left: 1px solid;
  height: 20px;
  padding-left: 6px;
}

.controls {
  width: 500px;
}