= simple_form_for(@resource, as: :resource, url: { action: @resource.new_record? ? :create : :update }, remote: true, html: { id: 'project_form' }) do |f|
  .modal-body
    = f.error_notification
    .form-inputs.clearfix
      = f.input :name
      - if f.object.campaign_level?
        = f.association :reports, collection: Report.with_report_families(client.report_family_ids)        
  .modal-footer
    .btn-group
      = f.button :submit, @resource.new_record? ? t('administration.create') : t('administration.update'), class: 'btn-info'
      a.btn.btn-default data-dismiss='modal' = t 'administration.close'
