tbody id=dom_id(resource)
  - if resource.project.sub_campaign_level?
    tr data-sidebar=url_for(sidebar_administration_client_project_campaign_path(client, project, resource))
      - rowspan = resource.children.enabled.count + 2
      td rowspan=rowspan
        = link_to resource.decorate.display_name, administration_client_project_campaign_sub_campaigns_path(client, project, resource)
      td rowspan=rowspan = resource.decorate.actual_usage
    = render partial: 'administration/clients/projects/campaigns/sub_campaigns/resource', collection: resource.children.enabled, as: :resource, locals: {campaign: resource}
    tr
      td.text-center colspan='5'
        - unless resource.archived?
          = link_to t('.sub_campaign.create'),
                    new_administration_client_project_campaign_sub_campaign_path(client, project, resource),
                    remote: true
  - else
    tr data-sidebar=url_for(sidebar_administration_client_project_campaign_path(client, project, resource))
      td
        = link_to resource.name, administration_client_users_path(resource)
      td
        = resource.decorate.reports
        - if policy(:clients_report).create?
          .add-icon-box
            = link_to new_administration_client_report_path(client_id: resource.id), remote: true, data: { toggle: 'tooltip', title: t('.tooltips.create_report') }
              span.fa.fa-plus
      td
        = link_to resource.end_memberships.size, administration_client_users_path(resource)
        - if policy(User).create?
          .add-icon-box
            = link_to new_administration_client_user_path(client_id: resource.id), remote: true, data: { toggle: 'tooltip', title: t('.tooltips.create_user') }
              span.fa.fa-plus
      td = resource.decorate.actual_usage
