@import 'modules/user/styles/variables.less';

:global {
  .evaluation-container {
    .deny-button {
      color: @white;
      background-color: @red;
      border: 0;
    }
  }
  .page-header-wrap {
    background-color: @bg-light-gray;
  }

  .main-container {
    max-width: 990px;
    margin: 0 auto;
  }

  .lang-row {
    margin-right: 15px !important;
  }

  .rtl {
    .lang-row {
      margin-left: 15px !important;
    }
  }

  .tabs-row {
    .ant-tabs-bar {
      margin-left: 15px !important;
      margin-right: 15px !important;
    }

    .ant-tabs-tabpane-active {
      min-height: 200px;
    }
  }
}
