#assessments_form
  = simple_form_for(resource, as: :resource, url: { action: resource.new_record? ? :create : :update }, remote: true) do |f|
    .modal-body
      = f.error_notification

      .form-inputs.clearfix
        = f.input :type, as: :select, collection: Assessment::TYPES.map { |key, value| [t("activerecord.attributes.assessment.types.#{key}"), value] },
                         include_blank: false,
                         wrapper_html: { class: 'common mindmill hogan' }
        = f.input :mindmill_id, collection: Settings.mindmill.map { |m| [m[:name], m[:id]] },
                                include_blank: false,
                                wrapper_html: { class: 'mindmill' }
        = f.simple_fields_for :hogan_assessment_setting do |hogan|
          = hogan.input :hogan_assessment_id, collection: Settings.hogan.map { |h| [h[:name], h[:assessment_id]] },
                                              include_blank: false,
                                              wrapper_html: { class: 'hogan' }
        = f.input :name, wrapper_html: { class: 'common mindmill hogan' }
        - if current_user.is?(:superadmin)
          = f.association :owner, collection: policy_scope(Client).roots.all,
                                  include_blank: t('administration.tte'),
                                  input_html: { data: { live_search: true } },
                                  wrapper_html: { class: 'common' }
        = f.input :category, as: :select, collection: resource_class::CATEGORIES.values.map { |cat| [t(".categories.#{cat}"), cat] },
                             include_blank: false,
                             wrapper_html: { class: 'common' }
        = f.input :status, as: :select, collection: resource_class.statuses.map { |k, v| [t(".statuses.#{k}"), k] },
                           include_blank: false,
                           wrapper_html: { class: 'common mindmill hogan' }
        = f.association :dimension, collection: policy_scope(Dimension).all,
                                    include_blank: true,
                                    input_html: { data: { live_search: true } },
                                    wrapper_html: { class: 'common' }
        = f.input :timing, as: :text,
                           hint: t('.timing.hint'),
                           wrapper_html: { class: 'common mindmill hogan' }
        = f.input :description, as: :text, wrapper_html: { class: 'common mindmill hogan' }

    .modal-footer
      .btn-group
        = f.button :submit, resource.new_record? ? t('administration.create') : t('administration.update'), class: 'btn-info'
        a.btn.btn-default data-dismiss='modal' = t 'administration.close'
