#assessments_form
  = simple_form_for(resource, as: :resource, url: { action: resource.new_record? ? :create : :update }, remote: true) do |f|
    .modal-body
      = render_error_notification(resource)
      = render_error_notification(@external_settings) if @external_settings
      .form-inputs.clearfix
        - root_clients = policy_scope(Client).roots
        = f.input :type, as: :select, collection: Assessment::TYPES.except(:mindmill).map { |key, value| [t("activerecord.attributes.assessment.types.#{key}"), value] },
                         include_blank: false,
                         wrapper_html: { class: 'common hogan saville pearson iiht' },
                         input_html: { data: { live_search: true,
                                                dynamic_selectable_url: url_for(action: :external_assessments, type: '__id__', external_assessment_id: f.object.external_assessment_id),
                                                dynamic_selectable_target: 'select#pearson_assessment_id',  include_blank: 'true',
                                              }}
        = f.association :owner, collection: root_clients.order(name: :asc),
                                  include_blank: true,
                                  input_html: { data: { live_search: true,
                                                        dynamic_selectable_url: url_for(action: :projects, owner_id: '__id__', type: '__select#resource_type->val__', project_id: f.object.project_id),
                                                        dynamic_selectable_target: 'select#projects', include_blank: 'true',
                                                      }, id: 'owner_id'},
                                  wrapper_html: { class: 'iiht' }
        = f.association :project, collection: [],
                          include_blank: true,
                          input_html: { data: { live_search: true,
                                                dynamic_selectable_url: url_for(action: :external_assessments, project_id: '__id__', type: '__select#resource_type->val__', external_assessment_id: f.object.external_assessment_id),
                                                dynamic_selectable_target: 'select.external_assessments_setting', include_blank: 'true',
                                              }, id: 'projects'},
                          wrapper_html: { class: 'iiht' }
        = f.simple_fields_for :external_settings do |iiht|
          = iiht.input :assessment_id,
                       label: 'IIHT assessment ID',
                       collection: [],
                       include_blank: true,
                       selected: f.object.external_settings[:assessment_id],
                       input_html: { class: 'external_assessments_setting', data: { live_search: true } },
                       wrapper_html: { class: 'iiht' }
          = iiht.input :schedule_config, as: :text, wrapper_html: { class: 'iiht' }
        = f.simple_fields_for :external_settings do |hogan|
          = hogan.input :assessment_id,
                        label: 'Hogan assessment ID',
                        collection: Settings.providers.hogan.assessments.pluck(:name, :id),
                        include_blank: true,
                        wrapper_html: { class: 'hogan' },
                        selected: f.object.external_settings[:assessment_id]
        = f.simple_fields_for :external_settings do |saville|
          = saville.input :assessment_id,
                          label: 'Saville assessment ID',
                          collection: Settings.providers.saville.assessments.sort_by {|a| a[:name] }.map { |h| [h[:name], h[:id].downcase] },
                          include_blank: true,
                          wrapper_html: { class: 'saville' },
                          input_html: { data: { live_search: true } },
                          selected: f.object.external_settings[:assessment_id]
        = f.simple_fields_for :external_settings do |pearson|
          = pearson.input :assessment_id,
                          label: 'Pearson assessment ID',
                          collection: [],
                          include_blank: true,
                          wrapper_html: { class: 'pearson' },
                          selected: f.object.external_settings[:norm_id],
                          input_html: {data: { live_search: true,
                                                dynamic_selectable_url: url_for(action: :pearson_norms, pearson_assessment_id: '__id__', pearson_norm_id: f.object.external_settings[:norm_id]),
                                                dynamic_selectable_target: 'select.pearson_norm_id' }, id: 'pearson_assessment_id' }
          = pearson.input :norm_id,
                          lable: 'Pearson norm ID',
                          collection: [],
                          include_blank: false,
                          wrapper_html: { class: 'pearson' },
                          input_html: { data: { live_search: true }, class: 'pearson_norm_id' },
                          include_hidden: false,
                          selected: f.object.external_settings[:norm_id]
        = f.input :name, wrapper_html: { class: 'common hogan saville pearson iiht' }
        - if current_user.is?(:superadmin)
          = f.association :owner, collection: root_clients.order(name: :asc),
                                  include_blank: t('administration.tte'),
                                  input_html: { data: { live_search: true } },
                                  wrapper_html: { class: 'common' }
        - elsif current_user.is?(:client_admin) && root_clients.count > 1
          = f.association :owner, collection: root_clients.order(name: :asc),
                                    input_html: { data: { live_search: true } },
                                    wrapper_html: { class: 'common' }
        = f.input :category, as: :select, collection: resource_class::CATEGORIES.values.map { |cat| [t(".categories.#{cat}"), cat] },
                             include_blank: false,
                             wrapper_html: { class: 'common' }
        = f.input :status, as: :select, collection: resource_class.statuses.map { |k, v| [t(".statuses.#{k}"), k] },
                           include_blank: false,
                           wrapper_html: { class: 'common hogan saville pearson' }
        = f.association :dimension, collection: policy_scope(Dimension).all.sorted_by('name_asc'),
                                    include_blank: true,
                                    input_html: { data: { live_search: true } },
                                    wrapper_html: { class: 'common hogan saville pearson iiht' }
        = f.input :timing, as: :text,
                           hint: t('.timing.hint'),
                           wrapper_html: { class: 'common hogan saville pearson' }
        = f.input :description, as: :text, wrapper_html: { class: 'common hogan saville' }
        .clearfix
          = f.input :enable_video_check, as: :boolean
          = f.input :enable_audio_check, as: :boolean
          = f.input :enable_network_check, as: :boolean
        = render partial: 'administration/administrator/shared/simple_design', locals: { f: f }
    .modal-footer
      .btn-group
        = f.button :submit, resource.new_record? ? t('administration.create') : t('administration.update'), class: 'btn-info'
        a.btn.btn-default data-dismiss='modal' = t 'administration.close'
