tr data-sidebar=url_for([:sidebar, :administration, resource]) id=dom_id(resource)
  td.text-center
    = link_to([:toggle_status, :administration, resource], method: :patch, class: 'toggle-status', remote: true, data: { confirm: resource.decorate.toggle_status_confirmation })
      = resource.decorate.status
  td
    - if policy(resource).show?
      = link_to resource.decorate.name, administration_assessment_path(resource)
    - else
      = resource.decorate.name
  td = resource.dimension.try(:decorate).try(:display_name)
  td = resource.decorate.client_name
  td = resource.decorate.type
  td.text-center = resource.decorate.created_at
  td.text-center = resource.decorate.updated_at
  td.actions-cell
    = link_to [:edit, :administration, resource], remote: true, class: 'btn btn-default btn-rounded btn-sm edit', data: { toggle: 'tooltip', title: t('.tooltips.edit') } do
      span.fa.fa-pencil
    = link_to [:copy, :administration, resource], remote: true, class: 'btn btn-default btn-rounded btn-sm copy' , data: { toggle: 'tooltip', title: t('.tooltips.copy') } do
      span.fa.fa-copy
    = link_to [:administration, resource], remote: true, class: 'btn btn-default btn-rounded btn-sm delete', method: 'delete', data: { confirm: resource.decorate.delete_confirmation, toggle: 'tooltip', title: t('.tooltips.delete')}
      span.fa.fa-times
