ul.x-navigation.x-navigation-panel id="sidebar_#{dom_id(@resource)}"
  li.xn-title.title = t('.title')
  - if policy(@resource).edit?
    li = link_to(@resource.decorate.toggle_status_text, [:toggle_status, :administration, @resource], remote: true, method: :patch, data: { confirm: @resource.decorate.toggle_status_confirmation })
  - if policy(@resource).edit?
    li = link_to t('.edit'), [:edit, :administration, @resource], remote: true
  - if policy(@resource).preview?
    li = link_to t('.preview'), [:preview, :administration, @resource]
  - if policy(@resource).copy?
    li = link_to t('.copy'), [:copy, :administration, @resource], remote: true
  - if policy(@resource).destroy?
    li = link_to(t('.destroy'), { action: :destroy, id: @resource }, remote: true, method: :delete, data: { confirm: @resource.decorate.delete_confirmation })
  - if policy(@resource).assign?
    li = link_to t('.assign'), new_administration_assessment_assign_path(@resource)
  - if policy(@resource).show?
    li = link_to 'Edit Assessment', { action: :show, id: @resource }
