#psychometrics_preview[data-data="#{params[:data]&.as_json || AssessmentSerializer.new(resource).to_json(include: '**')}"
  data-locales=@translations.to_json
  data-lang-partial="#{escape_once (render partial: 'application/lang', locals: { locales: @available_translations })}"]

= javascript_pack_tag 'vendors'
= stylesheet_pack_tag 'vendors'
= stylesheet_pack_tag 'survey'
= javascript_pack_tag 'survey'
= stylesheet_pack_tag 'assessment/preview'
= javascript_pack_tag 'assessment/preview'
