#psychometrics_preview data-data="#{AssessmentSerializer.new(@resource).to_json(include: '**')}"
= javascript_include_tag 'http://psy.dev:3000/psychometrics_vendor.js'
= javascript_include_tag 'http://psy.dev:3000/psychometrics_preview.js'
