= stylesheet_link_tag :psychometrics_reports_app
javascript:
  var CKEDITOR_BASEPATH = '/assets/ckeditor/';

#psychometrics_report_root
= javascript_include_tag Ckeditor.cdn_url
= javascript_include_tag :psychometrics_reports_vendor
= javascript_include_tag :psychometrics_reports_app
