#psychometrics_survey_root

script src="https://svc.webspellchecker.net/spellcheck31/wscbundle/wscbundle.js"

= vite_javascript_tag 'entrypoints/assessment/builder.jsx'

javascript [nonce=content_security_policy_nonce]:
  x_navigation_minimize('close');
  window.WEBSPELLCHECKER_CONFIG = {
      autoSearch: true,
      autoDestroy: true,
      serviceId: '7VTqCWMdsxJbLgr',
    }
