@import '~/styles/spacing.less';
@import '~/styles/antv4.variable.less';

.container {
  max-width: 1200px;
  padding-inline: @space-2;
  margin: auto;
}
.assessmentCenter {
  background: var(--ant-primary-light-bg);
}
.meetingLinkContainer {
  background: var(--ant-primary-7);
  padding: 1.5rem;
  text-align: center;
  border-radius: 0.25rem;
  & :global(.ant-typography){
    color: @white;
  }
}
