@import '~/styles/spacing.less';

.group {
  padding-block: @space-8;
}
.container {
  max-width: 1200px;
  padding-inline: @space-2;
  margin: auto;
}
.assessmentCenter {
  background: var(--ant-primary-1);
}
