@import '~/styles/spacing.less';

.inviteCard:global(.ant-card) {
  border: 2px solid var(--ant-primary-color);
  border-inline-start-width: 4px;
}

.bookingCountdown {
  background: var(--ant-primary-7);
  padding: @space-6;
  border-radius: 4px;
  color: white;
  & :global(.ant-typography) {
    color: white;
  }
}
