@import '~/glint/styles/mixins.less';
@import '~/styles/antv4.variable.less';
@import '~/styles/spacing.less';

.container {
  max-width: 900px;
  padding: @space-12;
}

.form {
  display: flex;
  flex-direction: column;
}


.numberInput {
  width: 100%;
}

.upload {
  :global(.ant-upload.ant-upload-select-picture-card) {
    width: 250px;
    height: 250px;
    background-color: var(--ant-primary-light-bg);
  }
}

.uploadBtn {
  color: var(--ant-primary-7);
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  :global(.anticon) {
    font-size: @space-8;
  }

  .controls {
    transition: 0.4s;
    position:absolute;
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &.withPhoto {
    .controls {
      opacity: 0;
      background: @modal-mask-bg;
      color: #fff;
    }

    &:hover {
      .controls {
        opacity: 1;
      }
    }
  }

  .photoLabel {
    margin-top: @space-2
  }

  .photo {
    width: 100%;
    height: 100%;
  }
}

.buttonSpaceContainer {
  align-self: flex-end;
}

.pageContent {
  background-color: @white;
  overflow-x: hidden;
}
