.swatch {
  width: 20px;
  height: 20px;
  margin: 2px;
  display: inline-block;
  cursor: pointer;
}

.colorSet {
  display: flex;
  background: #fff;
  border: 1px solid #aaa;
  padding: 2px;
  width: 151px;
}

.field {
  min-width: 125px;
}

.controls {
  :global {
    .fa {
      display: block;
      text-align: center;
      width: 20px;
      color: #000;
      cursor: pointer;
      font-size: 16px;
      line-height: 1.5;
    }
  }
}
