:global {
  .evaluations-list {
    box-shadow: 0 0px 4px 1px rgba(0, 0, 0, 0.15);
    margin-top: 16px;
    .evaluation-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .menu-icon {
        font-size: 1.5em;
      }
    }

    .panel-header {
      font-weight: 500;
    }
  }
}
