@import 'user/styles/variables';

:global {
  .ant-list-bordered.evaluations-list {
    background-color: $white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    border-radius: 9px;
    overflow: hidden;
    .evaluation-item {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .actions-btn {
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: space-between;
      }

      .menu-icon {
        margin-left: 8px;
        font-size: 1.5em;
      }
    }

    .panel-header {
      font-weight: 500;
    }
  }
  .approve-list {

    .evaluation-item {
      padding-left: 28px;
    }
  }

}
.flex {
  display: flex;
  flex: 1;
}
