@import '~/styles/variables.less';

.gridRow {
  padding-inline: 12px;
}

.gridMarksRow {
  padding-block: 8px;
}
.responseRow {
  padding-block: 8px;
  border-top: 1px solid #f0f0f0;
}

.controlsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.gridLastCount {
  position: relative;
  left: -16px;
}
.responseControlsRow {
  width: 100%;
}

.responseRow .responseLabelRowMobile {
  display: none;
}

.inputContainer {
  align-items: center;
  display: inline-flex !important;
  flex-direction: column;

  & :global {
    .ant-input-number-input {
      padding-inline: 3px;
      text-align: center;
      background-color: #eaeaea;
      &:focus-visible {
        outline: 2px solid var(--ant-primary-3);
      }
    }
    .ant-input-number {
      width: 4rem;
      border: none;
    }
  }
}

.responseLabelRow, .responseLabelRowMobile {
  text-align: center;
  .label:first-child {
    text-align: start;
  }
  .label:last-child {
    text-align: end;
  }
}

@media (max-width: @screen-sm) {
  .responseLabelRow,
  .gridMarksRow {
    display: none !important;
  }
  .responseRow .responseLabelRowMobile {
    display: block;
  }
  .gridRow.responseRow {
    flex-direction: column;
  }
  .gridRow {
    & :global(.ant-col-8),
    & :global(.ant-col-16) {
      max-width: 100%;
    }
  }
  .responseControlsRow .sliderContainer {
    flex: 0 0 80%;
    max-width: 80%;
  }
  .responseControlsRow .inputContainer {
    flex: 0 0 20%;
    max-width: 20%;
  }
}
