.container {
  padding: 12px 24px !important;

  :global(.ant-list-item-meta-description) {
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    line-height: 1.5715;
  }

  :global(.ant-space-item) {
    color: rgba(0, 0, 0, 0.45);
  }

  :global(.ant-list-item-meta-title) {
    color: black;
    small {
      color: black;
    }
  }

  &.unread {
    position: relative;
    &:after {
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: #00b1a8;
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }

  :global(.ant-progress-inner:not(.ant-progress-circle-gradient) .ant-progress-circle-path) {
    stroke: #1890ff;
  }

  .ant-list-vertical .ant-list-item-meta {
    margin-bottom: 8px;
  }

  .more {
    text-align: center;
    margin-top: 8px;
    cursor: pointer;
  }
}
