@import '~/modules/survey/styles/variables.less';

.container {
  background-color: #ffffff;
  border-radius: 10px;
  padding-top: 24px;
  border: 1px solid @light-gray;
}
.header {
  margin: 0 24px;
}
.managerIconContainer {
  width: 50px;
  height: 50px;
  background-color: #e8e8e8;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.managerIcon {
  font-size: 20px;
  color: #a0a0a0 !important;
}
.manager {
  display: flex;
  margin-top: 15px;
}
.managerName {
  font-size: 16px;
  margin: 0 16px;
}
.messageList {
  margin: 8px 24px;
  max-height: 400px;
  overflow: auto;
  padding-right: 10px;
}
.message {
  max-width: 330px;
  width: fit-content;
  padding: 15px;
  white-space: pre-line;
}
.their {
  background-color: #f0f0f0;
  margin-left: 10px;
  border-radius: 15px 15px 15px 0;
}
.mineCommon {
  border-radius: 15px 15px 0 15px;
  background-color: var(--green-bg);
}
:global(.rtl) {
  .mineCommon {
    border-radius: 15px 15px 15px 0;
  }
  .their {
    border-radius: 15px 15px 0 15px;
  }
}
.messageContainer {
  display: flex;
  align-items: center;
  &:hover {
    .deleteIconContainer {
      position: initial;
      z-index: 1;
    }
  }
}
.messageContainerRight {
  flex-direction: row-reverse;
}
.messageRight {
  justify-content: space-between;
}
.footer {
  display: flex;
  margin-top: 10px;
  align-items: center;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 0 0 10px 10px;
}
.sendIconContainer {
  height: 30px;
  width: 30px;
  min-width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bright-green-bg);
  border-radius: 15px;
  margin: 0 10px;
  cursor: pointer;
  &:focus-visible {
    outline-offset: 2px;
    outline: 4px solid var(--ant-primary-3);

  }
}
.sendIcon {
  color: #ffffff;
  margin-right: 2px;
}
.chatInput {
  font-size: 14px;
  background-color: transparent !important;
  border: none !important;
  resize: none;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-right: 10px;
  &::-webkit-input-placeholder {
    color: #333333 !important;
  }

  &:-moz-placeholder {
    color: #333333 !important;
  }

  &::-moz-placeholder {
    color: #333333 !important;
  }

  &:-ms-input-placeholder {
    color: #333333 !important;
  }

  &::placeholder {
    color: #333333 !important;
  }
}
.deleteIconContainer {
  position: absolute;
  z-index: -9999;
  align-items: center;
  justify-content: center;
  background-color: #ff0000;
  margin: 0 10px;
  &:focus-visible {
    position: initial;
    z-index: 1;
  }
}
.deleteIcon {
  color: #ffffff !important;
}
.draggingIcon {
  cursor: all-scroll;
  color: #c1c1c1;
}
