.fileName, .removeFileButton {
  display: inline-block;
  vertical-align: middle;
}

.fileName {
  i {
    margin-right: 5px;
  }
}

.removeFileButton {
  margin-left: 10px;
  cursor: pointer;
}

.errorsList {
  margin-bottom: 0px;
}

.alert {
  margin-bottom: 8px !important;
}

.fileIcon, .deleteIcon {
  font-size: 16px !important;
}

.deleteIcon {
  color: black !important;
}

.saveFileBtn {
  margin-top: 8px;
}

.imagePreview{
  max-width: 500px;
  max-height: 500px;
  object-fit: contain;
}

.filePreview{
  width: 100%;
  height: 500px;
}
