= simple_form_for(@form, as: :resource, url: { action: :create }, remote: true) do |f|
  .modal-body
    = f.error_notification
    .form-inputs.clearfix
      = f.input :assessment_ids,
                as: :select,
                collection: @assessments,
                multiple: true,
                class: 'form-control',
                include_blank: false,
                input_html: { data: { live_search: true }, multiple: true }
      = f.input :apply_to_existing_users, as: :boolean
  .modal-footer
    .btn-group
      = f.button :submit, t('administration.create'), class: 'btn-info'
      a.btn.btn-default data-dismiss='modal' = t 'administration.close'
