.row
  .col-md-12
    .page-title
      h2.mrl = client.decorate.display_name
      = render partial: 'administration/clients/top_nav'
    .panel.panel-default
      .panel-heading
        h3.panel-title = t('.title')
        = search_form_for(@filter_form,
                        url: { action: :index },
                        html: { id: 'filter', class: 'list-filter' },
                        builder: SimpleForm::FormBuilder) do |f|
          = f.input :category_in,
                  collection: Assessment::CATEGORIES,
                  input_html: { title: 'Category'},
                  required: false,
                  include_blank: t('administration.any'),
                  label: false
          = f.input :name_cont,
                    as: :string,
                    required: false,
                    placeholder: t('administration.search'),
                    label: false,
                    input_html: { class: 'has_clear periodically-observed' }
      .panel-body
        #filterrific_results
          = render partial: 'list'
