@import 'styles/spacing.less';

.sidebarLogo,
.sidebarFooter {
  padding: @space-5;
}
.sider-menu:global(.ant-menu) {
  border-inline-end: none;
  & :global(.ant-menu-item) {
    padding-block: @space-10;
  }
}
.sidebarLogo {
  width: 100%;
  height: auto;
  padding-block: @space-12;

}
.sidebarFooter {
  display: flex;
  position: absolute;
  bottom: 0px;
}
.profileName {
  margin: '0px';
}
.sider-drawer {
  & :global(.ant-drawer-body) {
    padding-inline: 0px;
  }
}
