.sidebarLogo,
.sidebarFooter {
  padding: 20px;
}
.sidebarLogo {
  width: 100%;
  height: auto;
}
.sidebarFooter {
  display: flex;
  position: absolute;
  bottom: 0px;
}
.profileName {
  margin: '0px';
}
