- if @resources.present?
  .row
    .col-md-6
      #summary
    .col-md-6
      - @resources.each_slice(2) do |resources|
        .row
          = render partial: 'resource', collection: resources
- else
  p = t('administration.no_data_found')
javascript:
  $(function() {
    $(document).ready(function() {
      // Build the chart
      Highcharts.chart('summary', {
        chart: {
          skipClone: true
        },
        title: {
          text: 'Total'
        },
        tooltip: {
          pointFormat: '<b>{point.y}</b>'
        },
        legend: {
          enabled: false
        },
        credits: {
          enabled: false
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.y}',
                    style: {
                      color: 'black'
                    }
                }
            }
        }, 
        series: [{
          animation: false,
          type: 'pie',
          data: [
            ['New', #{@resources.inject(0) { | sum, res | sum += res.new_count;sum }}],
            ['New', #{@resources.inject(0) { | sum, res | sum += res.in_progress_count;sum }}],
            ['Completed', #{@resources.inject(0) { | sum, res | sum += res.completed_count;sum }}]
          ]
        }]
      });
    });
  });
