.col-md-6
  div id=dom_id(resource)
  javascript:
    $(function() {
      Highcharts.chart('#{dom_id(resource)}', {
        chart: {
          skipClone: true
        },
        title: {
          text: '#{resource.name}'
        },
        tooltip: {
          pointFormat: '<b>{point.y}</b>'
        },
        legend: {
          enabled: false
        },
        credits: {
          enabled: false
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.y}',
                    style: {
                      color: 'black'
                    }
                }
            }
        },        
        series: [{
          animation: false,
          type: 'pie',
          data: [
            ['New', #{resource.new_count}],
            ['In Progress', #{resource.in_progress_count}],
            ['Completed', #{resource.completed_count}]
          ]
        }]
      });
    });
