.row
  .col-md-12
    .page-title
      h2.mrl = client.decorate.display_name
      = render partial: 'administration/clients/campaign_top_nav'
    .panel.panel-default
      .panel-heading
        h3.panel-title = t('.title')
        .dropdown.pull-right
          button#dropdownMenu1.btn.btn-default.dropdown-toggle aria-expanded="true" aria-haspopup="true" data-toggle="dropdown" type="button" 
            = t('.assessment_type')
            span.caret
          ul.dropdown-menu aria-labelledby="dropdownMenu1" 
            = active_link_to t('.all_assessments') , { }, wrap_tag: :li, active: :exact
            = active_link_to t('activerecord.attributes.assessment.categories.psychometric'), 
                             { q: { assessment_category_eq: Assessment::CATEGORIES[:psychometric] } }, 
                             wrap_tag: :li, 
                             active: :exact
            = active_link_to t('activerecord.attributes.assessment.categories.organisational'), 
                             { q: { assessment_category_eq: Assessment::CATEGORIES[:organisational] } }, 
                             wrap_tag: :li, 
                             active: :exact
            = active_link_to t('activerecord.attributes.assessment.categories.360'), 
                             { q: { assessment_category_eq: Assessment::CATEGORIES['360'] } }, 
                             wrap_tag: :li, 
                             active: :exact 
        .clearfix        
      .panel-body
        h3.text-center#report_title
          - if @filter_form.assessment_category_eq.nil?
            = t('.all_assessments') 
          - else
            = t("activerecord.attributes.assessment.categories.#{@filter_form.assessment_category_eq}")
        #filter_results
          = render partial: 'list'
      .clearfix
= javascript_include_tag 'http://code.highcharts.com/highcharts.js'
