@import "~/styles/antv4.variable.less";
@import "~/styles/spacing.less";

.pageContent {
  background-color: @white;
  overflow-x: hidden;
}
.campaignHeader:global(.ant-page-header) {
  background-color: var(--ant-primary-color);
  padding-block: @space-2;
}
.backIcon {
  color: @white;
}
.campaignDropdown {
  display: inline-block;
  color: @white !important;
  min-width: 320px;
  font-size: 1.25rem !important;
  &:hover {
    color: @white !important;
  }
}
.progressBar {
  & :global(.ant-progress-track) {
    background-color: var(--ant-primary-color);
  }
  & :global(.ant-progress-indicator) {
    color: @white;
  }
}
.dropdownRow {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 960px;
  border-inline: 1px @normal-color solid;
}
.dropdownCol {
  padding-inline-end: @space-8;
  padding-top: @space-3;
}
