@import 'styles/ant.variable.less';
@import 'styles/spacing.less';

.pageContent {
  background-color: @white;
  overflow-x: hidden;
}
.campaignHeader:global(.ant-page-header) {
  background-color: var(--ant-primary-color);
  padding-block: @space-2;
}
.backIcon {
  color: @white;
}
.campaignDropdown {
  display: inline-block;
  color: @white;
  min-width: 320px;
  &:hover{
    color: @white;
  }
}
.progressBar :global(.ant-progress-bg) {
  background-color: var(--ant-primary-color);
}
.progressBar :global(.ant-progress-text) {
  color: @white;
}
