domain: lvh.me # psychometrics.co.uk
subdomain:  # subdomain
port: 3030
protocol: 'http'
assigns:
  mindmill_prefix: TTEDEV
react_dev:
  reports: false # set true if you are running npm server
  assessments: false # set true if you are running npm server
bulk_reports:
  size_limit: <%= ENV.fetch('BULK_REPORTS_ZIP_FILE_SIZE_LIMIT', 200_000_000).to_i %>
