@import '~/styles/antv4.variable.less';
@import '~/styles/spacing.less';

@headerHeight: 3rem;

.pageHeader {
  height: @headerHeight;
  line-height: @headerHeight;
  position: sticky;
  top: 0;
  z-index: 11;
  background: @white;
  border: 1px solid @border-color-base;
  border-inline-start: none;
  padding-inline: @space-5;
}

:global(body.is-impersonating) .pageHeader {
  top: 40px;
}
.childrenRow {
  height: 100%;
  align-items: center;
  h3{
    margin: 0;
  }
}

@media (max-width: @screen-lg) {
  .pageHeader:global(.ant-layout-header) {
    border-inline: none;
    padding: 0 @space-4;
  }
}
@media (max-width: @screen-xs) {
  .pageHeader:global(.ant-layout-header) {
    height: auto;
    min-height: @headerHeight;
  }
}
