.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        h3.panel-title = t('.title')
        = render partial: 'application/lang'
        .pull-right
          .btn-group
            - if policy(@resource).preview?
              = link_to({ action: :preview, format: :pdf, lang: I18n.locale }, class: 'btn btn-default')
                span.fa.fa-file-pdf-o
                = t('.export_pdf')
      .panel-body
        = render partial: 'preview'
