@import '~/styles/antv4.variable.less';
@import "~/styles/spacing.less";

.containerColumn {
  padding-block: @space-6;
  max-width: 40rem;
}
.tabs {
  :global(.ant-tabs-nav) {
    &:before {
      content: none;
    }
  }
}
.subtitleIcon {
  color: var(--ant-primary-color);
}
.count {
  font-weight: 400;
}
.countSkeleton {
  line-height: @space-6;
  &:global(.ant-skeleton-button) {
    width: @space-6;
    min-width: @space-1;
  }
}
.pageContent {
  background-color: @white;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

@media (max-width: @screen-xs) {
  .pageContent {
    padding-inline: @space-4;
    align-items: flex-start;
    padding-block-start: @space-3;
  }
}
