.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        h3.panel-title = t '.title', name: @assessment.decorate.display_name
      .panel-body
        /! START WIZARD WITH SUBMIT BUTTON
        .block
          = simple_form_for(@assign, 
                            as: :assign, 
                            url: administration_assessment_step2_path, 
                            method: :put) do |f|
            = f.input :user_ids, as: :hidden, input_html: { value: f.object.user_ids.join(',') }
            .wizard.show-submit
              ul.steps_2.anchor
                li.ms-hover
                  a.done href="#step-1"
                    span.stepNumber 1
                    span.stepDesc
                      | Step 1
                      br
                      small Client Tenancies and Reports
                li.ms-hover
                  a.selected href="#step-2"
                    span.stepNumber 2
                    span.stepDesc
                      | Step 2
                      br
                      small Admins, Managers and Users
              .stepContainer        
                #step-2
                  .row
                    .col-sm-6
                      = f.input :admin_ids,  
                                as: :grouped_select,
                                collection: @admins, 
                                group_method: :last,
                                label_method: lambda { |u| u.decorate.display_name }, 
                                group_label_method: :first, 
                                input_html: {  class: 'multiselect-two-sides-searchabel', multiple: true },
                                label: 'Admins'
                    .col-sm-6
                      = f.input :manager_ids,  
                                as: :grouped_select,
                                collection: @managers, 
                                group_method: :last,
                                label_method: lambda { |u| u.decorate.display_name }, 
                                group_label_method: :first, 
                                input_html: {  class: 'multiselect-two-sides-searchabel', multiple: true },
                                label: 'Managers'
        
        #users = render partial: 'users'
          
      .panel-footer
        = link_to 'Previous Step', administration_assessment_step1_path, class: 'btn btn-default mrh'
        #assign_submit.btn.btn-primary.pull-right.mrh onclick="document.forms['new_assign'].submit();" Submit
