@import "~/styles/spacing.less";

.main {
  padding: 80px;
}

.pageContent {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.questionsBox {
  padding: 24px;
  background-color: var(--ant-primary-light-bg);
  border: 1px solid var(--light-grey-border);
}

.minmaxInfo {
  color: var(--ant-text-color-secondary);
  font-size: @space-3;
}

.mandatory {
  color: var(--ant-error-color);
}

.questionInput {
  margin-bottom: @space-2;
}

.questionCounter {
  border: 1px solid var(--grey-border);
  padding: 0.5rem 0.75rem;
  font-weight: 600;
  font-size: 0.9rem;
}

.editor {
  :global {
    .fr-second-toolbar {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
}

.withError {
  .editor {
    :global {
      .fr-toolbar, .fr-wrapper, .fr-second-toolbar {
        border-color: var(--ant-error-color);
      }
    }
  }
}

.editBtn {
  width: '2rem';
  height: '2rem';
  border-radius: 50%;
}
