@import 'modules/user/styles/variables';
.takesContainer {
  position: relative;
}
.retakeContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 15px;
}

.overlayControls {
  pointer-events: none;
  position: absolute;
  top: 0.5rem;
  left: 0;
  right: 0.5rem;
  line-height: 5rem;
  text-align: center;
  z-index: 1;
  :global(.ant-btn) {
    color: $black;
  }
}

.currentTakeNo {
  text-align: end;
  font-size: 6rem;
  color: white;
  text-shadow: 0 0 4px black;
}

.retakeContainer > div {
  width: 33.33%;
}

.activeTakeBtn {
  border: 1px solid #00B4AA !important;
}

.unusedTake {
  background-color: #eee !important;
}

.recordIcon {
  color: $red;
  font-size: 1.7em;
}

.inUse {
  color: #00B4AA;
  font-size: 16px;
}
:global(.ant-btn) {
  &.retakeBtn {
    display: flex;
    align-items: center;
    background-color: white;
    color: $black;
    margin: auto;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    :global(.fa) {
      color: $red;
      font-size: 1.6em;
      margin-inline-end: 4px;
    }
  }
}

.selectedTakeBtn {
  font-weight: bold !important;
  background-color: $success-color !important;
  span {
    color: $white;
  }
}

.recordBtnContainer {
  margin: 0px 5px 0px 0px !important;
}

.recordBtn {
  padding: 8px !important;
}

.buttons {
  white-space: nowrap;
  label {
    width: auto;
  }
}

:global {
  .userSelectedContainer {
    text-align: right !important;
  }

  .rtl .userSelectedContainer {
    text-align: left !important;
  }
}
