@import "../colors.less";

.content {
  flex: 1;
  background-size: contain;
  position: relative;

  .background {
    position: absolute;
    inset: 0;
    background-size: cover;
    z-index: 0;

    &.flipped {
      transform: scaleX(-1);
    }
  }
}

.mercerLogo {
  position: absolute;
  margin-block-start: 33px;
  margin-inline-start: 45px;
  max-height: 34px;
  height: 34px;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.clientLogo {
  position: absolute;
  margin-top: 20px;
  inset-inline-end: 45px;

  max-width: 150px;
  height: 150px;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.title {
  padding: 20px 45px;
  color: @teal-dark;
  font-size: 60px;
  font-weight: bold;
  z-index: 1;
}
