@import "~/glint/styles/mixins.less";
@import "~/styles/spacing.less";
@import "~/styles/antv4.variable.less";

.tasksContainer {
  & > div:nth-child(2) {
    margin-top: @space-7;
  }
  & > div:last-child {
    margin-bottom: @space-7;
  }
}
.beginText {
  position: relative;
  .highlighter(100%, -14px);
}
.resultContainer {
  background-color: var(--ant-primary-light-bg);
}

:global(.rtl) {
  .beginText:before {
    right: -14px;
  }
}
