@import '~/styles/antv4.variable.less';
@import '~/styles/variables.less';
@import '~/glint/styles/mixins.less';

.title {
  position: relative;
  padding-left: 14px;
  .highlighter();
}

.pageContent {
  background-color: @white;
  border-inline-start: 1px solid @border-color-base;
  overflow-x: hidden;
  overflow-y: hidden;
}

.content {
  max-width: 1400px;
  margin: 0 auto;
  padding: 24px;
  @media (max-width: @screen-sm) {
    padding: 0 24px;
  }
}

@media (max-width: @screen-lg) {
  .pageContent {
    border-inline-start: none;
  }
}

.reportOuter {
  transform-box: view-box;
  text-align: start;
  margin: 15px;
}

.reportInner {
  display: inline-block;
  transform-origin: left top;
}
