.unsupported-browsers {
  background: #FFF;
  border-radius: 5px;
  box-shadow: 0px 3px 6px #00000029;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .message {
    color: #393939;
    font-weight: 500;
    font-size: 22px;
  }

  .instruction {
    color: #9F9F9F;
    font-size: 13px;
  }

  ul.browsers {
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    li {
      width: 160px;
      height: 60px;
      display: flex;
      align-items: center;
      font-size: 13px;

      .icon {
        padding: 5px;
      }

      .name {
        padding: 5px;
        color: #9F9F9F;
        text-align: left;

        a {
          color: #6973F0;
        }
      }
    }
  }
}

@media screen and (min-width: 320px) {
  .unsupported-browsers {
    padding: 20px 10px;
    margin: 20px 0;
  }
}

@media screen and (min-width: 640px) {
  .unsupported-browsers {
    ul.browsers {
      justify-content: flex-start;
    }
  }
}

@media screen and (min-width: 736px) {
  .unsupported-browsers {
    ul.browsers {
      justify-content: space-around;
    }
  }
}

@media screen and (min-width: 1200px) {
  .unsupported-browsers {
    padding: 50px 60px;
  }
}
