
table.table-minimal-hr {
    border-collapse: collapse;
    border: none;
    max-width: 100%;
    td.table-cell-header, th {
        font-weight: bold;
        color: #666;
        padding: 10px 8px;
    }
    th {
        border-bottom: 2px solid #eee;    
    }
    td {
        padding: 8px;
        border: 1px solid #eaeaea;
    }
    tr:hover td {
	    color: #666;
    }
}
table.table-full-width {
    width: 100%;
}