
table.table-minimal-hr {
    border-collapse: collapse;
    border: none;
    max-width: 100%;
    td.table-cell-header, th {
        font-weight: bold;
        color: #666;
        padding: 10px 8px;
    }
    th {
        border-bottom: 2px solid #eee;
    }
    td {
        padding: 8px;
        border: 1px solid #eaeaea;
    }
    tr:hover td {
        color: #666;
    }
}
table.table-compact {
    td.table-cell-header, th {
        padding: 4px;
    }
    td {
        padding: 4px;
    }
}
table.table-full-width {
    width: 100%;
}
#psychometrics_survey_root, .fr-wrapper {
    table.table-no-border {
        border-collapse: collapse;
        td, th {
            border: 1px dashed #d6d6d6 !important;
        }
    }
}
.end-user, #psychometrics_preview {
    table.table-no-border {
        border-collapse: collapse;
        td, th {
            border: 0 !important;
        }
    }
}
.fr-popup {
    z-index: 999999 !important;
}
// Froala Audio Plugin
.fr-audio {
    display: block;
    clear: both;
    position: relative;
    text-align: center;
}
.fr-element .fr-audio audio {
    box-sizing: content-box;
    border: solid 1px transparent;
}
.fr-element .fr-audio:hover audio {
    border-color: #af4f4b;
}
.fr-element .fr-audio.fr-active audio {
    border-color: #1e88e5;
}
.fr-element .fr-audio::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    display: block;
    background: rgba(0, 0, 0, 0);
}
.fr-element .fr-audio.fr-active::after {
    display: none;
}

.fr-toolbar .fr-btn-grp .fr-command.fr-btn.fr-active:not(.fr-dropdown),
.fr-toolbar .fr-more-toolbar .fr-command.fr-btn.fr-active:not(.fr-dropdown),
.fr-toolbar .fr-buttons:not(.fr-tabs) .fr-command.fr-btn.fr-active:not(.fr-dropdown),
.fr-popup .fr-btn-grp .fr-command.fr-btn.fr-active:not(.fr-dropdown),
.fr-popup .fr-more-toolbar .fr-command.fr-btn.fr-active:not(.fr-dropdown),
.fr-popup .fr-buttons:not(.fr-tabs) .fr-command.fr-btn.fr-active:not(.fr-dropdown),
.fr-modal .fr-btn-grp .fr-command.fr-btn.fr-active:not(.fr-dropdown),
.fr-modal .fr-more-toolbar .fr-command.fr-btn.fr-active:not(.fr-dropdown),
.fr-modal .fr-buttons:not(.fr-tabs) .fr-command.fr-btn.fr-active:not(.fr-dropdown) {
    color: #0098f7;
}

.fr-audio {
    margin: 0 auto;
    &.align-right {
        float: right;
    }
    &.align-left {
        float: left;
    }
    &.green-audio-player {
        box-shadow: none;
        border: solid 1px rgba(0, 0, 0, 0.1)
    }
    &.audio-skin-WaveSurfer {
        max-width: 400px;
        width: 100%;
        box-shadow: none;
        padding: 10px;
        border-radius: 4px;
        border: solid 1px rgba(0, 0, 0, 0.1)
    }
}
