@font-face {
  font-family: gotham-book;
  src: asset-url('gotham-book.eot');
  src: asset-url('gotham-book.eot?#iefix') format('embedded-opentype'), asset-url('gotham-book.woff') format('woff'), asset-url('gotham-book.ttf') format('truetype');
}

@font-face {
  font-family: Century Gothic;
  src: asset-url('century_gothic__2.eot');
  src: asset-url('century_gothic__2.eot?#iefix') format('embedded-opentype'), asset-url('century-gothic.woff') format('woff'), asset-url('century-gothic.ttf') format('truetype');
}
