@font-face {
  font-family: gotham-book;
  src: url(asset-path('gotham-book.eot'));
  src: url(asset-path('gotham-book.eot?#iefix')) format('embedded-opentype'), url(asset-path('gotham-book.woff')) format('woff'), url(asset-path('gotham-book.ttf')) format('truetype');
}

@font-face {
  font-family: Century Gothic;
  src: url(asset-path('century_gothic__2.eot'));
  src: url(asset-path('century_gothic__2.eot?#iefix')) format('embedded-opentype'), url(asset-path('century-gothic.woff')) format('woff'), url(asset-path('century-gothic.ttf')) format('truetype');
}
