$n-space: 0px;
$x-space: 3px;
$s-space: 5px;
$m-space: 10px;
$l-space: 20px;
$h-space: 25px;


.ptn,
.pvn,
.pan {
  padding-top: $n-space !important;
}
.ptx,
.pvx,
.pax {
  padding-top: $x-space !important;
}
.pts,
.pvs,
.pas {
  padding-top: $s-space !important;
}
.ptm,
.pvm,
.pam {
  padding-top: $m-space !important;
}
.ptl,
.pvl,
.pal {
  padding-top: $l-space !important;
}
.prn,
.phn,
.pan {
  padding-right: $n-space !important;
}
.prx,
.phx,
.pax {
  padding-right: $x-space !important;
}
.prs,
.phs,
.pas {
  padding-right: $s-space !important;
}
.prm,
.phm,
.pam {
  padding-right: $m-space !important;
}
.prl,
.phl,
.pal {
  padding-right: $l-space !important;
}
.pbn,
.pvn,
.pan {
  padding-bottom: $n-space !important;
}
.pbx,
.pvx,
.pax {
  padding-bottom: $x-space !important;
}
.pbs,
.pvs,
.pas {
  padding-bottom: $s-space !important;
}
.pbm,
.pvm,
.pam {
  padding-bottom: $m-space !important;
}
.pbl,
.pvl,
.pal {
  padding-bottom: $l-space !important;
}
.pln,
.phn,
.pan {
  padding-left: $n-space !important;
}
.plx,
.phx,
.pax {
  padding-left: $x-space !important;
}
.pls,
.phs,
.pas {
  padding-left: $s-space !important;
}
.plm,
.phm,
.pam {
  padding-left: $m-space !important;
}
.pll,
.phl,
.pal {
  padding-left: $l-space !important;
}
.mtn,
.mvn,
.man {
  margin-top: 0 !important;
}
.mtx,
.mvx,
.max {
  margin-top: $x-space !important;
}
.mts,
.mvs,
.mas {
  margin-top: $s-space !important;
}
.mtm,
.mvm,
.mam {
  margin-top: $m-space !important;
}
.mtl,
.mvl,
.mal {
  margin-top: $l-space !important;
}
.mth,
.mvh,
.mah {
  margin-top: $h-space !important;
}
.mrn,
.mhn,
.man {
  margin-right: 0 !important;
}
.mrx,
.mhx,
.max {
  margin-right: $x-space !important;
}
.mrs,
.mhs,
.mas {
  margin-right: $s-space !important;
}
.mrm,
.mhm,
.mam {
  margin-right: $m-space !important;
}
.mrl,
.mhl,
.mal {
  margin-right: $l-space !important;
}
.mrh,
.mhh,
.mah {
  margin-right: $h-space !important;
}
.mbn,
.mvn,
.man {
  margin-bottom: 0 !important;
}
.mbx,
.mvx,
.max {
  margin-bottom: $x-space !important;
}
.mbs,
.mvs,
.mas {
  margin-bottom: $s-space !important;
}
.mbm,
.mvm,
.mam {
  margin-bottom: $m-space !important;
}
.mbl,
.mvl,
.mal {
  margin-bottom: $l-space !important;
}
.mbh,
.mvh,
.mah {
  margin-bottom: $h-space !important;
}
.mln,
.mhn,
.man {
  margin-left: 0 !important;
}
.mlx,
.mhx,
.max {
  margin-left: $x-space !important;
}
.mls,
.mhs,
.mas {
  margin-left: $s-space !important;
}
.mlm,
.mhm,
.mam {
  margin-left: $m-space !important;
}
.mll,
.mhl,
.mal {
  margin-left: $l-space !important;
}
.mlh,
.mhh,
.mah {
  margin-left: $h-space !important;
}
.mn {
  margin: 0 !important;
}
.mx {
  margin: $x-space !important;
}
.ms {
  margin: $s-space !important;
}
.mm {
  margin: $m-space !important;
}
.ml {
  margin: $l-space !important;
}
.mh {
  margin: $h-space !important;
}
.pn {
  padding: 0 !important;
}
.px {
  padding: $x-space !important;
}
.ps {
  padding: $s-space !important;
}
.pm {
  padding: $m-space !important;
}
.pl {
  padding: $l-space !important;
}
.ph {
  padding: $h-space !important;
}

.vertical_middle { vertical-align: middle !important; }
.text-nowrap { white-space: nowrap; }
.display-flex {
  display: flex;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.margin-top-minus-10 {
  margin-top: -10px;
}

.text-align-r {
  text-align: right !important;
}

.text-align-c {
  text-align: center !important;
}

.float-r {
  float: right;
}

.inline-block {
  display: inline-block;
}

.red-warning-text{
  color: #a94442 !important;
}
