$n-space: 0px;
$x-space: 3px;
$s-space: 5px;
$m-space: 10px;
$l-space: 20px;
$h-space: 25px;

$space0: 0px;
$space4: 4px;
$space8: 8px;
$space16: 16px;
$space24: 24px;
$space32: 32px;
$space40: 40px;

.m4 {
  margin: $space4 !important;
}

.m8 {
  margin: $space8 !important;
}

.m16 {
  margin: $space16 !important;
}

.m24 {
  margin: $space24 !important;
}

.m32 {
  margin: $space32 !important;
}

.m40 {
  margin: $space40 !important;
}

.mt4 {
  margin-top: $space4 !important;
}

.mt8 {
  margin-top: $space8 !important;
}

.mt16 {
  margin-top: $space16 !important;
}

.mt24 {
  margin-top: $space24 !important;
}

.mt32 {
  margin-top: $space32 !important;
}

.mt40 {
  margin-top: $space40 !important;
}

.mr4 {
  margin-right: $space4 !important;
}

.mr8 {
  margin-right: $space8 !important;
}

.mr16 {
  margin-right: $space16 !important;
}

.mr24 {
  margin-right: $space24 !important;
}

.mr32 {
  margin-right: $space32 !important;
}

.mr40 {
  margin-right: $space40 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb4 {
  margin-bottom: $space4 !important;
}

.mb8 {
  margin-bottom: $space8 !important;
}

.mb16 {
  margin-bottom: $space16 !important;
}

.mb24 {
  margin-bottom: $space24 !important;
}

.mb32 {
  margin-bottom: $space32 !important;
}

.mb40 {
  margin-bottom: $space40 !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.pb4 {
  padding-bottom: $space4 !important;
}

.pb8 {
  padding-bottom: $space8 !important;
}

.pb16 {
  padding-bottom: $space16 !important;
}

.pb24 {
  padding-bottom: $space24 !important;
}

.pb32 {
  padding-bottom: $space32 !important;
}

.pb40 {
  padding-bottom: $space40 !important;
}

.pt0 {
  padding-top: 0 !important;
}

.pt4 {
  padding-top: $space4 !important;
}

.pt8 {
  padding-top: $space8 !important;
}

.pt16 {
  padding-top: $space16 !important;
}

.pt24 {
  padding-top: $space24 !important;
}

.pt32 {
  padding-top: $space32 !important;
}

.pt40 {
  padding-top: $space40 !important;
}

.pl0 {
  padding-left: 0 !important;
}

.pl4 {
  padding-left: $space4 !important;
}

.pl8 {
  padding-left: $space8 !important;
}

.pl16 {
  padding-left: $space16 !important;
}

.pl24 {
  padding-left: $space24 !important;
}

.pl32 {
  padding-left: $space32 !important;
}

.pl40 {
  padding-left: $space40 !important;
}

.ptn,
.pvn,
.pan {
  padding-top: $n-space !important;
}
.ptx,
.pvx,
.pax {
  padding-top: $x-space !important;
}
.pts,
.pvs,
.pas {
  padding-top: $s-space !important;
}
.ptm,
.pvm,
.pam {
  padding-top: $m-space !important;
}
.ptl,
.pvl,
.pal {
  padding-top: $l-space !important;
}
.prn,
.phn,
.pan {
  padding-right: $n-space !important;
}
.prx,
.phx,
.pax {
  padding-right: $x-space !important;
}
.prs,
.phs,
.pas {
  padding-right: $s-space !important;
}
.prm,
.phm,
.pam {
  padding-right: $m-space !important;
}
.prl,
.phl,
.pal {
  padding-right: $l-space !important;
}
.pbn,
.pvn,
.pan {
  padding-bottom: $n-space !important;
}
.pbx,
.pvx,
.pax {
  padding-bottom: $x-space !important;
}
.pbs,
.pvs,
.pas {
  padding-bottom: $s-space !important;
}
.pbm,
.pvm,
.pam {
  padding-bottom: $m-space !important;
}
.pbl,
.pvl,
.pal {
  padding-bottom: $l-space !important;
}
.pln,
.phn,
.pan {
  padding-left: $n-space !important;
}
.plx,
.phx,
.pax {
  padding-left: $x-space !important;
}
.pls,
.phs,
.pas {
  padding-left: $s-space !important;
}
.plm,
.phm,
.pam {
  padding-left: $m-space !important;
}
.pll,
.phl,
.pal {
  padding-left: $l-space !important;
}
.mtn,
.mvn,
.man {
  margin-top: 0 !important;
}
.mtx,
.mvx,
.max {
  margin-top: $x-space !important;
}
.mts,
.mvs,
.mas {
  margin-top: $s-space !important;
}
.mtm,
.mvm,
.mam {
  margin-top: $m-space !important;
}
.mtl,
.mvl,
.mal {
  margin-top: $l-space !important;
}
.mth,
.mvh,
.mah {
  margin-top: $h-space !important;
}
.mrn,
.mhn,
.man {
  margin-right: 0 !important;
}
.mrx,
.mhx,
.max {
  margin-right: $x-space !important;
}
.mrs,
.mhs,
.mas {
  margin-right: $s-space !important;
}
.mrm,
.mhm,
.mam {
  margin-right: $m-space !important;
}
.mrl,
.mhl,
.mal {
  margin-right: $l-space !important;
}
.mrh,
.mhh,
.mah {
  margin-right: $h-space !important;
}
.mbn,
.mvn,
.man {
  margin-bottom: 0 !important;
}
.mbx,
.mvx,
.max {
  margin-bottom: $x-space !important;
}
.mbs,
.mvs,
.mas {
  margin-bottom: $s-space !important;
}
.mbm,
.mvm,
.mam {
  margin-bottom: $m-space !important;
}
.mbl,
.mvl,
.mal {
  margin-bottom: $l-space !important;
}
.mbh,
.mvh,
.mah {
  margin-bottom: $h-space !important;
}
.mln,
.mhn,
.man {
  margin-left: 0 !important;
}
.mlx,
.mhx,
.max {
  margin-left: $x-space !important;
}
.mls,
.mhs,
.mas {
  margin-left: $s-space !important;
}
.mlm,
.mhm,
.mam {
  margin-left: $m-space !important;
}
.mll,
.mhl,
.mal {
  margin-left: $l-space !important;
}
.mlh,
.mhh,
.mah {
  margin-left: $h-space !important;
}
.mn {
  margin: 0 !important;
}
.mx {
  margin: $x-space !important;
}
.ms {
  margin: $s-space !important;
}
.mm {
  margin: $m-space !important;
}
.ml {
  margin: $l-space !important;
}
.mh {
  margin: $h-space !important;
}
.pn {
  padding: 0 !important;
}
.px {
  padding: $x-space !important;
}
.ps {
  padding: $s-space !important;
}
.pm {
  padding: $m-space !important;
}
.pl {
  padding: $l-space !important;
}
.ph {
  padding: $h-space !important;
}

.vertical_middle { vertical-align: middle !important; }
.text-nowrap { white-space: nowrap; }
.display-flex {
  display: flex;
}

.flex1 {
  flex: 1;
}

.justify-content-space-between {
  justify-content: space-between;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.margin-top-minus-10 {
  margin-top: -10px;
}

.width100percent {
  width: 100%;
}

.width150px {
  width: 150px;
}

.width90px {
  width: 90px;
}

.text-align-r {
  text-align: right !important;
}
.text-align-l {
  text-align: left !important;
}

.text-align-c {
  text-align: center !important;
}

.text-align-e {
  text-align: end !important;
}

.text-align-s {
  text-align: start !important;
}

.float-r {
  float: right;
}

.inline-block {
  display: inline-block;
}
.position-relative {
  position: relative !important;
}
.z-index-2 {
  z-index: 2 !important;
}

.font-bold {
  font-weight: bold;
}
.font-normal {
  font-weight: normal !important;
}

.ltr {
  direction: ltr;
}

.text-light {
  color: #FFFFFF !important;
}
