.averageRow,
.scoringRange,
.finalRow {
  font-weight: bold;
}

.finalRow {
  background-color: #f5f5f5;
}

.averageRow {
  border: unset;
}

.table {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.container {
  padding: 1rem;
}

.header {
  color: #000;
}

tr.noBottomBorder th,
tr.noBottomBorder td {
  border-bottom: none !important;
  padding-bottom: 0 !important;
}