.container {
  min-width: 200px;

  .search {
    padding: 8px;
    border-bottom: 1px rgba(0, 0, 0, 0.06) solid;

    .input {
      width: 100%;

      svg {
        color: rgba(0, 0, 0, 0.25);
      }
    }
  }

  .buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 7px 8px;
    overflow: hidden;
    background-color: inherit;
    border-top: 1px solid rgba(0, 0, 0, 0.06);
  }
}
