.body-full-height body {
  height: auto !important;
}

.breadcrumb {
  li {
    color: #8ea1b7;
    &:hover {
      color: #8ea1b7;
    }
    &:last-child {
      color: #8ea1b7;
    }
    a {
      color: #337ab7;
      &:hover {
        text-decoration: underline;
        color: #23527c;
      }
    }
  }
}
.x-navigation.x-navigation-horizontal > li > a:hover {
  background-color: #fff;
}

.breadcrumb.library {
  background-color: transparent;
  li {
    font-size: 13px;
    a {
      font-size: 13px;
    }
    &:nth-child(2):before {
      content: '';
    }
  }
}

.gallery {
  display: flex;
  align-items: stretch;
  align-content: center;
  flex-wrap: wrap;
  float: inherit;

  .gallery-item {
    width: 20%;
    float: inherit;

    .image {
    }
    i.icon {
      font-size: 7vw;
      margin: 12.6% 27%;
      // position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
    }
  }
}
.table-responsive {
  overflow-x: visible;
}
