.html_preview {
  .fe-page-container {
    margin: 25px auto;
    border: 1px solid #CCC;
    background-color: #fff;
  }
  .fe-module-container {
    border: none;
    &:hover {
      border: none;
    }
  }
  .fe-module-frame-container {
    border: 1px solid transparent !important;
    &:hover {
      border: 1px solid transparent !important;
    }
  }
}