html { overflow-x: auto; }
body { overflow-x: initial; }
.page-container { width: auto; min-width: 100%; }
.table-responsive { overflow: inherit; }
/**/
.widget { width: 100%; float: left; margin: 0; list-style: none; text-decoration: none; -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5); box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5); color: #555; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; padding: 15px 10px; margin-bottom: 20px; min-height: 120px; position: relative; background: #fff; }
.widget .widget-title, .widget .widget-subtitle, .widget .widget-int, .widget .widget-big-int { width: 100%; float: left; text-align: center; }
.widget .widget-big-int { font-size: 28px; line-height: 36px; font-weight: 300; }
.widget .courseTypeIcon { max-width: 200px; }
.logo-index { margin-left: 0 !important; margin-right: 0 !important; }
/**/
.ms-container { width: 100% !important; }
/**/
.editable.editable-click { border-bottom: transparent; cursor: pointer; }
/**/
.bootstrap-timepicker-widget.dropdown-menu { z-index: 1050 !important; }
/**/
.body-full-height body { height: auto !important; }
.breadcrumb li { color: #8ea1b7; }
.breadcrumb li:hover { color: #8ea1b7; }
.breadcrumb li:last-child { color: #8ea1b7; }
.breadcrumb a { color: #337ab7; }
.breadcrumb a:hover { text-decoration: underline; color: #23527c; }
/**/
.breadcrumb.library { background-color: transparent; }
.breadcrumb.library li { font-size: 13px; }
.breadcrumb.library li a { font-size: 13px; }
.breadcrumb.library li:nth-child(2):before { content: ''; }
.x-navigation.x-navigation-horizontal > li > a:hover { background-color: #fff; }
/**/
.gallery { display: flex; align-items: stretch; align-content: center; flex-wrap: wrap; float: inherit; }
.gallery .gallery-item { width: 20%; float: inherit; }
.gallery .gallery-item i.icon { font-size: 7vw; margin: 12.6% 27%; }
/**/
