.frame {
  position: fixed;
  border: 1px soild #ccc;
  background: #00d0ff55;
  z-index: 10000;
  top: 0;
  left: 0;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  user-select: none;
}

.selectionWrapper {

}
