.layer {
  border: 1px solid #e5e5e5;
  padding: 16px;
  margin-bottom: 8px;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
}

.label {
  display: flex;
  min-width: 140px;
  font-weight: 500;
}

.input {
  width: 500px;
}

.generalSettings {
  padding: 16px;
  border: 1px solid #e5e5e5;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
}
