.icon {
  color: #fff;
}

.iconContainer {
  font-size: 16px;
  display: inline-block;
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #426092;
  border-radius: 4px;
}

.title {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #426092;
}

.body {
  margin-left: 47px;
  > div {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
}

.footer {
  display: flex;
  justify-content: flex-end;

  a {
    cursor: pointer;
    margin: 0 10px;
  }

  .add {
    color: #188F00;
  }
  .move {

  }
  .dup {
    color: #007AC0;
  }
  .delete {
    color: #D43000;
  }
}
.inplaceElement {
  background-color: #809163;
  color: #fff;
  padding: 0 10px;
  border-radius: 3px;
  &:hover {
    background-color: #809163;

  }
}
.delimiter {
  margin: 0 20px;
}
