// Theme import
@import 'administration/theme-white';

@import 'jquery.fileupload';
@import 'jquery.fileupload-ui';
@import 'bootstrap-select';
@import 'bootstrap-colorpicker';
@import 'multiselect';
@import 'ladda/ladda-themeless.min';

@import 'datatables/dataTables.bootstrap';
@import 'administration/dataTables.checkboxes';

@import 'common/helper';
@import 'common/fonts';
@import 'common/rtl';
@import 'common/editor';
@import 'common/email_editor';
@import 'administration/overrides/reports-ui';
@import 'administration/overrides/stylesheet';
@import 'administration/overrides/responsive';

@import 'x-editable/dist/bootstrap3-editable/css/bootstrap-editable';

@import './administration/*';
@import 'bootstrap-datetimepicker-3';

@import 'icomoon';

// @import 'psychometrics_vendor';
// @import 'psychometrics_preview';

.ant-menu-overflow {
  display: flex;
}

.modal-backdrop {
  z-index: 9000;
}

.modal {
  z-index: 9010;
}

// Floating flash messages
#flash-messages-container {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  width: calc(100% - 40px);
  max-width: 1200px;
}
