.table-responsive
  table.table.table-bordered.table-actions.table-hover.selectable.list id="#{resource_class.model_name.plural}_list"
    thead
      tr
        th = link_to_sort resource_class, :name, @filter_form
        th = t 'administration.factors.index.icon'
        th = resource_class.human_attribute_name(:questions_count)
        th.text-center = link_to_sort resource_class, :created_at, @filter_form
        th.text-center = link_to_sort resource_class, :updated_at, @filter_form
        th.text-center width='1%' = t 'administration.actions'
    tbody
      - if @resources.present?
        = render partial: 'resource', collection: @resources
      - else
        tr.no_records
          td align='center' colspan='8' = t('administration.no_data_found')
  = paginate @resources, theme: 'twitter-bootstrap-3'
