tr data-sidebar=url_for({ action: :sidebar, id: resource }) id=dom_id(resource)
  td = resource.name
  td = resource.questions_count
  td
    = link_to({ action: :edit, id: resource }, remote: true, class: 'btn btn-default btn-rounded btn-sm mrm', data: { toggle: 'tooltip', title: t('.tooltips.edit') })
      span.fa.fa-pencil
    = link_to({ action: :destroy, id: resource }, class: 'btn btn-default btn-rounded btn-sm mrm', method: 'delete', data: { confirm: resource.decorate.delete_confirmation, toggle: 'tooltip', title: t('.tooltips.delete')})
      span.fa.fa-times
  td = resource.decorate.created_at
  td = resource.decorate.updated_at
