.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        h3.panel-title = t '.title'
        ul.panel-controls
          li
            = link_to new_administration_dimension_factor_sub_factor_path, remote: true, data: { toggle: 'tooltip', title: t('.tooltips.create') }
              span.fa.fa-plus
      .panel-body
        = form_for_filterrific @filterrific, as: :filterrific, html: { class: 'form-inline', id: 'filter' } do |f|
          = f.hidden_field :sorted_by
          .row.mbm
            .col-sm-6.phn
            .col-md-3.col-md-offset-3.col-sm-4.col-sm-offset-2.phn
              .form-group.has-feedback.has-clear.pull-right
                .input-group
                  = f.text_field(:search_query, placeholder: t('administration.search'), class: 'periodically-observed form-control')
                  span.input-group-addon
                    .fa.fa-search
                span.glyphicon.glyphicon-remove-sign.form-control-feedback.form-control-clear
            .clearfix
        #filterrific_results
          = render partial: 'list'
