@import '~/styles/spacing.less';
@import '~/styles/antv4.variable.less';

.conditionContainer {
  padding: @space-8 @space-8 @space-4 @space-8;
  border: 1px solid @border-color-base;
  border-radius: 0.25rem;
  position: relative ;
}

.removeBtn {
  position: absolute;
  top: @space-1;
  right: @space-1;
}
