@import 'user/styles/variables';

:global {
  .main-container {
    background: $white;

    .percentage {
      font-weight: bold;
      color: $dark-gray;
    }

    .progress-wrapper {
      padding: 24px 0;

      .progress-column {
        flex: 1;
        padding-right: 64px;
        border-right: 1px solid $gray-color;
      }
    }

    .progress-label {
      font-weight: bold;
      color: $dark-gray;
      margin-top: 8px;
    }

    .title-with-dash {
      &:after {
        content: '';
        background-color: $main-color;
        display: block;
        width: 60px;
        height: 3px;
        border-radius: 3px;
        margin-top: 8px
      }
    }

    .content.padding {
      padding-left: 32px;
    }

    .progresses {
      display: flex;
      padding: 0 32px;

      .mini-progress {
        flex: 1;
        display: flex;
        align-items: center;

        .progress-line {
          flex: 1;
          margin: 0 8px;
        }
      }
    }


    .column-list {
      .ant-list-item {
        margin-left: 24px;
        padding-left: 0;
      }

      .list-item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .actions-btn {}
      }

      .status-icon {
        font-size: 20px;
        margin-right: 8px;
        border-radius: 6px;
        overflow: hidden;
      }

      .empty-square {
        min-width: 20px;
        min-height: 20px;
        max-width: 20px;
        max-height: 20px;
        margin-right: 8px;
        border: 2px solid $gray-color;
        border-radius: 4px;
      }

      .header {
        display: flex;
        align-items: center;

        .caption {
          flex: 1;
          padding: 0 8px;

          .progress-bars {
            display: flex;

            .progress-line {
              flex: 3;
            }

            .value {
              margin-left: 8px;
              flex: 2;
            }
          }
        }

        .help {
          .help-icon {
            font-size: 24px;
            color: $gray-color;
            cursor: pointer;
            transition: 0.4s;

            &:hover {
              color: #999;
            }
          }
        }
      }
    }
  }

  .help-modal-header {
    display: flex;
    align-items: center;

    .letter-icon {
      margin-right: 8px;
    }
  }

  .letter-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1.5px solid $main-color;
    font-size: 20px;
    color: $main-color;

  }
}
