
.border-dark {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 6px;
}

.bg-off-white {
    background-color: #f0f0f0;
}

.primary-icon {
    font-size: 1.5rem;
    color: var(--ant-primary-color);
}

.success-icon {
    font-size: 1.5rem;
    color: var(--ant-success-color);
}

.error-icon {
    font-size: 1.5rem;
    color: var(--ant-error-color);
}
