.tabContent {
  :global(.react-codemirror2) {
    border: solid 1px rgb(224, 224, 224);
  }
  p{
    font-weight: 600;
  }
}

.eventName {
  width: 100%;
}

.requestDataCopyButton {
  position: absolute;
  top: 200px;
  right: 35px;
  z-index: 15;
}

.responseHeadersCopyButton{
  position: absolute;
  top: 120px;
  right: 35px;
  z-index: 15;
}

.responseBodyCopyButton{
  position: absolute;
  top: 490px;
  right: 35px;
  z-index: 15;
}

.hideButton{
  display: none;
}
