.workshopAvatar {
  :global(.ant-descriptions-item-content) {
    margin-top: -5px;
  }
}

.workshopSubjectAvatar {
  :global(.ant-avatar-circle) {
    margin-top: 5px;
  }
}

.workshopSubjectStatus {
  :global(.ant-typography code) {
    font-size: 100%;
    color: #656565;
  }
}

.workshopSubjectEmail {
  color: gray;
  font-size: 75%;
}
