= stylesheet_pack_tag 'vendors'
= stylesheet_pack_tag 'assessment/blockCenter'

#psychometrics_block_center

= javascript_pack_tag 'vendors'
= javascript_pack_tag 'assessment/blockCenter'

javascript:
  x_navigation_minimize('close');
