.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        h3.panel-title = t('.title')
        .pull-right
          .btn-group
            - if policy(@resource_class).create?
              = link_to({ action: :new }, remote: true, class: 'btn btn-default')
                span.fa.fa-plus
                = t('.add')
        = search_form_for(@filter_form,
                          url: { action: :index },
                          html: { id: 'filter', class: 'list-filter' },
                          builder: SimpleForm::FormBuilder) do |f|
          = f.input :name_cont,
                    as: :string,
                    required: false,
                    placeholder: t('administration.search'),
                    label: false,
                    input_html: { class: 'has_clear periodically-observed' }
          .form-group
            .btn-group
              = active_link_to t('.templates.questions'), [:administration, :templates, :questions], class: 'btn btn-default'
              = active_link_to t('.templates.blocks'), [:administration, :templates, :blocks], class: 'btn btn-default'
      .panel-body
        #filterrific_results
          = render partial: 'list'
