#psychometrics_preview data-type="block_preview" data-data="#{@data}"

= vite_javascript_tag 'entrypoints/assessment/preview.jsx'

javascript [nonce=content_security_policy_nonce]:
  x_navigation_minimize('close');
