#psychometrics_preview data-type="block_preview" data-data="#{@data}"
= javascript_pack_tag 'vendors'
= stylesheet_pack_tag 'vendors'
= stylesheet_pack_tag 'assessment/preview'
= javascript_pack_tag 'assessment/preview'

javascript:
  x_navigation_minimize('close');
