- options = { id: @resource, invitation_token: @token, domain: Settings.domain, protocol: Settings.protocol, subdomain: Settings.subdomain }
- accept_url = url_for([:accept, @resource.role_scope, :invitation, options])
- accept_link = link_to t("devise.mailer.admin_invitation_instructions.accept"), accept_url, target: :blank
p = simple_format(t("devise.mailer.admin_invitation_instructions.body", name: @resource.decorate.display_name, accept: accept_link))