- options = {id: @resource, invitation_token: @token, domain: Settings.domain, subdomain: @project.subdomain}

/p = t("devise.mailer.invitation_instructions.hello", email: @resource.email)
/p = t("devise.mailer.invitation_instructions.someone_invited_you", url: root_url)

p= "Dear #{@resource.decorate.display_name}, "
p Greetings for the day!
p The Talent Enterprise would like you to complete this psychometric assessment. Here is your personalised link to our Thriving Index questionnaire.
p Request you to click on the link below to accept invitation and change your password on the platform. Remember to try and complete the test in one sitting as this assessment shouldn't take more than 20 mins of your time.
p
  = link_to t("devise.mailer.invitation_instructions.accept"), url_for([:accept, @resource.role_scope, :invitation, options]), target: :blank
p Please do not pass or forward this link to anyone else.
p We look forward to your response!

p Thank you and all the best!
p Regards,
p
  | The Talent Enterprise
  br
  | For any technical issues, please write to us at #{mail_to('surveys@thetalententerprise.com')} and we will respond within 24 hours.
