tr data-sidebar=url_for(sidebar_administration_client_sub_campaign_path(client, resource)) id=dom_id(resource)
  td
    = link_to resource.name, administration_client_users_path(resource)
  td
    = render '/administration/clients/projects/assign_assessments', resource: resource
  td
    = render '/administration/clients/projects/assign_reports', resource: resource
  td = resource.assigned_memberships.size
  td = resource.completed_memberships.size
  td.text-center = resource.decorate.created_at
  td = resource.decorate.creator_name
  td.text-center = resource.decorate.updated_at
  td = resource.decorate.modifier_name
  td.actions-cell
    - if policy(resource).actions?
      = link_to edit_administration_client_sub_campaign_path(client, resource), remote: true, class: 'btn btn-default btn-rounded btn-sm', data: { toggle: 'tooltip', title: t('.tooltips.edit') }
        span.fa.fa-pencil
      = link_to copy_administration_client_sub_campaign_path(client, resource), remote: true, class: 'btn btn-default btn-rounded btn-sm', data: { toggle: 'tooltip', title: t('.tooltips.copy') }
        span.fa.fa-copy
      = link_to administration_client_sub_campaign_path(client, resource), remote: true, class: 'btn btn-default btn-rounded btn-sm', method: 'delete', data: { confirm: resource.decorate.delete_confirmation, toggle: 'tooltip', title: t('.tooltips.delete')}
        span.fa.fa-times
