= simple_form_for(@resource, as: :resource, url: { action: :update }, remote: true, html: { id: 'manage_licenses' }) do |f|
  .modal-body
    = render_error_notification(@resource)

    .form-inputs.clearfix
      table#licenses.table
        thead
          tr
            th = t('.license_type')
            th = t('.license_number')
            th = t('.license_overuse_number')
            th = t('.start_date')
            th = t('.end_date')
            th
        tbody
          = f.simple_fields_for :licenses do |license|
            = render 'license_fields', f: license
      .links
        = link_to_add_association t('.add_license'),
                                  f, :licenses,
                                  class: 'btn btn-default',
                                  data: { association_insertion_node: 'table#licenses tbody',
                                          association_insertion_method: 'append'}

  .modal-footer
    .btn-group
      = f.button :submit, t('administration.save'), class: 'btn-info'
      a.btn.btn-default data-dismiss='modal' = t 'administration.close'
