= simple_form_for(resource, as: :resource,
                            url: { action: resource.new_record? ? :create : :update },
                            remote: true,
                            html: { id: 'manage_licenses' }) do |f|
  .modal-body
    = render_error_notification(resource)
    = f.association :report_family,
                    input_html: { data: { live_search: true } },
                    include_blank: false,
                    disabled: !f.object.new_record?
    = f.input :number,
              input_html: { value: f.object.number.zero? ? 1 : f.object.number,
                            min: f.object.new_record? ? 1 : f.object.used_number }
    = f.input :overuse_number, input_html: { min: 0 }
    = f.input :start_date, as: :string, input_html: { class: 'datepicker' }
    = f.input :end_date, as: :string, input_html: { class: 'datepicker' }
    = f.input :disabled
  .modal-footer
    .btn-group
      = f.button :submit, t('administration.save'), class: 'btn-info'
      a.btn.btn-default data-dismiss='modal' = t 'administration.close'
