tr.nested-fields
  td
    = f.association :report_family,
            input_html: { data: { live_search: true } },
            include_blank: false,
            label: false
  td
    = f.input :number, label: false
  td 
    = f.input :overuse_number, label: false
  td
    = f.input_field :start_date, as: :string, label: false,  class: 'datepicker'
  td
    = f.input_field :end_date, as: :string, label: false,  class: 'datepicker'
  td
    = link_to_remove_association f
      i.fa.fa-times 
