
tr.nested-fields
  td
    = f.input :type, 
              as: :select, 
              collection: License.types.map { |key, value| [key.humanize.titleize, key] },
              include_blank: false,
              label: false
    div class="assessment_select #{'hidden' unless f.object.assign_individual_assessment?}"
      = f.association :assessment, 
                      collection: policy_scope(Assessment).all, 
                      input_html: { data: { live_search: true } }, 
                      label: false
    div class="report_select #{'hidden' unless f.object.assign_individual_report?}"
      = f.association :report, 
                      collection: policy_scope(Report).all, 
                      input_html: { data: { live_search: true } }, 
                      label: false                      
  td
    = f.input_field :unlimited, as: :boolean, label: false
  td 
    = f.input :number, label: false
  td 
    = f.input :overuse_number, label: false
  td 
    = link_to_remove_association f
      i.fa.fa-times 
