footer
  .container
    .row
      .col-xs-6
        p.footerLogo
          = image_tag 'lighthouseLogo.png', alt: 'Lighthouse', height: 60
      .col-xs-6.text-right
        p.footerLogo
          = image_tag 'the-talent-enterprise-logo-footer.png', alt: 'The Talent Enterprise logo', height: 60
