footer
  .container
    .row
      .col-xs-6
        p.footerLogo
          = image_tag 'lighthouseLogoWide.png', alt: 'Lighthouse', height: 60
      .col-xs-6.text-right
        p.footerLogo
          = image_tag 'tteLogo.svg', alt: 'The Talent Enterprise logo', height: 60
