@import '~/styles/antv4.variable.less';

.heading {
  border-bottom: 1px solid @border-color-split;
}

.skillBtn {
  border: 1px solid var(--light-grey-border);
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--ant-primary-light-bg);
  cursor: default;
  color: initial;
  & :global(.anticon-close) {
    cursor: pointer;
  }

  &:focus, & *[role="button"]:focus {
    outline: 4px solid var(--ant-primary-3) !important;
  }
}

.skillBtnSuggestionSelected {
  color: var(--ant-primary-color);
  border-color: var(--ant-primary-color);
  background-color:  transparent;
  cursor: pointer;
}

.skillBtnSuggestion {
  background-color: transparent;
  cursor: pointer;
}

.stroke {
  text-decoration: line-through;
}
