@import 'styles/variables';

:global {
  .agile-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 20px);
    height: calc(var(--vh, 1vh) * 100 - 194px);
    margin: 0 8px;
    @media(max-width: $screen-lg) {
      height: calc(var(--vh, 1vh) * 100 - 120px);
    }
  }
  .agile-container {
    overflow: visible !important;
    display: flex;
    justify-content: center;
    align-items: center;
    & > canvas {
      margin: 0px auto !important;
      border-radius: 6px;
      overflow: hidden;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px;
    }
  }
}
