@import '~/styles/antv4.variable.less';
@import '~/styles/spacing.less';

.pageContent {
  background-color: @white;
  padding: @space-12;
}

.buttonSpaceContainer {
  float: right;
  margin-top: @space-6;
}

.infoIcon {
  font-size: 1rem;
  font-weight: bold;
  margin-inline-end: @space-2;
}

.title:global(.ant-typography) {
  font-size: 1.5rem;
}
