.addButton {
  float: left;
}

.conditionTitle {
  padding: 12px 20px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  font-weight: 600
}

.conditionsContainer {
  padding: 10px 20px;
}

.addSubjectConditionLink{
  color: #1890ff;
  cursor: pointer;
}

.inputElement {
  width: 120px !important;
  margin-right: 10px !important;
}

.operator {
  font-weight: bold;
  font-size: 16px;
  width: 85px !important;
}

.width80 {
  width: 80px !important;
}

.deleteIcon {
  margin-right: 3px;
}

.section {
  height: 500px;
  overflow-y: auto;
}

.listSection {
  border-right: 1px solid #ccc;
}

.disabledIcon {
  color: #bbb !important;
}
