.filter {
  margin-left: 10px;
  max-width: 200px;
  flex: 1;
}

.datasheet {
  display: flex;
  flex: 5;
}

.container {
  flex: 4;
  display: flex;
}

.datasheetBlock {
  display: flex;
}

.keyword {
  display: inline-block;
  text-align: center;
  width: 15px;
  margin: 0 15px;
}

.datasheetSelect {
  margin: 0 5px;
  flex: 1;
  max-width: 200px;
}

.predicates {
  display: flex;
  flex: 2;
  &>* {
    flex: 1;
    margin: 0 5px;
  }
}

.condition {
  display: flex;
  align-items: center;
  flex: 2;
}
