@import '~/styles/spacing.less';

.skeletonContainer {
  max-width: 1200px;
  padding-top: @space-5;
  margin: auto;
}
.headerSkeleton:global(.ant-skeleton-input) {
  height: 76px;
}
.skeletonItem:global(.ant-skeleton-input) {
  height: 120px;
}
