.container {
  padding: 3px;
  margin: 3px 0;

  .nameContainer {
    display: flex;
    align-items: center;
    .remove {
      cursor: pointer;
      display: flex;
      align-items: center;
    }
    .name {
      flex: 1;
    }
  }
  .limitContainer {
    display: flex;
    input {
      width: 50%;
    }
  }
  .inputValue {
    width: 144px;
  }

  .swatch {
    margin: 0 3px;
  }
}
