:root {
  --success-color: #52c41a;
  --grey-color: #e8e8e8;
}
body {
  margin: 0;
  font-size: 14px;
}
a {
  color: var(--ant-primary-color);
}
input::-webkit-contacts-auto-fill-button {
  position: absolute;
  visibility: hidden;
}

.text-success {
  color: var(--success-color) !important;
}

.align-middle {
  display: flex;
  align-items: center;
}

.ant-form-item-label {
  line-height: 25px;
}

#global-navigation {
  position: relative;

  #main_menu {
    height: 100%;
  }
}

.page-content{
  overflow: hidden;
}
.page-container{
  overflow: hidden;
  width: 100%;
}


.horizontalLabels {
  .ant-form-item {
    flex-direction: row-reverse !important;
    align-items: flex-end;
    margin-bottom: 0px;
  }
}
