:root {
  --success-color: #52c41a;
  --grey-color: #e8e8e8;
}
body {
  margin: 0;
  font-size: 14px;
}
a {
  color: var(--ant-link-color);
  &:hover {
    color: var(--ant-link-hover-color);
  }
  &:focus {
    outline: none;
  }
}
input::-webkit-contacts-auto-fill-button {
  position: absolute;
  visibility: hidden;
}

.ant-modal-mask,
.ant-drawer.ant-drawer-open,
.ant-message.ant-message-top,
.ant-drawer-content-wrapper,
.ant-modal-wrap,
.ant-picker-dropdown,
.ant-dropdown,
.ant-popover,
.ant-tooltip,
.ant-select-dropdown,
.ant-notification {
  z-index: 5003 !important;
}


.text-success {
  color: var(--success-color) !important;
}

.align-middle {
  display: flex;
  align-items: center;
}

.ant-form-item-label {
  line-height: 25px;
}

#global-navigation {
  position: relative;

  #main_menu {
    height: 100%;
  }
}

.page-content{
  overflow: hidden;
}
.page-container{
  overflow: hidden;
  width: 100%;
}


.horizontalLabels {
  .ant-form-item {
    flex-direction: row-reverse !important;
    align-items: flex-end;
    margin-bottom: 0px;
  }
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ant-table-thead th.ant-table-column-has-sorters:focus-visible {
  outline-offset: -6px;
  outline: 2px solid var(--ant-primary-4);
}

.ant-table  a:focus-visible {
  outline: 2px solid;
  outline-offset: 2px;
  outline-color: var(--ant-primary-4);
}

.ant-menu-light.ant-menu-root:focus-visible{
  outline-offset: -4px;
}

.ant-empty .ant-empty-description {
  color: var(--grey-text);
}

.ant-tabs .ant-tabs-tabpane:focus-visible:after {
  content: "";
  position: absolute;
  top: 0px;
  right: 2px;
  display: block;
  width: calc(100% - 4px);
  height: 100%;
  border: 2px solid var(--ant-primary-4);
}
