.table-responsive
  table.table.table-bordered.table-actions.table-hover.selectable.list id="#{@resource_class.model_name.plural}_list"
    thead
      tr
        th width='300' = link_to_sort @resource_class, :name, @filter_form
        th.text-center width='100' = link_to_sort @resource_class, :condition, @filter_form
        th.text-center width='100' = link_to_sort @resource_class, :position, @filter_form
        th.text-center width='200' = t 'administration.actions'
        th.text-center width='150' = link_to_sort @resource_class, :created_at, @filter_form
        th.text-center width='150' = link_to_sort @resource_class, :updated_at, @filter_form
    tbody
      - if @resources.present?
        = render partial: 'resource', collection: @resources
      - else
        tr.no_records
          td align='center' colspan='8' = t('administration.no_data_found')
  = paginate @resources, theme: 'twitter-bootstrap-3'
