  .label{
    font-size: 14px;
    font-weight: 500;
    color: #595959;
  }

  .heading {
    font-size: 18px;
    font-weight: 500;
  }

  .image{
    max-width: 300px;
    max-height: 250px;
    height: auto;
    border-radius: 2px;
  }
