.m_none{
    margin: 0;
  }
  
  .border_b_1{
    border-bottom: 1px solid #dbdbdb;
  }
  
  .border_r_1{
    border-right: 1px solid #dbdbdb;
  }
  
  
  .py_12{
    padding: 12px 0;
  }
  
  .pb_8{
    padding-bottom: 8px;
  }
  
  .p_12{
    padding: 12px;
  }
  
  .pl_none{
    padding-left: 0;
  }
  
  .mb_8{
    margin-bottom: 8px;
  }
  
  .p_none{
    padding: 0;
  }
  
  /* RTL styles */
  [dir="rtl"] .border_r_1{
    border-left: 1px solid #dbdbdb;
    border-right: none;
  }
  
  [dir="rtl"] .border_r_1:last-child{
    border-left: none;
  }
  
  [dir="rtl"] .pl_none{
    padding-right: 0;
  }
  
  .label{
    font-size: 14px;
    font-weight: 500;
    color: #595959;
  }

  .heading {
    font-size: 18px;
    font-weight: 500;
  }
