@import 'styles/variables.less';

:global {
  footer.ant-layout-footer {
    background: #fff;
    border: 1px solid #e8e8e8;
    padding: 1.5rem 50px;

  }
}

@media(max-width: @screen-lg) {
  :global(.ant-layout-footer) {
    &.footer {
      padding: 0 20px;
    }
  }
}
