@import '~/styles/antv4.variable.less';
@import '~/styles/spacing.less';

.page-footer:global(.ant-layout-footer) {
  background: @white;
  border: 1px solid @border-color-base;
  border-inline-start: none;
  padding: @space-2 @space-6;
}
.footer-middle {
  text-align: center;
}
.footer-right {
  text-align: end;
}

@media(max-width: @screen-lg) {
  :global(.ant-layout-footer) {
    &.page-footer {
      padding: @space-4 @space-5;
      border-inline: none;
    }
  }
}

:global(.rtl) {
  .footer-left {
    text-align: right;
  }
}
