@import "~/styles/ant.variable.less";
@import "~/styles/spacing.less";

:global(.ant-page-header-heading-title) {
  color: @white;
}

.workshopInformation {
  &:global(.ant-page-header) {
    background-color: var(--ant-primary-color);
    padding-block: @space-2;
  }
}

.backIcon {
  color: @white;
}
