@import '~/styles/antv4.variable.less';

.welcomeText:global(.ant-typography) {
  margin-block: 0px;
}
.lastLogin {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
  font-weight: normal;
}

@media screen and (max-width: @screen-sm) {
  .lastLogin{
    justify-content: flex-start;
  }
}
