.row
  .col-xs-12
    #assessmentDashboard
      .contentTitleHeader
        i.glyphicon.glyphicon-dashboard.titleIcon.pull-left
        p.contentTitle
          = t('.title')
      .col-xs-12
        .notificationTable
          table.table.table-hover
            thead
              tr
                th.text-center
                  strong
                    = t('.subtitle')
            tbody
              - @resources.each do |notification|
                tr
                  td
                    = notification.text
                    br/
                    span.timeStamp
                      = notification.decorate.created_at
      .clearfix  