#report_preview.html_preview[data-user="#{@data[:user]}"
  data-results="#{@data[:results]}"
  data-data="#{@data[:data]}"
  data-locales=@data[:locales]]

= vite_javascript_tag 'entrypoints/report/preview.jsx'
