@import "~/styles/spacing.less";

.pageContent {
  overflow-x: hidden;
  max-width: 1200px;
  padding: @space-4;
}

.steps {
  padding: 16px 100px;
}

.skillGapReportParent {
  margin-top: 2rem;
  position: relative;
  z-index: 0
}
