@import "~/styles/spacing.less";

.pageContent {
  overflow-x: hidden;
  padding: @space-8;

  & :global(.ant-steps-item-wait .ant-steps-item-title) {
    color: var(--grey-text) !important;
  }
  & :global(.ant-steps-item-wait .ant-steps-item-icon) {
    background-color: transparent;
    border-color: var(--grey-border) !important;
    color: var(--grey-text) !important;
  }

  & :global(.ant-steps-item-wait .ant-steps-icon) {
    color: var(--grey-text) !important;
  }

  & :global(.ant-steps-item-finish .ant-steps-item-icon) {
    background-color: transparent !important;
    border-color: var(--ant-primary-color);
  }
}

.steps {
  padding: 16px 100px;
}

.skillGapReportParent {
  margin-top: 2rem;
  position: relative;
  z-index: 0
}
