.filterDropdown {
  margin: 5px 0;
  height: 40px;
}

.hasStyle {
  box-shadow: 0 0 5px 1px #d6c336;
  &:focus{
    box-shadow: 0 0 5px 1px #d6c336;
  }
}

.overriden {
  box-shadow: 0 0 5px 1px #3f48f9;

  &:focus{
    box-shadow: 0 0 5px 1px #3f48f9;
  }
}

.swatch {
  height: 20px;
}
