:global {
    .page-container {
    height: 100vh;
    overflow-y: auto;
    overflow: hidden;

    .page-content {
      height: 100%;
      overflow: auto;
      scrollbar-width: thin;
      scrollbar-color: #eaeaea transparent;
      scrollbar-gutter: stable;
    }
  }
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  ul {
    border-bottom: 1px solid #e8e8e8;
  }
}