= simple_form_for resource, as: :resource,
                            url: { action: :update },
                            method: :put,
                            remote: true,
                            authenticity_token: true do |f|
  .modal-body
    = render_error_notification(resource)
    .clearfix
    .list-group-item
      .row
        .col-md-1
        .col-md-8 Name
        .col-md-3 Remove?
    #sortable.list-groups
      - @assessments_clients.each do |assessment_client|
        .list-group-item
          = f.input_field :assessments_client_ids, as: :hidden, multiple: true, value: assessment_client.id
          .row
            .col-md-1
              i.fa.fa-bars.sortable-bar
            .col-md-8
              = assessment_client.assessment.name
            .col-md-3
              = f.input_field :remove_assessment_ids,
                              as: :boolean,
                              multiple: true,
                              checked_value: assessment_client.assessment_id,
                              unchecked_value: nil
  .modal-footer
    .btn-group
      = f.button :submit,
                 t('administration.save'),
                 class: 'btn-info',
                 data: { loading_button: t('loading') }
      a.btn.btn-default data-dismiss='modal' = t 'administration.close'
javascript:
  var el = document.getElementById('sortable');
  var sortable = new Sortable(el, {})
