javascript [nonce=content_security_policy_nonce]:
  (function(w, o, d) {
    w[o] = w[o] || function() { w[o][d].push(arguments); };
    w[o][d] = w[o][d] || [];
  })(window, 'Osano', 'data');
  window.Osano('onInitialized', function() {
    Osano.cm.locale = '#{I18n.locale}';
  });
script src="https://cmp.osano.com/#{Settings.osano_key}/osano.js" nonce=content_security_policy_nonce
