javascript [nonce=content_security_policy_nonce]:
  var PsyGlobalState = {
    realEnv: "#{ENV['REAL_ENV']}",
    adminLocales: "#{ENV['ADMIN_LOCALES']}",
    currentUser: #{(current_user || {}).to_json(only: [:id, :email]).html_safe},
    sentryUrl: "#{ENV['SENTRY_URL']}",
    sentryDebug: "#{ENV['SENTRY_DEBUG']}",
    features: #{Settings.features.to_h.transform_values { |v| v == true }.to_json.html_safe},
  }
