doctype html
html lang="en"
  head
    = render 'layouts/osano_script'
    meta http-equiv='X-UA-Compatible' content='IE=edge'
    meta name='viewport' content='width=device-width, initial-scale=1'
    meta content='text/html; charset=UTF-8' http-equiv='Content-Type'
    = csrf_meta_tags
    = vite_javascript_tag "entrypoints/locales/#{I18n.locale || 'en'}.ts"
    = render 'layouts/pys_global_state'
    = stylesheet_link_tag 'administration', media: 'all'
    - if Rails.env.test?
      = stylesheet_link_tag 'test'
    = javascript_include_tag 'administration'
    = javascript_include_tag "administration/i18n/#{load_translation_file}.js"
    = load_report_translation_file(params)
    = render 'layouts/favicons'
    = vite_client_tag
    = vite_react_refresh_tag
    = render 'shared/webspellchecker'

  body#administration class=(I18n.locale == :ar ? 'rtl' : 'ltr' ) data-locale="#{@selected_locale || params[:lang] || I18n.locale}"
    = render 'shared/maintenance_alert_banner'
    .page-container
      - unless @hide_navigation
        = render partial: 'left_sidebar'
      .page-content
        - unless @hide_navigation || request.path =~ /\/admin\/meet\//
          = render partial: 'top_sidebar'
        #flash-messages-container
          #flash-messages.col-md-12
              = flash_messages
        .page-content-wrap
          = yield
    /! START PRELOADS
    = audio_tag('administration/alert.mp3', preload: 'auto', id: 'audio-alert')
    = audio_tag('administration/fail.mp3', preload: 'auto', id: 'audio-fail')
    /! END PRELOADS

    #modal-container
    #confirm-container
    #notification-center-container
    = vite_javascript_tag 'notification_center.jsx'

    #sidebar.sidebar.right style='right: -220px;'
      button.close type='button'
        span.fa.fa-indent
      .content.panel
      .clearfix

    = render partial: 'administration/base/confirm_modal'
    = render partial: 'layouts/consent_banner' unless Settings.osano_enabled
