doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    meta content="IE=edge" http-equiv="X-UA-Compatible"
    meta content="width=device-width, initial-scale=1" name="viewport"
    title = Settings.project_name
    = csrf_meta_tags
    = jquery_include_tag :google
    = stylesheet_link_tag     'application', media: 'all'
    = javascript_include_tag  'application'
    = javascript_include_tag  'anonym'
    = render '//layouts/custom_styles'
    = render 'layouts/favicons'
  body
    #wrapper
      #page-content-wrapper
        .page-content.inset
          = render partial: 'anonym/header'
          .container
            = yield
          = render partial: 'anonym/footer'
          = stylesheet_link_tag 'anonym'

      #modal-container
      #confirm-container
      #notification-center-container
      = javascript_pack_tag 'notificationCenter'

      = render partial: 'anonym/assessments/confirm'
