doctype html
html
  head
    = render 'layouts/osano_script'
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    meta content="IE=edge" http-equiv="X-UA-Compatible"
    meta content="width=device-width, initial-scale=1" name="viewport"
    title = Settings.project_name
    = csrf_meta_tags
    = render 'layouts/pys_global_state'
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag "i18n/#{load_translation_file}.js"
    = render 'layouts/custom_styles'
    = render 'layouts/favicons'
  body data-locale="#{I18n.locale}"
    header
      .container-fluid
        .row
          .col-xs-12.col-sm-3
            = link_to root_path
              - if @current_client && @current_client.logo.present?
                = image_tag @current_client.logo.url, class: 'img-responsive center-block headerLogo', alt: @current_client.decorate.display_name
              - else
                = image_tag 'tteLogo.svg', class: 'img-responsive center-block headerLogo', alt: "#{Branding.display_name} logo"
          .col-xs-12.col-sm-6
            h1.pageTitle
          .col-sm-2.hidden-xs
    = yield
    = render partial: 'layouts/consent_banner' unless Settings.osano_enabled
    footer class="#{'loginFooter' if devise_controller?}"
      .container-fluid
        = render partial: '/layouts/footer'
