doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    meta content="IE=edge" http-equiv="X-UA-Compatible"
    meta content="width=device-width, initial-scale=1" name="viewport"
    title = Settings.project_name
    = csrf_meta_tags
    = render 'layouts/pys_global_state'
    = stylesheet_link_tag 'iframe', media: 'all'
    = javascript_include_tag 'devise'
    = render 'layouts/favicons'

    = stylesheet_pack_tag 'vendors2'
    = stylesheet_pack_tag 'vendors'
    = javascript_pack_tag 'shim'
    = stylesheet_pack_tag 'survey'
    = javascript_pack_tag 'survey'
    = javascript_pack_tag 'vendors2'
    = javascript_pack_tag 'vendors'
    = javascript_pack_tag 'interactiveAssessments'
    = render 'layouts/favicons'


  body class=(I18n.locale == :ar ? 'rtl' : 'ltr' )  data-locale="#{I18n.locale}"
    div#assessment_container
    = yield
