doctype html
html.body-full-height
  head
    meta http-equiv='X-UA-Compatible' content='IE=edge'
    meta name='viewport' content='width=device-width, initial-scale=1'
    meta content='text/html; charset=UTF-8' http-equiv='Content-Type'
    title = t('devise.administrators.meta_title')
    = csrf_meta_tags
    = jquery_include_tag :google
    = stylesheet_link_tag    'administration', media: 'all'
    = javascript_include_tag 'administration'
   body style="background-color: #1e293d"
    = yield
