doctype html
html.body-full-height
  head
    meta http-equiv='X-UA-Compatible' content='IE=edge'
    meta name='viewport' content='width=device-width, initial-scale=1'
    meta content='text/html; charset=UTF-8' http-equiv='Content-Type'
    = csrf_meta_tags
    = render 'layouts/pys_global_state'
    = stylesheet_link_tag :administration
    = javascript_include_tag 'administration'
    = render 'layouts/favicons'
    = vite_client_tag
    = vite_react_refresh_tag

  body data-locale="#{user_locale}" class="#{user_locale_rtl? ? 'rtl' : 'ltr'}"
    = yield
