doctype html
html dir=dir
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    meta content="IE=edge" http-equiv="X-UA-Compatible"
    meta content="width=device-width, initial-scale=1" name="viewport"
    title = @current_project&.name

  body
    h2
     | Please wait while you are being redirected..
    = yield
