doctype html
html dir=dir lang="#{I18n.locale}"
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    meta content="IE=edge" http-equiv="X-UA-Compatible"
    meta content="width=device-width, initial-scale=1" name="viewport"
    title = @current_project&.name
    javascript:
      window.I18n = {
        locale: '#{I18n.locale}'
      }

    = csrf_meta_tags
    = render 'shared/locales'
    = render 'layouts/pys_global_state'
    = javascript_include_tag :threesixty
    = javascript_include_tag '//speedof.me/api/api.js'
    = vite_client_tag

    = stylesheet_link_tag 'threesixty_dependencies', media: 'all'
    = render 'layouts/favicons'
    = vite_client_tag
    = vite_react_refresh_tag

  body.end-user class=(I18n.locale == :ar ? 'rtl' : 'ltr' )  data-locale="#{I18n.locale}"
    - if show_maintenance_alert?
      div style="color: #fff;width: 100%;padding: 10px;font-size: 14px;background: #fa8c16; text-align: center;"
        = t('maintenance_message', **maintenance_time_frame)
    = yield
    / #notification-center-container
    / = vite_javascript_tag 'notification_center.jsx'

  - if @current_project&.enable_live_chat?
    javascript:
      (function(d,t) {
        var state = #{@init_state.to_json.html_safe};
        var config = state.liveChat;
        var user = state.currentUser;
        var BASE_URL = config.url;  // Settings/ENV CHATWOOT_BASE_URL
        var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        window.chatwootSettings = {position: #{I18n.locale == :ar} ? 'left' : 'right'};
        g.src= BASE_URL + "/packs/js/sdk.js";
        s.parentNode.insertBefore(g,s);
        g.onload=function(){
          window.chatwootSDK.run({
            websiteToken: config.token, // Settings/ENV CHATWOOT_TOKEN
            baseUrl: BASE_URL
          })
          var userId = String(user.id);
          if (localStorage.chatwootUserId !== userId) {
            window.$chatwoot.reset()
            localStorage.chatwootUserId = userId
          }
          window.addEventListener('chatwoot:ready', function () {
            window.$chatwoot.setUser(userId, {
              email: user.email,
              name: user.fullName
            })
            window.$chatwoot.setLocale('#{I18n.locale}')
          });
        }
      })(document,"script");
