doctype html
html.body-full-height
  head
    meta http-equiv='X-UA-Compatible' content='IE=edge'
    meta name='viewport' content='width=device-width, initial-scale=1'
    meta content='text/html; charset=UTF-8' http-equiv='Content-Type'
    = csrf_meta_tags
    = jquery_include_tag :google
    = javascript_include_tag 'application'
  body data-locale="#{params[:lang] || I18n.locale}"
    = yield
css:
  body[data-locale="ar"] #psychometrics_preview,
  body[data-locale="ar"] #report_preview {
    direction: rtl;
  }
  * {
    box-sizing: border-box;
  }