doctype html
html
  head
    = render 'layouts/osano_script'
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    meta content="IE=edge" http-equiv="X-UA-Compatible"
    meta content="width=device-width, initial-scale=1" name="viewport"
    title = Branding.display_name
    = csrf_meta_tags
    = stylesheet_link_tag    'policy', media: 'all'
    = render 'layouts/favicons'
  body data-locale="#{I18n.locale}"
    header
      .container-fluid
        .logo
          = link_to root_path
            = image_tag Branding.policy_logo,
              class: 'img-responsive center-block headerLogo',
              width: Branding.policy_logo_width,
              alt: "#{Branding.policy_logo_name} logo"
    .container-fluid
      .content
        = Branding.privacy_notice.html_safe

    = render partial: 'layouts/consent_banner' unless Settings.osano_enabled

