doctype html
html
  head
    meta http-equiv='X-UA-Compatible' content='IE=edge'
    meta name='viewport' content='width=device-width, initial-scale=1'
    meta content='text/html; charset=UTF-8' http-equiv='Content-Type'
    title = t('administration.meta_title')
    = csrf_meta_tags
    = stylesheet_link_tag    'administration', media: 'all'
    = javascript_include_tag 'administration'
    = javascript_include_tag "administration/i18n/#{load_translation_file}.js"
    = load_report_builder_translation_file
    = render 'layouts/pys_global_state'
    = render 'layouts/favicons'
    = vite_client_tag
    = vite_react_refresh_tag
    = render 'shared/webspellchecker'

  body
    #impersonation-banner-portal data-sign-out-path="#{destroy_administration_session_path}"
    = vite_javascript_tag 'entrypoints/impersonation_banner.tsx'
    = yield
    #modal-container
