doctype html
html.body-full-height
  head
    meta http-equiv='X-UA-Compatible' content='IE=edge'
    meta name='viewport' content='width=device-width, initial-scale=1'
    meta content='text/html; charset=UTF-8' http-equiv='Content-Type'
    title = @current_project&.name || t('devise.administrators.meta_title')
    = csrf_meta_tags
    = stylesheet_link_tag 'devise'
    = render 'layouts/favicons'
  body class=(rtl? ? 'rtl' : 'ltr' ) data-locale="#{I18n.locale}"
    = render 'shared/maintenance_alert_banner'
    = render 'devise/shared/locales'

    .main#devise
      = yield
