doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    meta content="IE=edge" http-equiv="X-UA-Compatible"
    meta content="width=device-width, initial-scale=1" name="viewport"
    title = Settings.project_name
    = csrf_meta_tags
    = jquery_include_tag :google
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = render '//layouts/custom_styles'
    = render '//layouts/favicons'
  body data-locale="#{user_locale}"
    #modal-container
    #wrapper
      #sidebar-wrapper
        ul#sidebar_menu.sidebar-nav
          li.sidebar-brand
            a#menu-toggle[href="#"]
              = t('.menu')
              span#main_icon.glyphicon.glyphicon-align-justify
        ul#sidebar.sidebar-nav
          li
            = link_to root_path
              span.linkTitle
                = t('.dashboard')
              span.sub_icon
                = image_tag 'dashboardFlatIcon.png', class: 'dashboardIcon'
          li
            = link_to survey_instructions_path
              span.linkTitle
                = t('.help')
              span.sub_icon
                = image_tag 'helpFlatIcon.png', class: 'helpIcon'
          - if policy([:managers, Notification]).index?
            li
              = link_to managers_notifications_path
                span.linkTitle
                  = t('.notifications')
                span.sub_icon
                  = image_tag 'notificationFlatIcon.png', class: 'notificationIcon'
          li
            = link_to edit_profiles_path, remote: :true
              span.linkTitle
                = t('.profile')
              span.sub_icon
                = image_tag 'avatarFlatIcon.png', class: 'avatarIcon'
          li
            = link_to [:destroy, pundit_user[:current_user].try(:scope), :session], method: :delete
              span.linkTitle
                = t('.logout')
              span.sub_icon
                = image_tag 'signOutFlatIcon.png', class: 'signOutIcon'
      #page-content-wrapper
        .page-content.inset
          header
            .container-fluid
              .row
                .col-xs-3.col-md-3
                .col-xs-6
                  - unless controller_name == 'assessments' && action_name == 'pass'
                    - if @current_client && @current_client.logo.present?
                      = image_tag @current_client.logo.url, class: 'img-responsive center-block headerLogo', alt: @current_client.decorate.display_name
                    - else
                      = image_tag 'the-talent-enterprise-logo.png', class: 'img-responsive center-block headerLogo', alt: 'The Talent Enterprise logo'
                .col-xs-3.col-md-3
          .container
            = yield
      footer class="#{'loginFooter' if devise_controller?}"
        .container-fluid
          = render partial: '/layouts/footer'
