doctype html
html.body-full-height
  head
    meta http-equiv='X-UA-Compatible' content='IE=edge'
    meta name='viewport' content='width=device-width, initial-scale=1'
    meta content='text/html; charset=UTF-8' http-equiv='Content-Type'
    title = t('devise.administrators.meta_title')
    = csrf_meta_tags
    = jquery_include_tag :google
    = stylesheet_link_tag 'application_new', media: 'all'
    = javascript_include_tag 'administration'
  body
    header
      .container-fluid
        .row
          .col-xs-12.col-sm-4
            a href="#"
          .col-xs-12.col-sm-6.hidden-xs
            h1.pageTitle
          .col-sm-1.hidden-xs
    .vertical-center
      .container
        = yield
    footer.loginFooter
      .container-fluid
        .row
          .col-xs-6.col-sm-3.text-left
            = image_tag('lighthouseLogo.png', class: 'img-responsive center-block')
          .col-sm-6
          .col-xs-6.col-sm-3
            = image_tag('tteLogo.png', class: 'img-responsive center-block')