@import "~/styles/spacing.less";

.box {
  padding: @space-4;
  margin-top: 16px;
}

.pageContent {
  overflow-x: hidden;
  margin: 0 auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.detailsPageContent {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: calc(100vh - 100px);
}

.avatar {
  width: 63px;
  height: 63px;
  margin-right: @space-4;
}

.userInfo {
  display: flex;
  align-items: center;
  .name {
    font-weight: 700;
  }
}
