@import "~/styles/spacing.less";

.box {
  padding: @space-4;
  margin-top: 16px;
}

.pageContent {
  overflow-x: hidden;
  margin: 0 auto;
  padding: 70px;
  display: flex;
  flex-direction: column;
}

.avatar {
  width: 63px;
  height: 63px;
  margin-right: @space-4;
}

.userInfo {
  display: flex;
  align-items: center;
  .name {
    font-weight: 700;
  }
}
